<html lang="cs" ng-app="sreality" ng-controller="MainCtrl" class="ng-scope"><head><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide{display:none !important;}ng\:form{display:block;}.ng-animate-block-transitions{transition:0s all!important;-webkit-transition:0s all!important;}.ng-hide-add-active,.ng-hide-remove{display:block!important;}</style>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,minimal-ui">

	<!--- Nastaveni meta pres JS a ne pres Angular, aby byla nastavena default hodnota pro agenty co nezvladaji PhantomJS --->
	<title ng:bind-template="Pronájem bytu 1+1&nbsp;55&nbsp;m², Havlíčkova, Jaroměř - Jakubské Předměstí • Sreality.cz" class="ng-binding">Pronájem bytu 1+1&nbsp;55&nbsp;m², Havlíčkova, Jaroměř - Jakubské Předměstí • Sreality.cz</title>
	<meta name="description" content="Byt 1+1 55 m² k pronájmu Havlíčkova, Jaroměř - Jakubské Předměstí; 7&nbsp;000 Kč za měsíc (+ enargie), cihlová stavba, osobní vlastnictví, v dobrém stavu.">
	<meta property="og:title" content="Pronájem bytu 1+1&nbsp;55&nbsp;m², Havlíčkova, Jaroměř - Jakubské Předměstí">
	<meta property="og:type" content="website">
	<meta property="og:image" content="https://d18-a.sdn.cz/d_18/c_img_gY_h/b1STMq.jpeg?fl=res,1920,1080,1|wrm,/watermark/sreality.png,10|shr,,20|jpg,90">
	<meta property="og:description" content="Byt 1+1 55 m² k pronájmu Havlíčkova, Jaroměř - Jakubské Předměstí; 7&nbsp;000 Kč za měsíc (+ enargie), cihlová stavba, osobní vlastnictví, v dobrém stavu.">
	<meta property="og:url" content="https://www.sreality.cz/detail/pronajem/byt/1+1/jaromer-jakubske-predmesti-havlickova/440047708">

	<!-- ngIf: metaStatus.value --><meta ng-if="metaStatus.value" name="szn:status" content="200" class="ng-scope"><!-- end ngIf: metaStatus.value -->

	<meta http-equiv="imagetoolbar" content="no">

	<link rel="icon" sizes="16x16 32x32 48x48 64x64" href="/img/icons/favicon.ico">
	<link rel="apple-touch-icon" sizes="57x57" href="/img/icons/apple-touch-icon-57x57.png?3">
	<link rel="apple-touch-icon" sizes="60x60" href="/img/icons/apple-touch-icon-60x60.png?3">
	<link rel="apple-touch-icon" sizes="72x72" href="/img/icons/apple-touch-icon-72x72.png?3">
	<link rel="apple-touch-icon" sizes="76x76" href="/img/icons/apple-touch-icon-76x76.png?3">
	<link rel="apple-touch-icon" sizes="114x114" href="/img/icons/apple-touch-icon-114x114.png?3">
	<link rel="apple-touch-icon" sizes="120x120" href="/img/icons/apple-touch-icon-120x120.png?3">
	<link rel="apple-touch-icon" sizes="144x144" href="/img/icons/apple-touch-icon-144x144.png?3">
	<link rel="apple-touch-icon" sizes="152x152" href="/img/icons/apple-touch-icon-152x152.png?3">
	<link rel="apple-touch-icon" sizes="180x180" href="/img/icons/apple-touch-icon-180x180.png?3">
	<link rel="icon" type="image/png" sizes="192x192" href="/img/icons/android-chrome-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/img/icons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/img/icons/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/img/icons/favicon-16x16.png">
	<link rel="manifest" href="/img/icons/android-chrome-manifest.json">
	<meta name="msapplication-TileColor" content="#2b5797">
	<meta name="msapplication-TileImage" content="/img/icons/ms-icon-144x144.png">
	<meta name="msapplication-config" content="/img/icons/browserconfig.xml">

	<!-- ngIf: rss.url -->
	<!-- ngRepeat: lang in metaSeo.languages -->

	<link rel="stylesheet" href="/css/all.css?f2c3377">

	<!--[if lte IE 8]>
		<script>
			document.createElement('popover');
			document.createElement('mortgage');
			document.createElement('hp-signpost');
			document.createElement('category-switcher');
			document.createElement('feedback');
			document.createElement('bottom');
			document.createElement('graph');
			document.createElement('panorama');
			document.createElement('panorama-prev');
			document.createElement('sphere-viewer');
			document.createElement('sphere-viewer-prev');
			document.createElement('save-filter');
		</script>
    <![endif]-->

	<!-- Statistiky -->
	<script id="gemius_hcconn_1641951615707_79163113" defer="defer" async="async" type="text/javascript" src="https://gacz.hit.gemius.pl/_1641951615707/rexdot.js?l=106&amp;id=ByLlP2uZJXREzOJ3CvKB7sd.XhZYAYdGPQEZEoRpgR7.M7&amp;et=view&amp;hsrc=2&amp;initsonar=1&amp;extra=sreality.cz%2FDetail%2FPronajem_D%2FByty_pronajem_D&amp;eventid=0&amp;fr=1&amp;tz=-60&amp;fv=-&amp;href=https%3A%2F%2Fwww.sreality.cz%2Fdetail%2Fpronajem%2Fbyt%2F1%2B1%2Fjaromer-jakubske-predmesti-havlickova%2F440047708&amp;ref=&amp;screen=1280x800r2000&amp;col=24&amp;window=1200x609&amp;ltime=48&amp;lsdata=-SETERR&amp;fpdata=5v1n3Yag1lt2S9lSCh.8.gOGdv4s.pI2KBCTEbfk.Cv.z7&amp;vis=1&amp;fpcap="></script><script async="async" defer="defer" src="https://gacz.hit.gemius.pl/xgemius.js"></script><script src="https://h.seznam.cz/js/dot-small.js" type="text/javascript"></script>
	<script type="text/javascript">
		if (window.DOT) {
			var dotCfg = {
				service: 'sreality',
				lazyLoadingEnabled: true
			};
			/*if (window.SrealityNew && window.SrealityNew.abTestHelper) {
				dotCfg.abtest = window.SrealityNew.abTestHelper.getVariant();
			}*/
			DOT.cfg(dotCfg);
		}
	</script>

	<!-- SSP Reklama -->
	<script src="https://ssp.seznam.cz/static/js/ssp.js" type="text/javascript"></script>
	<!-- Sklik retargeting -->
	<script type="text/javascript" src="https://www.seznam.cz/rs/static/rc.js"></script>
	
	<script src="https://1.im.cz/software/promo/promo-sbrowser.js"></script>

	<!-- Seznam player-->
	<script src="//d53-a.sdn.cz/d_53/10/loader.min.js"></script>

	<!-- Seznam geo lokace -->
	<script src="https://geo.seznam.cz/static/js/geo.js"></script>

	<!-- Nastaveni personalizace (Consent Management Platform) -->
	<script src="https://h.imedia.cz/js/cmp2/scmp.js?auto_open=false"></script>

	<!-- Fetch polyfill	-->
	<script nomodule="" src="/js/fetch.umd.js"></script>

	<!-- KONFIGURACE -->
	<script src="/js/conf/config.js?f2c3377"></script>

	<script src="/js/maps.js?1"></script>
	<script src="/js/new-src.js?f2c3377"></script>
	<script src="/js/all.js?f2c3377"></script>

	<noscript>
		<meta http-equiv="refresh" content="0;url=?_escaped_fragment_="/>
	</noscript>
	<!-- ngIf: metaSeo.showMetaFragment --><meta name="fragment" content="!" ng-if="metaSeo.showMetaFragment" class="ng-scope"><!-- end ngIf: metaSeo.showMetaFragment -->

</head>
<!--[if IE 8]>    <body class="ie8"> <![endif]-->
<!--[if IE 9]>    <body class="notie8 ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<body class="notie8 notie9 lang-cs" data-dot-cookie-refresh-disabled="">
<!--<![endif]-->

	<div loading-line="" class="ng-isolate-scope"><div class="loading-line" style="display: block; transform: translate(-100%, 0px); transition: none 0s ease 0s;"></div>
</div>

	<div page-layout="" class="ng-isolate-scope"><preact component="ribbon" lang-binding="true" page-binding="true" class="ng-isolate-scope"></preact>
<preact component="aafisher" class="ng-isolate-scope"></preact>
<div id="page-layout" class="page-layout no-scrollbar smallmap" ng-class="pageLayout.classNames" ng-style="layoutTop" style="margin-top: 0px;">
	<div page-loader="" class="ng-isolate-scope"><span ng-show="status.visible" class="page-loader ng-hide">
	<img class="image" src="/img/page-loader.gif" alt="">
	<span class="text ng-binding">Načítám...</span>
</span></div>
	<div class="content-cover">
		<div id="top-brand"></div>
		<!-- ngIf: !pageLayout.empty --><div class="anchor-wrap ng-isolate-scope" ng-if="!pageLayout.empty" gallery-anchor="">
	<!-- ngRepeat: anch in data.anchrs track by $index --><div ng-repeat="anch in data.anchrs track by $index" id="img=0&amp;fullscreen=false" class="movement-anchor ng-scope" ng-style="data.scroll" style="top: 0px;"></div><!-- end ngRepeat: anch in data.anchrs track by $index --><div ng-repeat="anch in data.anchrs track by $index" id="img=1&amp;fullscreen=false" class="movement-anchor ng-scope" ng-style="data.scroll" style="top: 0px;"></div><!-- end ngRepeat: anch in data.anchrs track by $index --><div ng-repeat="anch in data.anchrs track by $index" id="img=2&amp;fullscreen=false" class="movement-anchor ng-scope" ng-style="data.scroll" style="top: 0px;"></div><!-- end ngRepeat: anch in data.anchrs track by $index --><div ng-repeat="anch in data.anchrs track by $index" id="img=3&amp;fullscreen=false" class="movement-anchor ng-scope" ng-style="data.scroll" style="top: 0px;"></div><!-- end ngRepeat: anch in data.anchrs track by $index --><div ng-repeat="anch in data.anchrs track by $index" id="img=4&amp;fullscreen=false" class="movement-anchor ng-scope" ng-style="data.scroll" style="top: 0px;"></div><!-- end ngRepeat: anch in data.anchrs track by $index -->
</div><!-- end ngIf: !pageLayout.empty -->
		<div ng-class="{ 'content-inner': true, empty: pageLayout.empty }" class="content-inner">
			<div class="app-promotion ng-isolate-scope ng-hide" data-ng-show="showed" data-ng-class="{'app-promotion-hiding': hiding}">
	<a class="app-promotion-link" href="https://play.google.com/store/apps/details?id=cz.seznam.sreality">Nainstalovat</a>
	<button class="app-promotion-close" data-ng-click="hide()">Zavřít</button>
	<img class="app-promotion-logo" data-ng-src="/img/sreality-app-logo2.png" width="57" height="57" src="/img/sreality-app-logo2.png">
	<div class="app-promotion-info">
		<div class="app-promotion-name ng-binding">Sreality.cz</div>
		<div class="app-promotion-author ng-binding">Seznam.cz, a.s.</div>
		<div class="app-promotion-rating"><span class="app-promotion-rating-progress" style="width: 80%"></span><span class="app-promotion-rating-stars"></span></div>
		<div class="app-promotion-price">Zadarmo v Google Play</div>
	</div>
</div>
			<!-- ngIf: !pageLayout.empty --><div ng-if="!pageLayout.empty" error-page="" class="ng-scope ng-isolate-scope"><!-- ngIf: errorData.isError -->
</div><!-- end ngIf: !pageLayout.empty -->
			<!-- ngIf: !errorData.isError --><div ng-transclude="" class="transcluded-content ng-scope" ng-if="!errorData.isError">
		<!-- ngView:  --><div ng-view="" class="ng-scope"><div class="property-detail ng-scope">

	<!-- ngIf: resource --><div class="content ng-scope" ng-if="resource" ng-class="{'show-report-error': showErrorReport}">

		<!--SEO stuff -->
		<!-- ngIf: resource._embedded.video_urls.length > 0 -->
		<!-- -->
	
		<div ng-show="showedEntity.detail" itemscope="" itemtype="https://schema.org/Product" class="">
			<div class="navigation-detail">
				<div class="crumb-back ng-isolate-scope" crumb-back="">
	<div class="left">
		<!-- ngIf: url -->
	</div>
</div>
				<div class="iterator ng-isolate-scope" iterator="">
	<div class="left">
		<!-- ngIf: urls.prevItemUrl -->
	</div><div class="right">
		<!-- ngIf: urls.nextItemUrl -->
	</div>
</div>
				<div class="navigation-fixer rows-2"></div>
			</div>

			<div map-print="resource" class="map-print s-map ng-isolate-scope smap"><div style="position: absolute; width: 0px; height: 0px; margin: 0px; padding: 0px; left: 184px; top: 96px;"><div><div id="1-0-0.16378121763710363"><div style="transform: translateZ(0px);"><img alt="" style="position: absolute; opacity: 0; transition: opacity 600ms ease 0s; left: -225.236px; top: -101.05px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/20-570665-353998" srcset="https://mapserver.mapy.cz/base-m/20-570665-353998, https://mapserver.mapy.cz/base-m/retina/20-570665-353998 2x"><img alt="" style="position: absolute; opacity: 0; transition: opacity 600ms ease 0s; left: -225.236px; top: 154.95px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/20-570665-353999" srcset="https://mapserver.mapy.cz/base-m/20-570665-353999, https://mapserver.mapy.cz/base-m/retina/20-570665-353999 2x"><img alt="" style="position: absolute; opacity: 0; transition: opacity 600ms ease 0s; left: 30.7636px; top: -101.05px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/20-570666-353998" srcset="https://mapserver.mapy.cz/base-m/20-570666-353998, https://mapserver.mapy.cz/base-m/retina/20-570666-353998 2x"><img alt="" style="position: absolute; opacity: 0; transition: opacity 600ms ease 0s; left: 30.7636px; top: 154.95px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/20-570666-353999" srcset="https://mapserver.mapy.cz/base-m/20-570666-353999, https://mapserver.mapy.cz/base-m/retina/20-570666-353999 2x"><img alt="" style="position: absolute; opacity: 0; transition: opacity 600ms ease 0s; left: 286.764px; top: -101.05px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/20-570667-353998" srcset="https://mapserver.mapy.cz/base-m/20-570667-353998, https://mapserver.mapy.cz/base-m/retina/20-570667-353998 2x"><img alt="" style="position: absolute; opacity: 0; transition: opacity 600ms ease 0s; left: 286.764px; top: 154.95px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/20-570667-353999" srcset="https://mapserver.mapy.cz/base-m/20-570667-353999, https://mapserver.mapy.cz/base-m/retina/20-570667-353999 2x"></div></div></div><div></div><svg xmlns:xlink="http://www.w3.org/1999/xlink" width="368" height="192" style="position: absolute; left: -184px; top: -96px;"><g><g id="0.8760728392304098-2" style="transform: scale(1);"><polyline fill="none" stroke="white" stroke-linejoin="round" stroke-linecap="round" points="1550.863733112812 -83.42401283979416, 1535.0905037522316 -79.41607293486595, 1520.3653526604176 -75.39507155120373, 1505.6402036249638 -71.37406654655933, 1490.9020357429981 -66.30210676789284, 1475.1288154423237 -62.294150948524475, 1460.40367308259 -58.273134753108025, 1444.6174370646477 -53.214219868183136, 1429.892299234867 -49.19319620728493, 1414.106068521738 -44.134273409843445, 1398.3198406398296 -39.07534655928612, 1382.5466345250607 -35.067366153001785, 1365.7123368382454 -30.02148538827896, 1349.9261172413826 -24.962545931339264, 1333.0918254852295 -19.916656091809273, 1315.2094618082047 -14.883814945816994, 1298.388193488121 -10.888865500688553, 1140.7865259349346 18.68189975619316, 1107.196090966463 22.46810707449913, 1074.6667476892471 25.216433823108673, 1043.1854817271233 27.97782775759697, 1012.7653048634529 29.701337665319443, 982.3321183919907 32.475813671946526, 952.9470089375973 35.263352796435356, 924.6229866147041 37.01300399005413, 896.2859562635422 39.81361895799637, 867.9619378149509 41.56329903006554, 840.6729863882065 44.37698717415333, 814.4451197385788 46.152783274650574, 787.1561730504036 48.966497644782066, 761.9763839840889 50.7553618401289, 735.7485225498676 52.53119507431984, 710.5687365233898 54.32008261978626, 685.3889520466328 56.10898154973984, 660.2091690599918 57.89789190888405, 636.0774614214897 59.69985410571098, 610.8976814746857 61.488786801695824, 586.7529729604721 64.34171941876411, 562.6212702095509 66.14371353387833, 538.4895689189434 67.9457181096077, 514.3578691482544 69.74773316085339, 490.2261708378792 71.54975870251656, 465.04640036821365 73.33875748515129, 440.9147050380707 75.1408044397831, 416.7830111384392 76.94286188483238, 391.603245228529 78.73189395666122, 366.4234808087349 80.52093747258186, 341.2437179386616 82.30999237298965, 316.0639565587044 84.09905871748924, 290.88419672846794 85.88813649117947, 215.31893268227577 93.35733544826508, 203.77712938189507 94.26492793858051, 193.28339979052544 95.18555489182472, 182.78967049717903 96.10618382692337, 171.24786826968193 97.01378309726715, 160.75413969159126 97.93441617488861, 149.21233814954758 98.84202003479004, 137.67053699493408 99.74962624907494, 127.17680937051773 100.67026567459106, 115.63500890135765 101.57787647843361, 104.09320878982544 102.48548966646194, 92.5514090359211 103.39310528337955, 81.00960963964462 104.30072325468063, 68.41973742842674 105.1953139603138, 56.877938747406006 106.10293698310852, 45.33614042401314 107.01056236028671, 33.80733585357666 106.86724177002907, 13.867959886789322 108.72159045934677, -5.023341685533524 110.58897459506989, -24.962715089321136 112.44333715736866, -44.88909536600113 113.24675858020782, -61.6972391307354 116.19116532802582, -77.444316893816 118.0976557135582, -93.19139364361763 120.00415050983429, -107.87740570306778 120.8727279305458, -122.57640779018402 122.7922573685646, -137.2754088640213 124.71179071068764, -151.96141910552979 125.58037973940372, -165.61234566569328 127.51294602453709, -179.2502819597721 128.3945675343275, -191.85313415527344 130.34016519784927, -205.49106940627098 131.2217931598425, -218.09392008185387 133.16739669442177, -230.68378153443336 134.0620551109314, -243.28663071990013 136.00766429305077, -255.876491189003 136.9023283869028, -267.4182785451412 137.81001862883568, -282.11727100610733 139.72958996891975, -295.76818984746933 141.66218796372414, -310.45419347286224 142.53081884980202, -325.15318328142166 144.4504015147686, -338.80409958958626 146.38300997018814, -353.51607352495193 149.35354778170586, -368.21506014466286 151.27314168214798, -382.91404578089714 153.19273939728737, -398.67408803105354 156.15026780962944, -413.38605630397797 159.12082108855247, -430.1941676437855 162.06533762812614, -445.954205006361 165.02287909388542, -462.7623128890991 167.96740525960922, -479.58340272307396 171.96288377046585, -497.4395788908005 174.89440086483955, -515.3087362349033 178.8768708705902, -533.1908737123013 183.9102935642004, -550.011953830719 187.90579244494438, -566.8460135757923 192.95224323868752, -582.6319986581802 198.01171600818634, -598.4049994945526 202.0202459692955, -613.1429076492786 207.09274372458458, -627.8808131814003 212.16524490714073, -642.6187160313129 217.2377496212721, -656.3085449934006 222.3232737481594, -669.9983714818954 227.40880079567432, -683.7011752724648 233.54527708888054, -696.3429255783558 238.64382511377335, -708.997652888298 244.79332166910172, -722.687469124794 249.8788597881794, -735.3421910107136 256.028361171484, -746.9488396048546 262.1908790022135, -759.6035560369492 268.340384632349, -772.2582696974277 274.48989249765873, -784.9129805862904 280.63940262794495, -797.567688703537 286.78891499340534, -810.2353713810444 293.9893748164177, -822.8900737166405 300.1388915479183, -836.60581985116 307.3263430297375, -849.273492872715 314.526809245348, -862.9892320632935 321.7142654657364, -876.6919916570187 327.8507796227932, -890.4206999242306 336.0891854763031, -905.1844976246357 343.26363806426525, -919.9482915699482 350.4380937218666, -934.7120817005634 357.6125524044037, -950.536911457777 365.82494780421257, -966.3487621545792 372.98640275001526, -980.0644719898701 380.17388075590134, -993.7931522130966 388.4123047888279, -1005.4127185046673 395.62580609321594, -1017.0452552437782 403.8902521878481, -1028.6907617151737 413.2056426256895, -1040.3232913315296 421.47009110450745, -1050.9077500104904 429.7475491464138, -1061.5051781237125 439.0759506523609, -1073.1506698429585 448.391344666481, -1083.735118508339 456.66880513727665, -1094.3325360119343 465.9972085058689, -1104.9169782102108 474.2746704518795, -1115.5143887996674 483.6030750274658, -1127.146890848875 491.86753156781197, -1138.7793894708157 500.13198935985565, -1150.398913770914 507.34550708532333" stroke-opacity="0.6" stroke-width="9" stroke-dasharray=""><title></title></polyline><polyline fill="none" stroke="#00f" stroke-linejoin="round" stroke-linecap="round" points="1550.863733112812 -83.42401283979416, 1535.0905037522316 -79.41607293486595, 1520.3653526604176 -75.39507155120373, 1505.6402036249638 -71.37406654655933, 1490.9020357429981 -66.30210676789284, 1475.1288154423237 -62.294150948524475, 1460.40367308259 -58.273134753108025, 1444.6174370646477 -53.214219868183136, 1429.892299234867 -49.19319620728493, 1414.106068521738 -44.134273409843445, 1398.3198406398296 -39.07534655928612, 1382.5466345250607 -35.067366153001785, 1365.7123368382454 -30.02148538827896, 1349.9261172413826 -24.962545931339264, 1333.0918254852295 -19.916656091809273, 1315.2094618082047 -14.883814945816994, 1298.388193488121 -10.888865500688553, 1140.7865259349346 18.68189975619316, 1107.196090966463 22.46810707449913, 1074.6667476892471 25.216433823108673, 1043.1854817271233 27.97782775759697, 1012.7653048634529 29.701337665319443, 982.3321183919907 32.475813671946526, 952.9470089375973 35.263352796435356, 924.6229866147041 37.01300399005413, 896.2859562635422 39.81361895799637, 867.9619378149509 41.56329903006554, 840.6729863882065 44.37698717415333, 814.4451197385788 46.152783274650574, 787.1561730504036 48.966497644782066, 761.9763839840889 50.7553618401289, 735.7485225498676 52.53119507431984, 710.5687365233898 54.32008261978626, 685.3889520466328 56.10898154973984, 660.2091690599918 57.89789190888405, 636.0774614214897 59.69985410571098, 610.8976814746857 61.488786801695824, 586.7529729604721 64.34171941876411, 562.6212702095509 66.14371353387833, 538.4895689189434 67.9457181096077, 514.3578691482544 69.74773316085339, 490.2261708378792 71.54975870251656, 465.04640036821365 73.33875748515129, 440.9147050380707 75.1408044397831, 416.7830111384392 76.94286188483238, 391.603245228529 78.73189395666122, 366.4234808087349 80.52093747258186, 341.2437179386616 82.30999237298965, 316.0639565587044 84.09905871748924, 290.88419672846794 85.88813649117947, 215.31893268227577 93.35733544826508, 203.77712938189507 94.26492793858051, 193.28339979052544 95.18555489182472, 182.78967049717903 96.10618382692337, 171.24786826968193 97.01378309726715, 160.75413969159126 97.93441617488861, 149.21233814954758 98.84202003479004, 137.67053699493408 99.74962624907494, 127.17680937051773 100.67026567459106, 115.63500890135765 101.57787647843361, 104.09320878982544 102.48548966646194, 92.5514090359211 103.39310528337955, 81.00960963964462 104.30072325468063, 68.41973742842674 105.1953139603138, 56.877938747406006 106.10293698310852, 45.33614042401314 107.01056236028671, 33.80733585357666 106.86724177002907, 13.867959886789322 108.72159045934677, -5.023341685533524 110.58897459506989, -24.962715089321136 112.44333715736866, -44.88909536600113 113.24675858020782, -61.6972391307354 116.19116532802582, -77.444316893816 118.0976557135582, -93.19139364361763 120.00415050983429, -107.87740570306778 120.8727279305458, -122.57640779018402 122.7922573685646, -137.2754088640213 124.71179071068764, -151.96141910552979 125.58037973940372, -165.61234566569328 127.51294602453709, -179.2502819597721 128.3945675343275, -191.85313415527344 130.34016519784927, -205.49106940627098 131.2217931598425, -218.09392008185387 133.16739669442177, -230.68378153443336 134.0620551109314, -243.28663071990013 136.00766429305077, -255.876491189003 136.9023283869028, -267.4182785451412 137.81001862883568, -282.11727100610733 139.72958996891975, -295.76818984746933 141.66218796372414, -310.45419347286224 142.53081884980202, -325.15318328142166 144.4504015147686, -338.80409958958626 146.38300997018814, -353.51607352495193 149.35354778170586, -368.21506014466286 151.27314168214798, -382.91404578089714 153.19273939728737, -398.67408803105354 156.15026780962944, -413.38605630397797 159.12082108855247, -430.1941676437855 162.06533762812614, -445.954205006361 165.02287909388542, -462.7623128890991 167.96740525960922, -479.58340272307396 171.96288377046585, -497.4395788908005 174.89440086483955, -515.3087362349033 178.8768708705902, -533.1908737123013 183.9102935642004, -550.011953830719 187.90579244494438, -566.8460135757923 192.95224323868752, -582.6319986581802 198.01171600818634, -598.4049994945526 202.0202459692955, -613.1429076492786 207.09274372458458, -627.8808131814003 212.16524490714073, -642.6187160313129 217.2377496212721, -656.3085449934006 222.3232737481594, -669.9983714818954 227.40880079567432, -683.7011752724648 233.54527708888054, -696.3429255783558 238.64382511377335, -708.997652888298 244.79332166910172, -722.687469124794 249.8788597881794, -735.3421910107136 256.028361171484, -746.9488396048546 262.1908790022135, -759.6035560369492 268.340384632349, -772.2582696974277 274.48989249765873, -784.9129805862904 280.63940262794495, -797.567688703537 286.78891499340534, -810.2353713810444 293.9893748164177, -822.8900737166405 300.1388915479183, -836.60581985116 307.3263430297375, -849.273492872715 314.526809245348, -862.9892320632935 321.7142654657364, -876.6919916570187 327.8507796227932, -890.4206999242306 336.0891854763031, -905.1844976246357 343.26363806426525, -919.9482915699482 350.4380937218666, -934.7120817005634 357.6125524044037, -950.536911457777 365.82494780421257, -966.3487621545792 372.98640275001526, -980.0644719898701 380.17388075590134, -993.7931522130966 388.4123047888279, -1005.4127185046673 395.62580609321594, -1017.0452552437782 403.8902521878481, -1028.6907617151737 413.2056426256895, -1040.3232913315296 421.47009110450745, -1050.9077500104904 429.7475491464138, -1061.5051781237125 439.0759506523609, -1073.1506698429585 448.391344666481, -1083.735118508339 456.66880513727665, -1094.3325360119343 465.9972085058689, -1104.9169782102108 474.2746704518795, -1115.5143887996674 483.6030750274658, -1127.146890848875 491.86753156781197, -1138.7793894708157 500.13198935985565, -1150.398913770914 507.34550708532333" stroke-opacity="0.65" stroke-width="3" stroke-dasharray="9 12"><title></title></polyline></g></g></svg><div></div><div></div></div><div class="hud"><div class="noprint"><div class="copyright print" title=" Seznam.cz, a.s., 2022 |  OpenStreetMap" style="position: absolute; inset: auto auto 3px 5px;">© <a href="https://o.seznam.cz" target="_blank" rel="noopener">Seznam.cz, a.s.</a>, 2022 a <a href="#" data-others="1">další</a></div><a class="print" target="_blank" href="https://mapy.cz/?x=15.922581&amp;y=50.356327&amp;z=20" style="position: absolute; inset: auto 0px 0px auto;"><img src="https://api.mapy.cz/img/api/logo.svg" alt="Zobrazit na Mapy.cz"></a></div></div></div>

			<div class="gallery ng-isolate-scope" ng-class="{ 'old-browsers': oldBrowsers }" gallery="resource">

	<!-- ngIf: sphereShowed -->

	<!-- ngIf: panoramaShowed -->

	<!-- prochazeni fotek v detailu -->
	<!-- ngIf: isDetail() && !isPhantom --><div class="detail-images ng-scope" ng-if="isDetail() &amp;&amp; !isPhantom">
		<!-- jednotlive obrazky -->
		<div class="image-cover" ng-class="{ mobile: isMobile }"><!--
		--><div class="image prev">
				<img ng-src="https://d18-a.sdn.cz/d_18/c_img_gY_h/1pfTMz.mpo?fl=res,749,562,3|shr,,20|jpg,90" ng-click="showEntity(SHOW_ENTITY.FULLSCREEN)" class="img" src="https://d18-a.sdn.cz/d_18/c_img_gY_h/1pfTMz.mpo?fl=res,749,562,3|shr,,20|jpg,90">
			</div><!--

			 --><!-- ngIf: images.detail.virtualTour --><!--

			--><!-- ngIf: images.detail.panorama --><!--

			 --><!-- ngIf: images.detail.sphere --><!--

		 --><!-- ngIf: images.detail.image --><div class="image active ng-scope" ng-class="{ loading: images.detail.active.loading }" swipe="" swipe-right="prevPhoto()" swipe-left="nextPhoto()" ng-if="images.detail.image" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><!--
			 --><!-- ngIf: images.detail.active.showVideo --><!--
			 --><img alt="" class="img" my-image="" img-src="https://d18-a.sdn.cz/d_18/c_img_gY_h/b1STMq.jpeg?fl=res,749,562,3|shr,,20|jpg,90" img-load="images.detail.active.loading = true" img-done="images.detail.active.loading = false" itemprop="image"><!--
			 --><div class="download-cover" ng-click="showEntity(SHOW_ENTITY.FULLSCREEN)">&nbsp;</div><!--
		 --></div><!-- end ngIf: images.detail.image --><!--

		--><div class="image next">
				<img ng-src="https://d18-a.sdn.cz/d_18/c_img_gY_h/F6OTMr.jpeg?fl=res,749,562,3|shr,,20|jpg,90" ng-click="showEntity(SHOW_ENTITY.FULLSCREEN)" class="img" src="https://d18-a.sdn.cz/d_18/c_img_gY_h/F6OTMr.jpeg?fl=res,749,562,3|shr,,20|jpg,90">
			</div>

			<!-- navigace -->
			<!-- ngIf: !virtualTourShowed --><button class="detail-btn prev ng-scope" ng-click="prevPhoto($event)" ng-if="!virtualTourShowed">
				<span class="btn-circle-gallery icof icon-arr-left" ng-class="{ hidden: selected.active == 0 &amp;&amp; !conf.infiniteScroll }"></span>
			</button><!-- end ngIf: !virtualTourShowed -->
			<!-- ngIf: !virtualTourShowed --><button class="detail-btn next ng-scope" ng-click="nextPhoto($event)" ng-if="!virtualTourShowed">
				<span class="btn-circle-gallery icof icon-arr-right" ng-class="{ hidden: selected.active == data.images.length - 1 &amp;&amp; !conf.infiniteScroll }"></span>
			</button><!-- end ngIf: !virtualTourShowed -->
		</div>

		<!-- do thumbnails -->
		<!-- ngIf: !panoramaShowed && !sphereShowed && !virtualTourShowed --><button class="btn thumbnails ng-binding ng-scope" ng-if="!panoramaShowed &amp;&amp; !sphereShowed &amp;&amp; !virtualTourShowed" ng-click="showEntity(SHOW_ENTITY.THUMBNAILS)">
			Zobrazit
			5
			fotografií
			v galerii
		</button><!-- end ngIf: !panoramaShowed && !sphereShowed && !virtualTourShowed -->

		<!-- ngIf: panoramaShowed -->

		<!-- ngIf: virtualTourShowed -->		
	</div><!-- end ngIf: isDetail() && !isPhantom -->

	<!-- phantom -->
	<!-- ngIf: isPhantom -->

	<!-- fullscreen mod -->
	<div class="fullscreen-mode ng-hide" ng-show="!isDetail()">
		<div class="background"></div>

		<!-- fullscreen obrazky -->
		<div class="fl-images prev">
			<!-- ngIf: isFullscreen() -->
		</div>

		<div class="fl-images active" ng-class="{ loading: images.fullscreen.active.loading &amp;&amp; !images.fullscreen.panorama &amp;&amp; !images.fullscreen.sphere, 'panorama-fullscreen': images.fullscreen.panorama }" swipe="" swipe-right="prevPhoto()" swipe-left="nextPhoto()" ng-click="fullscreenClick(images.fullscreen)" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><!--
			--><!-- ngIf: isFullscreen() && !isVideo() && images.fullscreen.image -->

				<!-- ngIf: isFullscreen() && images.fullscreen.virtualTour -->
				<!-- ngIf: images.fullscreen.virtualTour -->

			 	<!-- ngIf: images.fullscreen.sphere -->

				<!-- ngIf: images.fullscreen.panorama -->
				<!-- ngIf: images.fullscreen.panorama -->

			<div class="download-cover">&nbsp;</div>
		</div>

		<div class="fl-images next">
			<!-- ngIf: isFullscreen() -->
		</div>

		<!-- video prehravac -->
		<!-- ngIf: isVideo() -->

		<!-- nahledy thumbnails -->
		<div class="thumbnails-outter" ng-class="{ show: isThumbnails(), 'fl-detail': isFullscreen() }" ng-click="showEntity(SHOW_ENTITY.DETAIL)">
			<div class="thumbnails-middle"><!-- fix pro ipad6 -->
				<div class="thumbnails-inner">
					<div class="list" ng-class="{ 'less-than-five': data.images.length < 5 }">
						<!-- ngRepeat: image in data.images track by $index --><div class="thumb-image ng-scope active" ng-repeat="image in data.images track by $index" ng-click="openFullscreenPhoto($event, $index)" ng-class="{ active: selected.active == $index, loading: image.thumbLoad &amp;&amp; image.image}">
							<!-- ngIf: loadThumbnails && image.image -->
							
							<!-- ngIf: loadThumbnails && image.virtualTour -->
							<!-- ngIf: image.virtualTour -->

							<!-- ngIf: image.sphere -->

							<!-- ngIf: image.panorama -->
							<!-- ngIf: image.panorama -->

							<!-- ngIf: $index == videoIndex && data.hasVideo -->
						</div><!-- end ngRepeat: image in data.images track by $index --><div class="thumb-image ng-scope" ng-repeat="image in data.images track by $index" ng-click="openFullscreenPhoto($event, $index)" ng-class="{ active: selected.active == $index, loading: image.thumbLoad &amp;&amp; image.image}">
							<!-- ngIf: loadThumbnails && image.image -->
							
							<!-- ngIf: loadThumbnails && image.virtualTour -->
							<!-- ngIf: image.virtualTour -->

							<!-- ngIf: image.sphere -->

							<!-- ngIf: image.panorama -->
							<!-- ngIf: image.panorama -->

							<!-- ngIf: $index == videoIndex && data.hasVideo -->
						</div><!-- end ngRepeat: image in data.images track by $index --><div class="thumb-image ng-scope" ng-repeat="image in data.images track by $index" ng-click="openFullscreenPhoto($event, $index)" ng-class="{ active: selected.active == $index, loading: image.thumbLoad &amp;&amp; image.image}">
							<!-- ngIf: loadThumbnails && image.image -->
							
							<!-- ngIf: loadThumbnails && image.virtualTour -->
							<!-- ngIf: image.virtualTour -->

							<!-- ngIf: image.sphere -->

							<!-- ngIf: image.panorama -->
							<!-- ngIf: image.panorama -->

							<!-- ngIf: $index == videoIndex && data.hasVideo -->
						</div><!-- end ngRepeat: image in data.images track by $index --><div class="thumb-image ng-scope" ng-repeat="image in data.images track by $index" ng-click="openFullscreenPhoto($event, $index)" ng-class="{ active: selected.active == $index, loading: image.thumbLoad &amp;&amp; image.image}">
							<!-- ngIf: loadThumbnails && image.image -->
							
							<!-- ngIf: loadThumbnails && image.virtualTour -->
							<!-- ngIf: image.virtualTour -->

							<!-- ngIf: image.sphere -->

							<!-- ngIf: image.panorama -->
							<!-- ngIf: image.panorama -->

							<!-- ngIf: $index == videoIndex && data.hasVideo -->
						</div><!-- end ngRepeat: image in data.images track by $index --><div class="thumb-image ng-scope" ng-repeat="image in data.images track by $index" ng-click="openFullscreenPhoto($event, $index)" ng-class="{ active: selected.active == $index, loading: image.thumbLoad &amp;&amp; image.image}">
							<!-- ngIf: loadThumbnails && image.image -->
							
							<!-- ngIf: loadThumbnails && image.virtualTour -->
							<!-- ngIf: image.virtualTour -->

							<!-- ngIf: image.sphere -->

							<!-- ngIf: image.panorama -->
							<!-- ngIf: image.panorama -->

							<!-- ngIf: $index == videoIndex && data.hasVideo -->
						</div><!-- end ngRepeat: image in data.images track by $index -->
					</div>
				</div>
			</div>
		</div>

		<div class="navigation">
			<!-- pouze pro fullscreen a video -->
			<!-- ngIf: !isThumbnails() --><button class="btn-circle-gallery-fs icof icon-list ng-scope" ng-click="showEntity(SHOW_ENTITY.THUMBNAILS)" ng-if="!isThumbnails()"></button><!-- end ngIf: !isThumbnails() -->
			<!-- ngIf: !isThumbnails() --><button class="btn-circle-gallery-fs icof icon-arr-left ng-scope" ng-click="prevPhoto($event)" ng-if="!isThumbnails()"></button><!-- end ngIf: !isThumbnails() -->
			<!-- ngIf: !isThumbnails() --><span class="image-order ng-binding ng-scope" ng-if="!isThumbnails()">1/5</span><!-- end ngIf: !isThumbnails() -->
			<!-- ngIf: !isThumbnails() --><button class="btn-circle-gallery-fs icof icon-arr-right ng-scope" ng-click="nextPhoto($event)" ng-if="!isThumbnails()"></button><!-- end ngIf: !isThumbnails() -->

			<!-- spolecne pro fullscreen, thumbnails a video -->
			<button class="btn-circle-gallery-fs icof icon-cross" ng-click="showEntity(SHOW_ENTITY.DETAIL)"></button>
		</div>
	</div>
</div>
			
			<div class="property-title">
				<h1>
					<span itemprop="name">
						<span class="name ng-binding">Pronájem bytu 1+1&nbsp;55&nbsp;m²</span>
						<span class="location"><span class="location-text ng-binding">Havlíčkova, Jaroměř - Jakubské Předměstí</span>

							<!-- ngIf: showPanoramaBtn -->
						</span>
					</span>
				</h1>
				<!-- ngIf: contentData.price --><span ng-if="contentData.price" class="price ng-scope" itemprop="offerDetails" itemscope="" itemtype="https://schema.org/Offer">
					<!-- ngIf: contentData.price.raw > 1 --><span ng-if="contentData.price.raw > 1" class="microdata ng-scope">
						<meta itemprop="currency" content="CZK">
						<span itemprop="price" class="ng-binding">7000</span>
					</span><!-- end ngIf: contentData.price.raw > 1 -->
					<span class="norm-price ng-binding">7&nbsp;000&nbsp;Kč za měsíc</span>
					<!-- ngIf: contentData.price.alternative -->

					<!-- ngIf: !!contentData.energyEfficiencyRating -->
				</span><!-- end ngIf: contentData.price -->
				<!-- ngIf: topped -->
			</div>

			<!--<button data-dot="go-to-mortage" class="c-mortgage-link"
					ng-if="actualLang === 'cs' && detailData.price && detailData.typeId === 1 && showHyponamiru"
					ng-click="scrollIntoMortgageCalculator()">
				<img class="c-mortgage-link__icon" src="/img/hypoteka/calculator.svg" />
				<span class="c-mortgage-link__text">Spočítat hypotéku</span>
			</button>-->

			<div class="description ng-binding" itemprop="description" ng-bind-html="contentData.description | lineFilter"><p>Pronájem bytu 1+1, 50 m2, v přízemí bytového domu. Byt bude k dispozici ihned. Nájemné je 7.000,- Kč + energie. Kauce 20.000,- Kč. Je to blízko centra. Pouze nekuřáci.</p><p>Neváhejte kontaktovat makléře. HaCe-Reality.cz</p></div>

			<div class="params clear">
				<!-- ngRepeat: group in params --><ul ng-repeat="group in params" class="params1">
					<!-- ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">Celková cena:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope">7&nbsp;000 Kč za měsíc</span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">Poznámka k ceně:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope">+ enargie</span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">Aktualizace:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope">10.12.2021</span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">ID:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope">440047708</span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">Stavba:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope">Cihlová</span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params -->
				</ul><!-- end ngRepeat: group in params --><ul ng-repeat="group in params" class="params2">
					<!-- ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">Stav objektu:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope">Dobrý</span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">Vlastnictví:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope">Osobní</span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">Podlaží:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope">2. podlaží</span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">Užitná plocha:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope">55</span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' --><span ng-if="item.type == 'area'" class="ng-scope">m<sup>2</sup></span><!-- end ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">Datum nastěhování:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope">Ihned</span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params -->
				</ul><!-- end ngRepeat: group in params -->
			</div>

			<div class="buttons" data-dot-data="{&quot;jazyk&quot;:&quot;cs&quot;,&quot;id&quot;:&quot;440047708&quot;,&quot;okres&quot;:&quot;nachod&quot;,&quot;cena&quot;:7000,&quot;stavba&quot;:&quot;cihlova&quot;,&quot;typ-nemovitosti&quot;:&quot;byty&quot;,&quot;typ-transakce&quot;:&quot;pronajem&quot;,&quot;velikost&quot;:&quot;1+1&quot;}">
				<!-- ngIf: favData --><span class="btn-wrap ng-scope ng-isolate-scope" favourite="favData" ng-if="favData"><span class="favorite-directive">
	<!-- ngIf: showed -->
	<a class="btn icof icon-favourite favorite-button ng-binding ng-isolate-scope ng-pristine ng-valid" link-requires-login="" ng-model="data.model" ng-click="change()" ng-class="{active: data.model}">Přidat do oblíbených
	</a>
</span>
</span><!-- end ngIf: favData --><!--
			 --><span class="btn-wrap ng-isolate-scope" property-share="propShareConf"><span class="property-share-wrap">
	<button data-dot-data="{&quot;text&quot;:&quot;Sdílet inzerát&quot;}" class="btn icof icon-share" ng-click="showContent($event)" ng-class="{ active: show }"><span class="text ng-binding">Sdílet inzerát</span></button>
	<span class="property-share-content-wrap ng-hide" ng-show="show">
		<span class="property-share-content ng-isolate-scope" off-click="showContent()" off-click-if="show">
			<h3 class="title ng-binding">Sdílet inzerát</h3>
			<input type="text" class="input url-input ng-pristine ng-valid" ng-model="input" readonly="" ng-click="click($event)">
			<ul class="items">
				<!-- ngRepeat: i in items --><li class="item ng-scope facebook" ng-class="i.className" ng-repeat="i in items">
					<a href="https://www.facebook.com/sharer.php?u=https%3A%2F%2Fwww.sreality.cz%2Fdetail%2Fpronajem%2Fbyt%2F1%2B1%2Fjaromer-jakubske-predmesti-havlickova%2F440047708" target="_blank" class="link ng-binding">
						<span class="icon"></span>
						Facebook
					</a>
				</li><!-- end ngRepeat: i in items --><li class="item ng-scope twitter" ng-class="i.className" ng-repeat="i in items">
					<a href="https://twitter.com/share?&amp;url=https%3A%2F%2Fwww.sreality.cz%2Fdetail%2Fpronajem%2Fbyt%2F1%2B1%2Fjaromer-jakubske-predmesti-havlickova%2F440047708&amp;text=Pron%C3%A1jem%20bytu%201%2B1%C2%A055%C2%A0m%C2%B2" target="_blank" class="link ng-binding">
						<span class="icon"></span>
						Twitter
					</a>
				</li><!-- end ngRepeat: i in items -->
			</ul>
		</span>
	</span>
</span>
</span><!--
			 --><span class="btn-wrap">
					<button data-dot-data="{&quot;text&quot;:&quot;Tisknout&quot;}" class="btn icof icon-print property-print ng-binding" ng-click="printPage()">Tisknout</button>
				</span><!--
			 --><span class="btn-wrap note-wrap ng-isolate-scope" note="resource">
	<a link-requires-login="" class="btn icof icon-pen btn-note ng-binding ng-isolate-scope" ng-click="showNote()" ng-show="!show">Přidat poznámku</a>
	<span class="note ng-hide" ng-show="show">
		<textarea class="textarea ng-pristine ng-valid" ng-attr-placeholder="{{ 'lang-note.placeholder' | translate }}" ng-model="model" placeholder="Přidejte si poznámku k inzerátu"></textarea>
		<div class="control">
			<button class="btn ng-binding" ng-click="save()" ng-class="{'icof icon-ok': status == 1, 'icof icon-cross': status == 2}">Uložit</button>
		</div>
		<span class="icof icon-cross remove" ng-click="remove()"></span>
	</span>
</span>
			</div>

			<!-- ngIf: addressFrom --><div class="c-transport ng-scope" ng-if="addressFrom" id="c-transport" address-from="contentData.subTitle">
    <span class="c-transport__title ng-binding">Dojezdová vzdálenost</span>
    <span class="c-tag-new ng-binding">Nové</span>
    
    <!-- ngIf: !userLogged() --><div ng-if="!userLogged()" class="ng-scope">	
        <img class="c-transport__icon" src="/img/dojezdova-vzdalenost.svg">
        <div class="c-transport__text-wrap">
            <span class="c-transport__text ng-binding">Zajímá vás, jak dlouho budete dojíždět z této adresy?</span>
            <button class="c-transport__link-btn ng-binding" type="button" ng-click="login()">Přihlaste se a zkontrolujte svůj dojezdový čas</button>
        </div>
    </div><!-- end ngIf: !userLogged() -->
    
    <!-- ngIf: userLogged() && isFirstLoaded -->
</div><!-- end ngIf: addressFrom -->

			<!-- ngIf: services -->

			<!-- ngIf: pois.length --><div ng-if="pois.length" class="c-pois ng-scope">
				<h2 class="c-pois__header ng-binding">V okolí najdete:</h2>
				<ul class="c-pois__list">
					<!-- ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Cukrárna:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url --><a ng-if="poi.url" class="c-pois__poi-text ng-binding ng-scope" ng-href="https://www.firmy.cz/detail/660668-zvicina-s-r-o-jaromer-prazske-predmesti.html" target="_blank" href="https://www.firmy.cz/detail/660668-zvicina-s-r-o-jaromer-prazske-predmesti.html">ZVIČINA s.r.o.</a><!-- end ngIf: poi.url -->
							<!-- ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (2138&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Přírodní zajímavost:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url -->
							<!-- ngIf: !poi.url --><span ng-if="!poi.url" class="c-pois__poi-text ng-binding ng-scope">Ptačí park Josefovské louky</span><!-- end ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (1978&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Hřiště:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url -->
							<!-- ngIf: !poi.url --><span ng-if="!poi.url" class="c-pois__poi-text ng-binding ng-scope">Dětské hřiště Na Valech</span><!-- end ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (312&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Večerka:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url --><a ng-if="poi.url" class="c-pois__poi-text ng-binding ng-scope" ng-href="https://www.firmy.cz/detail/12794936-potraviny-nam-ceskoslovenske-armady-59-jaromer.html" target="_blank" href="https://www.firmy.cz/detail/12794936-potraviny-nam-ceskoslovenske-armady-59-jaromer.html">Potraviny nám. Československé armády 59</a><!-- end ngIf: poi.url -->
							<!-- ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (203&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Hospoda:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url --><a ng-if="poi.url" class="c-pois__poi-text ng-binding ng-scope" ng-href="https://www.firmy.cz/detail/2604198-tankovna-u-kozla-jaromer-prazske-predmesti.html" target="_blank" href="https://www.firmy.cz/detail/2604198-tankovna-u-kozla-jaromer-prazske-predmesti.html">Tankovna u Kozla</a><!-- end ngIf: poi.url -->
							<!-- ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (612&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Divadlo:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url --><a ng-if="poi.url" class="c-pois__poi-text ng-binding ng-scope" ng-href="https://www.firmy.cz/detail/397084-bouckovo-loutkove-divadlo-bodi-bauerovi-jaromer-prazske-predmesti.html" target="_blank" href="https://www.firmy.cz/detail/397084-bouckovo-loutkove-divadlo-bodi-bauerovi-jaromer-prazske-predmesti.html">Boučkovo loutkové divadlo BOĎI Bauerovi</a><!-- end ngIf: poi.url -->
							<!-- ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (541&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Veterinář:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url --><a ng-if="poi.url" class="c-pois__poi-text ng-binding ng-scope" ng-href="https://www.firmy.cz/detail/2679301-veterinarni-stredisko-jaromer-jaromer-prazske-predmesti.html" target="_blank" href="https://www.firmy.cz/detail/2679301-veterinarni-stredisko-jaromer-jaromer-prazske-predmesti.html">Veterinární středisko Jaroměř</a><!-- end ngIf: poi.url -->
							<!-- ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (757&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Pošta:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url --><a ng-if="poi.url" class="c-pois__poi-text ng-binding ng-scope" ng-href="https://www.firmy.cz/detail/215670-posta-jaromer-1-jaromer.html" target="_blank" href="https://www.firmy.cz/detail/215670-posta-jaromer-1-jaromer.html">Pošta Jaroměř 1 - Česká pošta, s.p.</a><!-- end ngIf: poi.url -->
							<!-- ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (406&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Bankomat:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url --><a ng-if="poi.url" class="c-pois__poi-text ng-binding ng-scope" ng-href="https://www.firmy.cz/detail/2420271-bankomat-komercni-banky-jaromer.html" target="_blank" href="https://www.firmy.cz/detail/2420271-bankomat-komercni-banky-jaromer.html">Bankomat Komerční banky</a><!-- end ngIf: poi.url -->
							<!-- ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (383&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Škola:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url --><a ng-if="poi.url" class="c-pois__poi-text ng-binding ng-scope" ng-href="https://www.firmy.cz/detail/357474-zs-jaromer-na-ostrove-jaromer-prazske-predmesti.html" target="_blank" href="https://www.firmy.cz/detail/357474-zs-jaromer-na-ostrove-jaromer-prazske-predmesti.html">ZŠ Jaroměř, Na Ostrově</a><!-- end ngIf: poi.url -->
							<!-- ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (341&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Bus MHD:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url -->
							<!-- ngIf: !poi.url --><span ng-if="!poi.url" class="c-pois__poi-text ng-binding ng-scope">Jaroměř, pod náměstím</span><!-- end ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (53&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Školka:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url --><a ng-if="poi.url" class="c-pois__poi-text ng-binding ng-scope" ng-href="https://www.firmy.cz/detail/2665985-ms-jaromer-knappova-jaromer-prazske-predmesti.html" target="_blank" href="https://www.firmy.cz/detail/2665985-ms-jaromer-knappova-jaromer-prazske-predmesti.html">MŠ Jaroměř, Knappova</a><!-- end ngIf: poi.url -->
							<!-- ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (570&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Vlak:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url -->
							<!-- ngIf: !poi.url --><span ng-if="!poi.url" class="c-pois__poi-text ng-binding ng-scope">Jaroměř zastávka</span><!-- end ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (799&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Lékárna:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url --><a ng-if="poi.url" class="c-pois__poi-text ng-binding ng-scope" ng-href="https://www.firmy.cz/detail/658261-lekarna-na-poliklinice-jaromer-prazske-predmesti.html" target="_blank" href="https://www.firmy.cz/detail/658261-lekarna-na-poliklinice-jaromer-prazske-predmesti.html">Lékárna Na poliklinice</a><!-- end ngIf: poi.url -->
							<!-- ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (362&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Obchod:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url --><a ng-if="poi.url" class="c-pois__poi-text ng-binding ng-scope" ng-href="https://www.firmy.cz/detail/12741942-tesco-jaromer-prazske-predmesti.html" target="_blank" href="https://www.firmy.cz/detail/12741942-tesco-jaromer-prazske-predmesti.html">Tesco</a><!-- end ngIf: poi.url -->
							<!-- ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (686&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Lékař:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url --><a ng-if="poi.url" class="c-pois__poi-text ng-binding ng-scope" ng-href="https://www.firmy.cz/detail/12844199-mudr-petra-mrazova-jaromer-jakubske-predmesti.html" target="_blank" href="https://www.firmy.cz/detail/12844199-mudr-petra-mrazova-jaromer-jakubske-predmesti.html">MUDr. Petra Mrázová</a><!-- end ngIf: poi.url -->
							<!-- ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (297&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Restaurace:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url --><a ng-if="poi.url" class="c-pois__poi-text ng-binding ng-scope" ng-href="https://www.firmy.cz/detail/13121886-cinska-restaurace-jaromer.html" target="_blank" href="https://www.firmy.cz/detail/13121886-cinska-restaurace-jaromer.html">Čínská restaurace</a><!-- end ngIf: poi.url -->
							<!-- ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (185&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Sportoviště:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url --><a ng-if="poi.url" class="c-pois__poi-text ng-binding ng-scope" ng-href="https://www.firmy.cz/detail/2604195-bowling-centrum-jaromer-jaromer-prazske-predmesti.html" target="_blank" href="https://www.firmy.cz/detail/2604195-bowling-centrum-jaromer-jaromer-prazske-predmesti.html">Bowling centrum - Jaroměř</a><!-- end ngIf: poi.url -->
							<!-- ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (612&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois -->
				</ul>
			</div><!-- end ngIf: pois.length -->

			<!-- ngIf: projectData -->

			<div id="answer-form" sticky-contact-button-clicked="stickyContactButtonClicked" answer-form="resource" class="ng-isolate-scope"><div class="answer-form" ng-show="contact">
	<h2 class="contact-title ng-binding">Kontaktovat:</h2>

	<div class="contacts">
		<!-- ngIf: contact --><div class="seller-contact clear ng-isolate-scope" ng-class="{'seller-contact--not-agent': data.notAgent}" seller-contact="contact" ng-if="contact">

	<!-- todo: muze mit RUS uzivatel photo?? -->

	<!-- ngIf: link --><a ng-if="link" class="image-wrap link ng-scope" ng-href="/adresar/hace-reality-kostelec-nad-orlici/48242/makleri/104221" ng-class="{'image-wrap--no-photo': !data.photo}" href="/adresar/hace-reality-kostelec-nad-orlici/48242/makleri/104221">
		<!-- ngIf: data.photo --><img ng-src="https://d18-a.sdn.cz/d_18/c_img_gS_J/D1vMex.jpeg?fl=res,200,300,3|shr,,20|jpg,90" class="photo ng-scope" ng-if="data.photo" alt="" src="https://d18-a.sdn.cz/d_18/c_img_gS_J/D1vMex.jpeg?fl=res,200,300,3|shr,,20|jpg,90"><!-- end ngIf: data.photo -->
	</a><!-- end ngIf: link -->

	<!-- ngIf: !link -->

	<!-- ngIf: !isSellerDetail --><strong ng-if="!isSellerDetail" class="seller-name ng-scope">
		<!-- odkaz na detail maklere -->
		<!-- ngIf: link --><a ng-href="/adresar/hace-reality-kostelec-nad-orlici/48242/makleri/104221" ng-if="link" class="link name ng-binding ng-scope" href="/adresar/hace-reality-kostelec-nad-orlici/48242/makleri/104221">Kamil  Cupák</a><!-- end ngIf: link -->

		<!-- jmeno je obyc text - nejsme na detailu maklere a nemame link (nemusi se jednat vlastne o maklere) -->
		<!-- ngIf: !link -->
	</strong><!-- end ngIf: !isSellerDetail -->

	<!-- ngIf: isSellerDetail -->

	<div class="contacts">
		<!-- ngIf: (isSellerDetail || data.isPaid) && data.reviewsCount -->
		<!-- ngIf: isSellerDetail -->

		<ul class="contact-list">
			<!-- ngRepeat: phone in phones --><li ng-repeat="phone in phones" class="contact-item phone ng-scope">
				<label class="label">
					<img class="icon" src="/img/icon-phone.svg" alt="">
				</label>

				<!-- ngIf: !phone.isShowed --><button class="value interactive ng-binding ng-scope" ng-if="!phone.isShowed" ng-click="showPhone(phone.id)" data-dot="detail inzeratu/zobrazit telefon">Zobrazit telefon</button><!-- end ngIf: !phone.isShowed -->
				<!-- ngIf: isMobile && phone.isShowed -->
				<!-- ngIf: !isMobile && phone.isShowed -->
			</li><!-- end ngRepeat: phone in phones -->
			<!-- ngIf: data.email --><li ng-if="data.email" class="contact-item email ng-scope">
				<label class="label">
					<img class="icon" src="/img/icon-email.svg" alt="">
				</label>
				<!-- ngIf: !isEmailShowed --><button class="value interactive ng-binding ng-scope" ng-if="!isEmailShowed" ng-click="showEmail()" data-dot="detail inzeratu/zobrazit email">Zobrazit email</button><!-- end ngIf: !isEmailShowed -->
				<!-- ngIf: isEmailShowed -->
			</li><!-- end ngIf: data.email -->
			<!-- ngIf: data.brokerIco -->
		</ul>

		<!-- ngIf: isSellerDetail && data.contactForm.showButton && !data.contactForm.show && data.estateSize -->
	</div>

	<!-- odpovedni formular -->
	<!-- ngIf: isSellerDetail && (data.contactForm.show || (!data.estateSize && data.contactForm.showButton)) -->

	<!-- graf -->
	<!-- ngIf: data.isGraph -->
</div><!-- end ngIf: contact -->

		<!-- ngIf: premise --><div ng-if="premise" class="ng-scope">
			<div class="premise-contact clear">
				<!-- ngIf: premise.hasSeznamNaplno && premise.logo -->

				<!-- ngIf: !(premise.hasSeznamNaplno && premise.logo) --><span class="image-wrap ng-scope" ng-if="!(premise.hasSeznamNaplno &amp;&amp; premise.logo)" aria-hidden="true" tabindex="-1">
					<span class="no-logo"></span>
				</span><!-- end ngIf: !(premise.hasSeznamNaplno && premise.logo) -->

				<ul class="info">
					<li class="line name ng-binding">HáCé-Reality</li>
					<!-- ngIf: premise.address --><li class="line address ng-binding ng-scope" ng-if="premise.address">Proškova 876, 51741 Kostelec nad Orlicí</li><!-- end ngIf: premise.address -->
					<!-- ngIf: premise.isPaid && premise.reviewsCount --><a>
					</a><!-- ngIf: premise.www && premise.www_visible --><li class="line ng-scope" ng-if="premise.www &amp;&amp; premise.www_visible"><a></a><a href="https://hace-reality.cz" target="_blank" data-dot="webovka RK" class="ng-binding">https://hace-reality.cz</a></li><!-- end ngIf: premise.www && premise.www_visible -->
					<li class="line more">
						<a ng-click="beforeOpen()" ng-href="/adresar/hace-reality-kostelec-nad-orlici/48242" class="ng-binding" href="/adresar/hace-reality-kostelec-nad-orlici/48242">Více o společnosti »</a>
					</li>
				</ul>
				<!-- ngIf: premise.url --><a ng-if="premise.url" ng-href="/adresar/hace-reality-kostelec-nad-orlici/48242" class="short-info ng-binding ng-scope" href="/adresar/hace-reality-kostelec-nad-orlici/48242">HáCé-Reality</a><!-- end ngIf: premise.url -->
			</div>
		</div><!-- end ngIf: premise -->
	</div>

	<!-- uz odpovezeno, bud davno nebo prave ted -->
	<!-- ngIf: sended && !sendingAgain -->

	<!-- odpovedni formular -->
	<!-- ngIf: !sended || sendingAgain --><form ng-if="!sended || sendingAgain" class="form send-form ng-scope ng-pristine ng-valid" name="contactform" ng-submit="submit()" novalidate="">
		<!-- ngIf: form.status -->
		<label>
			<span class="form-label label ng-binding">Váš email</span>
			<div class="input-wrapper">
				<input type="email" class="input ng-pristine ng-valid ng-valid-email" ng-class="{error: form.emailErr}" name="email" ng-model="form.email">
			</div>
		</label>
		<label>
			<span class="form-label label ng-binding">Jméno</span>
			<div class="input-wrapper">
				<input type="text" class="input ng-pristine ng-valid" ng-class="{error: form.nameErr}" name="name" ng-model="form.name">
			</div>
		</label>
		<label>
			<span class="form-label label ng-binding">Telefon</span>
			<div class="input-wrapper">
				<input type="tel" class="input ng-pristine ng-valid" ng-class="{error: form.phoneErr}" name="phone" ng-model="form.phone">
			</div>
		</label>
		<label>
			<span class="form-label label"></span>
			<div class="input-wrapper">
				<textarea ng-class="{error: form.messageErr}" class="textarea ng-pristine ng-valid" name="message" ng-model="form.message">				</textarea>
			</div>
		</label>
		<div>
			<span class="form-label label"></span>
			<div class="input-wrapper ng-binding">
				Zadané údaje zpracováváme dle těchto <a href="https://napoveda.seznam.cz/cz/sreality/souhlas-se-zpracovanim-osobnich-udaju-sreality/" target="_blank" class="ng-binding">podmínek</a>.
			</div>
		</div>
		<div>
			<div class="input-wrapper input-wrapper-center">
				<!-- ngIf: sending -->
				<button type="submit" ng-disabled="sending" ng-class="{'btn-disabled': sending}" class="btn-full ng-binding">Odpovědět</button>
			</div>
		</div>
	</form><!-- end ngIf: !sended || sendingAgain -->
</div>
</div>

			<!-- <div id="localityIndex" class="c-locality-index" ng-if="actualLang === 'cs'" data-nosnippet>				
				<preact data="advertId" component="locality-index"></preact>
			</div> -->

			<!--<div id="hypoteka" class="c-mortgage-calculator"
				 ng-if="actualLang === 'cs' && detailData.price && detailData.typeId === 1 && showHyponamiru" data-nosnippet>
				<h2 class="c-mortgage-calculator__header">Hypoteční kalkulačka</h2>
				<preact data="mortgageData" component="mortgage-calculator"></preact>
			</div>-->

			<div class="c-contact-buttons">
				<preact data="contactData" component="contact-buttons" class="ng-isolate-scope"><div class="sds-surface sds-surface--05 _332AuA3qL4XBj2btXtvXIs" tabindex="-1"><a class="sds-surface sds-surface--clickable sds-surface--03 sds-button sds-helpers-button sds-button--small T1TnDW99vniZJvEPeiSXZ _2qIcoVMHOUWJT8TTAM8qHa _1lpYutJ_422EWdEuUmMhIf" href="tel:+420732558908" rel="noreferrer noopener" role="button" data-dot="sticky-contact-phone"><span class="sds-typography sds-typography--body-small sds-button__text">Zavolat</span></a><button class="sds-surface sds-surface--clickable sds-surface--primary sds-button sds-helpers-button sds-button--small sds-button--primary T1TnDW99vniZJvEPeiSXZ _2qIcoVMHOUWJT8TTAM8qHa _1lpYutJ_422EWdEuUmMhIf" type="button" role="button" data-dot="sticky-contact-reply"><span class="sds-typography sds-typography--body-small sds-button__text">Napsat zprávu</span></button></div></preact>
			</div>

			<!-- ngIf: regions.local || regions.broader --><div class="regions-box ng-scope" ng-if="regions.local || regions.broader">
				<!-- ngIf: regions.local --><p class="regions-links ng-binding ng-scope" ng-if="regions.local">
					Podívejte se také na další reality v kategorii <a ng-href="/hledani/pronajem/byty?region=Jarom%C4%9B%C5%99&amp;region-typ=osmm" class="ng-binding" href="/hledani/pronajem/byty?region=Jarom%C4%9B%C5%99&amp;region-typ=osmm">Pronájem bytů Jaroměř</a>.
				</p><!-- end ngIf: regions.local -->

				<!-- ngIf: regions.broader --><p class="regions-links ng-binding ng-scope" ng-if="regions.broader">
					Pokud nemovitost hledáte v širším okolí, mohl by vás zajímat <a ng-href="/hledani/pronajem/byty/nachod" class="ng-binding" href="/hledani/pronajem/byty/nachod">Pronájem bytů Náchod</a>.
				</p><!-- end ngIf: regions.broader -->
			</div><!-- end ngIf: regions.local || regions.broader -->
			
			<div class="report-error-btn-wrap">
				<button class="btn report ng-binding" ng-click="showEntity('errorReport')">Nahlásit chybu</button>
			</div>

			<div class="dir-bottom ng-isolate-scope" detail-data="detailData">
	<div class="dir-bottom__content">
		<div class="dir-bottom__label">Reklama</div>

		<div class="dir-bottom__fixed">
			<div id="dir-bottom__wrap" class="dir-bottom__wrap"></div>
			
			<div class="dir-bottom__shadow--top"></div>
			<div class="dir-bottom__shadow--bottom"></div>
		</div>
	</div>

	<div class="dir-bottom__classic">
		<div id="dir-bottom" class="dir-bottom__classic-inner"></div>
	</div>
</div>

			<span class="btn-circle icof icon-up backToTop ng-isolate-scope" ng-click="goTop()" mover-top=""></span>
		</div>

		<!-- ngIf: showedEntity.errorReport -->

		<!-- ngIf: showedEntity.loanCalc -->
	</div><!-- end ngIf: resource -->
</div>
</div>
	</div><!-- end ngIf: !errorData.isError -->
			<preact lang-binding="true" page-binding="true" component="footer" class="ng-isolate-scope"><footer class="_2OgfM2_KYImX04ik8Lkirn"><div class="_3NJE8NRqA5KCr2VwHqJ27e _2T2w9H_NOdtDLYIWERsogd"><button class="_1YEfiKqdGLWGRcAex4sqFW _1YgDqeht_fr9KKfFyp_SvQ"><img src="/img/flag-cs.png" alt="" class="_1HYol4SyXrKoN9ojGTb77o"><span class="TveYpFLjcNtBC6Qqvaw4n">Česky</span><span class="icon icof icon-down-full mGdHyJz0gQqm4qCQo6bWR"></span></button></div><div class="_3R7u-oIynrH_h3EsXVuYO-"><div class="_2nosKgOxexEj-xT_5nH4PP"><div class="btqelYH9tgNY9yJn1Xnn1"><button type="button" class="_2ZZbAPXBrQCM5JHy7gu2f1 _28eKaNHVUNjmjaO96sSQXh"><span class="_28eKaNHVUNjmjaO96sSQXh _2iVzlK9Zg3MpMEOkrQqaoL">Co říkáte na Sreality.cz?</span></button><a href="https://vyzkumnik.seznam.cz/" class="_2ZZbAPXBrQCM5JHy7gu2f1 _28eKaNHVUNjmjaO96sSQXh"><span class="_28eKaNHVUNjmjaO96sSQXh _2iVzlK9Zg3MpMEOkrQqaoL">Výzkumník</span></a><a href="https://napoveda.seznam.cz/cz/sreality/o-sluzbe-sreality.cz" class="_2ZZbAPXBrQCM5JHy7gu2f1 _28eKaNHVUNjmjaO96sSQXh"><span class="_28eKaNHVUNjmjaO96sSQXh _2iVzlK9Zg3MpMEOkrQqaoL">Pro spotřebitele</span></a><a href="https://www.seznam.cz/ochranaudaju" class="_2ZZbAPXBrQCM5JHy7gu2f1 _28eKaNHVUNjmjaO96sSQXh"><span class="_28eKaNHVUNjmjaO96sSQXh _2iVzlK9Zg3MpMEOkrQqaoL">Ochrana údajů</span></a><a href="https://napoveda.seznam.cz/cz/sreality/pravidla-sreality/smluvni-podminky-sluzby-sreality.cz" class="_2ZZbAPXBrQCM5JHy7gu2f1 _28eKaNHVUNjmjaO96sSQXh"><span class="_28eKaNHVUNjmjaO96sSQXh _2iVzlK9Zg3MpMEOkrQqaoL">Smluvní podmínky</span></a><a href="https://www.seznam.cz/reklama/cz/obsahovy-web/sluzba-sreality" class="_2ZZbAPXBrQCM5JHy7gu2f1 _28eKaNHVUNjmjaO96sSQXh"><span class="_28eKaNHVUNjmjaO96sSQXh _2iVzlK9Zg3MpMEOkrQqaoL">Reklama</span></a><a class="_2ZZbAPXBrQCM5JHy7gu2f1 _28eKaNHVUNjmjaO96sSQXh _1mHL-lXlevZ4SCKncZk2gk" href="/realitni-software"><span class="_28eKaNHVUNjmjaO96sSQXh _1mHL-lXlevZ4SCKncZk2gk _2iVzlK9Zg3MpMEOkrQqaoL">Realitní software</span></a><a href="http://sreality.seznamblog.cz/" class="_2ZZbAPXBrQCM5JHy7gu2f1 _28eKaNHVUNjmjaO96sSQXh _1mHL-lXlevZ4SCKncZk2gk"><span class="_28eKaNHVUNjmjaO96sSQXh _1mHL-lXlevZ4SCKncZk2gk _2iVzlK9Zg3MpMEOkrQqaoL">Blog</span></a><a href="https://napoveda.seznam.cz/cz/sreality/" class="_2ZZbAPXBrQCM5JHy7gu2f1 _28eKaNHVUNjmjaO96sSQXh _1mHL-lXlevZ4SCKncZk2gk"><span class="_28eKaNHVUNjmjaO96sSQXh _1mHL-lXlevZ4SCKncZk2gk _2iVzlK9Zg3MpMEOkrQqaoL">Nápověda</span></a><a href="mailto:info@sreality.cz?subject=Dotaz ze sluzby sreality.cz" class="_2ZZbAPXBrQCM5JHy7gu2f1 _28eKaNHVUNjmjaO96sSQXh _1mHL-lXlevZ4SCKncZk2gk"><span class="_28eKaNHVUNjmjaO96sSQXh _1mHL-lXlevZ4SCKncZk2gk _2iVzlK9Zg3MpMEOkrQqaoL">Technická podpora</span></a><a href="https://napoveda.seznam.cz/cz/sreality/kontakty-sreality-cz/" class="_2ZZbAPXBrQCM5JHy7gu2f1 _28eKaNHVUNjmjaO96sSQXh"><span class="_28eKaNHVUNjmjaO96sSQXh _2iVzlK9Zg3MpMEOkrQqaoL">Kontakty</span></a><a href="https://napoveda.seznam.cz/cz/stiznosti-sreality/" class="_2ZZbAPXBrQCM5JHy7gu2f1 _28eKaNHVUNjmjaO96sSQXh"><span class="_28eKaNHVUNjmjaO96sSQXh _2iVzlK9Zg3MpMEOkrQqaoL">Stížnosti</span></a><button type="button" class="_2ZZbAPXBrQCM5JHy7gu2f1 _28eKaNHVUNjmjaO96sSQXh"><span class="_28eKaNHVUNjmjaO96sSQXh _2iVzlK9Zg3MpMEOkrQqaoL">Nastavení personalizace</span></button></div><p class="_2XPH-LYlsL14qYMleJLjFJ _2-aaSan9BAM3Qg3EE_v_6h _2iVzlK9Zg3MpMEOkrQqaoL _1mRLNMhwLQGArIldAHOamF">Sreality.cz pomáhají najít vhodnou nemovitost díky aktuální nabídce realit v ČR i zahraničí. Jakékoliv užití obsahu internetového serveru www.sreality.cz, včetně převzetí, šíření či dalšího zpřístupňování inzerátů a fotografií je bez souhlasu Seznam.cz, a.s., zakázáno.</p><p class="_2XPH-LYlsL14qYMleJLjFJ _2iVzlK9Zg3MpMEOkrQqaoL _1mRLNMhwLQGArIldAHOamF">Copyright © 1996–2022 Seznam.cz, a.s.</p></div></div></footer></preact>
		</div>
	</div>
</div>
<div id="map-layout" ng-show="pageLayout.map.show" class="map-small" ng-style="layoutTop" style="margin-top: 0px;">
	<div map-info="" class="ng-isolate-scope"><!-- ngIf: infoHtml --></div>
	<div id="poi-filter" class="c-poi-filter" style="margin-bottom: 0px;">
    <button ng-class="{
            'c-poi-filter__opener': true,
            'c-poi-filter__opener--open': open
        }" ng-click="toggle()" data-dot-data="{ &quot;category&quot;: &quot;Občanská vybavenost&quot;, &quot;action&quot;: &quot;klik na tlačítko&quot; }" class="c-poi-filter__opener"><svg class="c-poi-filter__icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path fill-rule="evenodd" d="M20 17.382l-4-2V6.618l4 2v8.764zM10 8.618l4-2v8.764l-4 2V8.618zm-6-2l4 2v8.764l-4-2V6.618zm17.447.488l-6-3c-.024-.012-.051-.017-.076-.027a1.019 1.019 0 0 0-.128-.044 1.029 1.029 0 0 0-.111-.02 1.01 1.01 0 0 0-.135-.01c-.041 0-.081.005-.122.01a1.291 1.291 0 0 0-.122.02c-.042.01-.082.028-.122.043-.027.01-.053.015-.078.028L9 6.882 3.447 4.106A.998.998 0 0 0 2 5v11c0 .379.214.725.553.895l6 3c.014.008.031.004.047.01A.986.986 0 0 0 9 20a.986.986 0 0 0 .4-.095c.016-.006.033-.002.047-.01L15 17.118l5.553 2.777a1.005 1.005 0 0 0 .972-.044c.295-.183.475-.504.475-.851V8a1 1 0 0 0-.553-.894z"></path></svg>
    <span class="c-poi-filter__text ng-binding">Občanská vybavenost</span></button>

    <!-- ngIf: open -->
</div>
	<div map="" id="s-map" class="s-map smap"><div style="position: absolute; width: 0px; height: 0px; margin: 0px; padding: 0px; left: 102px; top: 304.5px;"><div><div id="1-0-0.7223069907084563"><div style="transform: translateZ(0px);"><img alt="" style="position: absolute; opacity: 1; transition: opacity 600ms ease 0s; left: -698.068px; top: -198.479px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/6-32-21" srcset="https://mapserver.mapy.cz/base-m/6-32-21, https://mapserver.mapy.cz/base-m/retina/6-32-21 2x"><img alt="" style="position: absolute; opacity: 1; transition: opacity 600ms ease 0s; left: -442.068px; top: -198.479px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/6-33-21" srcset="https://mapserver.mapy.cz/base-m/6-33-21, https://mapserver.mapy.cz/base-m/retina/6-33-21 2x"><img alt="" style="position: absolute; opacity: 1; transition: opacity 600ms ease 0s; left: -186.068px; top: -198.479px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/6-34-21" srcset="https://mapserver.mapy.cz/base-m/6-34-21, https://mapserver.mapy.cz/base-m/retina/6-34-21 2x"><img alt="" style="position: absolute; opacity: 1; transition: opacity 600ms ease 0s; left: 69.9321px; top: -198.479px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/6-35-21" srcset="https://mapserver.mapy.cz/base-m/6-35-21, https://mapserver.mapy.cz/base-m/retina/6-35-21 2x"><img alt="" style="position: absolute; opacity: 1; transition: opacity 600ms ease 0s; left: 325.932px; top: -198.479px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/6-36-21" srcset="https://mapserver.mapy.cz/base-m/6-36-21, https://mapserver.mapy.cz/base-m/retina/6-36-21 2x"><img alt="" style="position: absolute; opacity: 1; transition: opacity 600ms ease 0s; left: 581.932px; top: -198.479px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/6-37-21" srcset="https://mapserver.mapy.cz/base-m/6-37-21, https://mapserver.mapy.cz/base-m/retina/6-37-21 2x"></div><div style="transform: translateZ(0px);"><img alt="" style="position: absolute; opacity: 0; transition: opacity 600ms ease 0s; left: -159.092px; top: -493.563px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/16-35666-22123" srcset="https://mapserver.mapy.cz/base-m/16-35666-22123, https://mapserver.mapy.cz/base-m/retina/16-35666-22123 2x"><img alt="" style="position: absolute; opacity: 0; transition: opacity 600ms ease 0s; left: -159.092px; top: -237.563px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/16-35666-22124" srcset="https://mapserver.mapy.cz/base-m/16-35666-22124, https://mapserver.mapy.cz/base-m/retina/16-35666-22124 2x"><img alt="" style="position: absolute; opacity: 0; transition: opacity 600ms ease 0s; left: -159.092px; top: 18.4368px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/16-35666-22125" srcset="https://mapserver.mapy.cz/base-m/16-35666-22125, https://mapserver.mapy.cz/base-m/retina/16-35666-22125 2x"><img alt="" style="position: absolute; opacity: 0; transition: opacity 600ms ease 0s; left: -159.092px; top: 274.437px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/16-35666-22126" srcset="https://mapserver.mapy.cz/base-m/16-35666-22126, https://mapserver.mapy.cz/base-m/retina/16-35666-22126 2x"><img alt="" style="position: absolute; opacity: 0; transition: opacity 600ms ease 0s; left: 96.9082px; top: -493.563px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/16-35667-22123" srcset="https://mapserver.mapy.cz/base-m/16-35667-22123, https://mapserver.mapy.cz/base-m/retina/16-35667-22123 2x"><img alt="" style="position: absolute; opacity: 0; transition: opacity 600ms ease 0s; left: 96.9082px; top: -237.563px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/16-35667-22124" srcset="https://mapserver.mapy.cz/base-m/16-35667-22124, https://mapserver.mapy.cz/base-m/retina/16-35667-22124 2x"><img alt="" style="position: absolute; opacity: 0; transition: opacity 600ms ease 0s; left: 96.9082px; top: 18.4368px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/16-35667-22125" srcset="https://mapserver.mapy.cz/base-m/16-35667-22125, https://mapserver.mapy.cz/base-m/retina/16-35667-22125 2x"><img alt="" style="position: absolute; opacity: 0; transition: opacity 600ms ease 0s; left: 96.9082px; top: 274.437px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/16-35667-22126" srcset="https://mapserver.mapy.cz/base-m/16-35667-22126, https://mapserver.mapy.cz/base-m/retina/16-35667-22126 2x"></div></div><div id="3-0-0.5837192123291772"></div><div id="4-0-0.9719604144400196"></div><div id="2-0-0.6652248836778791"></div></div><div><div id="0.5133542800127671-1"></div><div id="0.7632214921858156-1"></div><div id="0.724320076027102-1"></div></div><svg xmlns:xlink="http://www.w3.org/1999/xlink" width="204" height="609" style="position: absolute; left: -102px; top: -304.5px;"><g><g id="0.3325276473369485-2" style="transform: scale(1);"><polyline fill="none" stroke="white" stroke-linejoin="round" stroke-linecap="round" points="186.41445771604776 286.53840335831046, 182.6668516304344 287.6085224878043, 179.7740642130375 288.42651541903615, 176.88046443648636 289.3101950008422, 173.85585672408342 290.1922450400889, 170.63473648950458 291.07185006700456, 160.78463226743042 292.92002289555967, 156.65214612707496 293.3284312747419, 152.78330595046282 293.60873776488006, 149.04466245509684 293.9563637105748, 145.5033466629684 294.24075534567237, 142.02753604575992 294.5259658591822, 138.68273521214724 294.8128102635965, 135.46975705586374 295.0356038529426, 132.32228389941156 295.25921550765634, 129.24031573534012 295.48364504240453, 126.15753520652652 295.77376162447035, 123.14107245393097 295.9990115426481, 120.12461007386446 296.2242640797049, 117.04264346137643 296.44870443828404, 113.96067722328007 296.6731475330889, 110.81320676766336 296.89677868410945, 107.66573669202626 297.1204126914963, 102.94290768913925 297.58723762631416, 99.53260812722147 297.87330517172813, 95.9912999458611 298.15774726495147, 92.31898317299783 298.4405643083155, 89.17151554115117 298.66421507298946, 85.62939695082605 299.0143519937992, 81.82444890961051 299.4269202463329, 78.28233177401125 299.77706463169307, 75.06773805059493 300.1312826052308, 71.8531449586153 300.4855035338551, 68.31021817214787 300.90134228393435, 64.56834389455616 301.51179589889944, 61.61333658359945 302.06633410416543, 58.39550071582198 302.68330421485007, 55.109727282077074 303.4965161886066, 52.08516192808747 304.37866953387856, 48.466190334409475 305.64760877005756, 45.173121090978384 307.05198676511645, 42.01025214418769 308.5236782003194, 38.84576368518174 310.1267400868237, 35.54864739254117 311.8595457524061, 31.98870617337525 313.65478501841426, 29.088676761835814 315.06405433267355, 25.920145943760872 316.9955449225381, 23.141400763764977 319.19465107657015, 20.428163258358836 321.39457106404006, 17.58554228581488 323.4614983536303" stroke-opacity="0.6" stroke-width="9" stroke-dasharray=""><title></title></polyline><polyline fill="none" stroke="#00f" stroke-linejoin="round" stroke-linecap="round" points="186.41445771604776 286.53840335831046, 182.6668516304344 287.6085224878043, 179.7740642130375 288.42651541903615, 176.88046443648636 289.3101950008422, 173.85585672408342 290.1922450400889, 170.63473648950458 291.07185006700456, 160.78463226743042 292.92002289555967, 156.65214612707496 293.3284312747419, 152.78330595046282 293.60873776488006, 149.04466245509684 293.9563637105748, 145.5033466629684 294.24075534567237, 142.02753604575992 294.5259658591822, 138.68273521214724 294.8128102635965, 135.46975705586374 295.0356038529426, 132.32228389941156 295.25921550765634, 129.24031573534012 295.48364504240453, 126.15753520652652 295.77376162447035, 123.14107245393097 295.9990115426481, 120.12461007386446 296.2242640797049, 117.04264346137643 296.44870443828404, 113.96067722328007 296.6731475330889, 110.81320676766336 296.89677868410945, 107.66573669202626 297.1204126914963, 102.94290768913925 297.58723762631416, 99.53260812722147 297.87330517172813, 95.9912999458611 298.15774726495147, 92.31898317299783 298.4405643083155, 89.17151554115117 298.66421507298946, 85.62939695082605 299.0143519937992, 81.82444890961051 299.4269202463329, 78.28233177401125 299.77706463169307, 75.06773805059493 300.1312826052308, 71.8531449586153 300.4855035338551, 68.31021817214787 300.90134228393435, 64.56834389455616 301.51179589889944, 61.61333658359945 302.06633410416543, 58.39550071582198 302.68330421485007, 55.109727282077074 303.4965161886066, 52.08516192808747 304.37866953387856, 48.466190334409475 305.64760877005756, 45.173121090978384 307.05198676511645, 42.01025214418769 308.5236782003194, 38.84576368518174 310.1267400868237, 35.54864739254117 311.8595457524061, 31.98870617337525 313.65478501841426, 29.088676761835814 315.06405433267355, 25.920145943760872 316.9955449225381, 23.141400763764977 319.19465107657015, 20.428163258358836 321.39457106404006, 17.58554228581488 323.4614983536303" stroke-opacity="0.65" stroke-width="3" stroke-dasharray="9 12"><title></title></polyline></g></g></svg><div><div id="0.5133542800127671-3" style="transform: none;"></div><div id="0.7632214921858156-3" style="transform: none;"></div><div id="0.724320076027102-3" style="transform: none;"></div></div><div><div id="0.5133542800127671-4"></div><div id="0.7632214921858156-4"></div><div id="0.724320076027102-4"></div></div></div><div class="hud"><div class="noprint"><div class="copyright print" title=" Seznam.cz, a.s., 2022 |  OpenStreetMap" style="position: absolute; inset: auto auto 3px 5px; margin-bottom: 0px;">© <a href="https://o.seznam.cz" target="_blank" rel="noopener">Seznam.cz, a.s.</a>, 2022 a <a href="#" data-others="1">další</a></div><a class="print" target="_blank" href="https://mapy.cz/?x=15.922603&amp;y=50.356228&amp;z=16" style="position: absolute; inset: auto 0px 0px auto;"><img src="https://api.mapy.cz/img/api/logo.svg" alt="Zobrazit na Mapy.cz" style="margin-bottom: 0px;"></a><div class="selection" style="border-width: 2px; visibility: hidden; position: absolute;"></div><div class="zoom" style="position: absolute; inset: 1rem 1rem auto auto; margin-top: 0px;"><div class="button-group"><button class="minus" type="button" aria-label="Oddálit" title="Oddálit">-</button><button class="plus" type="button" aria-label="Přiblížit" title="Přiblížit">+</button></div></div><div class="layer-switch" style="position: absolute; inset: 1rem auto auto 1rem; margin-top: 0px;"><button type="button"><span>Změnit mapu</span></button><div class="window" style="display: none;"><div class="port" style="position: relative; overflow: hidden; width: 195px;"><div style="position: relative; width: 195px; left: 0px;"><div class="item active" style="width: 65px; overflow: hidden;"><div><img src="https://api.mapy.cz/img/api/preview-zakladni.png" alt="Obecná" title="Obecná"><div class="border"></div></div><p>Obecná</p></div><div class="item" style="width: 65px; overflow: hidden;"><div><img src="https://api.mapy.cz/img/api/preview-letecka.png" alt="Letecká" title="Letecká"><div class="border"></div></div><p>Letecká</p></div><div class="item" style="width: 65px; overflow: hidden;"><div><img src="https://api.mapy.cz/img/api/preview-turisticka.png" alt="Turistická" title="Turistická"><div class="border"></div></div><p>Turistická</p></div></div></div><div class="left"><div class="arrow" style="display: none;"></div></div><div class="right"><div class="arrow" style="display: none;"></div></div></div></div></div></div></div>

	<div class="map-opener">
		<!-- ngIf: pageLayout.map.show --><button class="nipple ng-scope" ng-if="pageLayout.map.show" ng-click="toggleMap(1)" ng-class="{bigmap: pageLayout.map.big}" data-dot-data="{&quot;action&quot;:&quot;zvetseni_mapy&quot;}">
			<span class="icof"></span>
			<span class="text ng-binding">Zvětšit mapu</span>
		</button><!-- end ngIf: pageLayout.map.show -->
	</div>
	<div class="map-shade"></div>
</div>
<!-- ngInclude: respData.template --><div class="submap-title submap-detail" ng-class="{bigmap: pageLayout.map.big}" ng-click="toggleMap(1)" ng-include="respData.template"><div class="first-line ng-binding ng-scope">Pronájem bytu 1+1&nbsp;55&nbsp;m²</div>
<div class="second-line ng-binding ng-scope">Havlíčkova, Jaroměř - Jakubské Předměstí</div></div></div>


<div class="adform-adbox
								advert-square
								article-adtip-box
								bazar-box
								bx-leaderboard
								etarget
								hp-advert
								ic0.vendor-list
								illustrated.illV.article.columns.col2
								jobscz
								popisreklama
								promo-in-article
								reklama-3
								reklama-abmix
								reklama-bottom
								reklama-box
								reklama-left
								reklama-lista
								reklama-megaboard
								reklama-right
								reklama-top
								reklamaBottom
								reklamaHorniLista
								reklamaOdkazyVeVetachDole
								reklama_ahead
								reklama_box_standard
								reklama_square
								reklama_title_flat
								reklamni-up-1
								reklamni-up-2
								sklik
								sklik-block
								sklik-box
								sklik_left
								sklik_right
								spored-links
								topreklama
								velke_zlavy
								vreklama
								zlavy-box
								pub_300x250
								pub_300x250m
								pub_728x90
								safeframe
								text-ad
								textAd
								text_ad
								text_ads
								text-ads
								text-ad-links" style="width: 1px !important; height: 1px !important; position: absolute !important; right: -1000px !important; top: -1000px !important;"></div><img src="/ad_ads_advert_advertisement_adform_pub_300x250.png" style="width: 1px !important; height: 1px !important; position: absolute !important; right: -1000px !important; top: -1000px !important;"><iframe id="gemius_hcconn_1641951615319_62692123" name="lsgetframe" width="0" height="0" scrolling="no" sandbox="allow-scripts allow-same-origin" style="display: none; visibility: hidden;" src="https://ls.hit.gemius.pl/lsget.html"></iframe><iframe id="gemius_hcconn_1641951615392_81828561" name="lssetframe" width="0" height="0" scrolling="no" sandbox="allow-scripts allow-same-origin" style="display: none; visibility: hidden;" src="https://ls.hit.gemius.pl/lsset.html"></iframe><iframe src="https://h.seznam.cz/html/cmp.html?v=2.177.5" frameborder="0" style="display: none;"></iframe></body></html>