<html lang="cs" ng-app="sreality" ng-controller="MainCtrl" class="ng-scope"><head><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide{display:none !important;}ng\:form{display:block;}.ng-animate-block-transitions{transition:0s all!important;-webkit-transition:0s all!important;}.ng-hide-add-active,.ng-hide-remove{display:block!important;}</style>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,minimal-ui">

	<!--- Nastaveni meta pres JS a ne pres Angular, aby byla nastavena default hodnota pro agenty co nezvladaji PhantomJS --->
	<title ng:bind-template="Pronájem  pokoje 55&nbsp;m², Spolková, Brno - Zábrdovice • Sreality.cz" class="ng-binding">Pronájem  pokoje 55&nbsp;m², Spolková, Brno - Zábrdovice • Sreality.cz</title>
	<meta name="description" content="Byt pokoj 55 m² k pronájmu Spolková, Brno - Zábrdovice; 4&nbsp;795 Kč za měsíc, výtah, cihlová stavba, osobní vlastnictví, v dobrém stavu.">
	<meta property="og:title" content="Pronájem  pokoje 55&nbsp;m², Spolková, Brno - Zábrdovice">
	<meta property="og:type" content="website">
	<meta property="og:image" content="https://d18-a.sdn.cz/d_18/c_img_QN_Jl/N1bwAZ.jpeg?fl=res,1920,1080,1|wrm,/watermark/sreality.png,10|shr,,20|jpg,90">
	<meta property="og:description" content="Byt pokoj 55 m² k pronájmu Spolková, Brno - Zábrdovice; 4&nbsp;795 Kč za měsíc, výtah, cihlová stavba, osobní vlastnictví, v dobrém stavu.">
	<meta property="og:url" content="https://www.sreality.cz/detail/pronajem/byt/pokoj/brno-zabrdovice-spolkova/1438918748">

	<!-- ngIf: metaStatus.value --><meta ng-if="metaStatus.value" name="szn:status" content="200" class="ng-scope"><!-- end ngIf: metaStatus.value -->

	<meta http-equiv="imagetoolbar" content="no">

	<link rel="icon" sizes="16x16 32x32 48x48 64x64" href="/img/icons/favicon.ico">
	<link rel="apple-touch-icon" sizes="57x57" href="/img/icons/apple-touch-icon-57x57.png?3">
	<link rel="apple-touch-icon" sizes="60x60" href="/img/icons/apple-touch-icon-60x60.png?3">
	<link rel="apple-touch-icon" sizes="72x72" href="/img/icons/apple-touch-icon-72x72.png?3">
	<link rel="apple-touch-icon" sizes="76x76" href="/img/icons/apple-touch-icon-76x76.png?3">
	<link rel="apple-touch-icon" sizes="114x114" href="/img/icons/apple-touch-icon-114x114.png?3">
	<link rel="apple-touch-icon" sizes="120x120" href="/img/icons/apple-touch-icon-120x120.png?3">
	<link rel="apple-touch-icon" sizes="144x144" href="/img/icons/apple-touch-icon-144x144.png?3">
	<link rel="apple-touch-icon" sizes="152x152" href="/img/icons/apple-touch-icon-152x152.png?3">
	<link rel="apple-touch-icon" sizes="180x180" href="/img/icons/apple-touch-icon-180x180.png?3">
	<link rel="icon" type="image/png" sizes="192x192" href="/img/icons/android-chrome-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/img/icons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/img/icons/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/img/icons/favicon-16x16.png">
	<link rel="manifest" href="/img/icons/android-chrome-manifest.json">
	<meta name="msapplication-TileColor" content="#2b5797">
	<meta name="msapplication-TileImage" content="/img/icons/ms-icon-144x144.png">
	<meta name="msapplication-config" content="/img/icons/browserconfig.xml">

	<!-- ngIf: rss.url -->
	<!-- ngRepeat: lang in metaSeo.languages -->

	<link rel="stylesheet" href="/css/all.css?f2c3377">

	<!--[if lte IE 8]>
		<script>
			document.createElement('popover');
			document.createElement('mortgage');
			document.createElement('hp-signpost');
			document.createElement('category-switcher');
			document.createElement('feedback');
			document.createElement('bottom');
			document.createElement('graph');
			document.createElement('panorama');
			document.createElement('panorama-prev');
			document.createElement('sphere-viewer');
			document.createElement('sphere-viewer-prev');
			document.createElement('save-filter');
		</script>
    <![endif]-->

	<!-- Statistiky -->
	<script id="gemius_hcconn_1641930823861_32658805" defer="defer" async="async" type="text/javascript" src="https://gacz.hit.gemius.pl/_1641930823861/rexdot.js?l=106&amp;id=ByLlP2uZJXREzOJ3CvKB7sd.XhZYAYdGPQEZEoRpgR7.M7&amp;et=view&amp;hsrc=2&amp;initsonar=1&amp;extra=sreality.cz%2FDetail%2FPronajem_D%2FByty_pronajem_D&amp;eventid=0&amp;fr=1&amp;tz=-60&amp;fv=-&amp;href=https%3A%2F%2Fwww.sreality.cz%2Fdetail%2Fpronajem%2Fbyt%2Fpokoj%2Fbrno-zabrdovice-spolkova%2F1438918748&amp;ref=&amp;screen=1280x800r2000&amp;col=24&amp;window=1200x609&amp;ltime=61&amp;lsdata=-SETERR&amp;fpdata=3OK8TC_4hvqgYUCclHMMk0sm1PwZGoHwcCm_kCCK4dn.S7&amp;vis=1&amp;fpcap="></script><script async="async" defer="defer" src="https://gacz.hit.gemius.pl/xgemius.js"></script><script src="https://h.seznam.cz/js/dot-small.js" type="text/javascript"></script>
	<script type="text/javascript">
		if (window.DOT) {
			var dotCfg = {
				service: 'sreality',
				lazyLoadingEnabled: true
			};
			/*if (window.SrealityNew && window.SrealityNew.abTestHelper) {
				dotCfg.abtest = window.SrealityNew.abTestHelper.getVariant();
			}*/
			DOT.cfg(dotCfg);
		}
	</script>

	<!-- SSP Reklama -->
	<script src="https://ssp.seznam.cz/static/js/ssp.js" type="text/javascript"></script>
	<!-- Sklik retargeting -->
	<script type="text/javascript" src="https://www.seznam.cz/rs/static/rc.js"></script>
	
	<script src="https://1.im.cz/software/promo/promo-sbrowser.js"></script>

	<!-- Seznam player-->
	<script src="//d53-a.sdn.cz/d_53/10/loader.min.js"></script>

	<!-- Seznam geo lokace -->
	<script src="https://geo.seznam.cz/static/js/geo.js"></script>

	<!-- Nastaveni personalizace (Consent Management Platform) -->
	<script src="https://h.imedia.cz/js/cmp2/scmp.js?auto_open=false"></script>

	<!-- Fetch polyfill	-->
	<script nomodule="" src="/js/fetch.umd.js"></script>

	<!-- KONFIGURACE -->
	<script src="/js/conf/config.js?f2c3377"></script>

	<script src="/js/maps.js?1"></script>
	<script src="/js/new-src.js?f2c3377"></script>
	<script src="/js/all.js?f2c3377"></script>

	<noscript>
		<meta http-equiv="refresh" content="0;url=?_escaped_fragment_="/>
	</noscript>
	<!-- ngIf: metaSeo.showMetaFragment --><meta name="fragment" content="!" ng-if="metaSeo.showMetaFragment" class="ng-scope"><!-- end ngIf: metaSeo.showMetaFragment -->

<style>.szn-suggest-list--dark{--color-box-background:#333;--color-box-border:#555;--color-element-background:#555;--color-text:#f0f0f0;--color-text-metadata:#999;--color-bakground-metadata:#fff;--color-button:#f0f0f0;--color-miniapp-label:#999;--color-label:#999}.szn-suggest-list--light{--color-box-background:#fff;--color-box-border:#eee;--color-element-background:#eee;--color-text:#111;--color-text-metadata:#999;--color-bakground-metadata:#fff;--color-button:#111;--color-miniapp-label:#999;--color-label:#999}.szn-suggest-list{font-family:Arial CE,Arial,Helvetica CE,Helvetica,sans-serif}.szn-suggest-list,.szn-suggest-list--overlay-off{position:relative;z-index:401}.szn-suggest-list__overlay{background-color:#000;bottom:0;left:0;min-height:100%;min-width:100%;position:absolute;right:0;top:0;z-index:400}.szn-suggest-list__list{list-style:none;margin:0;padding:0}.szn-suggest-list__list--boxed{background-color:#fff;border:1px solid #eee;border-radius:4px;box-shadow:0 2px 4px rgba(0,0,0,.2);overflow:hidden}.szn-suggest-list__item{margin:0;padding:10px 12px}.szn-suggest-list__item--indented{padding-left:56px}.szn-suggest-list__item--text{cursor:pointer;padding-bottom:4px;padding-top:4px}.szn-suggest-list__item--text:first-child{margin-top:8px}.szn-suggest-list__item--text:last-child{margin-bottom:8px}.szn-suggest-list__item--text.szn-suggest-list__item--selected{background-color:#eee}.szn-suggest-list__text{display:flex;flex-flow:row nowrap;justify-content:flex-start}@supports (display:-webkit-box){.szn-suggest-list__text{align-items:center;height:36px;overflow:hidden}}.szn-suggest-list__text-value{color:#111;display:inline-block;flex-shrink:0;font-size:16px;font-weight:700;line-height:36px;margin:0;max-width:calc(100% - 50px);overflow:hidden;white-space:nowrap}.szn-suggest-list__text-value--short{max-width:calc(100% - 82px);text-overflow:ellipsis}@supports (display:-webkit-box){.szn-suggest-list__text-value{-webkit-line-clamp:2;-webkit-box-orient:vertical;display:-webkit-box;line-height:18px;text-overflow:ellipsis;white-space:normal}}.szn-suggest-list__text-value--emphasized{font-weight:400}.szn-suggest-list__text-metadata--text{color:#999;display:inline-block;font-size:14px;line-height:36px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.szn-suggest-list__text-metadata--image{background-position:50%;background-repeat:no-repeat;background-size:cover;border-radius:8px;display:inline-block;flex-shrink:0;height:32px;overflow:hidden;width:32px}.szn-suggest-list__text-metadata--image--dark{opacity:.9}.szn-suggest-list__text-metadata--leading{display:inline-block;flex-shrink:0;height:32px;margin-right:12px;overflow:hidden;width:32px}.szn-suggest-list__text-metadata-container{display:flex;flex-grow:1;flex-wrap:wrap;height:36px;justify-content:space-between;overflow:hidden;white-space:nowrap}.szn-suggest-list__text-metadata-container--prioritize-aside-meta-data{flex-direction:row-reverse}.szn-suggest-list__text-metadata--trailing{flex:0 0 auto;margin-left:8px;max-width:calc(100% - 8px)}.szn-suggest-list__text-button+.szn-suggest-list__text-metadata--trailing{max-width:calc(100% - 40px)}.szn-suggest-list__text-metadata--text.szn-suggest-list__text-metadata--trailing:before{content:"– "}.szn-suggest-list__text-metadata--aside{flex:0 0 auto;margin-left:8px;text-align:right}.szn-suggest-list__text-button{align-items:center;background:none;border:none;border-radius:50%;cursor:pointer;display:flex;justify-content:center;margin:auto 4px;min-height:32px;min-width:32px;opacity:.4}.szn-suggest-list__text-button svg{fill:#111}.szn-suggest-list__text-button:hover{opacity:1}.szn-suggest-list__text-button-icon{height:12px;width:12px}.szn-suggest-list__miniapp-label{color:#999;display:block;font-size:14px;line-height:20px;margin:0 0 8px}.szn-suggest-list__miniapp-value{color:#111;display:block;font-size:16px;font-weight:700;line-height:20px;margin:0}.szn-suggest-list__item--miniapp{border-bottom:1px solid #eee;border-top:1px solid #eee}.szn-suggest-list__item--miniapp:first-child{border-top:none}.szn-suggest-list__item--miniapp:last-child{border-bottom:none}.szn-suggest-list__item--miniapp+.szn-suggest-list__item--miniapp{border-top:none}.szn-suggest-list__item--label{padding-bottom:4px;padding-top:4px}.szn-suggest-list__item--label:first-child{margin-top:8px}.szn-suggest-list__item--label:last-child{margin-bottom:8px}.szn-suggest-list__label-value{color:#999;display:block;font-size:14px;line-height:20px;margin:0;white-space:nowrap}.szn-suggest-list__tiled-list{margin-bottom:8px;overflow-x:auto}.szn-suggest-list__tiled-list ul{display:inline-flex;list-style:none;margin:0 6px 0 8px;overflow-x:auto;padding:0}.szn-suggest-list__tiled-item{box-sizing:border-box;cursor:pointer;display:inline-block;position:relative;width:120px}.szn-suggest-list__tiled-text-value{color:#111;display:inline-block;flex-shrink:0;font-size:16px;font-weight:700;line-height:36px;margin-top:8px;max-width:100%;overflow:hidden;text-align:center;white-space:nowrap}.szn-suggest-list__tiled-text-value--emphasized{font-weight:400}@supports (display:-webkit-box){.szn-suggest-list__tiled-text-value{-webkit-line-clamp:2;-webkit-box-orient:vertical;display:-webkit-box;line-height:18px;text-overflow:ellipsis;white-space:normal}}.szn-suggest-list__tiled-item.szn-suggest-list__item--selected{background-color:#eee;border-radius:4px}.szn-suggest-list__tiled-text-metadata{background-color:#fff;border-radius:8px;flex-shrink:0;height:80px;margin:0 8px;opacity:.9;overflow:hidden;width:80px}.szn-suggest-list__tiled-text-metadata--image{background-position:50%;background-repeat:no-repeat;background-size:contain;display:block;height:80px;mix-blend-mode:multiply;width:80px}@supports (display:var(--prop)){.szn-suggest-list__list--boxed{background-color:var(--color-box-background);border:1px solid var(--color-box-border)}.szn-suggest-list__item--text.szn-suggest-list__item--selected{background-color:var(--color-element-background)}.szn-suggest-list__text-value{color:var(--color-text)}.szn-suggest-list__text-metadata--text{color:var(--color-text-metadata)}.szn-suggest-list__text-button svg{fill:var(--color-button)}.szn-suggest-list__miniapp-label{color:var(--color-miniapp-label)}.szn-suggest-list__miniapp-value{color:var(--color-text)}.szn-suggest-list__item--miniapp{border-bottom:1px solid var(--color-box-border);border-top:1px solid var(--color-box-border)}.szn-suggest-list__label-value{color:var(--color-label)}.szn-suggest-list__tiled-text-value{color:var(--color-text)}.szn-suggest-list__tiled-item.szn-suggest-list__item--selected{background-color:var(--color-element-background)}.szn-suggest-list__tiled-text-metadata{background-color:var(--color-bakground-metadata)}}.szn-mobile-input-with-suggest-list--dark{--color-input-background:#333;--color-input-shadow:#111;--color-text:#f0f0f0;--color-text-placeholder:#999;--color-box-background:#333;--color-button-primary:#c00;--color-button-search:#f0f0f0;--color-button-keyboardBackground:#f0f0f0;--color-button-keyboard:#404040;--color-button-roundedBackground:#eee;--color-button-close:#000;--color-button-clear:#999;--color-button-back:#f0f0f0;--color-button-disabled:#999}.szn-mobile-input-with-suggest-list--light{--color-input-background:#fff;--color-input-shadow:#ccc;--color-text:#111;--color-text-placeholder:#999;--color-box-background:#fff;--color-button-primary:#c00;--color-button-search:#f0f0f0;--color-button-keyboardBackground:#f0f0f0;--color-button-keyboard:#404040;--color-button-roundedBackground:#eee;--color-button-close:#000;--color-button-clear:#999;--color-button-back:#111;--color-button-disabled:#999}.szn-mobile-input-with-suggest-list--dark,.szn-mobile-input-with-suggest-list--light{height:100%}.szn-mobile-input-with-suggest-list__controlPanel{align-items:center;background-color:var(--color-input-background);border:none;box-shadow:0 0 8px var(--color-input-shadow);box-sizing:border-box;display:flex;height:56px;left:0;padding:8px;position:fixed;top:0;width:100%;z-index:10000}.szn-mobile-input-with-suggest-list__controlPanel__input-2,.szn-mobile-input-with-suggest-list__controlPanel__input-3{background-color:var(--color-input-background);border:none;box-sizing:border-box;color:var(--color-text);height:40px;margin:0;outline:none;overflow:hidden}.szn-mobile-input-with-suggest-list__controlPanel__input-2::-moz-placeholder,.szn-mobile-input-with-suggest-list__controlPanel__input-3::-moz-placeholder{color:var(--color-text-placeholder)}.szn-mobile-input-with-suggest-list__controlPanel__input-2:-ms-input-placeholder,.szn-mobile-input-with-suggest-list__controlPanel__input-3:-ms-input-placeholder{color:var(--color-text-placeholder)}.szn-mobile-input-with-suggest-list__controlPanel__input-2::placeholder,.szn-mobile-input-with-suggest-list__controlPanel__input-3::placeholder{color:var(--color-text-placeholder)}.szn-mobile-input-with-suggest-list__controlPanel__input-2{width:calc(100vw - 112px)}.szn-mobile-input-with-suggest-list__controlPanel__input-3{width:calc(100vw - 160px)}.szn-mobile-input-with-suggest-list__suggestList{background-color:var(--color-box-background);height:calc(100% - 56px);left:0;overflow-y:scroll;position:fixed;top:56px;width:100vw;z-index:9999}.szn-mobile-input-with-suggest-list__voiceSearchBackground{background:rgba(0,0,0,.2);height:100%;left:0;position:fixed;top:0;width:100%;z-index:10000}.szn-mobile-input-with-suggest-list__voiceSearch{background:#fff;border-top-left-radius:16px;border-top-right-radius:16px;bottom:0;box-sizing:border-box;display:flex;flex-direction:column;font-family:Arial CE,Arial,Helvetica CE,Helvetica,sans-serif;height:364px;justify-content:flex-end;left:0;padding:8px 12px 18px;position:fixed;right:0;width:100%;z-index:10001}.szn-mobile-input-with-suggest-list__voiceSearch:after{background:silver;border-radius:2px;content:"";display:block;height:4px;left:calc(50% - 21px);position:absolute;top:8px;width:42px}@-webkit-keyframes speakingLeft{0%{transform:translateX(0)}20%{transform:translateX(-4px)}50%{transform:translateX(7.5px)}80%{transform:translateX(-4px)}to{transform:translateX(0)}}@keyframes speakingLeft{0%{transform:translateX(0)}20%{transform:translateX(-4px)}50%{transform:translateX(7.5px)}80%{transform:translateX(-4px)}to{transform:translateX(0)}}@-webkit-keyframes speakingRight{0%{transform:translateX(0)}20%{transform:translateX(4px)}50%{transform:translateX(-7.5px)}80%{transform:translateX(4px)}to{transform:translateX(0)}}@keyframes speakingRight{0%{transform:translateX(0)}20%{transform:translateX(4px)}50%{transform:translateX(-7.5px)}80%{transform:translateX(4px)}to{transform:translateX(0)}}@-webkit-keyframes speaking{0%{transform:scale(1)}20%{transform:scaleX(1.5)}50%{transform:scaleX(.25)}80%{transform:scaleX(1.5)}to{transform:scale(1)}}@keyframes speaking{0%{transform:scale(1)}20%{transform:scaleX(1.5)}50%{transform:scaleX(.25)}80%{transform:scaleX(1.5)}to{transform:scale(1)}}.szn-mobile-input-with-suggest-list__voiceSearch__close{height:48px;position:absolute;right:16px;top:16px;width:48px}.szn-mobile-input-with-suggest-list__voiceSearch__animation{display:block;left:calc(50% - 24px);position:absolute;text-align:center;top:48px;width:48px}.szn-mobile-input-with-suggest-list__voiceSearch__animation__leftRadius{-webkit-animation-duration:.75s;animation-duration:.75s;-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite;-webkit-animation-name:speakingLeft;animation-name:speakingLeft;background-color:var(--color-button-primary);border-bottom-left-radius:2px;border-top-left-radius:2px;display:inline-block;height:4px;width:2px}.szn-mobile-input-with-suggest-list__voiceSearch__animation__rightRadius{-webkit-animation-duration:.75s;animation-duration:.75s;-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite;-webkit-animation-name:speakingRight;animation-name:speakingRight;background-color:var(--color-button-primary);border-bottom-right-radius:2px;border-top-right-radius:2px;display:inline-block;height:4px;width:2px}.szn-mobile-input-with-suggest-list__voiceSearch__animation__line{-webkit-animation-duration:.75s;animation-duration:.75s;-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite;-webkit-animation-name:speaking;animation-name:speaking;background-color:var(--color-button-primary);display:inline-block;height:4px;width:20px}.szn-mobile-input-with-suggest-list__voiceSearch__text__primary{color:#404040;font-size:32px;font-weight:700;line-height:40px}.szn-mobile-input-with-suggest-list__voiceSearch__text__secondary{color:#ccc;font-size:24px;font-weight:700;line-height:32px;margin-bottom:32px}.szn-mobile-input-with-suggest-list__voiceSearch__buttons{align-items:center;display:flex;flex-direction:row;justify-content:flex-end;margin-top:40px}.szn-mobile-input-with-suggest-list__voiceSearch__button{align-items:center;-webkit-appearance:none;background-color:#f0f0f0;border-radius:16px;color:#404040;display:flex;height:44px;justify-content:center;width:44px}.szn-mobile-input-with-suggest-list__button{align-items:center;background-color:transparent;background-position:50%;background-repeat:no-repeat;border:transparent;border-radius:4px;cursor:pointer;display:flex;height:40px;justify-content:center;margin:0;outline:none;padding:0;width:48px}.szn-mobile-input-with-suggest-list__button--primary{background-color:var(--color-button-primary)}.szn-mobile-input-with-suggest-list__button--voiceAction{-webkit-appearance:none;background-color:var(--color-button-keyboardBackground);border-radius:16px;height:44px;width:44px}.szn-mobile-input-with-suggest-list__button--rounded{background-color:var(--color-button-roundedBackground);border-radius:50%;height:48px}.szn-mobile-input-with-suggest-list__button--icon-search svg path{fill:var(--color-button-search);color:var(--color-button-search)}.szn-mobile-input-with-suggest-list__button--icon-clear{fill:var(--color-button-clear);color:var(--color-button-clear)}.szn-mobile-input-with-suggest-list__button--icon-back{fill:var(--color-button-back);color:var(--color-button-back)}.szn-mobile-input-with-suggest-list__button--icon-voice{fill:var(--color-button-clear);color:var(--color-button-clear)}.szn-mobile-input-with-suggest-list__button--icon-voice_listening{fill:var(--color-button-primary);color:var(--color-button-primary)}.szn-mobile-input-with-suggest-list__button--icon-keyboard{fill:var(--color-button-keyboard);color:var(--color-button-keyboard)}.szn-mobile-input-with-suggest-list__button--icon-close{fill:var(--color-button-close);color:var(--color-button-close)}.szn-mobile-input-with-suggest-list__button--disabled{background-color:var(--color-button-disabled);cursor:not-allowed}.ribbon-badge{align-items:center;display:flex;flex-shrink:0;justify-content:center;min-width:40px;z-index:9001}.ribbon-badge .szn-login-badge .slb-main{color:#c00;text-decoration:none}.ribbon-badge .szn-login-badge .slb-menu a{color:#000;text-decoration:none}.ribbon-badge .szn-login-badge .sn-button{outline:none;vertical-align:middle}.ribbon-button{align-items:center;display:flex;flex-shrink:0;position:relative;text-decoration:none}.ribbon-button__button{align-items:center;background:transparent;border:0;box-sizing:border-box;color:inherit;cursor:pointer;display:flex;font-family:inherit;font-size:100%;height:100%;justify-content:center;line-height:100%;margin:0;outline:none;overflow:visible;padding:0;text-align:center;text-transform:none;width:100%}.ribbon-button__button .ribbon-icon{color:inherit}.ribbon-control__icon{margin-right:16px;width:14px;width:var(--ribbon-control-icon-width,14px)}.ribbon-control__label{color:#c00;color:var(--ribbon-control-label-color,#c00);flex-shrink:0;margin-right:16px}.ribbon-control__icon~.ribbon-control__label{display:none}@media (min-width:600px){.ribbon-control__icon{margin-right:6px}.ribbon-control__icon~.ribbon-control__label{display:block}}.ribbon-menu{bottom:0;box-sizing:border-box;height:calc(100% - 56px);height:calc(var(--ribbon-inner-height, 100%) - 56px);left:0;overflow:hidden;position:fixed;right:0;top:56px;transition:opacity .4s ease,visibility .4s;width:100%;z-index:9000}.ribbon-menu--hidden{opacity:0;pointer-events:none;visibility:hidden}.ribbon-menu__button{color:#a0a0a0;height:44px;position:absolute;right:0;top:0;width:44px}.ribbon-menu__button--up{transform:rotate(180deg)}.ribbon-menu__content{-webkit-overflow-scrolling:touch;background:#fafafa;bottom:0;box-sizing:border-box;height:100%;left:0;overflow-y:scroll;padding:16px 12px;position:absolute;right:0;top:0;transition:left .4s ease;width:100%}.ribbon-menu__content:before{box-shadow:0 0 2px 0 rgba(0,0,0,.1),0 8px 30px -12px rgba(0,0,0,.12);content:"";height:30px;left:0;position:absolute;top:-30px;width:100%}.ribbon-menu__content--hidden{left:-100%}.ribbon-menu__item{color:#000;display:block;font-size:16px;font-weight:400;line-height:44px;min-height:44px;padding:0 8px;position:relative}.ribbon-menu__link{color:inherit;font-size:inherit;font-weight:inherit;text-decoration:none}.ribbon-menu__link:visited{color:inherit}.ribbon-menu__primary,.ribbon-menu__secondary{list-style:none;margin:0;padding:0}.ribbon-menu__primary>.ribbon-menu__item{border-bottom:1px solid #f0f0f0}.ribbon-menu__primary>.ribbon-menu__item:first-child{border-top:1px solid #f0f0f0;font-weight:700}.ribbon-menu__primary>.ribbon-menu__item:nth-child(n+2){color:#c00;color:var(--ribbon-menu-primary-color,#c00)}.ribbon-menu__secondary{max-height:1056px;overflow:hidden;transition:max-height .8s ease}.ribbon-menu__secondary--hidden{max-height:0;transition-timing-function:cubic-bezier(0,1,0,1)}@media (min-width:600px){.ribbon-menu{background:rgba(0,0,0,.5)}.ribbon-menu__button{display:none}.ribbon-menu__content{-ms-overflow-style:none;padding:18px 30px;scrollbar-width:none;width:436px}.ribbon-menu__content::-webkit-scrollbar{height:0;width:0}.ribbon-menu__content--hidden{left:-436px}.ribbon-menu__item{line-height:24px;min-height:24px;padding:0}.ribbon-menu__link:hover{text-decoration:underline}.ribbon-menu__primary>.ribbon-menu__item{border:0;font-weight:700;margin-bottom:24px}.ribbon-menu__primary>.ribbon-menu__item:first-child{border:0}.ribbon-menu__secondary{-moz-columns:180px 2;columns:180px 2;margin-bottom:6px;margin-top:8px}.ribbon-menu__secondary--hidden{max-height:none}.ribbon-menu__secondary>.ribbon-menu__item{font-size:15px;margin-bottom:4px}}.ribbon-menu__button .ribbon-icon{height:22px}.ribbon-search{display:flex;flex-direction:column;left:8px;max-width:calc(100% - 88px);padding-top:8px;position:fixed;top:0;transition:opacity .4s ease-in-out,visibility .4s;width:100%;z-index:9002}.ribbon-search--amp{left:0;max-width:unset;position:relative;width:100%}.ribbon-search--hidden{opacity:0;
  /* !AMP */visibility:hidden}.ribbon-search__bar{display:flex;height:40px}@media (min-width:600px){.ribbon-search{left:0;max-width:614px;padding-top:0;position:relative}}.ribbon-search-desktop{display:flex;flex:1 1;flex-direction:column;max-width:calc(100% - 48px);position:relative}@media (min-width:600px){.ribbon-search-desktop{max-width:calc(100% - 64px)}}.ribbon-search-desktop__submit{background:#c00;background:var(--ribbon-search-button-color,#c00);border-radius:0 4px 4px 0;color:#fff;flex-shrink:0;height:100%;width:48px}@media (min-width:600px){.ribbon-search-desktop__submit{width:64px}}.ribbon-search-desktop__submit:hover{
  /* !AMP */background:#a00000;background:var(--ribbon-search-button-hover-color,#a00000)}.ribbon-search-desktop__icon-search{height:20px;width:20px}.ribbon-search-desktop__clear{color:#ccc;
  /* !AMP */display:none;height:100%;padding-right:8px;position:absolute;right:0;top:0;width:32px}.ribbon-search-desktop__clear:hover{color:#000}.ribbon-search-desktop__clear--visible{display:block}.ribbon-search-desktop__icon-cross{height:16px;width:16px}.ribbon-search-desktop .szn-input-with-suggest-list{-webkit-appearance:none;border:1px solid #ccc;border-radius:4px 0 0 4px;border-right:0;box-sizing:border-box;color:#222;flex-grow:1;font-family:Trivia Seznam,Helvetica,Arial,sans-serif;font-size:16px;line-height:normal;margin:0;min-height:100%;outline:none;padding:0 40px 0 14px}.ribbon-search-desktop .szn-input-with-suggest-list:hover{
  /* !AMP */border-color:#666}.ribbon-search-desktop .szn-input-with-suggest-list::-ms-clear{
  /* !AMP */display:none}.ribbon-search-desktop .szn-suggest-list{font-family:Trivia Seznam,Helvetica,Arial,sans-serif}.szn-mobile-input-with-suggest-list--light{--color-button-primary:var(--ribbon-search-button-color,#c00)}.szn-mobile-input-with-suggest-list__button--icon-back{box-sizing:content-box;padding:0 10px;width:20px}.szn-mobile-input-with-suggest-list__button--icon-clear{box-sizing:content-box;padding:0 22px;width:12px}.szn-mobile-input-with-suggest-list__button--icon-search{box-sizing:content-box;padding:0 12px;width:20px}.szn-mobile-input-with-suggest-list__button--icon-back .ribbon-icon,.szn-mobile-input-with-suggest-list__button--icon-clear .ribbon-icon,.szn-mobile-input-with-suggest-list__button--icon-search .ribbon-icon{height:auto;width:100%}.szn-mobile-input-with-suggest-list__controlPanel__input-2,.szn-mobile-input-with-suggest-list__controlPanel__input-3{flex-grow:1;font-family:Arial,Helvetica,sans-serif;font-size:18px;width:auto}.ribbon-mobile-search__input{display:none}.ribbon-service{align-items:center;color:#000;display:flex;flex-shrink:1;font-size:16px;height:32px}.ribbon-service,.ribbon-service:hover{text-decoration:none}.ribbon-service:visited{color:inherit}.ribbon-service__icon{display:none;height:32px;margin-right:8px;width:32px}.ribbon-service__icon-label{display:none;white-space:nowrap}.ribbon-service__logo{height:24px;max-height:32px;max-width:100%;min-height:24px;width:auto}.ribbon-service__logo--amp{max-width:160px}@media (min-width:600px){.ribbon-service__icon,.ribbon-service__icon-label{display:block}.ribbon-service__icon~.ribbon-service__logo{display:none}}.ribbon-seznam{align-items:center;display:flex;flex-shrink:0}.ribbon-seznam__link,.ribbon-seznam__link:hover,.ribbon-seznam__link:visited{color:#c00;text-decoration:none}.ribbon{background:#fff;box-shadow:0 0 2px 0 rgba(0,0,0,.1),0 8px 30px -12px rgba(0,0,0,.12);box-sizing:border-box;display:flex;height:56px;left:0;padding:0 16px;position:fixed;top:0;width:100%;z-index:9000}.ribbon--base{font-family:Trivia Seznam,Helvetica,Arial,sans-serif;font-size:14px}.ribbon--amp{box-shadow:none;overflow:hidden}.ribbon--blind{clip:rect(1px 1px 1px 1px);clip:rect(1px,1px,1px,1px);height:1px;overflow:hidden;width:1px}.ribbon--blind,.ribbon--unfixed{position:absolute}.ribbon--show-search:not(.ribbon--amp) .ribbon-seznam{visibility:hidden}@media (min-width:600px){.ribbon--show-search:not(.ribbon--amp) .ribbon-seznam{visibility:visible}}.ribbon__amp-search{background:#fff;box-shadow:0 0 2px 0 rgba(0,0,0,.1),0 8px 30px -12px rgba(0,0,0,.12);box-sizing:border-box;height:56px;left:0;padding:0 16px;position:fixed;top:0;width:100%;z-index:8999}.ribbon__menu-button{color:#909090;height:16px;margin-right:16px;width:16px}.ribbon__center,.ribbon__end,.ribbon__start{align-items:center;display:flex}.ribbon__center{flex-grow:1;min-width:0}.ribbon__end{flex-shrink:0;margin-left:16px}.ribbon__end--reversed{display:flex;flex-shrink:0}@media (min-width:600px){.ribbon:not(.ribbon--unfixed){padding-right:31px;width:100vw}.ribbon__end{margin-left:0}.ribbon__end--reversed{flex-direction:row-reverse}.ribbon__center{margin:0 16px}}.ribbon__end .ribbon-seznam{margin-right:16px}.ribbon__menu-button .ribbon-icon{height:12px}@media (min-width:600px){.ribbon .ribbon-seznam{margin-left:16px;margin-right:0}}</style><script defer="" src="https://notifikace.seznam.cz/seno.js"></script><script defer="" src="https://login.szn.cz/js/api/login.js"></script><script defer="" src="//d94-a.sdn.cz/d_94/c_static_QI_D/mCqFC/es9/widget.ee9e0f58b970caa1c72d.js"></script><style>
.sn-button {
  position: relative;
}
.sn-button .unread-count {
  position: absolute;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: -1px;
  background-color: #c00;
  color: white;
}
.sn-button .cut-number + .unread-count {
  left: calc(50% + 2px);
  top: calc(50% - 18px);
  width: 16px;
  height: 16px;
}
.sn-button .cut-dot + .unread-count {
  left: calc(50% + 2px);
  top: calc(50% - 14px);
  width: 8px;
  height: 8px;
  color: transparent;
}
.sn-button .icon-email-cut-dot + .unread-count {
  left: calc(50% + 9px);
}
.sn-button .icon-bubble-cut-dot + .unread-count {
  left: calc(50% + 8px);
}
.sn-button,
.sn-stack button {
  font: inherit;
  background: transparent;
  border: none;
  padding: 0;
  color: #c0c0c0;
  transition: all 300ms;
  cursor: pointer;
}
.sn-button:hover,
.sn-stack button:hover,
.sn-button.active,
.sn-stack button.active {
  color: #000;
}
.sn-button .icon,
.sn-stack button .icon {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}
.sn-button .icon path:not([fill]),
.sn-stack button .icon path:not([fill]),
.sn-button .icon polygon:not([fill]),
.sn-stack button .icon polygon:not([fill]),
.sn-button .icon circle:not([fill]),
.sn-stack button .icon circle:not([fill]) {
  fill: currentColor;
}
.szn-notifications .sn-button + .sn-button {
  margin-left: 16px;
}
.sn-stack {
  transform-origin: 0 0;
  padding: 0 16px;
}
.sn-stack ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
}
.sn-stack ul:empty::before {
  content: "(žádná oznámení)";
  display: block;
}
.sn-stack header {
  display: flex;
  padding: 16px 0;
  justify-content: space-between;
  align-items: center;
}
.sn-stack footer {
  padding: 16px;
  border-top: 1px solid #e0e0e0;
}
.sn-stack h2 {
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}
.sn-stack .login-orange,
.sn-stack .login-red {
  padding: 16px 16px 32px 16px;
  text-align: center;
}
.sn-stack .login-orange h2,
.sn-stack .login-red h2 {
  font-size: 21px;
  line-height: 28px;
}
.sn-stack .login-orange p,
.sn-stack .login-red p {
  margin: 16px 0 24px 0;
  color: #6d6d6d;
}
.sn-stack .login-orange a,
.sn-stack .login-red a {
  display: block;
  height: 48px;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  line-height: 48px;
  font-weight: bold;
  background-color: #c00;
  box-shadow: 0 8px 24px -8px rgba(204, 0, 0, 0.4);
}
.sn-stack .login-orange a:hover,
.sn-stack .login-red a:hover {
  background-color: #660000;
  box-shadow: 0 12px 24px -6px rgba(204, 0, 0, 0.6);
  text-decoration: none;
}
.sn-stack.single {
  padding: 0;
}
.sn-stack.single ul {
  margin-bottom: 0;
}
.sn-stack.single li {
  box-shadow: none;
  border-radius: none;
}
.sn-stack.single li button {
  display: none;
}
.sn-stack li {
  padding: 16px;
  position: relative;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.25);
}
.sn-stack li.clickable {
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 16px 24px -16px rgba(0, 0, 0, 0.3);
}
.sn-stack li.clickable.clicked {
  box-shadow: none;
  background-color: transparent;
  border: 1px solid #e0e0e0;
}
.sn-stack li.clickable.clicked h3 {
  font-weight: normal;
}
.sn-stack li + li {
  margin-top: 16px;
}
.sn-stack li .blind {
  position: absolute;
  overflow: hidden;
  width: 0;
}
.sn-stack li a {
  color: inherit;
  text-decoration: none;
}
.sn-stack li h3,
.sn-stack li p {
  overflow: hidden;
  text-overflow: ellipsis;
}
.sn-stack li .channel-info {
  padding-left: 40px;
  padding-right: 16px;
  position: relative;
}
.sn-stack li .channel-info img {
  position: absolute;
  left: -8px;
  top: -4px;
}
.sn-stack li .channel-info h3 {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 22px;
  white-space: nowrap;
}
.sn-stack li .channel-info .created {
  font-size: 12px;
  line-height: 20px;
  color: #6d6d6d;
}
.sn-stack li button {
  position: absolute;
  right: 8px;
  top: 8px;
}
.sn-stack li p {
  margin-top: 4px;
  margin-bottom: 0;
}
.sn-stack li p:not(.content) {
  white-space: nowrap;
}
.sn-stack li p.content {
  color: #6d6d6d;
  line-clamp: 2;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.sn-stack li.unread .channel-info .created::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 6px;
  height: 6px;
  margin-left: 6px;
  border-radius: 50%;
  background-color: #c00;
}
.szn-notifications .sn-stack {
  position: absolute;
  overflow: auto;
  max-height: 70vh;
  border-radius: 4px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 16px 24px -16px rgba(0, 0, 0, 0.3);
  background-color: #f8f8f8;
  width: 320px;
}
.szn-notifications .sn-stack.single {
  width: 288px;
}
.szn-notifications .sn-stack:not([hidden]) {
  animation: appear 0.3s cubic-bezier(0.175, 0.885, 0.25, 1.15) both;
}
@keyframes appear {
  0% {
    transform: scale(1, 0.35);
    opacity: 0;
  }
  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}
.szn-notifications {
  box-sizing: border-box;
  position: relative;
  font-size: 14px;
  line-height: 22px;
}
.szn-notifications * {
  box-sizing: inherit;
}
</style><style>
.szn-login-badge{position:relative;display:inline-block;box-sizing:border-box;font-size:14px;line-height:22px}.szn-login-badge *{box-sizing:inherit}.szn-login-badge img{vertical-align:middle;border-radius:50%}.szn-login-badge .szn-notifications{display:inline-block}.szn-login-badge .szn-notifications:not(:empty){margin-right:16px}.slb-main{position:relative;border:none;outline:none;background-color:transparent;padding:0;cursor:pointer}.slb-main .slb-lock{right:-8px;bottom:-8px}.slb-main .slb-premium{left:-8px;top:-8px}.slb-main .slb-unread{position:absolute;width:16px;height:16px;right:-4px;top:-4px;border-radius:50%;text-align:center;font-weight:bold;font-size:11px;line-height:16px;letter-spacing:-1px;background-color:#c00;color:#fff;box-shadow:0 0 0 1px #fff}.slb-main .slb-unread:empty{display:none}.slb-main[data-state=orange] .slb-unread{color:transparent;width:8px;height:8px;right:0;top:0}a.slb-main{line-height:40px}.slb-menu{width:320px;transform-origin:0 0;position:absolute;top:44px;background-color:#f8f8f8;border-radius:4px;box-shadow:0 0 1px 0 rgba(0,0,0,0.2),0 1px 4px 0 rgba(0,0,0,0.2),0 16px 24px -16px rgba(0,0,0,0.3);overflow:auto;max-height:75vh}.slb-menu .slb-lock{left:48px;top:48px}.slb-menu .slb-premium{left:8px;top:8px}.slb-menu .sn-stack.single{display:none}.slb-menu:not([hidden]){animation:appear .3s cubic-bezier(.175, .885, .25, 1.15) both}.szn-login-badge.narrow .slb-menu{width:100vw;border-radius:0}.slb-lock,.slb-premium{position:absolute;border-radius:0}.slb-fade{opacity:.5}.slb-user{display:block;padding:16px;position:relative;white-space:nowrap}.slb-user img{float:left}.slb-user strong{font-size:18px;line-height:24px;display:block;margin-left:60px;overflow:hidden;text-overflow:ellipsis}.slb-user p{margin:2px 0 0 60px;overflow:hidden;text-overflow:ellipsis}.slb-links{list-style:none;border-top:1px solid #e8e8e8;margin:0;padding:0}.slb-links li a{display:block;padding:8px 16px}.slb-links li:first-child a{margin-top:8px}.slb-links li:last-child a{margin-bottom:8px}.slb-links .slb-lock{left:48px;top:48px}.slb-links .slb-premium{left:8px;top:8px}.slb-links .slb-lock{top:40px}.slb-links .slb-premium{top:0}.slb-tabs{border-bottom:1px solid #e8e8e8}.slb-tabs:not([hidden]){display:flex}.slb-tabs button{flex:1 0 0;height:56px;text-align:center}.slb-tabs button+button{border-left:1px solid #e8e8e8}@keyframes appear{0%{transform:scale(1, .35);opacity:0}100%{transform:scale(1, 1);opacity:1}}</style></head>
<!--[if IE 8]>    <body class="ie8"> <![endif]-->
<!--[if IE 9]>    <body class="notie8 ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<body class="notie8 notie9 lang-cs" data-dot-cookie-refresh-disabled="">
<!--<![endif]-->

	<div loading-line="" class="ng-isolate-scope"><div class="loading-line" style="display: block; transform: translate(-100%, 0px); transition: none 0s ease 0s;"></div>
</div>

	<div page-layout="" class="ng-isolate-scope"><preact component="ribbon" lang-binding="true" page-binding="true" class="ng-isolate-scope"><div class="c-ribbon"><header aria-label="Hlavička" data-ribbon="56" data-ribbon-height="56" data-ribbon-version="1.11.2" amp-fx="float-in-top" role="banner" class="ribbon ribbon--base ribbon--show-search"><div class="ribbon__start"><a href="/" data-dot="lista_sreality" class="ribbon-service"><img style="height: 24px;" src="https://www.sreality.cz/img/logo-sreality.svg" class="ribbon-service__logo"></a></div><div id="ribbon__center" class="ribbon__center"></div><div class="ribbon__end"><div class="ribbon-control"><div class="ribbon-button"><button type="button" data-dot="lista_tlacitko" class="ribbon-button__button"><img class="ribbon-control__icon" src="/img/flag-cs.png" alt="Ikona"><span class="ribbon-control__label">Česky</span></button></div></div><div class="ribbon__end--reversed"><div class="ribbon-seznam"><a href="https://www.seznam.cz" rel="noopener noreferrer" target="_blank" data-dot="lista_odkaz_seznam" class="ribbon-seznam__link">Seznam.cz</a></div><div aria-label="Osobní navigace, přihlášení a další služby" class="ribbon-badge"><div class="szn-login-badge" data-dot="login-badge"></div></div></div></div></header></div></preact>
<preact component="aafisher" class="ng-isolate-scope"></preact>
<div id="page-layout" class="page-layout no-scrollbar smallmap" ng-class="pageLayout.classNames" ng-style="layoutTop" style="margin-top: 56px;">
	<div page-loader="" class="ng-isolate-scope"><span ng-show="status.visible" class="page-loader ng-hide">
	<img class="image" src="/img/page-loader.gif" alt="">
	<span class="text ng-binding">Načítám...</span>
</span></div>
	<div class="content-cover">
		<div id="top-brand"></div>
		<!-- ngIf: !pageLayout.empty --><div class="anchor-wrap ng-isolate-scope" ng-if="!pageLayout.empty" gallery-anchor="">
	<!-- ngRepeat: anch in data.anchrs track by $index --><div ng-repeat="anch in data.anchrs track by $index" id="img=0&amp;fullscreen=false" class="movement-anchor ng-scope" ng-style="data.scroll" style="top: 0px;"></div><!-- end ngRepeat: anch in data.anchrs track by $index --><div ng-repeat="anch in data.anchrs track by $index" id="img=1&amp;fullscreen=false" class="movement-anchor ng-scope" ng-style="data.scroll" style="top: 0px;"></div><!-- end ngRepeat: anch in data.anchrs track by $index --><div ng-repeat="anch in data.anchrs track by $index" id="img=2&amp;fullscreen=false" class="movement-anchor ng-scope" ng-style="data.scroll" style="top: 0px;"></div><!-- end ngRepeat: anch in data.anchrs track by $index --><div ng-repeat="anch in data.anchrs track by $index" id="img=3&amp;fullscreen=false" class="movement-anchor ng-scope" ng-style="data.scroll" style="top: 0px;"></div><!-- end ngRepeat: anch in data.anchrs track by $index --><div ng-repeat="anch in data.anchrs track by $index" id="img=4&amp;fullscreen=false" class="movement-anchor ng-scope" ng-style="data.scroll" style="top: 0px;"></div><!-- end ngRepeat: anch in data.anchrs track by $index -->
</div><!-- end ngIf: !pageLayout.empty -->
		<div ng-class="{ 'content-inner': true, empty: pageLayout.empty }" class="content-inner">
			<div class="app-promotion ng-isolate-scope ng-hide" data-ng-show="showed" data-ng-class="{'app-promotion-hiding': hiding}">
	<a class="app-promotion-link" href="https://play.google.com/store/apps/details?id=cz.seznam.sreality">Nainstalovat</a>
	<button class="app-promotion-close" data-ng-click="hide()">Zavřít</button>
	<img class="app-promotion-logo" data-ng-src="/img/sreality-app-logo2.png" width="57" height="57" src="/img/sreality-app-logo2.png">
	<div class="app-promotion-info">
		<div class="app-promotion-name ng-binding">Sreality.cz</div>
		<div class="app-promotion-author ng-binding">Seznam.cz, a.s.</div>
		<div class="app-promotion-rating"><span class="app-promotion-rating-progress" style="width: 80%"></span><span class="app-promotion-rating-stars"></span></div>
		<div class="app-promotion-price">Zadarmo v Google Play</div>
	</div>
</div>
			<!-- ngIf: !pageLayout.empty --><div ng-if="!pageLayout.empty" error-page="" class="ng-scope ng-isolate-scope"><!-- ngIf: errorData.isError -->
</div><!-- end ngIf: !pageLayout.empty -->
			<!-- ngIf: !errorData.isError --><div ng-transclude="" class="transcluded-content ng-scope" ng-if="!errorData.isError">
		<!-- ngView:  --><div ng-view="" class="ng-scope"><div class="property-detail ng-scope">

	<!-- ngIf: resource --><div class="content ng-scope" ng-if="resource" ng-class="{'show-report-error': showErrorReport}">

		<!--SEO stuff -->
		<!-- ngIf: resource._embedded.video_urls.length > 0 -->
		<!-- -->
	
		<div ng-show="showedEntity.detail" itemscope="" itemtype="https://schema.org/Product" class="">
			<div class="navigation-detail">
				<div class="crumb-back ng-isolate-scope" crumb-back="">
	<div class="left">
		<!-- ngIf: url -->
	</div>
</div>
				<div class="iterator ng-isolate-scope" iterator="">
	<div class="left">
		<!-- ngIf: urls.prevItemUrl -->
	</div><div class="right">
		<!-- ngIf: urls.nextItemUrl -->
	</div>
</div>
				<div class="navigation-fixer rows-2"></div>
			</div>

			<div map-print="resource" class="map-print s-map ng-isolate-scope smap"><div style="position: absolute; width: 0px; height: 0px; margin: 0px; padding: 0px; left: 184px; top: 96px;"><div><div id="1-0-0.9212719001523269"><div style="transform: translateZ(0px);"><img alt="" style="position: absolute; opacity: 0; transition: opacity 600ms ease 0s; left: -382.108px; top: -187.172px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/20-572706-359207" srcset="https://mapserver.mapy.cz/base-m/20-572706-359207, https://mapserver.mapy.cz/base-m/retina/20-572706-359207 2x"><img alt="" style="position: absolute; opacity: 0; transition: opacity 600ms ease 0s; left: -382.108px; top: 68.8279px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/20-572706-359208" srcset="https://mapserver.mapy.cz/base-m/20-572706-359208, https://mapserver.mapy.cz/base-m/retina/20-572706-359208 2x"><img alt="" style="position: absolute; opacity: 0; transition: opacity 600ms ease 0s; left: -126.108px; top: -187.172px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/20-572707-359207" srcset="https://mapserver.mapy.cz/base-m/20-572707-359207, https://mapserver.mapy.cz/base-m/retina/20-572707-359207 2x"><img alt="" style="position: absolute; opacity: 0; transition: opacity 600ms ease 0s; left: -126.108px; top: 68.8279px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/20-572707-359208" srcset="https://mapserver.mapy.cz/base-m/20-572707-359208, https://mapserver.mapy.cz/base-m/retina/20-572707-359208 2x"><img alt="" style="position: absolute; opacity: 0; transition: opacity 600ms ease 0s; left: 129.892px; top: -187.172px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/20-572708-359207" srcset="https://mapserver.mapy.cz/base-m/20-572708-359207, https://mapserver.mapy.cz/base-m/retina/20-572708-359207 2x"><img alt="" style="position: absolute; opacity: 0; transition: opacity 600ms ease 0s; left: 129.892px; top: 68.8279px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/20-572708-359208" srcset="https://mapserver.mapy.cz/base-m/20-572708-359208, https://mapserver.mapy.cz/base-m/retina/20-572708-359208 2x"></div></div></div><div></div><svg xmlns:xlink="http://www.w3.org/1999/xlink" width="368" height="192" style="position: absolute; left: -184px; top: -96px;"><g><g id="0.3086638265232535-2" style="transform: scale(1);"><polyline fill="none" stroke="white" stroke-linejoin="round" stroke-linecap="round" points="1165.648572921753 -46.105598881840706, -797.6485729813576 238.1052411645651" stroke-opacity="0.6" stroke-width="9" stroke-dasharray=""><title></title></polyline><polyline fill="none" stroke="#00f" stroke-linejoin="round" stroke-linecap="round" points="1165.648572921753 -46.105598881840706, -797.6485729813576 238.1052411645651" stroke-opacity="0.65" stroke-width="3" stroke-dasharray="9 12"><title></title></polyline></g></g></svg><div></div><div></div></div><div class="hud"><div class="noprint"><div class="copyright print" title=" Seznam.cz, a.s., 2022 |  OpenStreetMap" style="position: absolute; inset: auto auto 3px 5px;">© <a href="https://o.seznam.cz" target="_blank" rel="noopener">Seznam.cz, a.s.</a>, 2022 a <a href="#" data-others="1">další</a></div><a class="print" target="_blank" href="https://mapy.cz/?x=16.623514&amp;y=49.201508&amp;z=20" style="position: absolute; inset: auto 0px 0px auto;"><img src="https://api.mapy.cz/img/api/logo.svg" alt="Zobrazit na Mapy.cz"></a></div></div></div>

			<div class="gallery ng-isolate-scope" ng-class="{ 'old-browsers': oldBrowsers }" gallery="resource">

	<!-- ngIf: sphereShowed -->

	<!-- ngIf: panoramaShowed -->

	<!-- prochazeni fotek v detailu -->
	<!-- ngIf: isDetail() && !isPhantom --><div class="detail-images ng-scope" ng-if="isDetail() &amp;&amp; !isPhantom">
		<!-- jednotlive obrazky -->
		<div class="image-cover" ng-class="{ mobile: isMobile }"><!--
		--><div class="image prev">
				<img ng-src="https://d18-a.sdn.cz/d_18/c_img_QI_JR/ATqwAQ.jpeg?fl=res,749,562,3|shr,,20|jpg,90" ng-click="showEntity(SHOW_ENTITY.FULLSCREEN)" class="img" src="https://d18-a.sdn.cz/d_18/c_img_QI_JR/ATqwAQ.jpeg?fl=res,749,562,3|shr,,20|jpg,90">
			</div><!--

			 --><!-- ngIf: images.detail.virtualTour --><!--

			--><!-- ngIf: images.detail.panorama --><!--

			 --><!-- ngIf: images.detail.sphere --><!--

		 --><!-- ngIf: images.detail.image --><div class="image active ng-scope" ng-class="{ loading: images.detail.active.loading }" swipe="" swipe-right="prevPhoto()" swipe-left="nextPhoto()" ng-if="images.detail.image" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><!--
			 --><!-- ngIf: images.detail.active.showVideo --><!--
			 --><img alt="" class="img" my-image="" img-src="https://d18-a.sdn.cz/d_18/c_img_QN_Jl/N1bwAZ.jpeg?fl=res,749,562,3|shr,,20|jpg,90" img-load="images.detail.active.loading = true" img-done="images.detail.active.loading = false" itemprop="image"><!--
			 --><div class="download-cover" ng-click="showEntity(SHOW_ENTITY.FULLSCREEN)">&nbsp;</div><!--
		 --></div><!-- end ngIf: images.detail.image --><!--

		--><div class="image next">
				<img ng-src="https://d18-a.sdn.cz/d_18/c_img_QQ_LM/xqAv8N.jpeg?fl=res,749,562,3|shr,,20|jpg,90" ng-click="showEntity(SHOW_ENTITY.FULLSCREEN)" class="img" src="https://d18-a.sdn.cz/d_18/c_img_QQ_LM/xqAv8N.jpeg?fl=res,749,562,3|shr,,20|jpg,90">
			</div>

			<!-- navigace -->
			<!-- ngIf: !virtualTourShowed --><button class="detail-btn prev ng-scope" ng-click="prevPhoto($event)" ng-if="!virtualTourShowed">
				<span class="btn-circle-gallery icof icon-arr-left" ng-class="{ hidden: selected.active == 0 &amp;&amp; !conf.infiniteScroll }"></span>
			</button><!-- end ngIf: !virtualTourShowed -->
			<!-- ngIf: !virtualTourShowed --><button class="detail-btn next ng-scope" ng-click="nextPhoto($event)" ng-if="!virtualTourShowed">
				<span class="btn-circle-gallery icof icon-arr-right" ng-class="{ hidden: selected.active == data.images.length - 1 &amp;&amp; !conf.infiniteScroll }"></span>
			</button><!-- end ngIf: !virtualTourShowed -->
		</div>

		<!-- do thumbnails -->
		<!-- ngIf: !panoramaShowed && !sphereShowed && !virtualTourShowed --><button class="btn thumbnails ng-binding ng-scope" ng-if="!panoramaShowed &amp;&amp; !sphereShowed &amp;&amp; !virtualTourShowed" ng-click="showEntity(SHOW_ENTITY.THUMBNAILS)">
			Zobrazit
			5
			fotografií
			v galerii
		</button><!-- end ngIf: !panoramaShowed && !sphereShowed && !virtualTourShowed -->

		<!-- ngIf: panoramaShowed -->

		<!-- ngIf: virtualTourShowed -->		
	</div><!-- end ngIf: isDetail() && !isPhantom -->

	<!-- phantom -->
	<!-- ngIf: isPhantom -->

	<!-- fullscreen mod -->
	<div class="fullscreen-mode ng-hide" ng-show="!isDetail()">
		<div class="background"></div>

		<!-- fullscreen obrazky -->
		<div class="fl-images prev">
			<!-- ngIf: isFullscreen() -->
		</div>

		<div class="fl-images active" ng-class="{ loading: images.fullscreen.active.loading &amp;&amp; !images.fullscreen.panorama &amp;&amp; !images.fullscreen.sphere, 'panorama-fullscreen': images.fullscreen.panorama }" swipe="" swipe-right="prevPhoto()" swipe-left="nextPhoto()" ng-click="fullscreenClick(images.fullscreen)" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><!--
			--><!-- ngIf: isFullscreen() && !isVideo() && images.fullscreen.image -->

				<!-- ngIf: isFullscreen() && images.fullscreen.virtualTour -->
				<!-- ngIf: images.fullscreen.virtualTour -->

			 	<!-- ngIf: images.fullscreen.sphere -->

				<!-- ngIf: images.fullscreen.panorama -->
				<!-- ngIf: images.fullscreen.panorama -->

			<div class="download-cover">&nbsp;</div>
		</div>

		<div class="fl-images next">
			<!-- ngIf: isFullscreen() -->
		</div>

		<!-- video prehravac -->
		<!-- ngIf: isVideo() -->

		<!-- nahledy thumbnails -->
		<div class="thumbnails-outter" ng-class="{ show: isThumbnails(), 'fl-detail': isFullscreen() }" ng-click="showEntity(SHOW_ENTITY.DETAIL)">
			<div class="thumbnails-middle"><!-- fix pro ipad6 -->
				<div class="thumbnails-inner">
					<div class="list" ng-class="{ 'less-than-five': data.images.length < 5 }">
						<!-- ngRepeat: image in data.images track by $index --><div class="thumb-image ng-scope active" ng-repeat="image in data.images track by $index" ng-click="openFullscreenPhoto($event, $index)" ng-class="{ active: selected.active == $index, loading: image.thumbLoad &amp;&amp; image.image}">
							<!-- ngIf: loadThumbnails && image.image -->
							
							<!-- ngIf: loadThumbnails && image.virtualTour -->
							<!-- ngIf: image.virtualTour -->

							<!-- ngIf: image.sphere -->

							<!-- ngIf: image.panorama -->
							<!-- ngIf: image.panorama -->

							<!-- ngIf: $index == videoIndex && data.hasVideo -->
						</div><!-- end ngRepeat: image in data.images track by $index --><div class="thumb-image ng-scope" ng-repeat="image in data.images track by $index" ng-click="openFullscreenPhoto($event, $index)" ng-class="{ active: selected.active == $index, loading: image.thumbLoad &amp;&amp; image.image}">
							<!-- ngIf: loadThumbnails && image.image -->
							
							<!-- ngIf: loadThumbnails && image.virtualTour -->
							<!-- ngIf: image.virtualTour -->

							<!-- ngIf: image.sphere -->

							<!-- ngIf: image.panorama -->
							<!-- ngIf: image.panorama -->

							<!-- ngIf: $index == videoIndex && data.hasVideo -->
						</div><!-- end ngRepeat: image in data.images track by $index --><div class="thumb-image ng-scope" ng-repeat="image in data.images track by $index" ng-click="openFullscreenPhoto($event, $index)" ng-class="{ active: selected.active == $index, loading: image.thumbLoad &amp;&amp; image.image}">
							<!-- ngIf: loadThumbnails && image.image -->
							
							<!-- ngIf: loadThumbnails && image.virtualTour -->
							<!-- ngIf: image.virtualTour -->

							<!-- ngIf: image.sphere -->

							<!-- ngIf: image.panorama -->
							<!-- ngIf: image.panorama -->

							<!-- ngIf: $index == videoIndex && data.hasVideo -->
						</div><!-- end ngRepeat: image in data.images track by $index --><div class="thumb-image ng-scope" ng-repeat="image in data.images track by $index" ng-click="openFullscreenPhoto($event, $index)" ng-class="{ active: selected.active == $index, loading: image.thumbLoad &amp;&amp; image.image}">
							<!-- ngIf: loadThumbnails && image.image -->
							
							<!-- ngIf: loadThumbnails && image.virtualTour -->
							<!-- ngIf: image.virtualTour -->

							<!-- ngIf: image.sphere -->

							<!-- ngIf: image.panorama -->
							<!-- ngIf: image.panorama -->

							<!-- ngIf: $index == videoIndex && data.hasVideo -->
						</div><!-- end ngRepeat: image in data.images track by $index --><div class="thumb-image ng-scope" ng-repeat="image in data.images track by $index" ng-click="openFullscreenPhoto($event, $index)" ng-class="{ active: selected.active == $index, loading: image.thumbLoad &amp;&amp; image.image}">
							<!-- ngIf: loadThumbnails && image.image -->
							
							<!-- ngIf: loadThumbnails && image.virtualTour -->
							<!-- ngIf: image.virtualTour -->

							<!-- ngIf: image.sphere -->

							<!-- ngIf: image.panorama -->
							<!-- ngIf: image.panorama -->

							<!-- ngIf: $index == videoIndex && data.hasVideo -->
						</div><!-- end ngRepeat: image in data.images track by $index -->
					</div>
				</div>
			</div>
		</div>

		<div class="navigation">
			<!-- pouze pro fullscreen a video -->
			<!-- ngIf: !isThumbnails() --><button class="btn-circle-gallery-fs icof icon-list ng-scope" ng-click="showEntity(SHOW_ENTITY.THUMBNAILS)" ng-if="!isThumbnails()"></button><!-- end ngIf: !isThumbnails() -->
			<!-- ngIf: !isThumbnails() --><button class="btn-circle-gallery-fs icof icon-arr-left ng-scope" ng-click="prevPhoto($event)" ng-if="!isThumbnails()"></button><!-- end ngIf: !isThumbnails() -->
			<!-- ngIf: !isThumbnails() --><span class="image-order ng-binding ng-scope" ng-if="!isThumbnails()">1/5</span><!-- end ngIf: !isThumbnails() -->
			<!-- ngIf: !isThumbnails() --><button class="btn-circle-gallery-fs icof icon-arr-right ng-scope" ng-click="nextPhoto($event)" ng-if="!isThumbnails()"></button><!-- end ngIf: !isThumbnails() -->

			<!-- spolecne pro fullscreen, thumbnails a video -->
			<button class="btn-circle-gallery-fs icof icon-cross" ng-click="showEntity(SHOW_ENTITY.DETAIL)"></button>
		</div>
	</div>
</div>
			
			<div class="property-title">
				<h1>
					<span itemprop="name">
						<span class="name ng-binding">Pronájem  pokoje 55&nbsp;m²</span>
						<span class="location"><span class="location-text ng-binding">Spolková, Brno - Zábrdovice</span>

							<!-- ngIf: showPanoramaBtn -->
						</span>
					</span>
				</h1>
				<!-- ngIf: contentData.price --><span ng-if="contentData.price" class="price ng-scope" itemprop="offerDetails" itemscope="" itemtype="https://schema.org/Offer">
					<!-- ngIf: contentData.price.raw > 1 --><span ng-if="contentData.price.raw > 1" class="microdata ng-scope">
						<meta itemprop="currency" content="CZK">
						<span itemprop="price" class="ng-binding">4795</span>
					</span><!-- end ngIf: contentData.price.raw > 1 -->
					<span class="norm-price ng-binding">4&nbsp;795&nbsp;Kč za měsíc</span>
					<!-- ngIf: contentData.price.alternative -->

					<!-- ngIf: !!contentData.energyEfficiencyRating --><span class="energy-efficiency-rating energy-efficiency-rating--g" ng-if="!!contentData.energyEfficiencyRating">
						<svg class="energy-efficiency-rating__arrow" viewBox="0 0 24 28">
							<path d="M11.98,28c1.271,0,2.463-0.577,3.233-1.561l7.918-10.067c1.136-1.445,1.13-3.461-0.017-4.899l-7.901-9.932 C14.443,0.568,13.253,0,11.999,0C10.73,0,9.537,0.577,8.765,1.56L0.848,11.628c-1.136,1.445-1.13,3.461,0.015,4.899l7.902,9.932 C9.537,27.432,10.726,28,11.982,28H11.98z"></path>
						</svg>
						<span class="energy-efficiency-rating__type ng-binding">G</span>
						<span class="energy-efficiency-rating__text ng-binding">Mimořádně nehospodárná</span>
					</span><!-- end ngIf: !!contentData.energyEfficiencyRating -->
				</span><!-- end ngIf: contentData.price -->
				<!-- ngIf: topped -->
			</div>

			<!--<button data-dot="go-to-mortage" class="c-mortgage-link"
					ng-if="actualLang === 'cs' && detailData.price && detailData.typeId === 1 && showHyponamiru"
					ng-click="scrollIntoMortgageCalculator()">
				<img class="c-mortgage-link__icon" src="/img/hypoteka/calculator.svg" />
				<span class="c-mortgage-link__text">Spočítat hypotéku</span>
			</button>-->

			<div class="description ng-binding" itemprop="description" ng-bind-html="contentData.description | lineFilter"><p>&nbsp;! Online video prohlídky všech našich bytů. Náš makléř Vás provede celým bytem, zatímco Vy si užijete pohodlí Vašeho domova.Ponoukáme jedno lúžko v polo průchozí ložnici ve sdíleném bytě se dvěma ložnicemi. V pokoji momentálne bydlí jedna holka.</p><p>&nbsp;</p><p>Byt se nachází v blízkosti zastávky Tkalcovská, odkud se dostanete na Českou za 9 minut, nebo na hlavní vlakové nádraží za 8 minut. Při zastávce se nachází supermarket, který zavírá v 10 hodin večer. Je tu rovněž možnost jet do centra města ze zastávky Detská nemocnice.&nbsp;&nbsp;</p><p>&nbsp;</p><p>V kuchyňském koutě se nachází lednička, trouba a sporák. K dispozici je i jídelní stůl s židlemi. V prostoru pokoje jsou dvě jednolůžkové postele, stůl a dvě skříně. V bytě je také pračka, a vana v koupelně. Toaleta je oddělená. Celý byt má rozlohu 55 metrů čtverečních, a nabízený pokoj má 15 metrů čtverečních. Vstup do druhého pokoje je za skříněmi.&nbsp;</p><p>&nbsp;</p><p>Měsíční nájem za pokoj je 4795 CZK, a vratná kauce je 4795 CZK. Nejkratší doba nájmu je 6 měsíců.</p></div>

			<div class="params clear">
				<!-- ngRepeat: group in params --><ul ng-repeat="group in params" class="params1">
					<!-- ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">Celková cena:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope">4&nbsp;795 Kč za měsíc</span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">ID zakázky:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope">B1271</span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">Aktualizace:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope">07.01.2022</span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">Stavba:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope">Cihlová</span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">Stav objektu:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope">Dobrý</span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">Vlastnictví:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope">Osobní</span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params -->
				</ul><!-- end ngRepeat: group in params --><ul ng-repeat="group in params" class="params2">
					<!-- ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">Podlaží:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope">3. podlaží</span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">Užitná plocha:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope">55</span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' --><span ng-if="item.type == 'area'" class="ng-scope">m<sup>2</sup></span><!-- end ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">Datum nastěhování:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope">Ihned</span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">Energetická náročnost budovy:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope">Třída G - Mimořádně nehospodárná</span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">Vybavení:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope"></span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' --><span ng-if="item.type == 'boolean-true'" class="icof icon-ok ng-scope"></span><!-- end ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">Výtah:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope"></span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' --><span ng-if="item.type == 'boolean-true'" class="icof icon-ok ng-scope"></span><!-- end ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params -->
				</ul><!-- end ngRepeat: group in params -->
			</div>

			<div class="buttons" data-dot-data="{&quot;jazyk&quot;:&quot;cs&quot;,&quot;id&quot;:&quot;1438918748&quot;,&quot;okres&quot;:&quot;brno&quot;,&quot;cena&quot;:4795,&quot;stavba&quot;:&quot;cihlova&quot;,&quot;navic&quot;:&quot;vytah&quot;,&quot;typ-nemovitosti&quot;:&quot;byty&quot;,&quot;typ-transakce&quot;:&quot;pronajem&quot;,&quot;velikost&quot;:&quot;pokoj&quot;}">
				<!-- ngIf: favData --><span class="btn-wrap ng-scope ng-isolate-scope" favourite="favData" ng-if="favData"><span class="favorite-directive">
	<!-- ngIf: showed -->
	<a class="btn icof icon-favourite favorite-button ng-binding ng-isolate-scope ng-pristine ng-valid" link-requires-login="" ng-model="data.model" ng-click="change()" ng-class="{active: data.model}" href="https://login.szn.cz/?service=sreality&amp;return_url=https%3A%2F%2Fwww.sreality.cz%2Fdetail%2Fpronajem%2Fbyt%2Fpokoj%2Fbrno-zabrdovice-spolkova%2F1438918748">Přidat do oblíbených
	</a>
</span>
</span><!-- end ngIf: favData --><!--
			 --><span class="btn-wrap ng-isolate-scope" property-share="propShareConf"><span class="property-share-wrap">
	<button data-dot-data="{&quot;text&quot;:&quot;Sdílet inzerát&quot;}" class="btn icof icon-share" ng-click="showContent($event)" ng-class="{ active: show }"><span class="text ng-binding">Sdílet inzerát</span></button>
	<span class="property-share-content-wrap ng-hide" ng-show="show">
		<span class="property-share-content ng-isolate-scope" off-click="showContent()" off-click-if="show">
			<h3 class="title ng-binding">Sdílet inzerát</h3>
			<input type="text" class="input url-input ng-pristine ng-valid" ng-model="input" readonly="" ng-click="click($event)">
			<ul class="items">
				<!-- ngRepeat: i in items --><li class="item ng-scope facebook" ng-class="i.className" ng-repeat="i in items">
					<a href="https://www.facebook.com/sharer.php?u=https%3A%2F%2Fwww.sreality.cz%2Fdetail%2Fpronajem%2Fbyt%2Fpokoj%2Fbrno-zabrdovice-spolkova%2F1438918748" target="_blank" class="link ng-binding">
						<span class="icon"></span>
						Facebook
					</a>
				</li><!-- end ngRepeat: i in items --><li class="item ng-scope twitter" ng-class="i.className" ng-repeat="i in items">
					<a href="https://twitter.com/share?&amp;url=https%3A%2F%2Fwww.sreality.cz%2Fdetail%2Fpronajem%2Fbyt%2Fpokoj%2Fbrno-zabrdovice-spolkova%2F1438918748&amp;text=Pron%C3%A1jem%20%20pokoje%2055%C2%A0m%C2%B2" target="_blank" class="link ng-binding">
						<span class="icon"></span>
						Twitter
					</a>
				</li><!-- end ngRepeat: i in items -->
			</ul>
		</span>
	</span>
</span>
</span><!--
			 --><span class="btn-wrap">
					<button data-dot-data="{&quot;text&quot;:&quot;Tisknout&quot;}" class="btn icof icon-print property-print ng-binding" ng-click="printPage()">Tisknout</button>
				</span><!--
			 --><span class="btn-wrap note-wrap ng-isolate-scope" note="resource">
	<a link-requires-login="" class="btn icof icon-pen btn-note ng-binding ng-isolate-scope" ng-click="showNote()" ng-show="!show" href="https://login.szn.cz/?service=sreality&amp;return_url=https%3A%2F%2Fwww.sreality.cz%2Fdetail%2Fpronajem%2Fbyt%2Fpokoj%2Fbrno-zabrdovice-spolkova%2F1438918748">Přidat poznámku</a>
	<span class="note ng-hide" ng-show="show">
		<textarea class="textarea ng-pristine ng-valid" ng-attr-placeholder="{{ 'lang-note.placeholder' | translate }}" ng-model="model" placeholder="Přidejte si poznámku k inzerátu"></textarea>
		<div class="control">
			<button class="btn ng-binding" ng-click="save()" ng-class="{'icof icon-ok': status == 1, 'icof icon-cross': status == 2}">Uložit</button>
		</div>
		<span class="icof icon-cross remove" ng-click="remove()"></span>
	</span>
</span>
			</div>

			<!-- ngIf: addressFrom --><div class="c-transport ng-scope" ng-if="addressFrom" id="c-transport" address-from="contentData.subTitle">
    <span class="c-transport__title ng-binding">Dojezdová vzdálenost</span>
    <span class="c-tag-new ng-binding">Nové</span>
    
    <!-- ngIf: !userLogged() --><div ng-if="!userLogged()" class="ng-scope">	
        <img class="c-transport__icon" src="/img/dojezdova-vzdalenost.svg">
        <div class="c-transport__text-wrap">
            <span class="c-transport__text ng-binding">Zajímá vás, jak dlouho budete dojíždět z této adresy?</span>
            <button class="c-transport__link-btn ng-binding" type="button" ng-click="login()">Přihlaste se a zkontrolujte svůj dojezdový čas</button>
        </div>
    </div><!-- end ngIf: !userLogged() -->
    
    <!-- ngIf: userLogged() && isFirstLoaded -->
</div><!-- end ngIf: addressFrom -->

			<!-- ngIf: services -->

			<!-- ngIf: pois.length -->

			<!-- ngIf: projectData -->

			<div id="answer-form" sticky-contact-button-clicked="stickyContactButtonClicked" answer-form="resource" class="ng-isolate-scope"><div class="answer-form" ng-show="contact">
	<h2 class="contact-title ng-binding">Kontaktovat:</h2>

	<div class="contacts">
		<!-- ngIf: contact --><div class="seller-contact clear ng-isolate-scope" ng-class="{'seller-contact--not-agent': data.notAgent}" seller-contact="contact" ng-if="contact">

	<!-- todo: muze mit RUS uzivatel photo?? -->

	<!-- ngIf: link --><a ng-if="link" class="image-wrap link ng-scope" ng-href="/adresar/foreigners-brno-brno-cerna-pole/21309/makleri/199151" ng-class="{'image-wrap--no-photo': !data.photo}" href="/adresar/foreigners-brno-brno-cerna-pole/21309/makleri/199151">
		<!-- ngIf: data.photo --><img ng-src="https://d18-a.sdn.cz/d_18/c_img_QO_KZ/DnPyLB.jpeg?fl=res,200,300,3|shr,,20|jpg,90" class="photo ng-scope" ng-if="data.photo" alt="" src="https://d18-a.sdn.cz/d_18/c_img_QO_KZ/DnPyLB.jpeg?fl=res,200,300,3|shr,,20|jpg,90"><!-- end ngIf: data.photo -->
	</a><!-- end ngIf: link -->

	<!-- ngIf: !link -->

	<!-- ngIf: !isSellerDetail --><strong ng-if="!isSellerDetail" class="seller-name ng-scope">
		<!-- odkaz na detail maklere -->
		<!-- ngIf: link --><a ng-href="/adresar/foreigners-brno-brno-cerna-pole/21309/makleri/199151" ng-if="link" class="link name ng-binding ng-scope" href="/adresar/foreigners-brno-brno-cerna-pole/21309/makleri/199151">Karolína Chládeková</a><!-- end ngIf: link -->

		<!-- jmeno je obyc text - nejsme na detailu maklere a nemame link (nemusi se jednat vlastne o maklere) -->
		<!-- ngIf: !link -->
	</strong><!-- end ngIf: !isSellerDetail -->

	<!-- ngIf: isSellerDetail -->

	<div class="contacts">
		<!-- ngIf: (isSellerDetail || data.isPaid) && data.reviewsCount -->
		<!-- ngIf: isSellerDetail -->

		<ul class="contact-list">
			<!-- ngRepeat: phone in phones --><li ng-repeat="phone in phones" class="contact-item phone ng-scope">
				<label class="label">
					<img class="icon" src="/img/icon-phone.svg" alt="">
				</label>

				<!-- ngIf: !phone.isShowed --><button class="value interactive ng-binding ng-scope" ng-if="!phone.isShowed" ng-click="showPhone(phone.id)" data-dot="detail inzeratu/zobrazit telefon">Zobrazit telefon</button><!-- end ngIf: !phone.isShowed -->
				<!-- ngIf: isMobile && phone.isShowed -->
				<!-- ngIf: !isMobile && phone.isShowed -->
			</li><!-- end ngRepeat: phone in phones -->
			<!-- ngIf: data.email --><li ng-if="data.email" class="contact-item email ng-scope">
				<label class="label">
					<img class="icon" src="/img/icon-email.svg" alt="">
				</label>
				<!-- ngIf: !isEmailShowed --><button class="value interactive ng-binding ng-scope" ng-if="!isEmailShowed" ng-click="showEmail()" data-dot="detail inzeratu/zobrazit email">Zobrazit email</button><!-- end ngIf: !isEmailShowed -->
				<!-- ngIf: isEmailShowed -->
			</li><!-- end ngIf: data.email -->
			<!-- ngIf: data.brokerIco -->
		</ul>

		<!-- ngIf: isSellerDetail && data.contactForm.showButton && !data.contactForm.show && data.estateSize -->
	</div>

	<!-- odpovedni formular -->
	<!-- ngIf: isSellerDetail && (data.contactForm.show || (!data.estateSize && data.contactForm.showButton)) -->

	<!-- graf -->
	<!-- ngIf: data.isGraph -->
</div><!-- end ngIf: contact -->

		<!-- ngIf: premise --><div ng-if="premise" class="ng-scope">
			<div class="premise-contact clear">
				<!-- ngIf: premise.hasSeznamNaplno && premise.logo -->

				<!-- ngIf: !(premise.hasSeznamNaplno && premise.logo) --><span class="image-wrap ng-scope" ng-if="!(premise.hasSeznamNaplno &amp;&amp; premise.logo)" aria-hidden="true" tabindex="-1">
					<span class="no-logo"></span>
				</span><!-- end ngIf: !(premise.hasSeznamNaplno && premise.logo) -->

				<ul class="info">
					<li class="line name ng-binding">Foreigners Brno</li>
					<!-- ngIf: premise.address --><li class="line address ng-binding ng-scope" ng-if="premise.address">Milady Horákové 1957/13, 60200 Brno - Černá Pole</li><!-- end ngIf: premise.address -->
					<!-- ngIf: premise.isPaid && premise.reviewsCount --><a>
					</a><!-- ngIf: premise.www && premise.www_visible --><li class="line ng-scope" ng-if="premise.www &amp;&amp; premise.www_visible"><a></a><a href="http://www.foreigners.cz" target="_blank" data-dot="webovka RK" class="ng-binding">http://www.foreigners.cz</a></li><!-- end ngIf: premise.www && premise.www_visible -->
					<li class="line more">
						<a ng-click="beforeOpen()" ng-href="/adresar/foreigners-brno-brno-cerna-pole/21309" class="ng-binding" href="/adresar/foreigners-brno-brno-cerna-pole/21309">Více o společnosti »</a>
					</li>
				</ul>
				<!-- ngIf: premise.url --><a ng-if="premise.url" ng-href="/adresar/foreigners-brno-brno-cerna-pole/21309" class="short-info ng-binding ng-scope" href="/adresar/foreigners-brno-brno-cerna-pole/21309">Foreigners Brno</a><!-- end ngIf: premise.url -->
			</div>
		</div><!-- end ngIf: premise -->
	</div>

	<!-- uz odpovezeno, bud davno nebo prave ted -->
	<!-- ngIf: sended && !sendingAgain -->

	<!-- odpovedni formular -->
	<!-- ngIf: !sended || sendingAgain --><form ng-if="!sended || sendingAgain" class="form send-form ng-scope ng-pristine ng-valid" name="contactform" ng-submit="submit()" novalidate="">
		<!-- ngIf: form.status -->
		<label>
			<span class="form-label label ng-binding">Váš email</span>
			<div class="input-wrapper">
				<input type="email" class="input ng-pristine ng-valid ng-valid-email" ng-class="{error: form.emailErr}" name="email" ng-model="form.email">
			</div>
		</label>
		<label>
			<span class="form-label label ng-binding">Jméno</span>
			<div class="input-wrapper">
				<input type="text" class="input ng-pristine ng-valid" ng-class="{error: form.nameErr}" name="name" ng-model="form.name">
			</div>
		</label>
		<label>
			<span class="form-label label ng-binding">Telefon</span>
			<div class="input-wrapper">
				<input type="tel" class="input ng-pristine ng-valid" ng-class="{error: form.phoneErr}" name="phone" ng-model="form.phone">
			</div>
		</label>
		<label>
			<span class="form-label label"></span>
			<div class="input-wrapper">
				<textarea ng-class="{error: form.messageErr}" class="textarea ng-pristine ng-valid" name="message" ng-model="form.message">				</textarea>
			</div>
		</label>
		<div>
			<span class="form-label label"></span>
			<div class="input-wrapper ng-binding">
				Zadané údaje zpracováváme dle těchto <a href="https://napoveda.seznam.cz/cz/sreality/souhlas-se-zpracovanim-osobnich-udaju-sreality/" target="_blank" class="ng-binding">podmínek</a>.
			</div>
		</div>
		<div>
			<div class="input-wrapper input-wrapper-center">
				<!-- ngIf: sending -->
				<button type="submit" ng-disabled="sending" ng-class="{'btn-disabled': sending}" class="btn-full ng-binding">Odpovědět</button>
			</div>
		</div>
	</form><!-- end ngIf: !sended || sendingAgain -->
</div>
</div>

			<!-- <div id="localityIndex" class="c-locality-index" ng-if="actualLang === 'cs'" data-nosnippet>				
				<preact data="advertId" component="locality-index"></preact>
			</div> -->

			<!--<div id="hypoteka" class="c-mortgage-calculator"
				 ng-if="actualLang === 'cs' && detailData.price && detailData.typeId === 1 && showHyponamiru" data-nosnippet>
				<h2 class="c-mortgage-calculator__header">Hypoteční kalkulačka</h2>
				<preact data="mortgageData" component="mortgage-calculator"></preact>
			</div>-->

			<div class="c-contact-buttons">
				<preact data="contactData" component="contact-buttons" class="ng-isolate-scope"><div class="sds-surface sds-surface--05 _332AuA3qL4XBj2btXtvXIs" tabindex="-1"><a class="sds-surface sds-surface--clickable sds-surface--03 sds-button sds-helpers-button sds-button--small T1TnDW99vniZJvEPeiSXZ _2qIcoVMHOUWJT8TTAM8qHa _1lpYutJ_422EWdEuUmMhIf" href="tel:533533787" rel="noreferrer noopener" role="button" data-dot="sticky-contact-phone"><span class="sds-typography sds-typography--body-small sds-button__text">Zavolat</span></a><button class="sds-surface sds-surface--clickable sds-surface--primary sds-button sds-helpers-button sds-button--small sds-button--primary T1TnDW99vniZJvEPeiSXZ _2qIcoVMHOUWJT8TTAM8qHa _1lpYutJ_422EWdEuUmMhIf" type="button" role="button" data-dot="sticky-contact-reply"><span class="sds-typography sds-typography--body-small sds-button__text">Napsat zprávu</span></button></div></preact>
			</div>

			<!-- ngIf: regions.local || regions.broader --><div class="regions-box ng-scope" ng-if="regions.local || regions.broader">
				<!-- ngIf: regions.local --><p class="regions-links ng-binding ng-scope" ng-if="regions.local">
					Podívejte se také na další reality v kategorii <a ng-href="/hledani/pronajem/byty?region=Brno&amp;region-typ=osmm" class="ng-binding" href="/hledani/pronajem/byty?region=Brno&amp;region-typ=osmm">Pronájem bytů Brno</a>.
				</p><!-- end ngIf: regions.local -->

				<!-- ngIf: regions.broader --><p class="regions-links ng-binding ng-scope" ng-if="regions.broader">
					Pokud nemovitost hledáte v širším okolí, mohl by vás zajímat <a ng-href="/hledani/pronajem/byty/brno" class="ng-binding" href="/hledani/pronajem/byty/brno">Pronájem bytů Brno-město</a>.
				</p><!-- end ngIf: regions.broader -->
			</div><!-- end ngIf: regions.local || regions.broader -->
			
			<div class="report-error-btn-wrap">
				<button class="btn report ng-binding" ng-click="showEntity('errorReport')">Nahlásit chybu</button>
			</div>

			<div class="dir-bottom ng-isolate-scope" detail-data="detailData">
	<div class="dir-bottom__content">
		<div class="dir-bottom__label">Reklama</div>

		<div class="dir-bottom__fixed">
			<div id="dir-bottom__wrap" class="dir-bottom__wrap"></div>
			
			<div class="dir-bottom__shadow--top"></div>
			<div class="dir-bottom__shadow--bottom"></div>
		</div>
	</div>

	<div class="dir-bottom__classic">
		<div id="dir-bottom" class="dir-bottom__classic-inner"></div>
	</div>
</div>

			<span class="btn-circle icof icon-up backToTop ng-isolate-scope" ng-click="goTop()" mover-top=""></span>
		</div>

		<!-- ngIf: showedEntity.errorReport -->

		<!-- ngIf: showedEntity.loanCalc -->
	</div><!-- end ngIf: resource -->
</div>
</div>
	</div><!-- end ngIf: !errorData.isError -->
			<preact lang-binding="true" page-binding="true" component="footer" class="ng-isolate-scope"><footer class="_2OgfM2_KYImX04ik8Lkirn"><div class="_3NJE8NRqA5KCr2VwHqJ27e _2T2w9H_NOdtDLYIWERsogd"><button class="_1YEfiKqdGLWGRcAex4sqFW _1YgDqeht_fr9KKfFyp_SvQ"><img src="/img/flag-cs.png" alt="" class="_1HYol4SyXrKoN9ojGTb77o"><span class="TveYpFLjcNtBC6Qqvaw4n">Česky</span><span class="icon icof icon-down-full mGdHyJz0gQqm4qCQo6bWR"></span></button></div><div class="_3R7u-oIynrH_h3EsXVuYO-"><div class="_2nosKgOxexEj-xT_5nH4PP"><div class="btqelYH9tgNY9yJn1Xnn1"><button type="button" class="_2ZZbAPXBrQCM5JHy7gu2f1 _28eKaNHVUNjmjaO96sSQXh"><span class="_28eKaNHVUNjmjaO96sSQXh _2iVzlK9Zg3MpMEOkrQqaoL">Co říkáte na Sreality.cz?</span></button><a href="https://vyzkumnik.seznam.cz/" class="_2ZZbAPXBrQCM5JHy7gu2f1 _28eKaNHVUNjmjaO96sSQXh"><span class="_28eKaNHVUNjmjaO96sSQXh _2iVzlK9Zg3MpMEOkrQqaoL">Výzkumník</span></a><a href="https://napoveda.seznam.cz/cz/sreality/o-sluzbe-sreality.cz" class="_2ZZbAPXBrQCM5JHy7gu2f1 _28eKaNHVUNjmjaO96sSQXh"><span class="_28eKaNHVUNjmjaO96sSQXh _2iVzlK9Zg3MpMEOkrQqaoL">Pro spotřebitele</span></a><a href="https://www.seznam.cz/ochranaudaju" class="_2ZZbAPXBrQCM5JHy7gu2f1 _28eKaNHVUNjmjaO96sSQXh"><span class="_28eKaNHVUNjmjaO96sSQXh _2iVzlK9Zg3MpMEOkrQqaoL">Ochrana údajů</span></a><a href="https://napoveda.seznam.cz/cz/sreality/pravidla-sreality/smluvni-podminky-sluzby-sreality.cz" class="_2ZZbAPXBrQCM5JHy7gu2f1 _28eKaNHVUNjmjaO96sSQXh"><span class="_28eKaNHVUNjmjaO96sSQXh _2iVzlK9Zg3MpMEOkrQqaoL">Smluvní podmínky</span></a><a href="https://www.seznam.cz/reklama/cz/obsahovy-web/sluzba-sreality" class="_2ZZbAPXBrQCM5JHy7gu2f1 _28eKaNHVUNjmjaO96sSQXh"><span class="_28eKaNHVUNjmjaO96sSQXh _2iVzlK9Zg3MpMEOkrQqaoL">Reklama</span></a><a class="_2ZZbAPXBrQCM5JHy7gu2f1 _28eKaNHVUNjmjaO96sSQXh _1mHL-lXlevZ4SCKncZk2gk" href="/realitni-software"><span class="_28eKaNHVUNjmjaO96sSQXh _1mHL-lXlevZ4SCKncZk2gk _2iVzlK9Zg3MpMEOkrQqaoL">Realitní software</span></a><a href="http://sreality.seznamblog.cz/" class="_2ZZbAPXBrQCM5JHy7gu2f1 _28eKaNHVUNjmjaO96sSQXh _1mHL-lXlevZ4SCKncZk2gk"><span class="_28eKaNHVUNjmjaO96sSQXh _1mHL-lXlevZ4SCKncZk2gk _2iVzlK9Zg3MpMEOkrQqaoL">Blog</span></a><a href="https://napoveda.seznam.cz/cz/sreality/" class="_2ZZbAPXBrQCM5JHy7gu2f1 _28eKaNHVUNjmjaO96sSQXh _1mHL-lXlevZ4SCKncZk2gk"><span class="_28eKaNHVUNjmjaO96sSQXh _1mHL-lXlevZ4SCKncZk2gk _2iVzlK9Zg3MpMEOkrQqaoL">Nápověda</span></a><a href="mailto:info@sreality.cz?subject=Dotaz ze sluzby sreality.cz" class="_2ZZbAPXBrQCM5JHy7gu2f1 _28eKaNHVUNjmjaO96sSQXh _1mHL-lXlevZ4SCKncZk2gk"><span class="_28eKaNHVUNjmjaO96sSQXh _1mHL-lXlevZ4SCKncZk2gk _2iVzlK9Zg3MpMEOkrQqaoL">Technická podpora</span></a><a href="https://napoveda.seznam.cz/cz/sreality/kontakty-sreality-cz/" class="_2ZZbAPXBrQCM5JHy7gu2f1 _28eKaNHVUNjmjaO96sSQXh"><span class="_28eKaNHVUNjmjaO96sSQXh _2iVzlK9Zg3MpMEOkrQqaoL">Kontakty</span></a><a href="https://napoveda.seznam.cz/cz/stiznosti-sreality/" class="_2ZZbAPXBrQCM5JHy7gu2f1 _28eKaNHVUNjmjaO96sSQXh"><span class="_28eKaNHVUNjmjaO96sSQXh _2iVzlK9Zg3MpMEOkrQqaoL">Stížnosti</span></a><button type="button" class="_2ZZbAPXBrQCM5JHy7gu2f1 _28eKaNHVUNjmjaO96sSQXh"><span class="_28eKaNHVUNjmjaO96sSQXh _2iVzlK9Zg3MpMEOkrQqaoL">Nastavení personalizace</span></button></div><p class="_2XPH-LYlsL14qYMleJLjFJ _2-aaSan9BAM3Qg3EE_v_6h _2iVzlK9Zg3MpMEOkrQqaoL _1mRLNMhwLQGArIldAHOamF">Sreality.cz pomáhají najít vhodnou nemovitost díky aktuální nabídce realit v ČR i zahraničí. Jakékoliv užití obsahu internetového serveru www.sreality.cz, včetně převzetí, šíření či dalšího zpřístupňování inzerátů a fotografií je bez souhlasu Seznam.cz, a.s., zakázáno.</p><p class="_2XPH-LYlsL14qYMleJLjFJ _2iVzlK9Zg3MpMEOkrQqaoL _1mRLNMhwLQGArIldAHOamF">Copyright © 1996–2022 Seznam.cz, a.s.</p></div></div></footer></preact>
		</div>
	</div>
</div>
<div id="map-layout" ng-show="pageLayout.map.show" class="map-small" ng-style="layoutTop" style="margin-top: 56px;">
	<div map-info="" class="ng-isolate-scope"><!-- ngIf: infoHtml --></div>
	<div id="poi-filter" class="c-poi-filter" style="margin-bottom: 0px;">
    <button ng-class="{
            'c-poi-filter__opener': true,
            'c-poi-filter__opener--open': open
        }" ng-click="toggle()" data-dot-data="{ &quot;category&quot;: &quot;Občanská vybavenost&quot;, &quot;action&quot;: &quot;klik na tlačítko&quot; }" class="c-poi-filter__opener"><svg class="c-poi-filter__icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path fill-rule="evenodd" d="M20 17.382l-4-2V6.618l4 2v8.764zM10 8.618l4-2v8.764l-4 2V8.618zm-6-2l4 2v8.764l-4-2V6.618zm17.447.488l-6-3c-.024-.012-.051-.017-.076-.027a1.019 1.019 0 0 0-.128-.044 1.029 1.029 0 0 0-.111-.02 1.01 1.01 0 0 0-.135-.01c-.041 0-.081.005-.122.01a1.291 1.291 0 0 0-.122.02c-.042.01-.082.028-.122.043-.027.01-.053.015-.078.028L9 6.882 3.447 4.106A.998.998 0 0 0 2 5v11c0 .379.214.725.553.895l6 3c.014.008.031.004.047.01A.986.986 0 0 0 9 20a.986.986 0 0 0 .4-.095c.016-.006.033-.002.047-.01L15 17.118l5.553 2.777a1.005 1.005 0 0 0 .972-.044c.295-.183.475-.504.475-.851V8a1 1 0 0 0-.553-.894z"></path></svg>
    <span class="c-poi-filter__text ng-binding">Občanská vybavenost</span></button>

    <!-- ngIf: open -->
</div>
	<div map="" id="s-map" class="s-map smap"><div style="position: absolute; width: 0px; height: 0px; margin: 0px; padding: 0px; left: 102px; top: 304.5px;"><div><div id="1-0-0.07374558720748459"><div style="transform: translateZ(0px);"><img alt="" style="position: absolute; opacity: 1; transition: opacity 600ms ease 0s; left: -698.068px; top: -198.479px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/6-32-21" srcset="https://mapserver.mapy.cz/base-m/6-32-21, https://mapserver.mapy.cz/base-m/retina/6-32-21 2x"><img alt="" style="position: absolute; opacity: 1; transition: opacity 600ms ease 0s; left: -442.068px; top: -198.479px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/6-33-21" srcset="https://mapserver.mapy.cz/base-m/6-33-21, https://mapserver.mapy.cz/base-m/retina/6-33-21 2x"><img alt="" style="position: absolute; opacity: 1; transition: opacity 600ms ease 0s; left: -186.068px; top: -198.479px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/6-34-21" srcset="https://mapserver.mapy.cz/base-m/6-34-21, https://mapserver.mapy.cz/base-m/retina/6-34-21 2x"><img alt="" style="position: absolute; opacity: 1; transition: opacity 600ms ease 0s; left: 69.9321px; top: -198.479px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/6-35-21" srcset="https://mapserver.mapy.cz/base-m/6-35-21, https://mapserver.mapy.cz/base-m/retina/6-35-21 2x"><img alt="" style="position: absolute; opacity: 1; transition: opacity 600ms ease 0s; left: 325.932px; top: -198.479px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/6-36-21" srcset="https://mapserver.mapy.cz/base-m/6-36-21, https://mapserver.mapy.cz/base-m/retina/6-36-21 2x"><img alt="" style="position: absolute; opacity: 1; transition: opacity 600ms ease 0s; left: 581.932px; top: -198.479px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/6-37-21" srcset="https://mapserver.mapy.cz/base-m/6-37-21, https://mapserver.mapy.cz/base-m/retina/6-37-21 2x"></div><div style="transform: translateZ(0px);"><img alt="" style="position: absolute; opacity: 1; transition: opacity 600ms ease 0s; left: -186.068px; top: -454.479px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/6-34-20" srcset="https://mapserver.mapy.cz/base-m/6-34-20, https://mapserver.mapy.cz/base-m/retina/6-34-20 2x"><img alt="" style="position: absolute; opacity: 1; transition: opacity 600ms ease 0s; left: -186.068px; top: -198.479px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/6-34-21" srcset="https://mapserver.mapy.cz/base-m/6-34-21, https://mapserver.mapy.cz/base-m/retina/6-34-21 2x"><img alt="" style="position: absolute; opacity: 1; transition: opacity 600ms ease 0s; left: -186.068px; top: 57.5209px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/6-34-22" srcset="https://mapserver.mapy.cz/base-m/6-34-22, https://mapserver.mapy.cz/base-m/retina/6-34-22 2x"><img alt="" style="position: absolute; opacity: 1; transition: opacity 600ms ease 0s; left: -186.068px; top: 313.521px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/6-34-23" srcset="https://mapserver.mapy.cz/base-m/6-34-23, https://mapserver.mapy.cz/base-m/retina/6-34-23 2x"><img alt="" style="position: absolute; opacity: 1; transition: opacity 600ms ease 0s; left: 69.9321px; top: -454.479px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/6-35-20" srcset="https://mapserver.mapy.cz/base-m/6-35-20, https://mapserver.mapy.cz/base-m/retina/6-35-20 2x"><img alt="" style="position: absolute; opacity: 1; transition: opacity 600ms ease 0s; left: 69.9321px; top: -198.479px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/6-35-21" srcset="https://mapserver.mapy.cz/base-m/6-35-21, https://mapserver.mapy.cz/base-m/retina/6-35-21 2x"><img alt="" style="position: absolute; opacity: 1; transition: opacity 600ms ease 0s; left: 69.9321px; top: 57.5209px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/6-35-22" srcset="https://mapserver.mapy.cz/base-m/6-35-22, https://mapserver.mapy.cz/base-m/retina/6-35-22 2x"><img alt="" style="position: absolute; opacity: 1; transition: opacity 600ms ease 0s; left: 69.9321px; top: 313.521px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/6-35-23" srcset="https://mapserver.mapy.cz/base-m/6-35-23, https://mapserver.mapy.cz/base-m/retina/6-35-23 2x"></div></div><div id="3-0-0.8238348697472171"></div><div id="4-0-0.6198520787343791"></div><div id="2-0-0.23632150153526754"></div></div><div><div id="0.20398278111195078-1"></div><div id="0.01907027356794777-1"></div><div id="0.37405395464123004-1"></div></div><svg xmlns:xlink="http://www.w3.org/1999/xlink" width="204" height="609" style="position: absolute; left: -102px; top: -304.5px;"><g><g id="0.6413529612879105-2" style="transform: scale(1);"><polyline fill="none" stroke="white" stroke-linejoin="round" stroke-linecap="round" points="160.54660555634473 342.63298692961234" stroke-opacity="0.6" stroke-width="9" stroke-dasharray=""><title></title></polyline><polyline fill="none" stroke="#00f" stroke-linejoin="round" stroke-linecap="round" points="160.54660555634473 342.63298692961234" stroke-opacity="0.65" stroke-width="3" stroke-dasharray="9 12"><title></title></polyline></g></g></svg><div><div id="0.20398278111195078-3" style="transform: none;"></div><div id="0.01907027356794777-3" style="transform: none;"></div><div id="0.37405395464123004-3" style="transform: none;"></div></div><div><div id="0.20398278111195078-4"></div><div id="0.01907027356794777-4"></div><div id="0.37405395464123004-4"></div></div></div><div class="hud"><div class="noprint"><div class="copyright print" title=" Seznam.cz, a.s., 2022 |  OpenStreetMap |  NASA" style="position: absolute; inset: auto auto 3px 5px; margin-bottom: 0px;">© <a href="https://o.seznam.cz" target="_blank" rel="noopener">Seznam.cz, a.s.</a>, 2022 a <a href="#" data-others="1">další</a></div><a class="print" target="_blank" href="https://mapy.cz/?x=15.338406&amp;y=49.746077&amp;z=6" style="position: absolute; inset: auto 0px 0px auto;"><img src="https://api.mapy.cz/img/api/logo.svg" alt="Zobrazit na Mapy.cz" style="margin-bottom: 0px;"></a><div class="selection" style="border-width: 2px; visibility: hidden; position: absolute;"></div><div class="zoom" style="position: absolute; inset: 1rem 1rem auto auto; margin-top: 0px;"><div class="button-group"><button class="minus" type="button" aria-label="Oddálit" title="Oddálit">-</button><button class="plus" type="button" aria-label="Přiblížit" title="Přiblížit">+</button></div></div><div class="layer-switch" style="position: absolute; inset: 1rem auto auto 1rem; margin-top: 0px;"><button type="button"><span>Změnit mapu</span></button><div class="window" style="display: none;"><div class="port" style="position: relative; overflow: hidden; width: 195px;"><div style="position: relative; width: 195px; left: 0px;"><div class="item active" style="width: 65px; overflow: hidden;"><div><img src="https://api.mapy.cz/img/api/preview-zakladni.png" alt="Obecná" title="Obecná"><div class="border"></div></div><p>Obecná</p></div><div class="item" style="width: 65px; overflow: hidden;"><div><img src="https://api.mapy.cz/img/api/preview-letecka.png" alt="Letecká" title="Letecká"><div class="border"></div></div><p>Letecká</p></div><div class="item" style="width: 65px; overflow: hidden;"><div><img src="https://api.mapy.cz/img/api/preview-turisticka.png" alt="Turistická" title="Turistická"><div class="border"></div></div><p>Turistická</p></div></div></div><div class="left"><div class="arrow" style="display: none;"></div></div><div class="right"><div class="arrow" style="display: none;"></div></div></div></div></div></div></div>

	<div class="map-opener">
		<!-- ngIf: pageLayout.map.show --><button class="nipple ng-scope" ng-if="pageLayout.map.show" ng-click="toggleMap(1)" ng-class="{bigmap: pageLayout.map.big}" data-dot-data="{&quot;action&quot;:&quot;zvetseni_mapy&quot;}">
			<span class="icof"></span>
			<span class="text ng-binding">Zvětšit mapu</span>
		</button><!-- end ngIf: pageLayout.map.show -->
	</div>
	<div class="map-shade"></div>
</div>
<!-- ngInclude: respData.template --><div class="submap-title submap-detail" ng-class="{bigmap: pageLayout.map.big}" ng-click="toggleMap(1)" ng-include="respData.template"><div class="first-line ng-binding ng-scope">Pronájem  pokoje 55&nbsp;m²</div>
<div class="second-line ng-binding ng-scope">Spolková, Brno - Zábrdovice</div></div></div>


<iframe id="gemius_hcconn_1641930823399_1786458" name="lsgetframe" width="0" height="0" scrolling="no" sandbox="allow-scripts allow-same-origin" style="display: none; visibility: hidden;" src="https://ls.hit.gemius.pl/lsget.html"></iframe><div class="adform-adbox
								advert-square
								article-adtip-box
								bazar-box
								bx-leaderboard
								etarget
								hp-advert
								ic0.vendor-list
								illustrated.illV.article.columns.col2
								jobscz
								popisreklama
								promo-in-article
								reklama-3
								reklama-abmix
								reklama-bottom
								reklama-box
								reklama-left
								reklama-lista
								reklama-megaboard
								reklama-right
								reklama-top
								reklamaBottom
								reklamaHorniLista
								reklamaOdkazyVeVetachDole
								reklama_ahead
								reklama_box_standard
								reklama_square
								reklama_title_flat
								reklamni-up-1
								reklamni-up-2
								sklik
								sklik-block
								sklik-box
								sklik_left
								sklik_right
								spored-links
								topreklama
								velke_zlavy
								vreklama
								zlavy-box
								pub_300x250
								pub_300x250m
								pub_728x90
								safeframe
								text-ad
								textAd
								text_ad
								text_ads
								text-ads
								text-ad-links" style="width: 1px !important; height: 1px !important; position: absolute !important; right: -1000px !important; top: -1000px !important;"></div><img src="/ad_ads_advert_advertisement_adform_pub_300x250.png" style="width: 1px !important; height: 1px !important; position: absolute !important; right: -1000px !important; top: -1000px !important;"><iframe id="gemius_hcconn_1641930823511_57508343" name="lssetframe" width="0" height="0" scrolling="no" sandbox="allow-scripts allow-same-origin" style="display: none; visibility: hidden;" src="https://ls.hit.gemius.pl/lsset.html"></iframe><iframe src="https://h.seznam.cz/html/cmp.html?v=2.177.5" frameborder="0" style="display: none;"></iframe></body></html>