<html lang="cs" ng-app="sreality" ng-controller="MainCtrl" class="ng-scope"><head><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide{display:none !important;}ng\:form{display:block;}.ng-animate-block-transitions{transition:0s all!important;-webkit-transition:0s all!important;}.ng-hide-add-active,.ng-hide-remove{display:block!important;}</style>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,minimal-ui">

	<!--- Nastaveni meta pres JS a ne pres Angular, aby byla nastavena default hodnota pro agenty co nezvladaji PhantomJS --->
	<title ng:bind-template="Pronájem bytu 2+kk 45&nbsp;m², Bratislavská, Praha 10 - Hostivař • Sreality.cz" class="ng-binding">Pronájem bytu 2+kk 45&nbsp;m², Bratislavská, Praha 10 - Hostivař • Sreality.cz</title>
	<meta name="description" content="Byt 2+kk 45 m² k pronájmu Bratislavská, Praha 10 - Hostivař; 14&nbsp;000 Kč za měsíc (14.000,- nájem + cca 4.000,- služby a energie), balkón, parkovací místo, výtah, bezbariérový, cihlová stavba, osobní vlastnictví, ve velmi dobrém stavu.">
	<meta property="og:title" content="Pronájem bytu 2+kk 45&nbsp;m², Bratislavská, Praha 10 - Hostivař">
	<meta property="og:type" content="website">
	<meta property="og:image" content="https://d18-a.sdn.cz/d_18/c_img_gX_g/79Q4oB.jpeg?fl=res,1920,1080,1|wrm,/watermark/sreality.png,10|shr,,20|jpg,90">
	<meta property="og:description" content="Byt 2+kk 45 m² k pronájmu Bratislavská, Praha 10 - Hostivař; 14&nbsp;000 Kč za měsíc (14.000,- nájem + cca 4.000,- služby a energie), balkón, parkovací místo, výtah, bezbariérový, cihlová stavba, osobní vlastnictví, ve velmi dobrém stavu.">
	<meta property="og:url" content="https://www.sreality.cz/detail/pronajem/byt/2+kk/praha-hostivar-bratislavska/1488132188">

	<!-- ngIf: metaStatus.value --><meta ng-if="metaStatus.value" name="szn:status" content="200" class="ng-scope"><!-- end ngIf: metaStatus.value -->

	<meta http-equiv="imagetoolbar" content="no">

	<link rel="icon" sizes="16x16 32x32 48x48 64x64" href="/img/icons/favicon.ico">
	<link rel="apple-touch-icon" sizes="57x57" href="/img/icons/apple-touch-icon-57x57.png?3">
	<link rel="apple-touch-icon" sizes="60x60" href="/img/icons/apple-touch-icon-60x60.png?3">
	<link rel="apple-touch-icon" sizes="72x72" href="/img/icons/apple-touch-icon-72x72.png?3">
	<link rel="apple-touch-icon" sizes="76x76" href="/img/icons/apple-touch-icon-76x76.png?3">
	<link rel="apple-touch-icon" sizes="114x114" href="/img/icons/apple-touch-icon-114x114.png?3">
	<link rel="apple-touch-icon" sizes="120x120" href="/img/icons/apple-touch-icon-120x120.png?3">
	<link rel="apple-touch-icon" sizes="144x144" href="/img/icons/apple-touch-icon-144x144.png?3">
	<link rel="apple-touch-icon" sizes="152x152" href="/img/icons/apple-touch-icon-152x152.png?3">
	<link rel="apple-touch-icon" sizes="180x180" href="/img/icons/apple-touch-icon-180x180.png?3">
	<link rel="icon" type="image/png" sizes="192x192" href="/img/icons/android-chrome-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/img/icons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/img/icons/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/img/icons/favicon-16x16.png">
	<link rel="manifest" href="/img/icons/android-chrome-manifest.json">
	<meta name="msapplication-TileColor" content="#2b5797">
	<meta name="msapplication-TileImage" content="/img/icons/ms-icon-144x144.png">
	<meta name="msapplication-config" content="/img/icons/browserconfig.xml">

	<!-- ngIf: rss.url -->
	<!-- ngRepeat: lang in metaSeo.languages -->

	<link rel="stylesheet" href="/css/all.css?f2c3377">

	<!--[if lte IE 8]>
		<script>
			document.createElement('popover');
			document.createElement('mortgage');
			document.createElement('hp-signpost');
			document.createElement('category-switcher');
			document.createElement('feedback');
			document.createElement('bottom');
			document.createElement('graph');
			document.createElement('panorama');
			document.createElement('panorama-prev');
			document.createElement('sphere-viewer');
			document.createElement('sphere-viewer-prev');
			document.createElement('save-filter');
		</script>
    <![endif]-->

	<!-- Statistiky -->
	<script id="gemius_hcconn_1641922974817_16025967" defer="defer" async="async" type="text/javascript" src="https://gacz.hit.gemius.pl/_1641922974817/rexdot.js?l=106&amp;id=ByLlP2uZJXREzOJ3CvKB7sd.XhZYAYdGPQEZEoRpgR7.M7&amp;et=view&amp;hsrc=2&amp;initsonar=1&amp;extra=sreality.cz%2FDetail%2FPronajem_D%2FByty_pronajem_D&amp;eventid=0&amp;fr=1&amp;tz=-60&amp;fv=-&amp;href=https%3A%2F%2Fwww.sreality.cz%2Fdetail%2Fpronajem%2Fbyt%2F2%2Bkk%2Fpraha-hostivar-bratislavska%2F1488132188&amp;ref=&amp;screen=1280x800r2000&amp;col=24&amp;window=1200x609&amp;ltime=45&amp;lsdata=-SETERR&amp;fpdata=qH2LwsBf9yRrNWh0jphnA1DV_PiKnG9aFg9U6nH2ZcL.b7&amp;vis=1&amp;fpcap="></script><script async="async" defer="defer" src="https://gacz.hit.gemius.pl/xgemius.js"></script><script src="https://h.seznam.cz/js/dot-small.js" type="text/javascript"></script>
	<script type="text/javascript">
		if (window.DOT) {
			var dotCfg = {
				service: 'sreality',
				lazyLoadingEnabled: true
			};
			/*if (window.SrealityNew && window.SrealityNew.abTestHelper) {
				dotCfg.abtest = window.SrealityNew.abTestHelper.getVariant();
			}*/
			DOT.cfg(dotCfg);
		}
	</script>

	<!-- SSP Reklama -->
	<script src="https://ssp.seznam.cz/static/js/ssp.js" type="text/javascript"></script>
	<!-- Sklik retargeting -->
	<script type="text/javascript" src="https://www.seznam.cz/rs/static/rc.js"></script>
	
	<script src="https://1.im.cz/software/promo/promo-sbrowser.js"></script>

	<!-- Seznam player-->
	<script src="//d53-a.sdn.cz/d_53/10/loader.min.js"></script>

	<!-- Seznam geo lokace -->
	<script src="https://geo.seznam.cz/static/js/geo.js"></script>

	<!-- Nastaveni personalizace (Consent Management Platform) -->
	<script src="https://h.imedia.cz/js/cmp2/scmp.js?auto_open=false"></script>

	<!-- Fetch polyfill	-->
	<script nomodule="" src="/js/fetch.umd.js"></script>

	<!-- KONFIGURACE -->
	<script src="/js/conf/config.js?f2c3377"></script>

	<script src="/js/maps.js?1"></script>
	<script src="/js/new-src.js?f2c3377"></script>
	<script src="/js/all.js?f2c3377"></script>

	<noscript>
		<meta http-equiv="refresh" content="0;url=?_escaped_fragment_="/>
	</noscript>
	<!-- ngIf: metaSeo.showMetaFragment --><meta name="fragment" content="!" ng-if="metaSeo.showMetaFragment" class="ng-scope"><!-- end ngIf: metaSeo.showMetaFragment -->

</head>
<!--[if IE 8]>    <body class="ie8"> <![endif]-->
<!--[if IE 9]>    <body class="notie8 ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<body class="notie8 notie9 lang-cs" data-dot-cookie-refresh-disabled="">
<!--<![endif]-->

	<div loading-line="" class="ng-isolate-scope"><div class="loading-line" style="display: block; transform: translate(-100%, 0px); transition: none 0s ease 0s;"></div>
</div>

	<div page-layout="" class="ng-isolate-scope"><preact component="ribbon" lang-binding="true" page-binding="true" class="ng-isolate-scope"></preact>
<preact component="aafisher" class="ng-isolate-scope"></preact>
<div id="page-layout" class="page-layout no-scrollbar smallmap" ng-class="pageLayout.classNames" ng-style="layoutTop" style="margin-top: 0px;">
	<div page-loader="" class="ng-isolate-scope"><span ng-show="status.visible" class="page-loader ng-hide">
	<img class="image" src="/img/page-loader.gif" alt="">
	<span class="text ng-binding">Načítám...</span>
</span></div>
	<div class="content-cover">
		<div id="top-brand"></div>
		<!-- ngIf: !pageLayout.empty --><div class="anchor-wrap ng-isolate-scope" ng-if="!pageLayout.empty" gallery-anchor="">
	<!-- ngRepeat: anch in data.anchrs track by $index --><div ng-repeat="anch in data.anchrs track by $index" id="img=0&amp;fullscreen=false" class="movement-anchor ng-scope" ng-style="data.scroll" style="top: 0px;"></div><!-- end ngRepeat: anch in data.anchrs track by $index --><div ng-repeat="anch in data.anchrs track by $index" id="img=1&amp;fullscreen=false" class="movement-anchor ng-scope" ng-style="data.scroll" style="top: 0px;"></div><!-- end ngRepeat: anch in data.anchrs track by $index --><div ng-repeat="anch in data.anchrs track by $index" id="img=2&amp;fullscreen=false" class="movement-anchor ng-scope" ng-style="data.scroll" style="top: 0px;"></div><!-- end ngRepeat: anch in data.anchrs track by $index --><div ng-repeat="anch in data.anchrs track by $index" id="img=3&amp;fullscreen=false" class="movement-anchor ng-scope" ng-style="data.scroll" style="top: 0px;"></div><!-- end ngRepeat: anch in data.anchrs track by $index -->
</div><!-- end ngIf: !pageLayout.empty -->
		<div ng-class="{ 'content-inner': true, empty: pageLayout.empty }" class="content-inner">
			<div class="app-promotion ng-isolate-scope ng-hide" data-ng-show="showed" data-ng-class="{'app-promotion-hiding': hiding}">
	<a class="app-promotion-link" href="https://play.google.com/store/apps/details?id=cz.seznam.sreality">Nainstalovat</a>
	<button class="app-promotion-close" data-ng-click="hide()">Zavřít</button>
	<img class="app-promotion-logo" data-ng-src="/img/sreality-app-logo2.png" width="57" height="57" src="/img/sreality-app-logo2.png">
	<div class="app-promotion-info">
		<div class="app-promotion-name ng-binding">Sreality.cz</div>
		<div class="app-promotion-author ng-binding">Seznam.cz, a.s.</div>
		<div class="app-promotion-rating"><span class="app-promotion-rating-progress" style="width: 80%"></span><span class="app-promotion-rating-stars"></span></div>
		<div class="app-promotion-price">Zadarmo v Google Play</div>
	</div>
</div>
			<!-- ngIf: !pageLayout.empty --><div ng-if="!pageLayout.empty" error-page="" class="ng-scope ng-isolate-scope"><!-- ngIf: errorData.isError -->
</div><!-- end ngIf: !pageLayout.empty -->
			<!-- ngIf: !errorData.isError --><div ng-transclude="" class="transcluded-content ng-scope" ng-if="!errorData.isError">
		<!-- ngView:  --><div ng-view="" class="ng-scope"><div class="property-detail ng-scope">

	<!-- ngIf: resource --><div class="content ng-scope" ng-if="resource" ng-class="{'show-report-error': showErrorReport}">

		<!--SEO stuff -->
		<!-- ngIf: resource._embedded.video_urls.length > 0 -->
		<!-- -->
	
		<div ng-show="showedEntity.detail" itemscope="" itemtype="https://schema.org/Product" class="">
			<div class="navigation-detail">
				<div class="crumb-back ng-isolate-scope" crumb-back="">
	<div class="left">
		<!-- ngIf: url -->
	</div>
</div>
				<div class="iterator ng-isolate-scope" iterator="">
	<div class="left">
		<!-- ngIf: urls.prevItemUrl -->
	</div><div class="right">
		<!-- ngIf: urls.nextItemUrl -->
	</div>
</div>
				<div class="navigation-fixer rows-2"></div>
			</div>

			<div map-print="resource" class="map-print s-map ng-isolate-scope smap"><div style="position: absolute; width: 0px; height: 0px; margin: 0px; padding: 0px; left: 184px; top: 96px;"><div><div id="1-0-0.7730064882932313"><div style="transform: translateZ(0px);"><img alt="" style="position: absolute; opacity: 0; transition: opacity 600ms ease 0s; left: -229.005px; top: -268.594px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/20-566566-355419" srcset="https://mapserver.mapy.cz/base-m/20-566566-355419, https://mapserver.mapy.cz/base-m/retina/20-566566-355419 2x"><img alt="" style="position: absolute; opacity: 0; transition: opacity 600ms ease 0s; left: -229.005px; top: -12.5942px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/20-566566-355420" srcset="https://mapserver.mapy.cz/base-m/20-566566-355420, https://mapserver.mapy.cz/base-m/retina/20-566566-355420 2x"><img alt="" style="position: absolute; opacity: 0; transition: opacity 600ms ease 0s; left: 26.9954px; top: -268.594px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/20-566567-355419" srcset="https://mapserver.mapy.cz/base-m/20-566567-355419, https://mapserver.mapy.cz/base-m/retina/20-566567-355419 2x"><img alt="" style="position: absolute; opacity: 0; transition: opacity 600ms ease 0s; left: 26.9954px; top: -12.5942px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/20-566567-355420" srcset="https://mapserver.mapy.cz/base-m/20-566567-355420, https://mapserver.mapy.cz/base-m/retina/20-566567-355420 2x"><img alt="" style="position: absolute; opacity: 0; transition: opacity 600ms ease 0s; left: 282.995px; top: -268.594px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/20-566568-355419" srcset="https://mapserver.mapy.cz/base-m/20-566568-355419, https://mapserver.mapy.cz/base-m/retina/20-566568-355419 2x"><img alt="" style="position: absolute; opacity: 0; transition: opacity 600ms ease 0s; left: 282.995px; top: -12.5942px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/20-566568-355420" srcset="https://mapserver.mapy.cz/base-m/20-566568-355420, https://mapserver.mapy.cz/base-m/retina/20-566568-355420 2x"></div></div></div><div></div><svg xmlns:xlink="http://www.w3.org/1999/xlink" width="368" height="192" style="position: absolute; left: -184px; top: -96px;"><g><g id="0.08858380516886344-2" style="transform: scale(1);"><polyline fill="none" stroke="white" stroke-linejoin="round" stroke-linecap="round" points="-1854.3418280780315 123.28639496862888, -1844.9900328218937 120.09236843883991, -1834.6036750078201 115.84728734195232, -1824.210525214672 112.64645443856716, -1813.8173742592335 109.44562332332134, -1804.4723643362522 105.2073560655117, -1794.0792108476162 102.00652818381786, -1775.3756051957607 95.61849428713322, -1755.6306426525116 89.22365801036358, -1736.9270282685757 82.8356355279684, -1718.2166212201118 77.49186591804028, -1698.4716456532478 71.09704779088497, -1685.9957736432552 67.88262441754341, -1673.5199002027512 64.66820366680622, -1660.0026721656322 61.446979343891144, -1647.5267957746983 58.23256401717663, -1635.0509179234505 55.018151327967644, -1622.5682520270348 52.84798899292946, -1610.0855851471424 50.67782936990261, -1597.6097034215927 47.463424637913704, -1585.1270343661308 45.29327042400837, -1572.6375786364079 44.167366817593575, -1560.1549078524113 41.99721805751324, -1547.6654508709908 40.87132002413273, -1535.1759933829308 39.74542474746704, -1523.7278889417648 38.626335844397545, -1511.2384304404259 37.50044593214989, -1498.7489714324474 36.37455879151821, -1486.2527278363705 36.29292248189449, -1473.7564842104912 36.211289033293724, -1461.2602405250072 36.1296583712101, -1447.7158598303795 37.08547641336918, -1435.2196162641048 37.0038516074419, -1422.7165897786617 37.96647767722607, -1410.2135637402534 38.9291065633297, -1396.6691845357418 39.88493700325489, -1384.1593771874905 41.89181973040104, -1370.614999115467 42.84765648841858, -1357.06383985281 44.84774447977543, -1343.512681543827 46.84783573448658, -1329.9547430574894 49.89217807352543, -1316.403586924076 51.892275750637054, -1302.845651090145 54.93662442266941, -1288.2463634610176 57.974177062511444, -1272.5921640992165 63.093429788947105, -1254.8552614152431 68.19908927381039, -1238.1664943397045 72.26730479300022, -1219.3882447183132 77.36617656052113, -1206.8581154942513 82.50583983957767, -1194.3279885947704 87.64550550282001, -1180.763289630413 91.73412926495075, -1167.191814571619 96.86700303852558, -1153.6135641932487 103.04412658512592, -1139.0007419884205 108.17020963132381, -1124.3811451792717 114.34054274857044, -1108.7269764244556 119.45983661711216, -1094.1073858737946 125.63017649948597, -1078.4464465975761 131.793724283576, -1062.7855107784271 137.95727586746216, -1048.1659300923347 144.1276258379221, -1031.4636494219303 150.2843902260065, -1015.7959486544132 157.49219895899296, -1000.135026872158 163.6557654440403, -984.47410851717 169.81933565437794, -968.8064192533493 177.0271551758051, -953.1455080509186 183.19073279201984, -937.4846003055573 189.3543141335249, -921.8169225156307 196.56214447319508, -906.1560219526291 202.7257332354784, -890.4951247870922 208.88932575285435, -875.8755815327168 215.0597134232521, -860.214691132307 221.2233131378889, -845.5951544046402 227.39370745420456, -830.9756208956242 233.56410497426987, -817.3974405825138 239.74129597842693, -803.8192632198334 245.9184896349907, -790.2478598952293 251.0514417141676, -776.6764590144157 256.1843966692686, -764.1396397054195 262.36838783323765, -751.6163637042046 266.4638932496309, -732.8179133236408 274.69564382731915, -714.0262379646301 281.8831558972597, -695.2413366734982 288.026429861784, -676.4564394950867 294.1697095185518, -657.6783149242401 299.26875154674053, -639.9415425360203 304.37458641827106, -622.2115412354469 308.43618331849575, -604.4815424978733 312.4977856129408, -586.7583135068417 315.51515017449856, -569.0350863933563 318.53252024948597, -552.3599762022495 320.51243817806244, -534.6435186862946 322.48557601869106, -517.9751767814159 323.4212611615658, -501.3068353533745 324.3569513261318, -483.60391131043434 324.2416194677353, -466.94233563542366 324.13307701051235, -450.28752452135086 322.98029655218124, -433.6327126920223 321.8275210559368, -416.9846641421318 319.63050751388073, -400.3366142809391 317.43349884450436, -382.64721444249153 315.2297129034996, -366.00592494010925 311.9884711802006, -349.37139624357224 307.70299093425274, -331.68875363469124 304.4549774825573, -315.06098210811615 299.12526351213455, -297.3850965499878 294.8330169171095, -280.76408034563065 288.4590686261654, -263.09494984149933 283.12258836627007, -245.43257680535316 276.74186934530735, -227.77019968628883 270.36115519702435, -209.0732290148735 262.9294228553772, -190.383013099432 254.45345149934292, -93.82131233811378 209.964848741889, -2.4189208149909973 172.81997446715832, 427.5736255943775 -4.372587397694588, 797.3251902163029 -157.15253208577633, 1280.2302777469158 -366.01197907328606, 1337.35035020113 -390.4011597186327, 1352.9236651062965 -397.81220556795597, 1369.5450774133205 -404.1857407093048, 1385.1318614780903 -409.5082654207945, 1400.71864849329 -414.83078630268574, 1415.2708057165146 -419.10229754447937, 1430.8710576295853 -422.3362964242697, 1446.4713113307953 -425.5702911168337, 1461.0369330644608 -427.7532765418291, 1476.6506476402283 -428.8987484127283, 1492.2643629014492 -430.0442159026861, 1508.9194417595863 -431.19642589986324, 1524.5398862659931 -431.29762698709965, 1542.2430567741394 -431.41231621801853, 1559.952954620123 -430.48274244368076, 1577.6561249792576 -430.5974203944206, 1597.448747932911 -429.68132580816746, 1607.9296407997608 -419.3062042146921, 1618.4105297923088 -408.9310825318098, 1627.8433265686035 -399.59347297251225, 1637.2761201560497 -390.2558633387089, 1646.7156362235546 -379.8739971667528, 1655.1070615053177 -370.5296434611082, 1663.4984839558601 -361.1852900236845, 1671.8899036049843 -351.8409368544817, 1679.2466840744019 -341.4455845504999, 1686.5967369675636 -332.094488710165, 1695.0015977323055 -320.6616260558367, 1701.317009061575 -310.25953318178654, 1708.6872274279594 -297.77567464113235, 1716.0507181882858 -286.3360726684332, 1722.3862941861153 -272.80122013390064, 1729.7632268965244 -259.27311281859875, 1921.8444754183292 136.31527130305767, 2020.631888538599 275.6108073890209" stroke-opacity="0.6" stroke-width="9" stroke-dasharray=""><title></title></polyline><polyline fill="none" stroke="#00f" stroke-linejoin="round" stroke-linecap="round" points="-1854.3418280780315 123.28639496862888, -1844.9900328218937 120.09236843883991, -1834.6036750078201 115.84728734195232, -1824.210525214672 112.64645443856716, -1813.8173742592335 109.44562332332134, -1804.4723643362522 105.2073560655117, -1794.0792108476162 102.00652818381786, -1775.3756051957607 95.61849428713322, -1755.6306426525116 89.22365801036358, -1736.9270282685757 82.8356355279684, -1718.2166212201118 77.49186591804028, -1698.4716456532478 71.09704779088497, -1685.9957736432552 67.88262441754341, -1673.5199002027512 64.66820366680622, -1660.0026721656322 61.446979343891144, -1647.5267957746983 58.23256401717663, -1635.0509179234505 55.018151327967644, -1622.5682520270348 52.84798899292946, -1610.0855851471424 50.67782936990261, -1597.6097034215927 47.463424637913704, -1585.1270343661308 45.29327042400837, -1572.6375786364079 44.167366817593575, -1560.1549078524113 41.99721805751324, -1547.6654508709908 40.87132002413273, -1535.1759933829308 39.74542474746704, -1523.7278889417648 38.626335844397545, -1511.2384304404259 37.50044593214989, -1498.7489714324474 36.37455879151821, -1486.2527278363705 36.29292248189449, -1473.7564842104912 36.211289033293724, -1461.2602405250072 36.1296583712101, -1447.7158598303795 37.08547641336918, -1435.2196162641048 37.0038516074419, -1422.7165897786617 37.96647767722607, -1410.2135637402534 38.9291065633297, -1396.6691845357418 39.88493700325489, -1384.1593771874905 41.89181973040104, -1370.614999115467 42.84765648841858, -1357.06383985281 44.84774447977543, -1343.512681543827 46.84783573448658, -1329.9547430574894 49.89217807352543, -1316.403586924076 51.892275750637054, -1302.845651090145 54.93662442266941, -1288.2463634610176 57.974177062511444, -1272.5921640992165 63.093429788947105, -1254.8552614152431 68.19908927381039, -1238.1664943397045 72.26730479300022, -1219.3882447183132 77.36617656052113, -1206.8581154942513 82.50583983957767, -1194.3279885947704 87.64550550282001, -1180.763289630413 91.73412926495075, -1167.191814571619 96.86700303852558, -1153.6135641932487 103.04412658512592, -1139.0007419884205 108.17020963132381, -1124.3811451792717 114.34054274857044, -1108.7269764244556 119.45983661711216, -1094.1073858737946 125.63017649948597, -1078.4464465975761 131.793724283576, -1062.7855107784271 137.95727586746216, -1048.1659300923347 144.1276258379221, -1031.4636494219303 150.2843902260065, -1015.7959486544132 157.49219895899296, -1000.135026872158 163.6557654440403, -984.47410851717 169.81933565437794, -968.8064192533493 177.0271551758051, -953.1455080509186 183.19073279201984, -937.4846003055573 189.3543141335249, -921.8169225156307 196.56214447319508, -906.1560219526291 202.7257332354784, -890.4951247870922 208.88932575285435, -875.8755815327168 215.0597134232521, -860.214691132307 221.2233131378889, -845.5951544046402 227.39370745420456, -830.9756208956242 233.56410497426987, -817.3974405825138 239.74129597842693, -803.8192632198334 245.9184896349907, -790.2478598952293 251.0514417141676, -776.6764590144157 256.1843966692686, -764.1396397054195 262.36838783323765, -751.6163637042046 266.4638932496309, -732.8179133236408 274.69564382731915, -714.0262379646301 281.8831558972597, -695.2413366734982 288.026429861784, -676.4564394950867 294.1697095185518, -657.6783149242401 299.26875154674053, -639.9415425360203 304.37458641827106, -622.2115412354469 308.43618331849575, -604.4815424978733 312.4977856129408, -586.7583135068417 315.51515017449856, -569.0350863933563 318.53252024948597, -552.3599762022495 320.51243817806244, -534.6435186862946 322.48557601869106, -517.9751767814159 323.4212611615658, -501.3068353533745 324.3569513261318, -483.60391131043434 324.2416194677353, -466.94233563542366 324.13307701051235, -450.28752452135086 322.98029655218124, -433.6327126920223 321.8275210559368, -416.9846641421318 319.63050751388073, -400.3366142809391 317.43349884450436, -382.64721444249153 315.2297129034996, -366.00592494010925 311.9884711802006, -349.37139624357224 307.70299093425274, -331.68875363469124 304.4549774825573, -315.06098210811615 299.12526351213455, -297.3850965499878 294.8330169171095, -280.76408034563065 288.4590686261654, -263.09494984149933 283.12258836627007, -245.43257680535316 276.74186934530735, -227.77019968628883 270.36115519702435, -209.0732290148735 262.9294228553772, -190.383013099432 254.45345149934292, -93.82131233811378 209.964848741889, -2.4189208149909973 172.81997446715832, 427.5736255943775 -4.372587397694588, 797.3251902163029 -157.15253208577633, 1280.2302777469158 -366.01197907328606, 1337.35035020113 -390.4011597186327, 1352.9236651062965 -397.81220556795597, 1369.5450774133205 -404.1857407093048, 1385.1318614780903 -409.5082654207945, 1400.71864849329 -414.83078630268574, 1415.2708057165146 -419.10229754447937, 1430.8710576295853 -422.3362964242697, 1446.4713113307953 -425.5702911168337, 1461.0369330644608 -427.7532765418291, 1476.6506476402283 -428.8987484127283, 1492.2643629014492 -430.0442159026861, 1508.9194417595863 -431.19642589986324, 1524.5398862659931 -431.29762698709965, 1542.2430567741394 -431.41231621801853, 1559.952954620123 -430.48274244368076, 1577.6561249792576 -430.5974203944206, 1597.448747932911 -429.68132580816746, 1607.9296407997608 -419.3062042146921, 1618.4105297923088 -408.9310825318098, 1627.8433265686035 -399.59347297251225, 1637.2761201560497 -390.2558633387089, 1646.7156362235546 -379.8739971667528, 1655.1070615053177 -370.5296434611082, 1663.4984839558601 -361.1852900236845, 1671.8899036049843 -351.8409368544817, 1679.2466840744019 -341.4455845504999, 1686.5967369675636 -332.094488710165, 1695.0015977323055 -320.6616260558367, 1701.317009061575 -310.25953318178654, 1708.6872274279594 -297.77567464113235, 1716.0507181882858 -286.3360726684332, 1722.3862941861153 -272.80122013390064, 1729.7632268965244 -259.27311281859875, 1921.8444754183292 136.31527130305767, 2020.631888538599 275.6108073890209" stroke-opacity="0.65" stroke-width="3" stroke-dasharray="9 12"><title></title></polyline></g></g></svg><div></div><div></div></div><div class="hud"><div class="noprint"><div class="copyright print" title=" Seznam.cz, a.s., 2022 |  OpenStreetMap" style="position: absolute; inset: auto auto 3px 5px;">© <a href="https://o.seznam.cz" target="_blank" rel="noopener">Seznam.cz, a.s.</a>, 2022 a <a href="#" data-others="1">další</a></div><a class="print" target="_blank" href="https://mapy.cz/?x=14.515307&amp;y=50.043901&amp;z=20" style="position: absolute; inset: auto 0px 0px auto;"><img src="https://api.mapy.cz/img/api/logo.svg" alt="Zobrazit na Mapy.cz"></a></div></div></div>

			<div class="gallery ng-isolate-scope" ng-class="{ 'old-browsers': oldBrowsers }" gallery="resource">

	<!-- ngIf: sphereShowed -->

	<!-- ngIf: panoramaShowed -->

	<!-- prochazeni fotek v detailu -->
	<!-- ngIf: isDetail() && !isPhantom --><div class="detail-images ng-scope" ng-if="isDetail() &amp;&amp; !isPhantom">
		<!-- jednotlive obrazky -->
		<div class="image-cover" ng-class="{ mobile: isMobile }"><!--
		--><div class="image prev">
				<img ng-src="https://d18-a.sdn.cz/d_18/c_img_gV_i/zbP4jz.jpeg?fl=res,749,562,3|shr,,20|jpg,90" ng-click="showEntity(SHOW_ENTITY.FULLSCREEN)" class="img" src="https://d18-a.sdn.cz/d_18/c_img_gV_i/zbP4jz.jpeg?fl=res,749,562,3|shr,,20|jpg,90">
			</div><!--

			 --><!-- ngIf: images.detail.virtualTour --><!--

			--><!-- ngIf: images.detail.panorama --><!--

			 --><!-- ngIf: images.detail.sphere --><!--

		 --><!-- ngIf: images.detail.image --><div class="image active ng-scope" ng-class="{ loading: images.detail.active.loading }" swipe="" swipe-right="prevPhoto()" swipe-left="nextPhoto()" ng-if="images.detail.image" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><!--
			 --><!-- ngIf: images.detail.active.showVideo --><!--
			 --><img alt="" class="img" my-image="" img-src="https://d18-a.sdn.cz/d_18/c_img_gX_g/79Q4oB.jpeg?fl=res,749,562,3|shr,,20|jpg,90" img-load="images.detail.active.loading = true" img-done="images.detail.active.loading = false" itemprop="image"><!--
			 --><div class="download-cover" ng-click="showEntity(SHOW_ENTITY.FULLSCREEN)">&nbsp;</div><!--
		 --></div><!-- end ngIf: images.detail.image --><!--

		--><div class="image next">
				<img ng-src="https://d18-a.sdn.cz/d_18/c_img_gT_i/szp44K.jpeg?fl=res,749,562,3|shr,,20|jpg,90" ng-click="showEntity(SHOW_ENTITY.FULLSCREEN)" class="img" src="https://d18-a.sdn.cz/d_18/c_img_gT_i/szp44K.jpeg?fl=res,749,562,3|shr,,20|jpg,90">
			</div>

			<!-- navigace -->
			<!-- ngIf: !virtualTourShowed --><button class="detail-btn prev ng-scope" ng-click="prevPhoto($event)" ng-if="!virtualTourShowed">
				<span class="btn-circle-gallery icof icon-arr-left" ng-class="{ hidden: selected.active == 0 &amp;&amp; !conf.infiniteScroll }"></span>
			</button><!-- end ngIf: !virtualTourShowed -->
			<!-- ngIf: !virtualTourShowed --><button class="detail-btn next ng-scope" ng-click="nextPhoto($event)" ng-if="!virtualTourShowed">
				<span class="btn-circle-gallery icof icon-arr-right" ng-class="{ hidden: selected.active == data.images.length - 1 &amp;&amp; !conf.infiniteScroll }"></span>
			</button><!-- end ngIf: !virtualTourShowed -->
		</div>

		<!-- do thumbnails -->
		<!-- ngIf: !panoramaShowed && !sphereShowed && !virtualTourShowed --><button class="btn thumbnails ng-binding ng-scope" ng-if="!panoramaShowed &amp;&amp; !sphereShowed &amp;&amp; !virtualTourShowed" ng-click="showEntity(SHOW_ENTITY.THUMBNAILS)">
			Zobrazit
			4
			fotografie
			v galerii
		</button><!-- end ngIf: !panoramaShowed && !sphereShowed && !virtualTourShowed -->

		<!-- ngIf: panoramaShowed -->

		<!-- ngIf: virtualTourShowed -->		
	</div><!-- end ngIf: isDetail() && !isPhantom -->

	<!-- phantom -->
	<!-- ngIf: isPhantom -->

	<!-- fullscreen mod -->
	<div class="fullscreen-mode ng-hide" ng-show="!isDetail()">
		<div class="background"></div>

		<!-- fullscreen obrazky -->
		<div class="fl-images prev">
			<!-- ngIf: isFullscreen() -->
		</div>

		<div class="fl-images active" ng-class="{ loading: images.fullscreen.active.loading &amp;&amp; !images.fullscreen.panorama &amp;&amp; !images.fullscreen.sphere, 'panorama-fullscreen': images.fullscreen.panorama }" swipe="" swipe-right="prevPhoto()" swipe-left="nextPhoto()" ng-click="fullscreenClick(images.fullscreen)" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><!--
			--><!-- ngIf: isFullscreen() && !isVideo() && images.fullscreen.image -->

				<!-- ngIf: isFullscreen() && images.fullscreen.virtualTour -->
				<!-- ngIf: images.fullscreen.virtualTour -->

			 	<!-- ngIf: images.fullscreen.sphere -->

				<!-- ngIf: images.fullscreen.panorama -->
				<!-- ngIf: images.fullscreen.panorama -->

			<div class="download-cover">&nbsp;</div>
		</div>

		<div class="fl-images next">
			<!-- ngIf: isFullscreen() -->
		</div>

		<!-- video prehravac -->
		<!-- ngIf: isVideo() -->

		<!-- nahledy thumbnails -->
		<div class="thumbnails-outter" ng-class="{ show: isThumbnails(), 'fl-detail': isFullscreen() }" ng-click="showEntity(SHOW_ENTITY.DETAIL)">
			<div class="thumbnails-middle"><!-- fix pro ipad6 -->
				<div class="thumbnails-inner">
					<div class="list less-than-five" ng-class="{ 'less-than-five': data.images.length < 5 }">
						<!-- ngRepeat: image in data.images track by $index --><div class="thumb-image ng-scope active" ng-repeat="image in data.images track by $index" ng-click="openFullscreenPhoto($event, $index)" ng-class="{ active: selected.active == $index, loading: image.thumbLoad &amp;&amp; image.image}">
							<!-- ngIf: loadThumbnails && image.image -->
							
							<!-- ngIf: loadThumbnails && image.virtualTour -->
							<!-- ngIf: image.virtualTour -->

							<!-- ngIf: image.sphere -->

							<!-- ngIf: image.panorama -->
							<!-- ngIf: image.panorama -->

							<!-- ngIf: $index == videoIndex && data.hasVideo -->
						</div><!-- end ngRepeat: image in data.images track by $index --><div class="thumb-image ng-scope" ng-repeat="image in data.images track by $index" ng-click="openFullscreenPhoto($event, $index)" ng-class="{ active: selected.active == $index, loading: image.thumbLoad &amp;&amp; image.image}">
							<!-- ngIf: loadThumbnails && image.image -->
							
							<!-- ngIf: loadThumbnails && image.virtualTour -->
							<!-- ngIf: image.virtualTour -->

							<!-- ngIf: image.sphere -->

							<!-- ngIf: image.panorama -->
							<!-- ngIf: image.panorama -->

							<!-- ngIf: $index == videoIndex && data.hasVideo -->
						</div><!-- end ngRepeat: image in data.images track by $index --><div class="thumb-image ng-scope" ng-repeat="image in data.images track by $index" ng-click="openFullscreenPhoto($event, $index)" ng-class="{ active: selected.active == $index, loading: image.thumbLoad &amp;&amp; image.image}">
							<!-- ngIf: loadThumbnails && image.image -->
							
							<!-- ngIf: loadThumbnails && image.virtualTour -->
							<!-- ngIf: image.virtualTour -->

							<!-- ngIf: image.sphere -->

							<!-- ngIf: image.panorama -->
							<!-- ngIf: image.panorama -->

							<!-- ngIf: $index == videoIndex && data.hasVideo -->
						</div><!-- end ngRepeat: image in data.images track by $index --><div class="thumb-image ng-scope" ng-repeat="image in data.images track by $index" ng-click="openFullscreenPhoto($event, $index)" ng-class="{ active: selected.active == $index, loading: image.thumbLoad &amp;&amp; image.image}">
							<!-- ngIf: loadThumbnails && image.image -->
							
							<!-- ngIf: loadThumbnails && image.virtualTour -->
							<!-- ngIf: image.virtualTour -->

							<!-- ngIf: image.sphere -->

							<!-- ngIf: image.panorama -->
							<!-- ngIf: image.panorama -->

							<!-- ngIf: $index == videoIndex && data.hasVideo -->
						</div><!-- end ngRepeat: image in data.images track by $index -->
					</div>
				</div>
			</div>
		</div>

		<div class="navigation">
			<!-- pouze pro fullscreen a video -->
			<!-- ngIf: !isThumbnails() --><button class="btn-circle-gallery-fs icof icon-list ng-scope" ng-click="showEntity(SHOW_ENTITY.THUMBNAILS)" ng-if="!isThumbnails()"></button><!-- end ngIf: !isThumbnails() -->
			<!-- ngIf: !isThumbnails() --><button class="btn-circle-gallery-fs icof icon-arr-left ng-scope" ng-click="prevPhoto($event)" ng-if="!isThumbnails()"></button><!-- end ngIf: !isThumbnails() -->
			<!-- ngIf: !isThumbnails() --><span class="image-order ng-binding ng-scope" ng-if="!isThumbnails()">1/4</span><!-- end ngIf: !isThumbnails() -->
			<!-- ngIf: !isThumbnails() --><button class="btn-circle-gallery-fs icof icon-arr-right ng-scope" ng-click="nextPhoto($event)" ng-if="!isThumbnails()"></button><!-- end ngIf: !isThumbnails() -->

			<!-- spolecne pro fullscreen, thumbnails a video -->
			<button class="btn-circle-gallery-fs icof icon-cross" ng-click="showEntity(SHOW_ENTITY.DETAIL)"></button>
		</div>
	</div>
</div>
			
			<div class="property-title">
				<h1>
					<span itemprop="name">
						<span class="name ng-binding">Pronájem bytu 2+kk 45&nbsp;m²</span>
						<span class="location"><span class="location-text ng-binding">Bratislavská, Praha 10 - Hostivař</span>

							<!-- ngIf: showPanoramaBtn -->
						</span>
					</span>
				</h1>
				<!-- ngIf: contentData.price --><span ng-if="contentData.price" class="price ng-scope" itemprop="offerDetails" itemscope="" itemtype="https://schema.org/Offer">
					<!-- ngIf: contentData.price.raw > 1 --><span ng-if="contentData.price.raw > 1" class="microdata ng-scope">
						<meta itemprop="currency" content="CZK">
						<span itemprop="price" class="ng-binding">14000</span>
					</span><!-- end ngIf: contentData.price.raw > 1 -->
					<span class="norm-price ng-binding">14&nbsp;000&nbsp;Kč za měsíc</span>
					<!-- ngIf: contentData.price.alternative -->

					<!-- ngIf: !!contentData.energyEfficiencyRating --><span class="energy-efficiency-rating energy-efficiency-rating--b" ng-if="!!contentData.energyEfficiencyRating">
						<svg class="energy-efficiency-rating__arrow" viewBox="0 0 24 28">
							<path d="M11.98,28c1.271,0,2.463-0.577,3.233-1.561l7.918-10.067c1.136-1.445,1.13-3.461-0.017-4.899l-7.901-9.932 C14.443,0.568,13.253,0,11.999,0C10.73,0,9.537,0.577,8.765,1.56L0.848,11.628c-1.136,1.445-1.13,3.461,0.015,4.899l7.902,9.932 C9.537,27.432,10.726,28,11.982,28H11.98z"></path>
						</svg>
						<span class="energy-efficiency-rating__type ng-binding">B</span>
						<span class="energy-efficiency-rating__text ng-binding">Velmi úsporná</span>
					</span><!-- end ngIf: !!contentData.energyEfficiencyRating -->
				</span><!-- end ngIf: contentData.price -->
				<!-- ngIf: topped -->
			</div>

			<!--<button data-dot="go-to-mortage" class="c-mortgage-link"
					ng-if="actualLang === 'cs' && detailData.price && detailData.typeId === 1 && showHyponamiru"
					ng-click="scrollIntoMortgageCalculator()">
				<img class="c-mortgage-link__icon" src="/img/hypoteka/calculator.svg" />
				<span class="c-mortgage-link__text">Spočítat hypotéku</span>
			</button>-->

			<div class="description ng-binding" itemprop="description" ng-bind-html="contentData.description | lineFilter"><p>Pronajmu byt 2+kk s balkonem a garáží. Byt je částečně zařízen (vestavěné skříně, pračka, rozkládací gauč), toaleta a koupelna jsou odděleny, součástí bytu je též komora. Tichá lokalita s výhledem do zeleně, 5min.chůze k parku a vodní nádrži Hostivař, 10min.autem do centra. Cena pronájmu a služeb uvedena již vč. garáže a předpokladu elektřiny (elektřinu si nájemce sám zasmluvní sám). K dispozici od února 2022, doba pronájmu minimálně na 1 rok.</p></div>

			<div class="params clear">
				<!-- ngRepeat: group in params --><ul ng-repeat="group in params" class="params1">
					<!-- ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">Celková cena:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope">14&nbsp;000 Kč za měsíc</span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">Poznámka k ceně:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope">14.000,- nájem + cca 4.000,- služby a energie</span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">Náklady na bydlení:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope">18000</span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">Aktualizace:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope">Dnes</span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">ID:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope">1488132188</span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">Stavba:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope">Cihlová</span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">Stav objektu:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope">Velmi dobrý</span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">Vlastnictví:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope">Osobní</span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">Umístění objektu:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope">Klidná část obce</span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">Podlaží:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope">3. podlaží z celkem 5 včetně 2 podzemních</span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params -->
				</ul><!-- end ngRepeat: group in params --><ul ng-repeat="group in params" class="params2">
					<!-- ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">Užitná plocha:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope">45</span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' --><span ng-if="item.type == 'area'" class="ng-scope">m<sup>2</sup></span><!-- end ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">Balkón:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope"></span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' --><span ng-if="item.type == 'boolean-true'" class="icof icon-ok ng-scope"></span><!-- end ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">Parkování:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope">1</span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">Datum nastěhování:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope">01.02.2022</span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">Topení:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope">Ústřední dálkové</span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">Energetická náročnost budovy:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope">Třída B - Velmi úsporná</span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">Bezbariérový:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope"></span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' --><span ng-if="item.type == 'boolean-true'" class="icof icon-ok ng-scope"></span><!-- end ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">Vybavení:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope">Částečně</span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">Výtah:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope"></span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' --><span ng-if="item.type == 'boolean-true'" class="icof icon-ok ng-scope"></span><!-- end ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params -->
				</ul><!-- end ngRepeat: group in params -->
			</div>

			<div class="buttons" data-dot-data="{&quot;jazyk&quot;:&quot;cs&quot;,&quot;id&quot;:&quot;1488132188&quot;,&quot;okres&quot;:&quot;praha-10&quot;,&quot;cena&quot;:14000,&quot;stavba&quot;:&quot;cihlova&quot;,&quot;navic&quot;:&quot;balkon,parkovani,vytah&quot;,&quot;typ-nemovitosti&quot;:&quot;byty&quot;,&quot;typ-transakce&quot;:&quot;pronajem&quot;,&quot;velikost&quot;:&quot;2+kk&quot;}">
				<!-- ngIf: favData --><span class="btn-wrap ng-scope ng-isolate-scope" favourite="favData" ng-if="favData"><span class="favorite-directive">
	<!-- ngIf: showed -->
	<a class="btn icof icon-favourite favorite-button ng-binding ng-isolate-scope ng-pristine ng-valid" link-requires-login="" ng-model="data.model" ng-click="change()" ng-class="{active: data.model}">Přidat do oblíbených
	</a>
</span>
</span><!-- end ngIf: favData --><!--
			 --><span class="btn-wrap ng-isolate-scope" property-share="propShareConf"><span class="property-share-wrap">
	<button data-dot-data="{&quot;text&quot;:&quot;Sdílet inzerát&quot;}" class="btn icof icon-share" ng-click="showContent($event)" ng-class="{ active: show }"><span class="text ng-binding">Sdílet inzerát</span></button>
	<span class="property-share-content-wrap ng-hide" ng-show="show">
		<span class="property-share-content ng-isolate-scope" off-click="showContent()" off-click-if="show">
			<h3 class="title ng-binding">Sdílet inzerát</h3>
			<input type="text" class="input url-input ng-pristine ng-valid" ng-model="input" readonly="" ng-click="click($event)">
			<ul class="items">
				<!-- ngRepeat: i in items --><li class="item ng-scope facebook" ng-class="i.className" ng-repeat="i in items">
					<a href="https://www.facebook.com/sharer.php?u=https%3A%2F%2Fwww.sreality.cz%2Fdetail%2Fpronajem%2Fbyt%2F2%2Bkk%2Fpraha-hostivar-bratislavska%2F1488132188" target="_blank" class="link ng-binding">
						<span class="icon"></span>
						Facebook
					</a>
				</li><!-- end ngRepeat: i in items --><li class="item ng-scope twitter" ng-class="i.className" ng-repeat="i in items">
					<a href="https://twitter.com/share?&amp;url=https%3A%2F%2Fwww.sreality.cz%2Fdetail%2Fpronajem%2Fbyt%2F2%2Bkk%2Fpraha-hostivar-bratislavska%2F1488132188&amp;text=Pron%C3%A1jem%20bytu%202%2Bkk%2045%C2%A0m%C2%B2" target="_blank" class="link ng-binding">
						<span class="icon"></span>
						Twitter
					</a>
				</li><!-- end ngRepeat: i in items -->
			</ul>
		</span>
	</span>
</span>
</span><!--
			 --><span class="btn-wrap">
					<button data-dot-data="{&quot;text&quot;:&quot;Tisknout&quot;}" class="btn icof icon-print property-print ng-binding" ng-click="printPage()">Tisknout</button>
				</span><!--
			 --><span class="btn-wrap note-wrap ng-isolate-scope" note="resource">
	<a link-requires-login="" class="btn icof icon-pen btn-note ng-binding ng-isolate-scope" ng-click="showNote()" ng-show="!show">Přidat poznámku</a>
	<span class="note ng-hide" ng-show="show">
		<textarea class="textarea ng-pristine ng-valid" ng-attr-placeholder="{{ 'lang-note.placeholder' | translate }}" ng-model="model" placeholder="Přidejte si poznámku k inzerátu"></textarea>
		<div class="control">
			<button class="btn ng-binding" ng-click="save()" ng-class="{'icof icon-ok': status == 1, 'icof icon-cross': status == 2}">Uložit</button>
		</div>
		<span class="icof icon-cross remove" ng-click="remove()"></span>
	</span>
</span>
			</div>

			<!-- ngIf: addressFrom --><div class="c-transport ng-scope" ng-if="addressFrom" id="c-transport" address-from="contentData.subTitle">
    <span class="c-transport__title ng-binding">Dojezdová vzdálenost</span>
    <span class="c-tag-new ng-binding">Nové</span>
    
    <!-- ngIf: !userLogged() --><div ng-if="!userLogged()" class="ng-scope">	
        <img class="c-transport__icon" src="/img/dojezdova-vzdalenost.svg">
        <div class="c-transport__text-wrap">
            <span class="c-transport__text ng-binding">Zajímá vás, jak dlouho budete dojíždět z této adresy?</span>
            <button class="c-transport__link-btn ng-binding" type="button" ng-click="login()">Přihlaste se a zkontrolujte svůj dojezdový čas</button>
        </div>
    </div><!-- end ngIf: !userLogged() -->
    
    <!-- ngIf: userLogged() && isFirstLoaded -->
</div><!-- end ngIf: addressFrom -->

			<!-- ngIf: services -->

			<!-- ngIf: pois.length --><div ng-if="pois.length" class="c-pois ng-scope">
				<h2 class="c-pois__header ng-binding">V okolí najdete:</h2>
				<ul class="c-pois__list">
					<!-- ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Hřiště:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url --><a ng-if="poi.url" class="c-pois__poi-text ng-binding ng-scope" ng-href="https://mapy.cz/zakladni?x=14.5158386683&amp;y=50.0435510266&amp;z=17&amp;source=base&amp;id=1926841" target="_blank" href="https://mapy.cz/zakladni?x=14.5158386683&amp;y=50.0435510266&amp;z=17&amp;source=base&amp;id=1926841">Dětské hřiště Budapešťská</a><!-- end ngIf: poi.url -->
							<!-- ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (40&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Večerka:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url --><a ng-if="poi.url" class="c-pois__poi-text ng-binding ng-scope" ng-href="https://www.firmy.cz/detail/2354162-albert-supermarket-praha-hostivar.html" target="_blank" href="https://www.firmy.cz/detail/2354162-albert-supermarket-praha-hostivar.html">Albert Supermarket</a><!-- end ngIf: poi.url -->
							<!-- ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (148&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Cukrárna:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url --><a ng-if="poi.url" class="c-pois__poi-text ng-binding ng-scope" ng-href="https://www.firmy.cz/detail/13220484-cukrarna-brodskeho-praha-chodov.html" target="_blank" href="https://www.firmy.cz/detail/13220484-cukrarna-brodskeho-praha-chodov.html">Cukrárna Brodského</a><!-- end ngIf: poi.url -->
							<!-- ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (1071&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Veterinář:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url --><a ng-if="poi.url" class="c-pois__poi-text ng-binding ng-scope" ng-href="https://www.firmy.cz/detail/2454493-mgr-lubos-votocek-praha-chodov.html" target="_blank" href="https://www.firmy.cz/detail/2454493-mgr-lubos-votocek-praha-chodov.html">Mgr. Luboš Votoček</a><!-- end ngIf: poi.url -->
							<!-- ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (947&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Hospoda:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url --><a ng-if="poi.url" class="c-pois__poi-text ng-binding ng-scope" ng-href="https://www.firmy.cz/detail/13115302-hospudka-v-ofsajdu-praha-chodov.html" target="_blank" href="https://www.firmy.cz/detail/13115302-hospudka-v-ofsajdu-praha-chodov.html">Hospůdka V Ofsajdu</a><!-- end ngIf: poi.url -->
							<!-- ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (1131&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Divadlo:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url --><a ng-if="poi.url" class="c-pois__poi-text ng-binding ng-scope" ng-href="https://www.firmy.cz/detail/2048564-skazka-praha-hostivar.html" target="_blank" href="https://www.firmy.cz/detail/2048564-skazka-praha-hostivar.html">SKAZKA, spol. s r.o.</a><!-- end ngIf: poi.url -->
							<!-- ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (292&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Kino:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url --><a ng-if="poi.url" class="c-pois__poi-text ng-binding ng-scope" ng-href="https://www.firmy.cz/detail/12745547-multikino-premiere-cinemas-praha-hostivar-praha-hostivar.html" target="_blank" href="https://www.firmy.cz/detail/12745547-multikino-premiere-cinemas-praha-hostivar-praha-hostivar.html">Multikino - Premiere Cinemas Praha Hostivař</a><!-- end ngIf: poi.url -->
							<!-- ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (1016&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Přírodní zajímavost:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url --><a ng-if="poi.url" class="c-pois__poi-text ng-binding ng-scope" ng-href="https://mapy.cz/zakladni?x=14.5188041667&amp;y=50.0615525&amp;z=17&amp;source=base&amp;id=1981356" target="_blank" href="https://mapy.cz/zakladni?x=14.5188041667&amp;y=50.0615525&amp;z=17&amp;source=base&amp;id=1981356">Mokřad Triangl</a><!-- end ngIf: poi.url -->
							<!-- ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (1973&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Bus MHD:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url --><a ng-if="poi.url" class="c-pois__poi-text ng-binding ng-scope" ng-href="https://mapy.cz/zakladni?x=14.5164740597&amp;y=50.0432101028&amp;z=17&amp;source=pubt&amp;id=15303880" target="_blank" href="https://mapy.cz/zakladni?x=14.5164740597&amp;y=50.0432101028&amp;z=17&amp;source=pubt&amp;id=15303880">K Obecním hájovnám</a><!-- end ngIf: poi.url -->
							<!-- ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (87&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Školka:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url --><a ng-if="poi.url" class="c-pois__poi-text ng-binding ng-scope" ng-href="https://www.firmy.cz/detail/13089583-materska-skola-kosik-praha-hostivar.html" target="_blank" href="https://www.firmy.cz/detail/13089583-materska-skola-kosik-praha-hostivar.html">Mateřská škola KOŠÍK</a><!-- end ngIf: poi.url -->
							<!-- ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (258&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Bankomat:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url --><a ng-if="poi.url" class="c-pois__poi-text ng-binding ng-scope" ng-href="https://www.firmy.cz/detail/13057642-bankomat-air-bank-praha-hostivar.html" target="_blank" href="https://www.firmy.cz/detail/13057642-bankomat-air-bank-praha-hostivar.html">Bankomat Air Bank</a><!-- end ngIf: poi.url -->
							<!-- ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (1048&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Lékař:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url --><a ng-if="poi.url" class="c-pois__poi-text ng-binding ng-scope" ng-href="https://www.firmy.cz/detail/390081-mudr-milena-hofmanova-praha-hostivar.html" target="_blank" href="https://www.firmy.cz/detail/390081-mudr-milena-hofmanova-praha-hostivar.html">MUDr. Milena Hofmanová</a><!-- end ngIf: poi.url -->
							<!-- ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (299&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Lékárna:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url --><a ng-if="poi.url" class="c-pois__poi-text ng-binding ng-scope" ng-href="https://www.firmy.cz/detail/13162341-lekarna-majerskeho-praha-chodov.html" target="_blank" href="https://www.firmy.cz/detail/13162341-lekarna-majerskeho-praha-chodov.html">Lékárna Majerského</a><!-- end ngIf: poi.url -->
							<!-- ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (774&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Restaurace:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url --><a ng-if="poi.url" class="c-pois__poi-text ng-binding ng-scope" ng-href="https://www.firmy.cz/detail/13035920-teodoro-ristorante-praha-hostivar.html" target="_blank" href="https://www.firmy.cz/detail/13035920-teodoro-ristorante-praha-hostivar.html">TEODORO Ristorante</a><!-- end ngIf: poi.url -->
							<!-- ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (150&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Sportoviště:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url --><a ng-if="poi.url" class="c-pois__poi-text ng-binding ng-scope" ng-href="https://mapy.cz/zakladni?x=14.513198180221309&amp;y=50.04483441526658&amp;z=17&amp;source=base&amp;id=2337992" target="_blank" href="https://mapy.cz/zakladni?x=14.513198180221309&amp;y=50.04483441526658&amp;z=17&amp;source=base&amp;id=2337992">Hřiště na pétanque</a><!-- end ngIf: poi.url -->
							<!-- ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (220&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Škola:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url --><a ng-if="poi.url" class="c-pois__poi-text ng-binding ng-scope" ng-href="https://www.firmy.cz/detail/356130-zs-hostivar-praha-hostivar.html" target="_blank" href="https://www.firmy.cz/detail/356130-zs-hostivar-praha-hostivar.html">ZŠ Hostivař</a><!-- end ngIf: poi.url -->
							<!-- ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (685&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Obchod:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url --><a ng-if="poi.url" class="c-pois__poi-text ng-binding ng-scope" ng-href="https://www.firmy.cz/detail/221987-nakupni-centrum-kosik-praha-hostivar.html" target="_blank" href="https://www.firmy.cz/detail/221987-nakupni-centrum-kosik-praha-hostivar.html">Nákupní centrum Košík</a><!-- end ngIf: poi.url -->
							<!-- ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (446&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Tram:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url --><a ng-if="poi.url" class="c-pois__poi-text ng-binding ng-scope" ng-href="https://mapy.cz/zakladni?x=14.5193941971609&amp;y=50.0537281637775&amp;z=17&amp;source=pubt&amp;id=15698031" target="_blank" href="https://mapy.cz/zakladni?x=14.5193941971609&amp;y=50.0537281637775&amp;z=17&amp;source=pubt&amp;id=15698031">Obchodní centrum Hostivař</a><!-- end ngIf: poi.url -->
							<!-- ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (1120&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Vlak:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url --><a ng-if="poi.url" class="c-pois__poi-text ng-binding ng-scope" ng-href="https://mapy.cz/zakladni?x=14.5382405134&amp;y=50.0550223431&amp;z=17&amp;source=pubt&amp;id=15212564" target="_blank" href="https://mapy.cz/zakladni?x=14.5382405134&amp;y=50.0550223431&amp;z=17&amp;source=pubt&amp;id=15212564">Praha-Hostivař</a><!-- end ngIf: poi.url -->
							<!-- ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (2017&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Pošta:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url --><a ng-if="poi.url" class="c-pois__poi-text ng-binding ng-scope" ng-href="https://www.firmy.cz/detail/658873-posta-praha-107-praha-hostivar.html" target="_blank" href="https://www.firmy.cz/detail/658873-posta-praha-107-praha-hostivar.html">Pošta Praha 107 - Česká pošta, s.p.</a><!-- end ngIf: poi.url -->
							<!-- ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (1056&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Metro:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url --><a ng-if="poi.url" class="c-pois__poi-text ng-binding ng-scope" ng-href="https://mapy.cz/zakladni?x=14.5257283653&amp;y=50.0304441332&amp;z=17&amp;source=pubt&amp;id=15200215" target="_blank" href="https://mapy.cz/zakladni?x=14.5257283653&amp;y=50.0304441332&amp;z=17&amp;source=pubt&amp;id=15200215">Háje</a><!-- end ngIf: poi.url -->
							<!-- ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (1653&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois -->
				</ul>
			</div><!-- end ngIf: pois.length -->

			<!-- ngIf: projectData -->

			<div id="answer-form" sticky-contact-button-clicked="stickyContactButtonClicked" answer-form="resource" class="ng-isolate-scope"><div class="answer-form" ng-show="contact">
	<h2 class="contact-title ng-binding">Kontaktovat:</h2>

	<div class="contacts">
		<!-- ngIf: contact --><div class="seller-contact clear ng-isolate-scope seller-contact--not-agent" ng-class="{'seller-contact--not-agent': data.notAgent}" seller-contact="contact" ng-if="contact">

	<!-- todo: muze mit RUS uzivatel photo?? -->

	<!-- ngIf: link -->

	<!-- ngIf: !link --><span ng-if="!link" class="image-wrap ng-scope image-wrap--no-photo" ng-class="{'image-wrap--no-photo': !data.photo}">
		<!-- ngIf: data.photo -->
	</span><!-- end ngIf: !link -->

	<!-- ngIf: !isSellerDetail --><strong ng-if="!isSellerDetail" class="seller-name ng-scope">
		<!-- odkaz na detail maklere -->
		<!-- ngIf: link -->

		<!-- jmeno je obyc text - nejsme na detailu maklere a nemame link (nemusi se jednat vlastne o maklere) -->
		<!-- ngIf: !link --><strong class="name ng-binding ng-scope" ng-if="!link">Martina Draper</strong><!-- end ngIf: !link -->
	</strong><!-- end ngIf: !isSellerDetail -->

	<!-- ngIf: isSellerDetail -->

	<div class="contacts">
		<!-- ngIf: (isSellerDetail || data.isPaid) && data.reviewsCount -->
		<!-- ngIf: isSellerDetail -->

		<ul class="contact-list">
			<!-- ngRepeat: phone in phones -->
			<!-- ngIf: data.email --><li ng-if="data.email" class="contact-item email ng-scope">
				<label class="label">
					<img class="icon" src="/img/icon-email.svg" alt="">
				</label>
				<!-- ngIf: !isEmailShowed --><button class="value interactive ng-binding ng-scope" ng-if="!isEmailShowed" ng-click="showEmail()" data-dot="detail inzeratu/zobrazit email">Zobrazit email</button><!-- end ngIf: !isEmailShowed -->
				<!-- ngIf: isEmailShowed -->
			</li><!-- end ngIf: data.email -->
			<!-- ngIf: data.brokerIco -->
		</ul>

		<!-- ngIf: isSellerDetail && data.contactForm.showButton && !data.contactForm.show && data.estateSize -->
	</div>

	<!-- odpovedni formular -->
	<!-- ngIf: isSellerDetail && (data.contactForm.show || (!data.estateSize && data.contactForm.showButton)) -->

	<!-- graf -->
	<!-- ngIf: data.isGraph -->
</div><!-- end ngIf: contact -->

		<!-- ngIf: premise -->
	</div>

	<!-- uz odpovezeno, bud davno nebo prave ted -->
	<!-- ngIf: sended && !sendingAgain -->

	<!-- odpovedni formular -->
	<!-- ngIf: !sended || sendingAgain --><form ng-if="!sended || sendingAgain" class="form send-form ng-scope ng-pristine ng-valid" name="contactform" ng-submit="submit()" novalidate="">
		<!-- ngIf: form.status -->
		<label>
			<span class="form-label label ng-binding">Váš email</span>
			<div class="input-wrapper">
				<input type="email" class="input ng-pristine ng-valid ng-valid-email" ng-class="{error: form.emailErr}" name="email" ng-model="form.email">
			</div>
		</label>
		<label>
			<span class="form-label label ng-binding">Jméno</span>
			<div class="input-wrapper">
				<input type="text" class="input ng-pristine ng-valid" ng-class="{error: form.nameErr}" name="name" ng-model="form.name">
			</div>
		</label>
		<label>
			<span class="form-label label ng-binding">Telefon</span>
			<div class="input-wrapper">
				<input type="tel" class="input ng-pristine ng-valid" ng-class="{error: form.phoneErr}" name="phone" ng-model="form.phone">
			</div>
		</label>
		<label>
			<span class="form-label label"></span>
			<div class="input-wrapper">
				<textarea ng-class="{error: form.messageErr}" class="textarea ng-pristine ng-valid" name="message" ng-model="form.message">				</textarea>
			</div>
		</label>
		<div>
			<span class="form-label label"></span>
			<div class="input-wrapper ng-binding">
				Zadané údaje zpracováváme dle těchto <a href="https://napoveda.seznam.cz/cz/sreality/souhlas-se-zpracovanim-osobnich-udaju-sreality/" target="_blank" class="ng-binding">podmínek</a>.
			</div>
		</div>
		<div>
			<div class="input-wrapper input-wrapper-center">
				<!-- ngIf: sending -->
				<button type="submit" ng-disabled="sending" ng-class="{'btn-disabled': sending}" class="btn-full ng-binding">Odpovědět</button>
			</div>
		</div>
	</form><!-- end ngIf: !sended || sendingAgain -->
</div>
</div>

			<!-- <div id="localityIndex" class="c-locality-index" ng-if="actualLang === 'cs'" data-nosnippet>				
				<preact data="advertId" component="locality-index"></preact>
			</div> -->

			<!--<div id="hypoteka" class="c-mortgage-calculator"
				 ng-if="actualLang === 'cs' && detailData.price && detailData.typeId === 1 && showHyponamiru" data-nosnippet>
				<h2 class="c-mortgage-calculator__header">Hypoteční kalkulačka</h2>
				<preact data="mortgageData" component="mortgage-calculator"></preact>
			</div>-->

			<div class="c-contact-buttons">
				<preact data="contactData" component="contact-buttons" class="ng-isolate-scope"><div class="sds-surface sds-surface--05 _332AuA3qL4XBj2btXtvXIs" tabindex="-1"><button class="sds-surface sds-surface--clickable sds-surface--primary sds-button sds-helpers-button sds-button--small sds-button--primary T1TnDW99vniZJvEPeiSXZ _2qIcoVMHOUWJT8TTAM8qHa _1lpYutJ_422EWdEuUmMhIf" type="button" role="button" data-dot="sticky-contact-reply"><span class="sds-typography sds-typography--body-small sds-button__text">Napsat zprávu</span></button></div></preact>
			</div>

			<!-- ngIf: regions.local || regions.broader --><div class="regions-box ng-scope" ng-if="regions.local || regions.broader">
				<!-- ngIf: regions.local --><p class="regions-links ng-binding ng-scope" ng-if="regions.local">
					Podívejte se také na další reality v kategorii <a ng-href="/hledani/pronajem/byty?region=Praha&amp;region-typ=osmm" class="ng-binding" href="/hledani/pronajem/byty?region=Praha&amp;region-typ=osmm">Pronájem bytů Praha</a>.
				</p><!-- end ngIf: regions.local -->

				<!-- ngIf: regions.broader --><p class="regions-links ng-binding ng-scope" ng-if="regions.broader">
					Pokud nemovitost hledáte v širším okolí, mohl by vás zajímat <a ng-href="/hledani/pronajem/byty/praha-10" class="ng-binding" href="/hledani/pronajem/byty/praha-10">Pronájem bytů Praha 10</a>.
				</p><!-- end ngIf: regions.broader -->
			</div><!-- end ngIf: regions.local || regions.broader -->
			
			<div class="report-error-btn-wrap">
				<button class="btn report ng-binding" ng-click="showEntity('errorReport')">Nahlásit chybu</button>
			</div>

			<div class="dir-bottom ng-isolate-scope" detail-data="detailData">
	<div class="dir-bottom__content">
		<div class="dir-bottom__label">Reklama</div>

		<div class="dir-bottom__fixed">
			<div id="dir-bottom__wrap" class="dir-bottom__wrap"></div>
			
			<div class="dir-bottom__shadow--top"></div>
			<div class="dir-bottom__shadow--bottom"></div>
		</div>
	</div>

	<div class="dir-bottom__classic">
		<div id="dir-bottom" class="dir-bottom__classic-inner"></div>
	</div>
</div>

			<span class="btn-circle icof icon-up backToTop ng-isolate-scope" ng-click="goTop()" mover-top=""></span>
		</div>

		<!-- ngIf: showedEntity.errorReport -->

		<!-- ngIf: showedEntity.loanCalc -->
	</div><!-- end ngIf: resource -->
</div>
</div>
	</div><!-- end ngIf: !errorData.isError -->
			<preact lang-binding="true" page-binding="true" component="footer" class="ng-isolate-scope"><footer class="_2OgfM2_KYImX04ik8Lkirn"><div class="_3NJE8NRqA5KCr2VwHqJ27e _2T2w9H_NOdtDLYIWERsogd"><button class="_1YEfiKqdGLWGRcAex4sqFW _1YgDqeht_fr9KKfFyp_SvQ"><img src="/img/flag-cs.png" alt="" class="_1HYol4SyXrKoN9ojGTb77o"><span class="TveYpFLjcNtBC6Qqvaw4n">Česky</span><span class="icon icof icon-down-full mGdHyJz0gQqm4qCQo6bWR"></span></button></div><div class="_3R7u-oIynrH_h3EsXVuYO-"><div class="_2nosKgOxexEj-xT_5nH4PP"><div class="btqelYH9tgNY9yJn1Xnn1"><button type="button" class="_2ZZbAPXBrQCM5JHy7gu2f1 _28eKaNHVUNjmjaO96sSQXh"><span class="_28eKaNHVUNjmjaO96sSQXh _2iVzlK9Zg3MpMEOkrQqaoL">Co říkáte na Sreality.cz?</span></button><a href="https://vyzkumnik.seznam.cz/" class="_2ZZbAPXBrQCM5JHy7gu2f1 _28eKaNHVUNjmjaO96sSQXh"><span class="_28eKaNHVUNjmjaO96sSQXh _2iVzlK9Zg3MpMEOkrQqaoL">Výzkumník</span></a><a href="https://napoveda.seznam.cz/cz/sreality/o-sluzbe-sreality.cz" class="_2ZZbAPXBrQCM5JHy7gu2f1 _28eKaNHVUNjmjaO96sSQXh"><span class="_28eKaNHVUNjmjaO96sSQXh _2iVzlK9Zg3MpMEOkrQqaoL">Pro spotřebitele</span></a><a href="https://www.seznam.cz/ochranaudaju" class="_2ZZbAPXBrQCM5JHy7gu2f1 _28eKaNHVUNjmjaO96sSQXh"><span class="_28eKaNHVUNjmjaO96sSQXh _2iVzlK9Zg3MpMEOkrQqaoL">Ochrana údajů</span></a><a href="https://napoveda.seznam.cz/cz/sreality/pravidla-sreality/smluvni-podminky-sluzby-sreality.cz" class="_2ZZbAPXBrQCM5JHy7gu2f1 _28eKaNHVUNjmjaO96sSQXh"><span class="_28eKaNHVUNjmjaO96sSQXh _2iVzlK9Zg3MpMEOkrQqaoL">Smluvní podmínky</span></a><a href="https://www.seznam.cz/reklama/cz/obsahovy-web/sluzba-sreality" class="_2ZZbAPXBrQCM5JHy7gu2f1 _28eKaNHVUNjmjaO96sSQXh"><span class="_28eKaNHVUNjmjaO96sSQXh _2iVzlK9Zg3MpMEOkrQqaoL">Reklama</span></a><a class="_2ZZbAPXBrQCM5JHy7gu2f1 _28eKaNHVUNjmjaO96sSQXh _1mHL-lXlevZ4SCKncZk2gk" href="/realitni-software"><span class="_28eKaNHVUNjmjaO96sSQXh _1mHL-lXlevZ4SCKncZk2gk _2iVzlK9Zg3MpMEOkrQqaoL">Realitní software</span></a><a href="http://sreality.seznamblog.cz/" class="_2ZZbAPXBrQCM5JHy7gu2f1 _28eKaNHVUNjmjaO96sSQXh _1mHL-lXlevZ4SCKncZk2gk"><span class="_28eKaNHVUNjmjaO96sSQXh _1mHL-lXlevZ4SCKncZk2gk _2iVzlK9Zg3MpMEOkrQqaoL">Blog</span></a><a href="https://napoveda.seznam.cz/cz/sreality/" class="_2ZZbAPXBrQCM5JHy7gu2f1 _28eKaNHVUNjmjaO96sSQXh _1mHL-lXlevZ4SCKncZk2gk"><span class="_28eKaNHVUNjmjaO96sSQXh _1mHL-lXlevZ4SCKncZk2gk _2iVzlK9Zg3MpMEOkrQqaoL">Nápověda</span></a><a href="mailto:info@sreality.cz?subject=Dotaz ze sluzby sreality.cz" class="_2ZZbAPXBrQCM5JHy7gu2f1 _28eKaNHVUNjmjaO96sSQXh _1mHL-lXlevZ4SCKncZk2gk"><span class="_28eKaNHVUNjmjaO96sSQXh _1mHL-lXlevZ4SCKncZk2gk _2iVzlK9Zg3MpMEOkrQqaoL">Technická podpora</span></a><a href="https://napoveda.seznam.cz/cz/sreality/kontakty-sreality-cz/" class="_2ZZbAPXBrQCM5JHy7gu2f1 _28eKaNHVUNjmjaO96sSQXh"><span class="_28eKaNHVUNjmjaO96sSQXh _2iVzlK9Zg3MpMEOkrQqaoL">Kontakty</span></a><a href="https://napoveda.seznam.cz/cz/stiznosti-sreality/" class="_2ZZbAPXBrQCM5JHy7gu2f1 _28eKaNHVUNjmjaO96sSQXh"><span class="_28eKaNHVUNjmjaO96sSQXh _2iVzlK9Zg3MpMEOkrQqaoL">Stížnosti</span></a><button type="button" class="_2ZZbAPXBrQCM5JHy7gu2f1 _28eKaNHVUNjmjaO96sSQXh"><span class="_28eKaNHVUNjmjaO96sSQXh _2iVzlK9Zg3MpMEOkrQqaoL">Nastavení personalizace</span></button></div><p class="_2XPH-LYlsL14qYMleJLjFJ _2-aaSan9BAM3Qg3EE_v_6h _2iVzlK9Zg3MpMEOkrQqaoL _1mRLNMhwLQGArIldAHOamF">Sreality.cz pomáhají najít vhodnou nemovitost díky aktuální nabídce realit v ČR i zahraničí. Jakékoliv užití obsahu internetového serveru www.sreality.cz, včetně převzetí, šíření či dalšího zpřístupňování inzerátů a fotografií je bez souhlasu Seznam.cz, a.s., zakázáno.</p><p class="_2XPH-LYlsL14qYMleJLjFJ _2iVzlK9Zg3MpMEOkrQqaoL _1mRLNMhwLQGArIldAHOamF">Copyright © 1996–2022 Seznam.cz, a.s.</p></div></div></footer></preact>
		</div>
	</div>
</div>
<div id="map-layout" ng-show="pageLayout.map.show" class="map-small" ng-style="layoutTop" style="margin-top: 0px;">
	<div map-info="" class="ng-isolate-scope"><!-- ngIf: infoHtml --></div>
	<div id="poi-filter" class="c-poi-filter" style="margin-bottom: 0px;">
    <button ng-class="{
            'c-poi-filter__opener': true,
            'c-poi-filter__opener--open': open
        }" ng-click="toggle()" data-dot-data="{ &quot;category&quot;: &quot;Občanská vybavenost&quot;, &quot;action&quot;: &quot;klik na tlačítko&quot; }" class="c-poi-filter__opener"><svg class="c-poi-filter__icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path fill-rule="evenodd" d="M20 17.382l-4-2V6.618l4 2v8.764zM10 8.618l4-2v8.764l-4 2V8.618zm-6-2l4 2v8.764l-4-2V6.618zm17.447.488l-6-3c-.024-.012-.051-.017-.076-.027a1.019 1.019 0 0 0-.128-.044 1.029 1.029 0 0 0-.111-.02 1.01 1.01 0 0 0-.135-.01c-.041 0-.081.005-.122.01a1.291 1.291 0 0 0-.122.02c-.042.01-.082.028-.122.043-.027.01-.053.015-.078.028L9 6.882 3.447 4.106A.998.998 0 0 0 2 5v11c0 .379.214.725.553.895l6 3c.014.008.031.004.047.01A.986.986 0 0 0 9 20a.986.986 0 0 0 .4-.095c.016-.006.033-.002.047-.01L15 17.118l5.553 2.777a1.005 1.005 0 0 0 .972-.044c.295-.183.475-.504.475-.851V8a1 1 0 0 0-.553-.894z"></path></svg>
    <span class="c-poi-filter__text ng-binding">Občanská vybavenost</span></button>

    <!-- ngIf: open -->
</div>
	<div map="" id="s-map" class="s-map smap"><div style="position: absolute; width: 0px; height: 0px; margin: 0px; padding: 0px; left: 102px; top: 304.5px;"><div><div id="1-0-0.6285502248848693"><div style="transform: translateZ(0px);"><img alt="" style="position: absolute; opacity: 1; transition: opacity 600ms ease 0s; left: -698.068px; top: -198.479px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/6-32-21" srcset="https://mapserver.mapy.cz/base-m/6-32-21, https://mapserver.mapy.cz/base-m/retina/6-32-21 2x"><img alt="" style="position: absolute; opacity: 1; transition: opacity 600ms ease 0s; left: -442.068px; top: -198.479px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/6-33-21" srcset="https://mapserver.mapy.cz/base-m/6-33-21, https://mapserver.mapy.cz/base-m/retina/6-33-21 2x"><img alt="" style="position: absolute; opacity: 1; transition: opacity 600ms ease 0s; left: -186.068px; top: -198.479px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/6-34-21" srcset="https://mapserver.mapy.cz/base-m/6-34-21, https://mapserver.mapy.cz/base-m/retina/6-34-21 2x"><img alt="" style="position: absolute; opacity: 1; transition: opacity 600ms ease 0s; left: 69.9321px; top: -198.479px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/6-35-21" srcset="https://mapserver.mapy.cz/base-m/6-35-21, https://mapserver.mapy.cz/base-m/retina/6-35-21 2x"><img alt="" style="position: absolute; opacity: 1; transition: opacity 600ms ease 0s; left: 325.932px; top: -198.479px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/6-36-21" srcset="https://mapserver.mapy.cz/base-m/6-36-21, https://mapserver.mapy.cz/base-m/retina/6-36-21 2x"><img alt="" style="position: absolute; opacity: 1; transition: opacity 600ms ease 0s; left: 581.932px; top: -198.479px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/6-37-21" srcset="https://mapserver.mapy.cz/base-m/6-37-21, https://mapserver.mapy.cz/base-m/retina/6-37-21 2x"></div><div style="transform: translateZ(0px);"><img alt="" style="position: absolute; opacity: 0; transition: opacity 600ms ease 0s; left: -308.005px; top: -475.721px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/15-17704-11105" srcset="https://mapserver.mapy.cz/base-m/15-17704-11105, https://mapserver.mapy.cz/base-m/retina/15-17704-11105 2x"><img alt="" style="position: absolute; opacity: 0; transition: opacity 600ms ease 0s; left: -308.005px; top: -219.721px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/15-17704-11106" srcset="https://mapserver.mapy.cz/base-m/15-17704-11106, https://mapserver.mapy.cz/base-m/retina/15-17704-11106 2x"><img alt="" style="position: absolute; opacity: 0; transition: opacity 600ms ease 0s; left: -308.005px; top: 36.2791px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/15-17704-11107" srcset="https://mapserver.mapy.cz/base-m/15-17704-11107, https://mapserver.mapy.cz/base-m/retina/15-17704-11107 2x"><img alt="" style="position: absolute; opacity: 0; transition: opacity 600ms ease 0s; left: -308.005px; top: 292.279px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/15-17704-11108" srcset="https://mapserver.mapy.cz/base-m/15-17704-11108, https://mapserver.mapy.cz/base-m/retina/15-17704-11108 2x"><img alt="" style="position: absolute; opacity: 0; transition: opacity 600ms ease 0s; left: -52.0047px; top: -475.721px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/15-17705-11105" srcset="https://mapserver.mapy.cz/base-m/15-17705-11105, https://mapserver.mapy.cz/base-m/retina/15-17705-11105 2x"><img alt="" style="position: absolute; opacity: 0; transition: opacity 600ms ease 0s; left: -52.0047px; top: -219.721px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/15-17705-11106" srcset="https://mapserver.mapy.cz/base-m/15-17705-11106, https://mapserver.mapy.cz/base-m/retina/15-17705-11106 2x"><img alt="" style="position: absolute; opacity: 0; transition: opacity 600ms ease 0s; left: -52.0047px; top: 36.2791px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/15-17705-11107" srcset="https://mapserver.mapy.cz/base-m/15-17705-11107, https://mapserver.mapy.cz/base-m/retina/15-17705-11107 2x"><img alt="" style="position: absolute; opacity: 0; transition: opacity 600ms ease 0s; left: -52.0047px; top: 292.279px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/15-17705-11108" srcset="https://mapserver.mapy.cz/base-m/15-17705-11108, https://mapserver.mapy.cz/base-m/retina/15-17705-11108 2x"></div></div><div id="3-0-0.9078845603716759"></div><div id="4-0-0.9574251486662506"></div><div id="2-0-0.32127074119499177"></div></div><div><div id="0.5939659174353684-1"></div><div id="0.5088248590233724-1"></div><div id="0.4913019897577098-1"></div></div><svg xmlns:xlink="http://www.w3.org/1999/xlink" width="204" height="609" style="position: absolute; left: -102px; top: -304.5px;"><g><g id="0.19818093300193396-2" style="transform: scale(1);"><polyline fill="none" stroke="white" stroke-linejoin="round" stroke-linecap="round" points="41.45353567786515 310.525399887003, 44.538260222412646 309.4609393570572, 47.526634300127625 308.59291814872995, 50.64687693491578 307.98511310853064, 53.73733528889716 307.80175186833367, 56.993472809903324 308.07419205922633, 60.187490886077285 308.8039215840399, 63.35129392426461 309.89282900001854, 66.18967059347779 310.98386491509154, 69.12651720363647 312.20479864347726, 72.03060588240623 313.39331608871, 75.13057846110314 314.678462440148, 78.26245407108217 315.8655034666881, 81.61937135551125 316.6268413020298, 84.80976981669664 316.80185870081186, 87.96403265092522 316.4223397686146, 91.18000062275678 315.5202809306793, 96.46980179473758 313.2341015674174, 99.32612652983516 312.07332424633205, 112.76339360512793 306.5360566880554, 124.3181299995631 301.76168341655284, 139.40891398489475 295.23482569819316, 142.2000014744699 294.0418956470676, 145.54705054406077 293.2696141563356, 148.70347171090543 293.2165306569077, 151.1238134773448 295.0936486860737, 153.02830274868757 297.7246977733448, 159.45935766212642 310.9325522724539, 162.54646432213485 315.28553777514026" stroke-opacity="0.6" stroke-width="9" stroke-dasharray=""><title></title></polyline><polyline fill="none" stroke="#00f" stroke-linejoin="round" stroke-linecap="round" points="41.45353567786515 310.525399887003, 44.538260222412646 309.4609393570572, 47.526634300127625 308.59291814872995, 50.64687693491578 307.98511310853064, 53.73733528889716 307.80175186833367, 56.993472809903324 308.07419205922633, 60.187490886077285 308.8039215840399, 63.35129392426461 309.89282900001854, 66.18967059347779 310.98386491509154, 69.12651720363647 312.20479864347726, 72.03060588240623 313.39331608871, 75.13057846110314 314.678462440148, 78.26245407108217 315.8655034666881, 81.61937135551125 316.6268413020298, 84.80976981669664 316.80185870081186, 87.96403265092522 316.4223397686146, 91.18000062275678 315.5202809306793, 96.46980179473758 313.2341015674174, 99.32612652983516 312.07332424633205, 112.76339360512793 306.5360566880554, 124.3181299995631 301.76168341655284, 139.40891398489475 295.23482569819316, 142.2000014744699 294.0418956470676, 145.54705054406077 293.2696141563356, 148.70347171090543 293.2165306569077, 151.1238134773448 295.0936486860737, 153.02830274868757 297.7246977733448, 159.45935766212642 310.9325522724539, 162.54646432213485 315.28553777514026" stroke-opacity="0.65" stroke-width="3" stroke-dasharray="9 12"><title></title></polyline></g></g></svg><div><div id="0.5939659174353684-3" style="transform: none;"></div><div id="0.5088248590233724-3" style="transform: none;"></div><div id="0.4913019897577098-3" style="transform: none;"></div></div><div><div id="0.5939659174353684-4"></div><div id="0.5088248590233724-4"></div><div id="0.4913019897577098-4"></div></div></div><div class="hud"><div class="noprint"><div class="copyright print" title=" Seznam.cz, a.s., 2022 |  OpenStreetMap" style="position: absolute; inset: auto auto 3px 5px; margin-bottom: 0px;">© <a href="https://o.seznam.cz" target="_blank" rel="noopener">Seznam.cz, a.s.</a>, 2022 a <a href="#" data-others="1">další</a></div><a class="print" target="_blank" href="https://mapy.cz/?x=14.515171&amp;y=50.044030&amp;z=15" style="position: absolute; inset: auto 0px 0px auto;"><img src="https://api.mapy.cz/img/api/logo.svg" alt="Zobrazit na Mapy.cz" style="margin-bottom: 0px;"></a><div class="selection" style="border-width: 2px; visibility: hidden; position: absolute;"></div><div class="zoom" style="position: absolute; inset: 1rem 1rem auto auto; margin-top: 0px;"><div class="button-group"><button class="minus" type="button" aria-label="Oddálit" title="Oddálit">-</button><button class="plus" type="button" aria-label="Přiblížit" title="Přiblížit">+</button></div></div><div class="layer-switch" style="position: absolute; inset: 1rem auto auto 1rem; margin-top: 0px;"><button type="button"><span>Změnit mapu</span></button><div class="window" style="display: none;"><div class="port" style="position: relative; overflow: hidden; width: 195px;"><div style="position: relative; width: 195px; left: 0px;"><div class="item active" style="width: 65px; overflow: hidden;"><div><img src="https://api.mapy.cz/img/api/preview-zakladni.png" alt="Obecná" title="Obecná"><div class="border"></div></div><p>Obecná</p></div><div class="item" style="width: 65px; overflow: hidden;"><div><img src="https://api.mapy.cz/img/api/preview-letecka.png" alt="Letecká" title="Letecká"><div class="border"></div></div><p>Letecká</p></div><div class="item" style="width: 65px; overflow: hidden;"><div><img src="https://api.mapy.cz/img/api/preview-turisticka.png" alt="Turistická" title="Turistická"><div class="border"></div></div><p>Turistická</p></div></div></div><div class="left"><div class="arrow" style="display: none;"></div></div><div class="right"><div class="arrow" style="display: none;"></div></div></div></div></div></div></div>

	<div class="map-opener">
		<!-- ngIf: pageLayout.map.show --><button class="nipple ng-scope" ng-if="pageLayout.map.show" ng-click="toggleMap(1)" ng-class="{bigmap: pageLayout.map.big}" data-dot-data="{&quot;action&quot;:&quot;zvetseni_mapy&quot;}">
			<span class="icof"></span>
			<span class="text ng-binding">Zvětšit mapu</span>
		</button><!-- end ngIf: pageLayout.map.show -->
	</div>
	<div class="map-shade"></div>
</div>
<!-- ngInclude: respData.template --><div class="submap-title submap-detail" ng-class="{bigmap: pageLayout.map.big}" ng-click="toggleMap(1)" ng-include="respData.template"><div class="first-line ng-binding ng-scope">Pronájem bytu 2+kk 45&nbsp;m²</div>
<div class="second-line ng-binding ng-scope">Bratislavská, Praha 10 - Hostivař</div></div></div>


<div class="adform-adbox
								advert-square
								article-adtip-box
								bazar-box
								bx-leaderboard
								etarget
								hp-advert
								ic0.vendor-list
								illustrated.illV.article.columns.col2
								jobscz
								popisreklama
								promo-in-article
								reklama-3
								reklama-abmix
								reklama-bottom
								reklama-box
								reklama-left
								reklama-lista
								reklama-megaboard
								reklama-right
								reklama-top
								reklamaBottom
								reklamaHorniLista
								reklamaOdkazyVeVetachDole
								reklama_ahead
								reklama_box_standard
								reklama_square
								reklama_title_flat
								reklamni-up-1
								reklamni-up-2
								sklik
								sklik-block
								sklik-box
								sklik_left
								sklik_right
								spored-links
								topreklama
								velke_zlavy
								vreklama
								zlavy-box
								pub_300x250
								pub_300x250m
								pub_728x90
								safeframe
								text-ad
								textAd
								text_ad
								text_ads
								text-ads
								text-ad-links" style="width: 1px !important; height: 1px !important; position: absolute !important; right: -1000px !important; top: -1000px !important;"></div><img src="/ad_ads_advert_advertisement_adform_pub_300x250.png" style="width: 1px !important; height: 1px !important; position: absolute !important; right: -1000px !important; top: -1000px !important;"><iframe id="gemius_hcconn_1641922974449_95007881" name="lsgetframe" width="0" height="0" scrolling="no" sandbox="allow-scripts allow-same-origin" style="display: none; visibility: hidden;" src="https://ls.hit.gemius.pl/lsget.html"></iframe><iframe id="gemius_hcconn_1641922974524_12972564" name="lssetframe" width="0" height="0" scrolling="no" sandbox="allow-scripts allow-same-origin" style="display: none; visibility: hidden;" src="https://ls.hit.gemius.pl/lsset.html"></iframe><iframe src="https://h.seznam.cz/html/cmp.html?v=2.177.5" frameborder="0" style="display: none;"></iframe></body></html>