<html lang="cs" ng-app="sreality" ng-controller="MainCtrl" class="ng-scope"><head><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide{display:none !important;}ng\:form{display:block;}.ng-animate-block-transitions{transition:0s all!important;-webkit-transition:0s all!important;}.ng-hide-add-active,.ng-hide-remove{display:block!important;}</style>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,minimal-ui">

	<!--- Nastaveni meta pres JS a ne pres Angular, aby byla nastavena default hodnota pro agenty co nezvladaji PhantomJS --->
	<title ng:bind-template="Pronájem bytu 3+kk 62&nbsp;m² (Podkrovní), Kladno • Sreality.cz" class="ng-binding">Pronájem bytu 3+kk 62&nbsp;m² (Podkrovní), Kladno • Sreality.cz</title>
	<meta name="description" content="Byt 3+kk 62 m² k pronájmu Kladno; 12&nbsp;600 Kč za měsíc (Kauce 20.000 Kč, voda a topení v ceně nájmu), parkovací místo, cihlová stavba, osobní vlastnictví, novostavby.">
	<meta property="og:title" content="Pronájem bytu 3+kk 62&nbsp;m² (Podkrovní), Kladno">
	<meta property="og:type" content="website">
	<meta property="og:image" content="https://d18-a.sdn.cz/d_18/c_img_gS_h/o0eJMY.jpeg?fl=res,1920,1080,1|wrm,/watermark/sreality.png,10|shr,,20|jpg,90">
	<meta property="og:description" content="Byt 3+kk 62 m² k pronájmu Kladno; 12&nbsp;600 Kč za měsíc (Kauce 20.000 Kč, voda a topení v ceně nájmu), parkovací místo, cihlová stavba, osobní vlastnictví, novostavby.">
	<meta property="og:url" content="https://www.sreality.cz/detail/pronajem/byt/3+kk/kladno-kladno-/2827151964">

	<!-- ngIf: metaStatus.value --><meta ng-if="metaStatus.value" name="szn:status" content="200" class="ng-scope"><!-- end ngIf: metaStatus.value -->

	<meta http-equiv="imagetoolbar" content="no">

	<link rel="icon" sizes="16x16 32x32 48x48 64x64" href="/img/icons/favicon.ico">
	<link rel="apple-touch-icon" sizes="57x57" href="/img/icons/apple-touch-icon-57x57.png?3">
	<link rel="apple-touch-icon" sizes="60x60" href="/img/icons/apple-touch-icon-60x60.png?3">
	<link rel="apple-touch-icon" sizes="72x72" href="/img/icons/apple-touch-icon-72x72.png?3">
	<link rel="apple-touch-icon" sizes="76x76" href="/img/icons/apple-touch-icon-76x76.png?3">
	<link rel="apple-touch-icon" sizes="114x114" href="/img/icons/apple-touch-icon-114x114.png?3">
	<link rel="apple-touch-icon" sizes="120x120" href="/img/icons/apple-touch-icon-120x120.png?3">
	<link rel="apple-touch-icon" sizes="144x144" href="/img/icons/apple-touch-icon-144x144.png?3">
	<link rel="apple-touch-icon" sizes="152x152" href="/img/icons/apple-touch-icon-152x152.png?3">
	<link rel="apple-touch-icon" sizes="180x180" href="/img/icons/apple-touch-icon-180x180.png?3">
	<link rel="icon" type="image/png" sizes="192x192" href="/img/icons/android-chrome-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/img/icons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/img/icons/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/img/icons/favicon-16x16.png">
	<link rel="manifest" href="/img/icons/android-chrome-manifest.json">
	<meta name="msapplication-TileColor" content="#2b5797">
	<meta name="msapplication-TileImage" content="/img/icons/ms-icon-144x144.png">
	<meta name="msapplication-config" content="/img/icons/browserconfig.xml">

	<!-- ngIf: rss.url -->
	<!-- ngRepeat: lang in metaSeo.languages -->

	<link rel="stylesheet" href="/css/all.css?f2c3377">

	<!--[if lte IE 8]>
		<script>
			document.createElement('popover');
			document.createElement('mortgage');
			document.createElement('hp-signpost');
			document.createElement('category-switcher');
			document.createElement('feedback');
			document.createElement('bottom');
			document.createElement('graph');
			document.createElement('panorama');
			document.createElement('panorama-prev');
			document.createElement('sphere-viewer');
			document.createElement('sphere-viewer-prev');
			document.createElement('save-filter');
		</script>
    <![endif]-->

	<!-- Statistiky -->
	<script id="gemius_hcconn_1641943725253_46513733" defer="defer" async="async" type="text/javascript" src="https://gacz.hit.gemius.pl/_1641943725253/rexdot.js?l=106&amp;id=ByLlP2uZJXREzOJ3CvKB7sd.XhZYAYdGPQEZEoRpgR7.M7&amp;et=view&amp;hsrc=2&amp;initsonar=1&amp;extra=sreality.cz%2FDetail%2FPronajem_D%2FByty_pronajem_D&amp;eventid=0&amp;fr=1&amp;tz=-60&amp;fv=-&amp;href=https%3A%2F%2Fwww.sreality.cz%2Fdetail%2Fpronajem%2Fbyt%2F3%2Bkk%2Fkladno-kladno-%2F2827151964&amp;ref=&amp;screen=1280x800r2000&amp;col=24&amp;window=1200x609&amp;ltime=77&amp;lsdata=-SETERR&amp;fpdata=ppnFcJS_5cEDBjqogbjzde49_V8GKsqzeZvutiSX9IL.w7&amp;vis=1&amp;fpcap="></script><script async="async" defer="defer" src="https://gacz.hit.gemius.pl/xgemius.js"></script><script src="https://h.seznam.cz/js/dot-small.js" type="text/javascript"></script>
	<script type="text/javascript">
		if (window.DOT) {
			var dotCfg = {
				service: 'sreality',
				lazyLoadingEnabled: true
			};
			/*if (window.SrealityNew && window.SrealityNew.abTestHelper) {
				dotCfg.abtest = window.SrealityNew.abTestHelper.getVariant();
			}*/
			DOT.cfg(dotCfg);
		}
	</script>

	<!-- SSP Reklama -->
	<script src="https://ssp.seznam.cz/static/js/ssp.js" type="text/javascript"></script>
	<!-- Sklik retargeting -->
	<script type="text/javascript" src="https://www.seznam.cz/rs/static/rc.js"></script>
	
	<script src="https://1.im.cz/software/promo/promo-sbrowser.js"></script>

	<!-- Seznam player-->
	<script src="//d53-a.sdn.cz/d_53/10/loader.min.js"></script>

	<!-- Seznam geo lokace -->
	<script src="https://geo.seznam.cz/static/js/geo.js"></script>

	<!-- Nastaveni personalizace (Consent Management Platform) -->
	<script src="https://h.imedia.cz/js/cmp2/scmp.js?auto_open=false"></script>

	<!-- Fetch polyfill	-->
	<script nomodule="" src="/js/fetch.umd.js"></script>

	<!-- KONFIGURACE -->
	<script src="/js/conf/config.js?f2c3377"></script>

	<script src="/js/maps.js?1"></script>
	<script src="/js/new-src.js?f2c3377"></script>
	<script src="/js/all.js?f2c3377"></script>

	<noscript>
		<meta http-equiv="refresh" content="0;url=?_escaped_fragment_="/>
	</noscript>
	<!-- ngIf: metaSeo.showMetaFragment --><meta name="fragment" content="!" ng-if="metaSeo.showMetaFragment" class="ng-scope"><!-- end ngIf: metaSeo.showMetaFragment -->

</head>
<!--[if IE 8]>    <body class="ie8"> <![endif]-->
<!--[if IE 9]>    <body class="notie8 ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<body class="notie8 notie9 lang-cs" data-dot-cookie-refresh-disabled="">
<!--<![endif]-->

	<div loading-line="" class="ng-isolate-scope"><div class="loading-line" style="display: block; transform: translate(-100%, 0px); transition: none 0s ease 0s;"></div>
</div>

	<div page-layout="" class="ng-isolate-scope"><preact component="ribbon" lang-binding="true" page-binding="true" class="ng-isolate-scope"></preact>
<preact component="aafisher" class="ng-isolate-scope"></preact>
<div id="page-layout" class="page-layout no-scrollbar smallmap" ng-class="pageLayout.classNames" ng-style="layoutTop" style="margin-top: 0px;">
	<div page-loader="" class="ng-isolate-scope"><span ng-show="status.visible" class="page-loader ng-hide">
	<img class="image" src="/img/page-loader.gif" alt="">
	<span class="text ng-binding">Načítám...</span>
</span></div>
	<div class="content-cover">
		<div id="top-brand"></div>
		<!-- ngIf: !pageLayout.empty --><div class="anchor-wrap ng-isolate-scope" ng-if="!pageLayout.empty" gallery-anchor="">
	<!-- ngRepeat: anch in data.anchrs track by $index --><div ng-repeat="anch in data.anchrs track by $index" id="img=0&amp;fullscreen=false" class="movement-anchor ng-scope" ng-style="data.scroll" style="top: 0px;"></div><!-- end ngRepeat: anch in data.anchrs track by $index --><div ng-repeat="anch in data.anchrs track by $index" id="img=1&amp;fullscreen=false" class="movement-anchor ng-scope" ng-style="data.scroll" style="top: 0px;"></div><!-- end ngRepeat: anch in data.anchrs track by $index --><div ng-repeat="anch in data.anchrs track by $index" id="img=2&amp;fullscreen=false" class="movement-anchor ng-scope" ng-style="data.scroll" style="top: 0px;"></div><!-- end ngRepeat: anch in data.anchrs track by $index --><div ng-repeat="anch in data.anchrs track by $index" id="img=3&amp;fullscreen=false" class="movement-anchor ng-scope" ng-style="data.scroll" style="top: 0px;"></div><!-- end ngRepeat: anch in data.anchrs track by $index --><div ng-repeat="anch in data.anchrs track by $index" id="img=4&amp;fullscreen=false" class="movement-anchor ng-scope" ng-style="data.scroll" style="top: 0px;"></div><!-- end ngRepeat: anch in data.anchrs track by $index --><div ng-repeat="anch in data.anchrs track by $index" id="img=5&amp;fullscreen=false" class="movement-anchor ng-scope" ng-style="data.scroll" style="top: 0px;"></div><!-- end ngRepeat: anch in data.anchrs track by $index --><div ng-repeat="anch in data.anchrs track by $index" id="img=6&amp;fullscreen=false" class="movement-anchor ng-scope" ng-style="data.scroll" style="top: 0px;"></div><!-- end ngRepeat: anch in data.anchrs track by $index --><div ng-repeat="anch in data.anchrs track by $index" id="img=7&amp;fullscreen=false" class="movement-anchor ng-scope" ng-style="data.scroll" style="top: 0px;"></div><!-- end ngRepeat: anch in data.anchrs track by $index -->
</div><!-- end ngIf: !pageLayout.empty -->
		<div ng-class="{ 'content-inner': true, empty: pageLayout.empty }" class="content-inner">
			<div class="app-promotion ng-isolate-scope ng-hide" data-ng-show="showed" data-ng-class="{'app-promotion-hiding': hiding}">
	<a class="app-promotion-link" href="https://play.google.com/store/apps/details?id=cz.seznam.sreality">Nainstalovat</a>
	<button class="app-promotion-close" data-ng-click="hide()">Zavřít</button>
	<img class="app-promotion-logo" data-ng-src="/img/sreality-app-logo2.png" width="57" height="57" src="/img/sreality-app-logo2.png">
	<div class="app-promotion-info">
		<div class="app-promotion-name ng-binding">Sreality.cz</div>
		<div class="app-promotion-author ng-binding">Seznam.cz, a.s.</div>
		<div class="app-promotion-rating"><span class="app-promotion-rating-progress" style="width: 80%"></span><span class="app-promotion-rating-stars"></span></div>
		<div class="app-promotion-price">Zadarmo v Google Play</div>
	</div>
</div>
			<!-- ngIf: !pageLayout.empty --><div ng-if="!pageLayout.empty" error-page="" class="ng-scope ng-isolate-scope"><!-- ngIf: errorData.isError -->
</div><!-- end ngIf: !pageLayout.empty -->
			<!-- ngIf: !errorData.isError --><div ng-transclude="" class="transcluded-content ng-scope" ng-if="!errorData.isError">
		<!-- ngView:  --><div ng-view="" class="ng-scope"><div class="property-detail ng-scope">

	<!-- ngIf: resource --><div class="content ng-scope" ng-if="resource" ng-class="{'show-report-error': showErrorReport}">

		<!--SEO stuff -->
		<!-- ngIf: resource._embedded.video_urls.length > 0 -->
		<!-- -->
	
		<div ng-show="showedEntity.detail" itemscope="" itemtype="https://schema.org/Product" class="">
			<div class="navigation-detail">
				<div class="crumb-back ng-isolate-scope" crumb-back="">
	<div class="left">
		<!-- ngIf: url -->
	</div>
</div>
				<div class="iterator ng-isolate-scope" iterator="">
	<div class="left">
		<!-- ngIf: urls.prevItemUrl -->
	</div><div class="right">
		<!-- ngIf: urls.nextItemUrl -->
	</div>
</div>
				<div class="navigation-fixer rows-2"></div>
			</div>

			<div map-print="resource" class="map-print s-map ng-isolate-scope smap"><div style="position: absolute; width: 0px; height: 0px; margin: 0px; padding: 0px; left: 184px; top: 96px;"><div><div id="1-0-0.5539427621915489"><div style="transform: translateZ(0px);"><img alt="" style="position: absolute; opacity: 0; transition: opacity 600ms ease 0s; left: -391.803px; top: -105.675px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/20-565364-354950" srcset="https://mapserver.mapy.cz/base-m/20-565364-354950, https://mapserver.mapy.cz/base-m/retina/20-565364-354950 2x"><img alt="" style="position: absolute; opacity: 0; transition: opacity 600ms ease 0s; left: -391.803px; top: 150.325px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/20-565364-354951" srcset="https://mapserver.mapy.cz/base-m/20-565364-354951, https://mapserver.mapy.cz/base-m/retina/20-565364-354951 2x"><img alt="" style="position: absolute; opacity: 0; transition: opacity 600ms ease 0s; left: -135.803px; top: -105.675px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/20-565365-354950" srcset="https://mapserver.mapy.cz/base-m/20-565365-354950, https://mapserver.mapy.cz/base-m/retina/20-565365-354950 2x"><img alt="" style="position: absolute; opacity: 0; transition: opacity 600ms ease 0s; left: -135.803px; top: 150.325px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/20-565365-354951" srcset="https://mapserver.mapy.cz/base-m/20-565365-354951, https://mapserver.mapy.cz/base-m/retina/20-565365-354951 2x"><img alt="" style="position: absolute; opacity: 0; transition: opacity 600ms ease 0s; left: 120.197px; top: -105.675px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/20-565366-354950" srcset="https://mapserver.mapy.cz/base-m/20-565366-354950, https://mapserver.mapy.cz/base-m/retina/20-565366-354950 2x"><img alt="" style="position: absolute; opacity: 0; transition: opacity 600ms ease 0s; left: 120.197px; top: 150.325px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/20-565366-354951" srcset="https://mapserver.mapy.cz/base-m/20-565366-354951, https://mapserver.mapy.cz/base-m/retina/20-565366-354951 2x"></div></div></div><div></div><svg xmlns:xlink="http://www.w3.org/1999/xlink" width="368" height="192" style="position: absolute; left: -184px; top: -96px;"><g><g id="0.5509414710204599-2" style="transform: scale(1);"><polygon fill="#00f" stroke="#00f" stroke-linejoin="round" stroke-linecap="round" points="-1848.1535593867302 -17187.664589881897, -1855.3127517700195 -17069.95047917962, -1094.2868093252182 -17034.412360996008, 1337.0511656701565 -17954.57503053546, 2238.3236979544163 -17542.45890650153, 1882.872303277254 -17152.907449901104, 1971.4618616700172 -16818.07610270381, 4857.0880762040615 -17149.057186305523, 5049.297792285681 -17705.420225009322, 7799.989657610655 -17904.06148791313, 8253.785947710276 -17741.42585107684, 9312.154136031866 -16317.39078091085, 9291.476966559887 -14973.812877982855, 9719.444568932056 -13891.572315454483, 9689.668265551329 -12790.58640986681, 10262.647808462381 -10649.408572852612, 10676.740775674582 -7672.520340800285, 10567.580121219158 -7574.682558938861, 10997.282157331705 -6493.149772435427, 12415.535802036524 -6946.0819914639, 14961.73125872016 -2413.3091061115265, 16429.400769919157 -3836.424852222204, 17627.615986377 -2911.4025121480227, 18225.329856574535 -3668.8522838950157, 18609.347146242857 -3434.3637316524982, 17285.512830466032 -1652.8232079595327, 16886.48406639695 -1322.064105913043, 16340.79376244545 -1269.5113676786423, 16786.072800129652 -448.9566526710987, 17089.995096743107 -427.1291706562042, 15047.0013397336 800.6633428633213, 14245.77241846919 -955.8987272083759, 12984.892996996641 -485.7756012827158, 12359.73046696186 174.37693767249584, 11382.56599894166 576.0104242265224, 10793.137924164534 1383.672033816576, 10771.759651511908 1687.954111725092, 11099.637517750263 2378.8780187368393, 9761.11716246605 2665.044794023037, 9189.186529487371 3568.581772893667, 8567.618237704039 4084.3248139321804, 7588.818011850119 4211.426397353411, 7353.746117860079 4537.097327932715, 7473.968717128038 4974.543232545257, 6535.7247776687145 5931.532153367996, 6121.932352095842 5785.293797045946, 5538.639986097813 5911.240884006023, 3245.0443031787872 7586.134442538023, 3066.3815897405148 7911.815065130591, 3195.486958384514 8781.981612488627, 3594.5521771907806 9667.297013834119, 2750.278579980135 9752.63789176941, -213.90136820077896 11387.87274363637, -360.641873806715 11167.667905539274, -1941.645507991314 11936.246893703938, -3268.2143812179565 12936.7688126117, -3153.8563078045845 13288.342377990484, -3411.1867240071297 13455.342094942927, -3249.71156039834 13821.22710043192, -4377.901551395655 14400.943976327777, -3800.053937137127 15374.871379166842, -4668.128578931093 15621.86163930595, -6055.828780770302 15544.920685976744, -5928.033638596535 15676.624317616224, -6645.88395768404 15529.34026813507, -7235.755063742399 14571.30706062913, -8519.654277414083 13053.748503476381, -10397.920345276594 11794.3384783566, -19394.22210112214 11321.66593581438, -23184.00171753764 10317.068035751581, -22870.04762801528 8982.930980622768, -22768.594201028347 7655.533078104258, -23898.554506510496 7584.367525026202, -23860.129854142666 6968.054268330336, -24645.742311745882 6924.4589976370335, -24613.24567002058 4227.592306792736, -24787.11652198434 4227.5827023386955, -24890.677643448114 3522.664048835635, -26389.65309357643 3640.0000197589397, -26509.255206167698 2665.6861806958914, -26194.028928101063 1635.9218225628138, -26794.14062857628 1461.7657232880592, -27370.559764295816 888.2782583236694, -28153.891016095877 1765.8553985357285, -33529.22599720955 4585.981705158949, -34365.63341486454 3919.3493046164513, -40553.03495666385 117.4502855092287, -27152.494453161955 -10020.325843304396, -26330.49082070589 -10985.490947514772, -25111.459617853165 -11382.457339778543, -24637.599080204964 -12010.091279625893, -23392.92976909876 -12463.532479405403, -22258.001429349184 -13557.360264211893, -21542.873171031475 -13505.094719797373, -19710.989525526762 -12491.757593393326, -19281.538187414408 -12481.151684552431, -17320.974934220314 -13632.822121500969, -16477.710171312094 -14420.578450679779, -16105.196004033089 -15019.644583284855, -15254.632681161165 -15395.671415686607, -13632.570110321045 -15616.363998264074, -12723.790112525225 -15518.652976155281, -11787.360071629286 -15809.61994446814, -10365.999068111181 -15720.973815023899, -11343.6205265522 -13957.269923299551, -9454.854455292225 -14945.166154950857, -9271.031589716673 -14676.669085860252, -8548.915147691965 -15112.078642442822, -8322.278563797474 -15459.455885440111, -6923.5631275177 -15993.346380740404, -5721.672646552324 -16802.21826517582, -5588.908680856228 -16558.45776578784, -5106.1441218853 -16749.079861536622, -3300.8830066919327 -18581.93867224455, -2751.254154741764 -18019.727628558874, -2019.6415619254112 -18104.9531737566, -1821.265338897705 -17632.900777608156, -1848.1535593867302 -17187.664589881897" stroke-opacity="0.55" stroke-width="2" stroke-dasharray="6 8" fill-opacity="0.2"><title></title></polygon></g></g></svg><div></div><div></div></div><div class="hud"><div class="noprint"><div class="copyright print" title=" Seznam.cz, a.s., 2022 |  OpenStreetMap" style="position: absolute; inset: auto auto 3px 5px;">© <a href="https://o.seznam.cz" target="_blank" rel="noopener">Seznam.cz, a.s.</a>, 2022 a <a href="#" data-others="1">další</a></div><a class="print" target="_blank" href="https://mapy.cz/?x=14.102851&amp;y=50.147336&amp;z=20" style="position: absolute; inset: auto 0px 0px auto;"><img src="https://api.mapy.cz/img/api/logo.svg" alt="Zobrazit na Mapy.cz"></a></div></div></div>

			<div class="gallery ng-isolate-scope" ng-class="{ 'old-browsers': oldBrowsers }" gallery="resource">

	<!-- ngIf: sphereShowed -->

	<!-- ngIf: panoramaShowed -->

	<!-- prochazeni fotek v detailu -->
	<!-- ngIf: isDetail() && !isPhantom --><div class="detail-images ng-scope" ng-if="isDetail() &amp;&amp; !isPhantom">
		<!-- jednotlive obrazky -->
		<div class="image-cover" ng-class="{ mobile: isMobile }"><!--
		--><div class="image prev">
				<img ng-src="https://d18-a.sdn.cz/d_18/c_img_gT_i/9mGJLV.jpeg?fl=res,749,562,3|shr,,20|jpg,90" ng-click="showEntity(SHOW_ENTITY.FULLSCREEN)" class="img" src="https://d18-a.sdn.cz/d_18/c_img_gT_i/9mGJLV.jpeg?fl=res,749,562,3|shr,,20|jpg,90">
			</div><!--

			 --><!-- ngIf: images.detail.virtualTour --><!--

			--><!-- ngIf: images.detail.panorama --><!--

			 --><!-- ngIf: images.detail.sphere --><!--

		 --><!-- ngIf: images.detail.image --><div class="image active ng-scope" ng-class="{ loading: images.detail.active.loading }" swipe="" swipe-right="prevPhoto()" swipe-left="nextPhoto()" ng-if="images.detail.image" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><!--
			 --><!-- ngIf: images.detail.active.showVideo --><!--
			 --><img alt="" class="img" my-image="" img-src="https://d18-a.sdn.cz/d_18/c_img_gS_h/o0eJMY.jpeg?fl=res,749,562,3|shr,,20|jpg,90" img-load="images.detail.active.loading = true" img-done="images.detail.active.loading = false" itemprop="image"><!--
			 --><div class="download-cover" ng-click="showEntity(SHOW_ENTITY.FULLSCREEN)">&nbsp;</div><!--
		 --></div><!-- end ngIf: images.detail.image --><!--

		--><div class="image next">
				<img ng-src="https://d18-a.sdn.cz/d_18/c_img_gV_i/8ttIzL.jpeg?fl=res,749,562,3|shr,,20|jpg,90" ng-click="showEntity(SHOW_ENTITY.FULLSCREEN)" class="img" src="https://d18-a.sdn.cz/d_18/c_img_gV_i/8ttIzL.jpeg?fl=res,749,562,3|shr,,20|jpg,90">
			</div>

			<!-- navigace -->
			<!-- ngIf: !virtualTourShowed --><button class="detail-btn prev ng-scope" ng-click="prevPhoto($event)" ng-if="!virtualTourShowed">
				<span class="btn-circle-gallery icof icon-arr-left" ng-class="{ hidden: selected.active == 0 &amp;&amp; !conf.infiniteScroll }"></span>
			</button><!-- end ngIf: !virtualTourShowed -->
			<!-- ngIf: !virtualTourShowed --><button class="detail-btn next ng-scope" ng-click="nextPhoto($event)" ng-if="!virtualTourShowed">
				<span class="btn-circle-gallery icof icon-arr-right" ng-class="{ hidden: selected.active == data.images.length - 1 &amp;&amp; !conf.infiniteScroll }"></span>
			</button><!-- end ngIf: !virtualTourShowed -->
		</div>

		<!-- do thumbnails -->
		<!-- ngIf: !panoramaShowed && !sphereShowed && !virtualTourShowed --><button class="btn thumbnails ng-binding ng-scope" ng-if="!panoramaShowed &amp;&amp; !sphereShowed &amp;&amp; !virtualTourShowed" ng-click="showEntity(SHOW_ENTITY.THUMBNAILS)">
			Zobrazit
			8
			fotografií
			v galerii
		</button><!-- end ngIf: !panoramaShowed && !sphereShowed && !virtualTourShowed -->

		<!-- ngIf: panoramaShowed -->

		<!-- ngIf: virtualTourShowed -->		
	</div><!-- end ngIf: isDetail() && !isPhantom -->

	<!-- phantom -->
	<!-- ngIf: isPhantom -->

	<!-- fullscreen mod -->
	<div class="fullscreen-mode ng-hide" ng-show="!isDetail()">
		<div class="background"></div>

		<!-- fullscreen obrazky -->
		<div class="fl-images prev">
			<!-- ngIf: isFullscreen() -->
		</div>

		<div class="fl-images active" ng-class="{ loading: images.fullscreen.active.loading &amp;&amp; !images.fullscreen.panorama &amp;&amp; !images.fullscreen.sphere, 'panorama-fullscreen': images.fullscreen.panorama }" swipe="" swipe-right="prevPhoto()" swipe-left="nextPhoto()" ng-click="fullscreenClick(images.fullscreen)" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><!--
			--><!-- ngIf: isFullscreen() && !isVideo() && images.fullscreen.image -->

				<!-- ngIf: isFullscreen() && images.fullscreen.virtualTour -->
				<!-- ngIf: images.fullscreen.virtualTour -->

			 	<!-- ngIf: images.fullscreen.sphere -->

				<!-- ngIf: images.fullscreen.panorama -->
				<!-- ngIf: images.fullscreen.panorama -->

			<div class="download-cover">&nbsp;</div>
		</div>

		<div class="fl-images next">
			<!-- ngIf: isFullscreen() -->
		</div>

		<!-- video prehravac -->
		<!-- ngIf: isVideo() -->

		<!-- nahledy thumbnails -->
		<div class="thumbnails-outter" ng-class="{ show: isThumbnails(), 'fl-detail': isFullscreen() }" ng-click="showEntity(SHOW_ENTITY.DETAIL)">
			<div class="thumbnails-middle"><!-- fix pro ipad6 -->
				<div class="thumbnails-inner">
					<div class="list" ng-class="{ 'less-than-five': data.images.length < 5 }">
						<!-- ngRepeat: image in data.images track by $index --><div class="thumb-image ng-scope active" ng-repeat="image in data.images track by $index" ng-click="openFullscreenPhoto($event, $index)" ng-class="{ active: selected.active == $index, loading: image.thumbLoad &amp;&amp; image.image}">
							<!-- ngIf: loadThumbnails && image.image -->
							
							<!-- ngIf: loadThumbnails && image.virtualTour -->
							<!-- ngIf: image.virtualTour -->

							<!-- ngIf: image.sphere -->

							<!-- ngIf: image.panorama -->
							<!-- ngIf: image.panorama -->

							<!-- ngIf: $index == videoIndex && data.hasVideo -->
						</div><!-- end ngRepeat: image in data.images track by $index --><div class="thumb-image ng-scope" ng-repeat="image in data.images track by $index" ng-click="openFullscreenPhoto($event, $index)" ng-class="{ active: selected.active == $index, loading: image.thumbLoad &amp;&amp; image.image}">
							<!-- ngIf: loadThumbnails && image.image -->
							
							<!-- ngIf: loadThumbnails && image.virtualTour -->
							<!-- ngIf: image.virtualTour -->

							<!-- ngIf: image.sphere -->

							<!-- ngIf: image.panorama -->
							<!-- ngIf: image.panorama -->

							<!-- ngIf: $index == videoIndex && data.hasVideo -->
						</div><!-- end ngRepeat: image in data.images track by $index --><div class="thumb-image ng-scope" ng-repeat="image in data.images track by $index" ng-click="openFullscreenPhoto($event, $index)" ng-class="{ active: selected.active == $index, loading: image.thumbLoad &amp;&amp; image.image}">
							<!-- ngIf: loadThumbnails && image.image -->
							
							<!-- ngIf: loadThumbnails && image.virtualTour -->
							<!-- ngIf: image.virtualTour -->

							<!-- ngIf: image.sphere -->

							<!-- ngIf: image.panorama -->
							<!-- ngIf: image.panorama -->

							<!-- ngIf: $index == videoIndex && data.hasVideo -->
						</div><!-- end ngRepeat: image in data.images track by $index --><div class="thumb-image ng-scope" ng-repeat="image in data.images track by $index" ng-click="openFullscreenPhoto($event, $index)" ng-class="{ active: selected.active == $index, loading: image.thumbLoad &amp;&amp; image.image}">
							<!-- ngIf: loadThumbnails && image.image -->
							
							<!-- ngIf: loadThumbnails && image.virtualTour -->
							<!-- ngIf: image.virtualTour -->

							<!-- ngIf: image.sphere -->

							<!-- ngIf: image.panorama -->
							<!-- ngIf: image.panorama -->

							<!-- ngIf: $index == videoIndex && data.hasVideo -->
						</div><!-- end ngRepeat: image in data.images track by $index --><div class="thumb-image ng-scope" ng-repeat="image in data.images track by $index" ng-click="openFullscreenPhoto($event, $index)" ng-class="{ active: selected.active == $index, loading: image.thumbLoad &amp;&amp; image.image}">
							<!-- ngIf: loadThumbnails && image.image -->
							
							<!-- ngIf: loadThumbnails && image.virtualTour -->
							<!-- ngIf: image.virtualTour -->

							<!-- ngIf: image.sphere -->

							<!-- ngIf: image.panorama -->
							<!-- ngIf: image.panorama -->

							<!-- ngIf: $index == videoIndex && data.hasVideo -->
						</div><!-- end ngRepeat: image in data.images track by $index --><div class="thumb-image ng-scope" ng-repeat="image in data.images track by $index" ng-click="openFullscreenPhoto($event, $index)" ng-class="{ active: selected.active == $index, loading: image.thumbLoad &amp;&amp; image.image}">
							<!-- ngIf: loadThumbnails && image.image -->
							
							<!-- ngIf: loadThumbnails && image.virtualTour -->
							<!-- ngIf: image.virtualTour -->

							<!-- ngIf: image.sphere -->

							<!-- ngIf: image.panorama -->
							<!-- ngIf: image.panorama -->

							<!-- ngIf: $index == videoIndex && data.hasVideo -->
						</div><!-- end ngRepeat: image in data.images track by $index --><div class="thumb-image ng-scope" ng-repeat="image in data.images track by $index" ng-click="openFullscreenPhoto($event, $index)" ng-class="{ active: selected.active == $index, loading: image.thumbLoad &amp;&amp; image.image}">
							<!-- ngIf: loadThumbnails && image.image -->
							
							<!-- ngIf: loadThumbnails && image.virtualTour -->
							<!-- ngIf: image.virtualTour -->

							<!-- ngIf: image.sphere -->

							<!-- ngIf: image.panorama -->
							<!-- ngIf: image.panorama -->

							<!-- ngIf: $index == videoIndex && data.hasVideo -->
						</div><!-- end ngRepeat: image in data.images track by $index --><div class="thumb-image ng-scope" ng-repeat="image in data.images track by $index" ng-click="openFullscreenPhoto($event, $index)" ng-class="{ active: selected.active == $index, loading: image.thumbLoad &amp;&amp; image.image}">
							<!-- ngIf: loadThumbnails && image.image -->
							
							<!-- ngIf: loadThumbnails && image.virtualTour -->
							<!-- ngIf: image.virtualTour -->

							<!-- ngIf: image.sphere -->

							<!-- ngIf: image.panorama -->
							<!-- ngIf: image.panorama -->

							<!-- ngIf: $index == videoIndex && data.hasVideo -->
						</div><!-- end ngRepeat: image in data.images track by $index -->
					</div>
				</div>
			</div>
		</div>

		<div class="navigation">
			<!-- pouze pro fullscreen a video -->
			<!-- ngIf: !isThumbnails() --><button class="btn-circle-gallery-fs icof icon-list ng-scope" ng-click="showEntity(SHOW_ENTITY.THUMBNAILS)" ng-if="!isThumbnails()"></button><!-- end ngIf: !isThumbnails() -->
			<!-- ngIf: !isThumbnails() --><button class="btn-circle-gallery-fs icof icon-arr-left ng-scope" ng-click="prevPhoto($event)" ng-if="!isThumbnails()"></button><!-- end ngIf: !isThumbnails() -->
			<!-- ngIf: !isThumbnails() --><span class="image-order ng-binding ng-scope" ng-if="!isThumbnails()">1/8</span><!-- end ngIf: !isThumbnails() -->
			<!-- ngIf: !isThumbnails() --><button class="btn-circle-gallery-fs icof icon-arr-right ng-scope" ng-click="nextPhoto($event)" ng-if="!isThumbnails()"></button><!-- end ngIf: !isThumbnails() -->

			<!-- spolecne pro fullscreen, thumbnails a video -->
			<button class="btn-circle-gallery-fs icof icon-cross" ng-click="showEntity(SHOW_ENTITY.DETAIL)"></button>
		</div>
	</div>
</div>
			
			<div class="property-title">
				<h1>
					<span itemprop="name">
						<span class="name ng-binding">Pronájem bytu 3+kk 62&nbsp;m² (Podkrovní)</span>
						<span class="location"><span class="location-text ng-binding">Kladno</span>

							<!-- ngIf: showPanoramaBtn -->
						</span>
					</span>
				</h1>
				<!-- ngIf: contentData.price --><span ng-if="contentData.price" class="price ng-scope" itemprop="offerDetails" itemscope="" itemtype="https://schema.org/Offer">
					<!-- ngIf: contentData.price.raw > 1 --><span ng-if="contentData.price.raw > 1" class="microdata ng-scope">
						<meta itemprop="currency" content="CZK">
						<span itemprop="price" class="ng-binding">12600</span>
					</span><!-- end ngIf: contentData.price.raw > 1 -->
					<span class="norm-price ng-binding">12&nbsp;600&nbsp;Kč za měsíc</span>
					<!-- ngIf: contentData.price.alternative -->

					<!-- ngIf: !!contentData.energyEfficiencyRating -->
				</span><!-- end ngIf: contentData.price -->
				<!-- ngIf: topped -->
			</div>

			<!--<button data-dot="go-to-mortage" class="c-mortgage-link"
					ng-if="actualLang === 'cs' && detailData.price && detailData.typeId === 1 && showHyponamiru"
					ng-click="scrollIntoMortgageCalculator()">
				<img class="c-mortgage-link__icon" src="/img/hypoteka/calculator.svg" />
				<span class="c-mortgage-link__text">Spočítat hypotéku</span>
			</button>-->

			<div class="description ng-binding" itemprop="description" ng-bind-html="contentData.description | lineFilter"><p>Pronájem bytu 3+kk vč. půdního prostoru nad bytem v rodinném domě - poklidná část Kladna poblíž centra.</p><p>Byt má nové základní vybavení (podlahy, kuchyňská linka, spotřebiče) a nachází se v novostavbě rodinného domu. </p><p>Nezařížený - bez nábytku</p><p>&nbsp;</p><p>Voda 700,- Kč, topení 700,-</p><p>Elektro hradí zákazník zvlášť přímo dodavateli</p><p>&nbsp;</p><p>2 pokoje, prostorný obývák s kuchyňským koutem, vstupní chodba, koupelna se sprchovým koutem a závěsným wc, podlahové vytápění koupelny</p><p>&nbsp;</p><p>Byt se nachází v podkroví v 1.podlaží</p><p>Centrální vytápění na tuhá paliva</p><p>&nbsp;</p><p>Bez domácích mazlíčků (pes, kočka)</p><p>&nbsp;</p><p>Zájemci prosím volat na uvedené telefonní číslo</p><p>RK prosím nekontaktovat!</p></div>

			<div class="params clear">
				<!-- ngRepeat: group in params --><ul ng-repeat="group in params" class="params1">
					<!-- ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">Celková cena:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope">12&nbsp;600 Kč za měsíc</span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">Poznámka k ceně:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope">Kauce 20.000 Kč, voda a topení v ceně nájmu</span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">Aktualizace:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope">14.12.2021</span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">ID:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope">2827151964</span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">Stavba:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope">Cihlová</span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">Stav objektu:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope">Novostavba</span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">Vlastnictví:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope">Osobní</span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">Umístění objektu:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope">Klidná část obce</span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">Podlaží:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope">1. podlaží z celkem 2</span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">Užitná plocha:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope">62</span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' --><span ng-if="item.type == 'area'" class="ng-scope">m<sup>2</sup></span><!-- end ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params -->
				</ul><!-- end ngRepeat: group in params --><ul ng-repeat="group in params" class="params2">
					<!-- ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">Parkování:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope"></span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' --><span ng-if="item.type == 'boolean-true'" class="icof icon-ok ng-scope"></span><!-- end ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">Datum nastěhování:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope">Ihned</span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">Voda:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope">Místní zdroj</span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">Topení:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope">Ústřední tuhá paliva</span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">Odpad:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope">Veřejná kanalizace</span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">Doprava:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope">Vlak, Dálnice, Silnice, MHD, Autobus</span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">Komunikace:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope">Betonová, Dlážděná, Asfaltová</span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">Vybavení:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope"></span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' --><span ng-if="item.type == 'boolean-false'" class="icof icon-cross ng-scope"></span><!-- end ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">Typ bytu:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope">Podkrovní</span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params -->
				</ul><!-- end ngRepeat: group in params -->
			</div>

			<div class="buttons" data-dot-data="{&quot;jazyk&quot;:&quot;cs&quot;,&quot;id&quot;:&quot;2827151964&quot;,&quot;okres&quot;:&quot;kladno&quot;,&quot;cena&quot;:12600,&quot;stavba&quot;:&quot;cihlova&quot;,&quot;navic&quot;:&quot;parkovani&quot;,&quot;typ-nemovitosti&quot;:&quot;byty&quot;,&quot;typ-transakce&quot;:&quot;pronajem&quot;,&quot;velikost&quot;:&quot;3+kk&quot;}">
				<!-- ngIf: favData --><span class="btn-wrap ng-scope ng-isolate-scope" favourite="favData" ng-if="favData"><span class="favorite-directive">
	<!-- ngIf: showed -->
	<a class="btn icof icon-favourite favorite-button ng-binding ng-isolate-scope ng-pristine ng-valid" link-requires-login="" ng-model="data.model" ng-click="change()" ng-class="{active: data.model}">Přidat do oblíbených
	</a>
</span>
</span><!-- end ngIf: favData --><!--
			 --><span class="btn-wrap ng-isolate-scope" property-share="propShareConf"><span class="property-share-wrap">
	<button data-dot-data="{&quot;text&quot;:&quot;Sdílet inzerát&quot;}" class="btn icof icon-share" ng-click="showContent($event)" ng-class="{ active: show }"><span class="text ng-binding">Sdílet inzerát</span></button>
	<span class="property-share-content-wrap ng-hide" ng-show="show">
		<span class="property-share-content ng-isolate-scope" off-click="showContent()" off-click-if="show">
			<h3 class="title ng-binding">Sdílet inzerát</h3>
			<input type="text" class="input url-input ng-pristine ng-valid" ng-model="input" readonly="" ng-click="click($event)">
			<ul class="items">
				<!-- ngRepeat: i in items --><li class="item ng-scope facebook" ng-class="i.className" ng-repeat="i in items">
					<a href="https://www.facebook.com/sharer.php?u=https%3A%2F%2Fwww.sreality.cz%2Fdetail%2Fpronajem%2Fbyt%2F3%2Bkk%2Fkladno-kladno-%2F2827151964" target="_blank" class="link ng-binding">
						<span class="icon"></span>
						Facebook
					</a>
				</li><!-- end ngRepeat: i in items --><li class="item ng-scope twitter" ng-class="i.className" ng-repeat="i in items">
					<a href="https://twitter.com/share?&amp;url=https%3A%2F%2Fwww.sreality.cz%2Fdetail%2Fpronajem%2Fbyt%2F3%2Bkk%2Fkladno-kladno-%2F2827151964&amp;text=Pron%C3%A1jem%20bytu%203%2Bkk%2062%C2%A0m%C2%B2%20(Podkrovn%C3%AD)" target="_blank" class="link ng-binding">
						<span class="icon"></span>
						Twitter
					</a>
				</li><!-- end ngRepeat: i in items -->
			</ul>
		</span>
	</span>
</span>
</span><!--
			 --><span class="btn-wrap">
					<button data-dot-data="{&quot;text&quot;:&quot;Tisknout&quot;}" class="btn icof icon-print property-print ng-binding" ng-click="printPage()">Tisknout</button>
				</span><!--
			 --><span class="btn-wrap note-wrap ng-isolate-scope" note="resource">
	<a link-requires-login="" class="btn icof icon-pen btn-note ng-binding ng-isolate-scope" ng-click="showNote()" ng-show="!show">Přidat poznámku</a>
	<span class="note ng-hide" ng-show="show">
		<textarea class="textarea ng-pristine ng-valid" ng-attr-placeholder="{{ 'lang-note.placeholder' | translate }}" ng-model="model" placeholder="Přidejte si poznámku k inzerátu"></textarea>
		<div class="control">
			<button class="btn ng-binding" ng-click="save()" ng-class="{'icof icon-ok': status == 1, 'icof icon-cross': status == 2}">Uložit</button>
		</div>
		<span class="icof icon-cross remove" ng-click="remove()"></span>
	</span>
</span>
			</div>

			<!-- ngIf: addressFrom --><div class="c-transport ng-scope" ng-if="addressFrom" id="c-transport" address-from="contentData.subTitle">
    <span class="c-transport__title ng-binding">Dojezdová vzdálenost</span>
    <span class="c-tag-new ng-binding">Nové</span>
    
    <!-- ngIf: !userLogged() --><div ng-if="!userLogged()" class="ng-scope">	
        <img class="c-transport__icon" src="/img/dojezdova-vzdalenost.svg">
        <div class="c-transport__text-wrap">
            <span class="c-transport__text ng-binding">Zajímá vás, jak dlouho budete dojíždět z této adresy?</span>
            <button class="c-transport__link-btn ng-binding" type="button" ng-click="login()">Přihlaste se a zkontrolujte svůj dojezdový čas</button>
        </div>
    </div><!-- end ngIf: !userLogged() -->
    
    <!-- ngIf: userLogged() && isFirstLoaded -->
</div><!-- end ngIf: addressFrom -->

			<!-- ngIf: services -->

			<!-- ngIf: pois.length --><div ng-if="pois.length" class="c-pois ng-scope">
				<h2 class="c-pois__header ng-binding">V okolí najdete:</h2>
				<ul class="c-pois__list">
					<!-- ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Cukrárna:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url --><a ng-if="poi.url" class="c-pois__poi-text ng-binding ng-scope" ng-href="https://www.firmy.cz/detail/12982145-nam-nam-kladno.html" target="_blank" href="https://www.firmy.cz/detail/12982145-nam-nam-kladno.html">ŇAM ŇAM</a><!-- end ngIf: poi.url -->
							<!-- ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (550&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Kino:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url --><a ng-if="poi.url" class="c-pois__poi-text ng-binding ng-scope" ng-href="https://www.firmy.cz/detail/13179300-kino-sokol-kladno-kladno.html" target="_blank" href="https://www.firmy.cz/detail/13179300-kino-sokol-kladno-kladno.html">Kino Sokol Kladno</a><!-- end ngIf: poi.url -->
							<!-- ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (477&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Přírodní zajímavost:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url -->
							<!-- ngIf: !poi.url --><span ng-if="!poi.url" class="c-pois__poi-text ng-binding ng-scope">Vodní park Čabárna</span><!-- end ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (5157&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Hřiště:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url -->
							<!-- ngIf: !poi.url --><span ng-if="!poi.url" class="c-pois__poi-text ng-binding ng-scope">Dětské hřiště Nové Kladno</span><!-- end ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (308&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Večerka:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url --><a ng-if="poi.url" class="c-pois__poi-text ng-binding ng-scope" ng-href="https://www.firmy.cz/detail/13279566-europamarket-kladno-kladno.html" target="_blank" href="https://www.firmy.cz/detail/13279566-europamarket-kladno-kladno.html">Europamarket Kladno</a><!-- end ngIf: poi.url -->
							<!-- ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (198&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Hospoda:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url --><a ng-if="poi.url" class="c-pois__poi-text ng-binding ng-scope" ng-href="https://www.firmy.cz/detail/13117004-pivnice-sparta-kladno.html" target="_blank" href="https://www.firmy.cz/detail/13117004-pivnice-sparta-kladno.html">Pivnice Sparta</a><!-- end ngIf: poi.url -->
							<!-- ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (220&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Divadlo:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url --><a ng-if="poi.url" class="c-pois__poi-text ng-binding ng-scope" ng-href="https://www.firmy.cz/detail/733471-loutkove-divadlo-lampion-kladno.html" target="_blank" href="https://www.firmy.cz/detail/733471-loutkove-divadlo-lampion-kladno.html">Loutkové divadlo Lampion</a><!-- end ngIf: poi.url -->
							<!-- ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (906&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Veterinář:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url --><a ng-if="poi.url" class="c-pois__poi-text ng-binding ng-scope" ng-href="https://www.firmy.cz/detail/13013573-veterinarni-ordinace-anezka-kladno.html" target="_blank" href="https://www.firmy.cz/detail/13013573-veterinarni-ordinace-anezka-kladno.html">Veterinární ordinace ANEŽKA</a><!-- end ngIf: poi.url -->
							<!-- ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (504&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Restaurace:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url --><a ng-if="poi.url" class="c-pois__poi-text ng-binding ng-scope" ng-href="https://www.firmy.cz/detail/13143357-pohostinstvi-pod-vobrazem-kladno.html" target="_blank" href="https://www.firmy.cz/detail/13143357-pohostinstvi-pod-vobrazem-kladno.html">Pohostinství Pod Vobrazem</a><!-- end ngIf: poi.url -->
							<!-- ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (268&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Škola:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url --><a ng-if="poi.url" class="c-pois__poi-text ng-binding ng-scope" ng-href="https://www.firmy.cz/detail/362490-sps-kladno-kladno.html" target="_blank" href="https://www.firmy.cz/detail/362490-sps-kladno-kladno.html">SPŠ Kladno</a><!-- end ngIf: poi.url -->
							<!-- ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (416&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Bus MHD:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url -->
							<!-- ngIf: !poi.url --><span ng-if="!poi.url" class="c-pois__poi-text ng-binding ng-scope">Kladno, Nám. Svobody</span><!-- end ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (307&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Lékárna:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url --><a ng-if="poi.url" class="c-pois__poi-text ng-binding ng-scope" ng-href="https://www.firmy.cz/detail/12857002-dr-max-lekarna-kladno.html" target="_blank" href="https://www.firmy.cz/detail/12857002-dr-max-lekarna-kladno.html">Dr. Max LÉKÁRNA</a><!-- end ngIf: poi.url -->
							<!-- ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (384&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Lékař:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url --><a ng-if="poi.url" class="c-pois__poi-text ng-binding ng-scope" ng-href="https://www.firmy.cz/detail/430635-mudr-pavel-brejnik-kladno.html" target="_blank" href="https://www.firmy.cz/detail/430635-mudr-pavel-brejnik-kladno.html">MUDr. Pavel Brejník</a><!-- end ngIf: poi.url -->
							<!-- ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (300&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Školka:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url --><a ng-if="poi.url" class="c-pois__poi-text ng-binding ng-scope" ng-href="https://www.firmy.cz/detail/2693321-malickov-s-r-o-soukroma-anglicka-skolka-a-jesle-kladno.html" target="_blank" href="https://www.firmy.cz/detail/2693321-malickov-s-r-o-soukroma-anglicka-skolka-a-jesle-kladno.html">MALÍČKOV s.r.o. - Soukromá anglická školka a jesle</a><!-- end ngIf: poi.url -->
							<!-- ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (817&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Sportoviště:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url --><a ng-if="poi.url" class="c-pois__poi-text ng-binding ng-scope" ng-href="https://www.firmy.cz/detail/13273908-sportovni-klub-panteri-kladno-kladno.html" target="_blank" href="https://www.firmy.cz/detail/13273908-sportovni-klub-panteri-kladno-kladno.html">Sportovní klub Panteři Kladno</a><!-- end ngIf: poi.url -->
							<!-- ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (416&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Vlak:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url -->
							<!-- ngIf: !poi.url --><span ng-if="!poi.url" class="c-pois__poi-text ng-binding ng-scope">Kladno-Ostrovec</span><!-- end ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (263&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Pošta:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url --><a ng-if="poi.url" class="c-pois__poi-text ng-binding ng-scope" ng-href="https://www.firmy.cz/detail/216835-posta-kladno-5-kladno.html" target="_blank" href="https://www.firmy.cz/detail/216835-posta-kladno-5-kladno.html">Pošta Kladno 5 - Česká pošta, s.p.</a><!-- end ngIf: poi.url -->
							<!-- ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (410&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Bankomat:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url --><a ng-if="poi.url" class="c-pois__poi-text ng-binding ng-scope" ng-href="https://www.firmy.cz/detail/13238866-platbomat-ceske-sporitelny-kladno.html" target="_blank" href="https://www.firmy.cz/detail/13238866-platbomat-ceske-sporitelny-kladno.html">Platbomat České spořitelny</a><!-- end ngIf: poi.url -->
							<!-- ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (315&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Obchod:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url --><a ng-if="poi.url" class="c-pois__poi-text ng-binding ng-scope" ng-href="https://www.firmy.cz/detail/12966933-central-kladno-kladno.html" target="_blank" href="https://www.firmy.cz/detail/12966933-central-kladno-kladno.html">Central Kladno</a><!-- end ngIf: poi.url -->
							<!-- ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (1037&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois -->
				</ul>
			</div><!-- end ngIf: pois.length -->

			<!-- ngIf: projectData -->

			<div id="answer-form" sticky-contact-button-clicked="stickyContactButtonClicked" answer-form="resource" class="ng-isolate-scope"><div class="answer-form" ng-show="contact">
	<h2 class="contact-title ng-binding">Kontaktovat:</h2>

	<div class="contacts">
		<!-- ngIf: contact --><div class="seller-contact clear ng-isolate-scope seller-contact--not-agent" ng-class="{'seller-contact--not-agent': data.notAgent}" seller-contact="contact" ng-if="contact">

	<!-- todo: muze mit RUS uzivatel photo?? -->

	<!-- ngIf: link -->

	<!-- ngIf: !link --><span ng-if="!link" class="image-wrap ng-scope image-wrap--no-photo" ng-class="{'image-wrap--no-photo': !data.photo}">
		<!-- ngIf: data.photo -->
	</span><!-- end ngIf: !link -->

	<!-- ngIf: !isSellerDetail --><strong ng-if="!isSellerDetail" class="seller-name ng-scope">
		<!-- odkaz na detail maklere -->
		<!-- ngIf: link -->

		<!-- jmeno je obyc text - nejsme na detailu maklere a nemame link (nemusi se jednat vlastne o maklere) -->
		<!-- ngIf: !link --><strong class="name ng-binding ng-scope" ng-if="!link">Renata Nelibová</strong><!-- end ngIf: !link -->
	</strong><!-- end ngIf: !isSellerDetail -->

	<!-- ngIf: isSellerDetail -->

	<div class="contacts">
		<!-- ngIf: (isSellerDetail || data.isPaid) && data.reviewsCount -->
		<!-- ngIf: isSellerDetail -->

		<ul class="contact-list">
			<!-- ngRepeat: phone in phones --><li ng-repeat="phone in phones" class="contact-item phone ng-scope">
				<label class="label">
					<img class="icon" src="/img/icon-phone.svg" alt="">
				</label>

				<!-- ngIf: !phone.isShowed --><button class="value interactive ng-binding ng-scope" ng-if="!phone.isShowed" ng-click="showPhone(phone.id)" data-dot="detail inzeratu/zobrazit telefon">Zobrazit telefon</button><!-- end ngIf: !phone.isShowed -->
				<!-- ngIf: isMobile && phone.isShowed -->
				<!-- ngIf: !isMobile && phone.isShowed -->
			</li><!-- end ngRepeat: phone in phones -->
			<!-- ngIf: data.email --><li ng-if="data.email" class="contact-item email ng-scope">
				<label class="label">
					<img class="icon" src="/img/icon-email.svg" alt="">
				</label>
				<!-- ngIf: !isEmailShowed --><button class="value interactive ng-binding ng-scope" ng-if="!isEmailShowed" ng-click="showEmail()" data-dot="detail inzeratu/zobrazit email">Zobrazit email</button><!-- end ngIf: !isEmailShowed -->
				<!-- ngIf: isEmailShowed -->
			</li><!-- end ngIf: data.email -->
			<!-- ngIf: data.brokerIco -->
		</ul>

		<!-- ngIf: isSellerDetail && data.contactForm.showButton && !data.contactForm.show && data.estateSize -->
	</div>

	<!-- odpovedni formular -->
	<!-- ngIf: isSellerDetail && (data.contactForm.show || (!data.estateSize && data.contactForm.showButton)) -->

	<!-- graf -->
	<!-- ngIf: data.isGraph -->
</div><!-- end ngIf: contact -->

		<!-- ngIf: premise -->
	</div>

	<!-- uz odpovezeno, bud davno nebo prave ted -->
	<!-- ngIf: sended && !sendingAgain -->

	<!-- odpovedni formular -->
	<!-- ngIf: !sended || sendingAgain --><form ng-if="!sended || sendingAgain" class="form send-form ng-scope ng-pristine ng-valid" name="contactform" ng-submit="submit()" novalidate="">
		<!-- ngIf: form.status -->
		<label>
			<span class="form-label label ng-binding">Váš email</span>
			<div class="input-wrapper">
				<input type="email" class="input ng-pristine ng-valid ng-valid-email" ng-class="{error: form.emailErr}" name="email" ng-model="form.email">
			</div>
		</label>
		<label>
			<span class="form-label label ng-binding">Jméno</span>
			<div class="input-wrapper">
				<input type="text" class="input ng-pristine ng-valid" ng-class="{error: form.nameErr}" name="name" ng-model="form.name">
			</div>
		</label>
		<label>
			<span class="form-label label ng-binding">Telefon</span>
			<div class="input-wrapper">
				<input type="tel" class="input ng-pristine ng-valid" ng-class="{error: form.phoneErr}" name="phone" ng-model="form.phone">
			</div>
		</label>
		<label>
			<span class="form-label label"></span>
			<div class="input-wrapper">
				<textarea ng-class="{error: form.messageErr}" class="textarea ng-pristine ng-valid" name="message" ng-model="form.message">				</textarea>
			</div>
		</label>
		<div>
			<span class="form-label label"></span>
			<div class="input-wrapper ng-binding">
				Zadané údaje zpracováváme dle těchto <a href="https://napoveda.seznam.cz/cz/sreality/souhlas-se-zpracovanim-osobnich-udaju-sreality/" target="_blank" class="ng-binding">podmínek</a>.
			</div>
		</div>
		<div>
			<div class="input-wrapper input-wrapper-center">
				<!-- ngIf: sending -->
				<button type="submit" ng-disabled="sending" ng-class="{'btn-disabled': sending}" class="btn-full ng-binding">Odpovědět</button>
			</div>
		</div>
	</form><!-- end ngIf: !sended || sendingAgain -->
</div>
</div>

			<!-- <div id="localityIndex" class="c-locality-index" ng-if="actualLang === 'cs'" data-nosnippet>				
				<preact data="advertId" component="locality-index"></preact>
			</div> -->

			<!--<div id="hypoteka" class="c-mortgage-calculator"
				 ng-if="actualLang === 'cs' && detailData.price && detailData.typeId === 1 && showHyponamiru" data-nosnippet>
				<h2 class="c-mortgage-calculator__header">Hypoteční kalkulačka</h2>
				<preact data="mortgageData" component="mortgage-calculator"></preact>
			</div>-->

			<div class="c-contact-buttons">
				<preact data="contactData" component="contact-buttons" class="ng-isolate-scope"><div class="sds-surface sds-surface--05 _332AuA3qL4XBj2btXtvXIs" tabindex="-1"><a class="sds-surface sds-surface--clickable sds-surface--03 sds-button sds-helpers-button sds-button--small T1TnDW99vniZJvEPeiSXZ _2qIcoVMHOUWJT8TTAM8qHa _1lpYutJ_422EWdEuUmMhIf" href="tel:+420604368378" rel="noreferrer noopener" role="button" data-dot="sticky-contact-phone"><span class="sds-typography sds-typography--body-small sds-button__text">Zavolat</span></a><button class="sds-surface sds-surface--clickable sds-surface--primary sds-button sds-helpers-button sds-button--small sds-button--primary T1TnDW99vniZJvEPeiSXZ _2qIcoVMHOUWJT8TTAM8qHa _1lpYutJ_422EWdEuUmMhIf" type="button" role="button" data-dot="sticky-contact-reply"><span class="sds-typography sds-typography--body-small sds-button__text">Napsat zprávu</span></button></div></preact>
			</div>

			<!-- ngIf: regions.local || regions.broader --><div class="regions-box ng-scope" ng-if="regions.local || regions.broader">
				<!-- ngIf: regions.local --><p class="regions-links ng-binding ng-scope" ng-if="regions.local">
					Podívejte se také na další reality v kategorii <a ng-href="/hledani/pronajem/byty/kladno" class="ng-binding" href="/hledani/pronajem/byty/kladno">Pronájem bytů Kladno</a>.
				</p><!-- end ngIf: regions.local -->

				<!-- ngIf: regions.broader -->
			</div><!-- end ngIf: regions.local || regions.broader -->
			
			<div class="report-error-btn-wrap">
				<button class="btn report ng-binding" ng-click="showEntity('errorReport')">Nahlásit chybu</button>
			</div>

			<div class="dir-bottom ng-isolate-scope" detail-data="detailData">
	<div class="dir-bottom__content">
		<div class="dir-bottom__label">Reklama</div>

		<div class="dir-bottom__fixed">
			<div id="dir-bottom__wrap" class="dir-bottom__wrap"></div>
			
			<div class="dir-bottom__shadow--top"></div>
			<div class="dir-bottom__shadow--bottom"></div>
		</div>
	</div>

	<div class="dir-bottom__classic">
		<div id="dir-bottom" class="dir-bottom__classic-inner"></div>
	</div>
</div>

			<span class="btn-circle icof icon-up backToTop ng-isolate-scope" ng-click="goTop()" mover-top=""></span>
		</div>

		<!-- ngIf: showedEntity.errorReport -->

		<!-- ngIf: showedEntity.loanCalc -->
	</div><!-- end ngIf: resource -->
</div>
</div>
	</div><!-- end ngIf: !errorData.isError -->
			<preact lang-binding="true" page-binding="true" component="footer" class="ng-isolate-scope"><footer class="_2OgfM2_KYImX04ik8Lkirn"><div class="_3NJE8NRqA5KCr2VwHqJ27e _2T2w9H_NOdtDLYIWERsogd"><button class="_1YEfiKqdGLWGRcAex4sqFW _1YgDqeht_fr9KKfFyp_SvQ"><img src="/img/flag-cs.png" alt="" class="_1HYol4SyXrKoN9ojGTb77o"><span class="TveYpFLjcNtBC6Qqvaw4n">Česky</span><span class="icon icof icon-down-full mGdHyJz0gQqm4qCQo6bWR"></span></button></div><div class="_3R7u-oIynrH_h3EsXVuYO-"><div class="_2nosKgOxexEj-xT_5nH4PP"><div class="btqelYH9tgNY9yJn1Xnn1"><button type="button" class="_2ZZbAPXBrQCM5JHy7gu2f1 _28eKaNHVUNjmjaO96sSQXh"><span class="_28eKaNHVUNjmjaO96sSQXh _2iVzlK9Zg3MpMEOkrQqaoL">Co říkáte na Sreality.cz?</span></button><a href="https://vyzkumnik.seznam.cz/" class="_2ZZbAPXBrQCM5JHy7gu2f1 _28eKaNHVUNjmjaO96sSQXh"><span class="_28eKaNHVUNjmjaO96sSQXh _2iVzlK9Zg3MpMEOkrQqaoL">Výzkumník</span></a><a href="https://napoveda.seznam.cz/cz/sreality/o-sluzbe-sreality.cz" class="_2ZZbAPXBrQCM5JHy7gu2f1 _28eKaNHVUNjmjaO96sSQXh"><span class="_28eKaNHVUNjmjaO96sSQXh _2iVzlK9Zg3MpMEOkrQqaoL">Pro spotřebitele</span></a><a href="https://www.seznam.cz/ochranaudaju" class="_2ZZbAPXBrQCM5JHy7gu2f1 _28eKaNHVUNjmjaO96sSQXh"><span class="_28eKaNHVUNjmjaO96sSQXh _2iVzlK9Zg3MpMEOkrQqaoL">Ochrana údajů</span></a><a href="https://napoveda.seznam.cz/cz/sreality/pravidla-sreality/smluvni-podminky-sluzby-sreality.cz" class="_2ZZbAPXBrQCM5JHy7gu2f1 _28eKaNHVUNjmjaO96sSQXh"><span class="_28eKaNHVUNjmjaO96sSQXh _2iVzlK9Zg3MpMEOkrQqaoL">Smluvní podmínky</span></a><a href="https://www.seznam.cz/reklama/cz/obsahovy-web/sluzba-sreality" class="_2ZZbAPXBrQCM5JHy7gu2f1 _28eKaNHVUNjmjaO96sSQXh"><span class="_28eKaNHVUNjmjaO96sSQXh _2iVzlK9Zg3MpMEOkrQqaoL">Reklama</span></a><a class="_2ZZbAPXBrQCM5JHy7gu2f1 _28eKaNHVUNjmjaO96sSQXh _1mHL-lXlevZ4SCKncZk2gk" href="/realitni-software"><span class="_28eKaNHVUNjmjaO96sSQXh _1mHL-lXlevZ4SCKncZk2gk _2iVzlK9Zg3MpMEOkrQqaoL">Realitní software</span></a><a href="http://sreality.seznamblog.cz/" class="_2ZZbAPXBrQCM5JHy7gu2f1 _28eKaNHVUNjmjaO96sSQXh _1mHL-lXlevZ4SCKncZk2gk"><span class="_28eKaNHVUNjmjaO96sSQXh _1mHL-lXlevZ4SCKncZk2gk _2iVzlK9Zg3MpMEOkrQqaoL">Blog</span></a><a href="https://napoveda.seznam.cz/cz/sreality/" class="_2ZZbAPXBrQCM5JHy7gu2f1 _28eKaNHVUNjmjaO96sSQXh _1mHL-lXlevZ4SCKncZk2gk"><span class="_28eKaNHVUNjmjaO96sSQXh _1mHL-lXlevZ4SCKncZk2gk _2iVzlK9Zg3MpMEOkrQqaoL">Nápověda</span></a><a href="mailto:info@sreality.cz?subject=Dotaz ze sluzby sreality.cz" class="_2ZZbAPXBrQCM5JHy7gu2f1 _28eKaNHVUNjmjaO96sSQXh _1mHL-lXlevZ4SCKncZk2gk"><span class="_28eKaNHVUNjmjaO96sSQXh _1mHL-lXlevZ4SCKncZk2gk _2iVzlK9Zg3MpMEOkrQqaoL">Technická podpora</span></a><a href="https://napoveda.seznam.cz/cz/sreality/kontakty-sreality-cz/" class="_2ZZbAPXBrQCM5JHy7gu2f1 _28eKaNHVUNjmjaO96sSQXh"><span class="_28eKaNHVUNjmjaO96sSQXh _2iVzlK9Zg3MpMEOkrQqaoL">Kontakty</span></a><a href="https://napoveda.seznam.cz/cz/stiznosti-sreality/" class="_2ZZbAPXBrQCM5JHy7gu2f1 _28eKaNHVUNjmjaO96sSQXh"><span class="_28eKaNHVUNjmjaO96sSQXh _2iVzlK9Zg3MpMEOkrQqaoL">Stížnosti</span></a><button type="button" class="_2ZZbAPXBrQCM5JHy7gu2f1 _28eKaNHVUNjmjaO96sSQXh"><span class="_28eKaNHVUNjmjaO96sSQXh _2iVzlK9Zg3MpMEOkrQqaoL">Nastavení personalizace</span></button></div><p class="_2XPH-LYlsL14qYMleJLjFJ _2-aaSan9BAM3Qg3EE_v_6h _2iVzlK9Zg3MpMEOkrQqaoL _1mRLNMhwLQGArIldAHOamF">Sreality.cz pomáhají najít vhodnou nemovitost díky aktuální nabídce realit v ČR i zahraničí. Jakékoliv užití obsahu internetového serveru www.sreality.cz, včetně převzetí, šíření či dalšího zpřístupňování inzerátů a fotografií je bez souhlasu Seznam.cz, a.s., zakázáno.</p><p class="_2XPH-LYlsL14qYMleJLjFJ _2iVzlK9Zg3MpMEOkrQqaoL _1mRLNMhwLQGArIldAHOamF">Copyright © 1996–2022 Seznam.cz, a.s.</p></div></div></footer></preact>
		</div>
	</div>
</div>
<div id="map-layout" ng-show="pageLayout.map.show" class="map-small" ng-style="layoutTop" style="margin-top: 0px;">
	<div map-info="" class="ng-isolate-scope"><!-- ngIf: infoHtml --></div>
	<div id="poi-filter" class="c-poi-filter" style="margin-bottom: 0px;">
    <button ng-class="{
            'c-poi-filter__opener': true,
            'c-poi-filter__opener--open': open
        }" ng-click="toggle()" data-dot-data="{ &quot;category&quot;: &quot;Občanská vybavenost&quot;, &quot;action&quot;: &quot;klik na tlačítko&quot; }" class="c-poi-filter__opener"><svg class="c-poi-filter__icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path fill-rule="evenodd" d="M20 17.382l-4-2V6.618l4 2v8.764zM10 8.618l4-2v8.764l-4 2V8.618zm-6-2l4 2v8.764l-4-2V6.618zm17.447.488l-6-3c-.024-.012-.051-.017-.076-.027a1.019 1.019 0 0 0-.128-.044 1.029 1.029 0 0 0-.111-.02 1.01 1.01 0 0 0-.135-.01c-.041 0-.081.005-.122.01a1.291 1.291 0 0 0-.122.02c-.042.01-.082.028-.122.043-.027.01-.053.015-.078.028L9 6.882 3.447 4.106A.998.998 0 0 0 2 5v11c0 .379.214.725.553.895l6 3c.014.008.031.004.047.01A.986.986 0 0 0 9 20a.986.986 0 0 0 .4-.095c.016-.006.033-.002.047-.01L15 17.118l5.553 2.777a1.005 1.005 0 0 0 .972-.044c.295-.183.475-.504.475-.851V8a1 1 0 0 0-.553-.894z"></path></svg>
    <span class="c-poi-filter__text ng-binding">Občanská vybavenost</span></button>

    <!-- ngIf: open -->
</div>
	<div map="" id="s-map" class="s-map smap"><div style="position: absolute; width: 0px; height: 0px; margin: 0px; padding: 0px; left: 102px; top: 304.5px;"><div><div id="1-0-0.8308623712352137"><div style="transform: translateZ(0px);"><img alt="" style="position: absolute; opacity: 1; transition: opacity 600ms ease 0s; left: -698.068px; top: -198.479px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/6-32-21" srcset="https://mapserver.mapy.cz/base-m/6-32-21, https://mapserver.mapy.cz/base-m/retina/6-32-21 2x"><img alt="" style="position: absolute; opacity: 1; transition: opacity 600ms ease 0s; left: -442.068px; top: -198.479px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/6-33-21" srcset="https://mapserver.mapy.cz/base-m/6-33-21, https://mapserver.mapy.cz/base-m/retina/6-33-21 2x"><img alt="" style="position: absolute; opacity: 1; transition: opacity 600ms ease 0s; left: -186.068px; top: -198.479px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/6-34-21" srcset="https://mapserver.mapy.cz/base-m/6-34-21, https://mapserver.mapy.cz/base-m/retina/6-34-21 2x"><img alt="" style="position: absolute; opacity: 1; transition: opacity 600ms ease 0s; left: 69.9321px; top: -198.479px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/6-35-21" srcset="https://mapserver.mapy.cz/base-m/6-35-21, https://mapserver.mapy.cz/base-m/retina/6-35-21 2x"><img alt="" style="position: absolute; opacity: 1; transition: opacity 600ms ease 0s; left: 325.932px; top: -198.479px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/6-36-21" srcset="https://mapserver.mapy.cz/base-m/6-36-21, https://mapserver.mapy.cz/base-m/retina/6-36-21 2x"><img alt="" style="position: absolute; opacity: 1; transition: opacity 600ms ease 0s; left: 581.932px; top: -198.479px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/6-37-21" srcset="https://mapserver.mapy.cz/base-m/6-37-21, https://mapserver.mapy.cz/base-m/retina/6-37-21 2x"></div><div style="transform: translateZ(0px);"><img alt="" style="position: absolute; opacity: 0; transition: opacity 600ms ease 0s; left: -292.976px; top: -320.187px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/11-1103-692" srcset="https://mapserver.mapy.cz/base-m/11-1103-692, https://mapserver.mapy.cz/base-m/retina/11-1103-692 2x"><img alt="" style="position: absolute; opacity: 0; transition: opacity 600ms ease 0s; left: -292.976px; top: -64.1868px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/11-1103-693" srcset="https://mapserver.mapy.cz/base-m/11-1103-693, https://mapserver.mapy.cz/base-m/retina/11-1103-693 2x"><img alt="" style="position: absolute; opacity: 0; transition: opacity 600ms ease 0s; left: -292.976px; top: 191.813px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/11-1103-694" srcset="https://mapserver.mapy.cz/base-m/11-1103-694, https://mapserver.mapy.cz/base-m/retina/11-1103-694 2x"><img alt="" style="position: absolute; opacity: 0; transition: opacity 600ms ease 0s; left: -292.976px; top: 447.813px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/11-1103-695" srcset="https://mapserver.mapy.cz/base-m/11-1103-695, https://mapserver.mapy.cz/base-m/retina/11-1103-695 2x"><img alt="" style="position: absolute; opacity: 0; transition: opacity 600ms ease 0s; left: -36.9765px; top: -320.187px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/11-1104-692" srcset="https://mapserver.mapy.cz/base-m/11-1104-692, https://mapserver.mapy.cz/base-m/retina/11-1104-692 2x"><img alt="" style="position: absolute; opacity: 0; transition: opacity 600ms ease 0s; left: -36.9765px; top: -64.1868px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/11-1104-693" srcset="https://mapserver.mapy.cz/base-m/11-1104-693, https://mapserver.mapy.cz/base-m/retina/11-1104-693 2x"><img alt="" style="position: absolute; opacity: 0; transition: opacity 600ms ease 0s; left: -36.9765px; top: 191.813px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/11-1104-694" srcset="https://mapserver.mapy.cz/base-m/11-1104-694, https://mapserver.mapy.cz/base-m/retina/11-1104-694 2x"><img alt="" style="position: absolute; opacity: 0; transition: opacity 600ms ease 0s; left: -36.9765px; top: 447.813px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/11-1104-695" srcset="https://mapserver.mapy.cz/base-m/11-1104-695, https://mapserver.mapy.cz/base-m/retina/11-1104-695 2x"></div></div><div id="3-0-0.06502670559389023"></div><div id="4-0-0.9139009551250543"></div><div id="2-0-0.7663585233395924"></div></div><div><div id="0.43992523725976906-1"></div><div id="0.42318020434175607-1"></div><div id="0.9226152045465468-1"></div></div><svg xmlns:xlink="http://www.w3.org/1999/xlink" width="204" height="609" style="position: absolute; left: -102px; top: -304.5px;"><g><g id="0.7863421242341306-2" style="transform: scale(1);"><polygon fill="#00f" stroke="#00f" stroke-linejoin="round" stroke-linecap="round" points="119.81970770668704 274.26241473678965, 126.04081068531377 272.76454278238816, 132.9158827762003 274.33781982189976, 138.66373742738506 272.8632020453224, 141.6171836743015 275.9621682699362, 142.41267280105967 280.7000949602807, 143.47361662826734 287.03244602005, 144.28239195485367 292.8466808482772, 147.67847599071683 294.2655057493248, 152.65151399205206 303.11857779102866, 155.5180560061126 300.33905484940624, 159.0257300034864 300.6663450219203, 157.19014987436822 304.60390181085677, 152.81805711903144 309.39586773043266, 151.2531568821869 305.9650824373239, 147.56948119564913 308.1726520952943, 144.5097301354981 310.53455657995073, 142.49406458530575 313.037237752229, 140.16301199787995 315.809269041114, 136.19447008374846 319.4170958759496, 129.76735978201032 322.6487409719848, 130.44999234844 326.7135116190475, 123.0116065175971 330.0740110913175, 119.63710624456871 331.14505435316823, 117.04615141404793 333.09919872603496, 114.87879365979461 335.9589158426679, 111.60159203992225 338.19324535370106, 106.78943286678987 333.32767468475504, 103.1209444529959 330.86788947944297, 85.55004258611007 329.9447009197902, 78.14812927279854 327.98259564623004, 78.95947207848076 322.7842851820751, 75.29316717473557 321.35640611866256, 75.3566371781053 316.0890883631073, 71.88709142897278 314.9414471774944, 72.26916987716686 311.0272319485957, 68.44131423655199 311.2810084641678, 57.94261310156435 316.7890676567913, 44.22423622763017 308.06146722778794, 70.3971668985323 288.26112322619883, 74.38356306124479 285.60071014714777, 77.74006667209323 283.48923526506405, 79.95672358566662 281.3528528728639, 84.93135621031979 283.4341080893064, 89.5993534589652 281.20546643284615, 91.97392168198712 278.4968288121745, 96.80326913064346 277.3313612047932, 100.4071949874633 276.9539081848634, 101.27387378644198 280.5717793199583, 104.96287001937162 278.64229449251434, 109.90679839393124 276.59506748901913, 113.45644488930702 275.119025534339, 116.98234550491907 271.5392231696751, 119.87222376232967 273.3928128076368" stroke-opacity="0.55" stroke-width="2" stroke-dasharray="6 8" fill-opacity="0.2"><title></title></polygon></g></g></svg><div><div id="0.43992523725976906-3" style="transform: none;"></div><div id="0.42318020434175607-3" style="transform: none;"></div><div id="0.9226152045465468-3" style="transform: none;"></div></div><div><div id="0.43992523725976906-4"></div><div id="0.42318020434175607-4"></div><div id="0.9226152045465468-4"></div></div></div><div class="hud"><div class="noprint"><div class="copyright print" title=" Seznam.cz, a.s., 2022 |  OpenStreetMap" style="position: absolute; inset: auto auto 3px 5px; margin-bottom: 0px;">© <a href="https://o.seznam.cz" target="_blank" rel="noopener">Seznam.cz, a.s.</a>, 2022 a <a href="#" data-others="1">další</a></div><a class="print" target="_blank" href="https://mapy.cz/?x=14.087890&amp;y=50.148664&amp;z=11" style="position: absolute; inset: auto 0px 0px auto;"><img src="https://api.mapy.cz/img/api/logo.svg" alt="Zobrazit na Mapy.cz" style="margin-bottom: 0px;"></a><div class="selection" style="border-width: 2px; visibility: hidden; position: absolute;"></div><div class="zoom" style="position: absolute; inset: 1rem 1rem auto auto; margin-top: 0px;"><div class="button-group"><button class="minus" type="button" aria-label="Oddálit" title="Oddálit">-</button><button class="plus" type="button" aria-label="Přiblížit" title="Přiblížit">+</button></div></div><div class="layer-switch" style="position: absolute; inset: 1rem auto auto 1rem; margin-top: 0px;"><button type="button"><span>Změnit mapu</span></button><div class="window" style="display: none;"><div class="port" style="position: relative; overflow: hidden; width: 195px;"><div style="position: relative; width: 195px; left: 0px;"><div class="item active" style="width: 65px; overflow: hidden;"><div><img src="https://api.mapy.cz/img/api/preview-zakladni.png" alt="Obecná" title="Obecná"><div class="border"></div></div><p>Obecná</p></div><div class="item" style="width: 65px; overflow: hidden;"><div><img src="https://api.mapy.cz/img/api/preview-letecka.png" alt="Letecká" title="Letecká"><div class="border"></div></div><p>Letecká</p></div><div class="item" style="width: 65px; overflow: hidden;"><div><img src="https://api.mapy.cz/img/api/preview-turisticka.png" alt="Turistická" title="Turistická"><div class="border"></div></div><p>Turistická</p></div></div></div><div class="left"><div class="arrow" style="display: none;"></div></div><div class="right"><div class="arrow" style="display: none;"></div></div></div></div></div></div></div>

	<div class="map-opener">
		<!-- ngIf: pageLayout.map.show --><button class="nipple ng-scope" ng-if="pageLayout.map.show" ng-click="toggleMap(1)" ng-class="{bigmap: pageLayout.map.big}" data-dot-data="{&quot;action&quot;:&quot;zvetseni_mapy&quot;}">
			<span class="icof"></span>
			<span class="text ng-binding">Zvětšit mapu</span>
		</button><!-- end ngIf: pageLayout.map.show -->
	</div>
	<div class="map-shade"></div>
</div>
<!-- ngInclude: respData.template --><div class="submap-title submap-detail" ng-class="{bigmap: pageLayout.map.big}" ng-click="toggleMap(1)" ng-include="respData.template"><div class="first-line ng-binding ng-scope">Pronájem bytu 3+kk 62&nbsp;m² (Podkrovní)</div>
<div class="second-line ng-binding ng-scope">Kladno</div></div></div>


<div class="adform-adbox
								advert-square
								article-adtip-box
								bazar-box
								bx-leaderboard
								etarget
								hp-advert
								ic0.vendor-list
								illustrated.illV.article.columns.col2
								jobscz
								popisreklama
								promo-in-article
								reklama-3
								reklama-abmix
								reklama-bottom
								reklama-box
								reklama-left
								reklama-lista
								reklama-megaboard
								reklama-right
								reklama-top
								reklamaBottom
								reklamaHorniLista
								reklamaOdkazyVeVetachDole
								reklama_ahead
								reklama_box_standard
								reklama_square
								reklama_title_flat
								reklamni-up-1
								reklamni-up-2
								sklik
								sklik-block
								sklik-box
								sklik_left
								sklik_right
								spored-links
								topreklama
								velke_zlavy
								vreklama
								zlavy-box
								pub_300x250
								pub_300x250m
								pub_728x90
								safeframe
								text-ad
								textAd
								text_ad
								text_ads
								text-ads
								text-ad-links" style="width: 1px !important; height: 1px !important; position: absolute !important; right: -1000px !important; top: -1000px !important;"></div><img src="/ad_ads_advert_advertisement_adform_pub_300x250.png" style="width: 1px !important; height: 1px !important; position: absolute !important; right: -1000px !important; top: -1000px !important;"><iframe id="gemius_hcconn_1641943724862_42434903" name="lsgetframe" width="0" height="0" scrolling="no" sandbox="allow-scripts allow-same-origin" style="display: none; visibility: hidden;" src="https://ls.hit.gemius.pl/lsget.html"></iframe><iframe id="gemius_hcconn_1641943724943_38674417" name="lssetframe" width="0" height="0" scrolling="no" sandbox="allow-scripts allow-same-origin" style="display: none; visibility: hidden;" src="https://ls.hit.gemius.pl/lsset.html"></iframe><iframe src="https://h.seznam.cz/html/cmp.html?v=2.177.5" frameborder="0" style="display: none;"></iframe></body></html>