<html lang="cs" ng-app="sreality" ng-controller="MainCtrl" class="ng-scope"><head><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide{display:none !important;}ng\:form{display:block;}.ng-animate-block-transitions{transition:0s all!important;-webkit-transition:0s all!important;}.ng-hide-add-active,.ng-hide-remove{display:block!important;}</style>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,minimal-ui">

	<!--- Nastaveni meta pres JS a ne pres Angular, aby byla nastavena default hodnota pro agenty co nezvladaji PhantomJS --->
	<title ng:bind-template="Pronájem bytu 1+kk 40&nbsp;m², Zeyerova, Jeseník • Sreality.cz" class="ng-binding">Pronájem bytu 1+kk 40&nbsp;m², Zeyerova, Jeseník • Sreality.cz</title>
	<meta name="description" content="Byt 1+kk 40 m² k pronájmu Zeyerova, Jeseník; 13&nbsp;000 Kč za měsíc (+ zálohy na služby a energie 1.990,-Kč, kauce 39.000,-Kč, provize 1/2 nájmu), cihlová stavba, osobní vlastnictví, ve velmi dobrém stavu.">
	<meta property="og:title" content="Pronájem bytu 1+kk 40&nbsp;m², Zeyerova, Jeseník">
	<meta property="og:type" content="website">
	<meta property="og:image" content="https://d18-a.sdn.cz/d_18/c_img_QK_JR/uV2Y65.jpeg?fl=res,1920,1080,1|wrm,/watermark/sreality.png,10|shr,,20|jpg,90">
	<meta property="og:description" content="Byt 1+kk 40 m² k pronájmu Zeyerova, Jeseník; 13&nbsp;000 Kč za měsíc (+ zálohy na služby a energie 1.990,-Kč, kauce 39.000,-Kč, provize 1/2 nájmu), cihlová stavba, osobní vlastnictví, ve velmi dobrém stavu.">
	<meta property="og:url" content="https://www.sreality.cz/detail/pronajem/byt/1+kk/jesenik-jesenik-zeyerova/639432796">

	<!-- ngIf: metaStatus.value --><meta ng-if="metaStatus.value" name="szn:status" content="200" class="ng-scope"><!-- end ngIf: metaStatus.value -->

	<meta http-equiv="imagetoolbar" content="no">

	<link rel="icon" sizes="16x16 32x32 48x48 64x64" href="/img/icons/favicon.ico">
	<link rel="apple-touch-icon" sizes="57x57" href="/img/icons/apple-touch-icon-57x57.png?3">
	<link rel="apple-touch-icon" sizes="60x60" href="/img/icons/apple-touch-icon-60x60.png?3">
	<link rel="apple-touch-icon" sizes="72x72" href="/img/icons/apple-touch-icon-72x72.png?3">
	<link rel="apple-touch-icon" sizes="76x76" href="/img/icons/apple-touch-icon-76x76.png?3">
	<link rel="apple-touch-icon" sizes="114x114" href="/img/icons/apple-touch-icon-114x114.png?3">
	<link rel="apple-touch-icon" sizes="120x120" href="/img/icons/apple-touch-icon-120x120.png?3">
	<link rel="apple-touch-icon" sizes="144x144" href="/img/icons/apple-touch-icon-144x144.png?3">
	<link rel="apple-touch-icon" sizes="152x152" href="/img/icons/apple-touch-icon-152x152.png?3">
	<link rel="apple-touch-icon" sizes="180x180" href="/img/icons/apple-touch-icon-180x180.png?3">
	<link rel="icon" type="image/png" sizes="192x192" href="/img/icons/android-chrome-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/img/icons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/img/icons/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/img/icons/favicon-16x16.png">
	<link rel="manifest" href="/img/icons/android-chrome-manifest.json">
	<meta name="msapplication-TileColor" content="#2b5797">
	<meta name="msapplication-TileImage" content="/img/icons/ms-icon-144x144.png">
	<meta name="msapplication-config" content="/img/icons/browserconfig.xml">

	<!-- ngIf: rss.url -->
	<!-- ngRepeat: lang in metaSeo.languages -->

	<link rel="stylesheet" href="/css/all.css?f2c3377">

	<!--[if lte IE 8]>
		<script>
			document.createElement('popover');
			document.createElement('mortgage');
			document.createElement('hp-signpost');
			document.createElement('category-switcher');
			document.createElement('feedback');
			document.createElement('bottom');
			document.createElement('graph');
			document.createElement('panorama');
			document.createElement('panorama-prev');
			document.createElement('sphere-viewer');
			document.createElement('sphere-viewer-prev');
			document.createElement('save-filter');
		</script>
    <![endif]-->

	<!-- Statistiky -->
	<script id="gemius_hcconn_1641948120650_58341463" defer="defer" async="async" type="text/javascript" src="https://gacz.hit.gemius.pl/_1641948120650/rexdot.js?l=106&amp;id=ByLlP2uZJXREzOJ3CvKB7sd.XhZYAYdGPQEZEoRpgR7.M7&amp;et=view&amp;hsrc=2&amp;initsonar=1&amp;extra=sreality.cz%2FDetail%2FPronajem_D%2FByty_pronajem_D&amp;eventid=0&amp;fr=1&amp;tz=-60&amp;fv=-&amp;href=https%3A%2F%2Fwww.sreality.cz%2Fdetail%2Fpronajem%2Fbyt%2F1%2Bkk%2Fjesenik-jesenik-zeyerova%2F639432796&amp;ref=&amp;screen=1280x800r2000&amp;col=24&amp;window=1200x609&amp;ltime=55&amp;lsdata=-SETERR&amp;fpdata=7ccQ4qxN6TBw0MyG9AprevkziZ1VgyHH7cBh_k0Tx1f.A7&amp;vis=1&amp;fpcap="></script><script async="async" defer="defer" src="https://gacz.hit.gemius.pl/xgemius.js"></script><script src="https://h.seznam.cz/js/dot-small.js" type="text/javascript"></script>
	<script type="text/javascript">
		if (window.DOT) {
			var dotCfg = {
				service: 'sreality',
				lazyLoadingEnabled: true
			};
			/*if (window.SrealityNew && window.SrealityNew.abTestHelper) {
				dotCfg.abtest = window.SrealityNew.abTestHelper.getVariant();
			}*/
			DOT.cfg(dotCfg);
		}
	</script>

	<!-- SSP Reklama -->
	<script src="https://ssp.seznam.cz/static/js/ssp.js" type="text/javascript"></script>
	<!-- Sklik retargeting -->
	<script type="text/javascript" src="https://www.seznam.cz/rs/static/rc.js"></script>
	
	<script src="https://1.im.cz/software/promo/promo-sbrowser.js"></script>

	<!-- Seznam player-->
	<script src="//d53-a.sdn.cz/d_53/10/loader.min.js"></script>

	<!-- Seznam geo lokace -->
	<script src="https://geo.seznam.cz/static/js/geo.js"></script>

	<!-- Nastaveni personalizace (Consent Management Platform) -->
	<script src="https://h.imedia.cz/js/cmp2/scmp.js?auto_open=false"></script>

	<!-- Fetch polyfill	-->
	<script nomodule="" src="/js/fetch.umd.js"></script>

	<!-- KONFIGURACE -->
	<script src="/js/conf/config.js?f2c3377"></script>

	<script src="/js/maps.js?1"></script>
	<script src="/js/new-src.js?f2c3377"></script>
	<script src="/js/all.js?f2c3377"></script>

	<noscript>
		<meta http-equiv="refresh" content="0;url=?_escaped_fragment_="/>
	</noscript>
	<!-- ngIf: metaSeo.showMetaFragment --><meta name="fragment" content="!" ng-if="metaSeo.showMetaFragment" class="ng-scope"><!-- end ngIf: metaSeo.showMetaFragment -->

</head>
<!--[if IE 8]>    <body class="ie8"> <![endif]-->
<!--[if IE 9]>    <body class="notie8 ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<body class="notie8 notie9 lang-cs" data-dot-cookie-refresh-disabled="">
<!--<![endif]-->

	<div loading-line="" class="ng-isolate-scope"><div class="loading-line" style="display: block; transform: translate(-100%, 0px); transition: none 0s ease 0s;"></div>
</div>

	<div page-layout="" class="ng-isolate-scope"><preact component="ribbon" lang-binding="true" page-binding="true" class="ng-isolate-scope"></preact>
<preact component="aafisher" class="ng-isolate-scope"></preact>
<div id="page-layout" class="page-layout no-scrollbar smallmap" ng-class="pageLayout.classNames" ng-style="layoutTop" style="margin-top: 0px;">
	<div page-loader="" class="ng-isolate-scope"><span ng-show="status.visible" class="page-loader ng-hide">
	<img class="image" src="/img/page-loader.gif" alt="">
	<span class="text ng-binding">Načítám...</span>
</span></div>
	<div class="content-cover">
		<div id="top-brand"></div>
		<!-- ngIf: !pageLayout.empty --><div class="anchor-wrap ng-isolate-scope" ng-if="!pageLayout.empty" gallery-anchor="">
	<!-- ngRepeat: anch in data.anchrs track by $index --><div ng-repeat="anch in data.anchrs track by $index" id="img=0&amp;fullscreen=false" class="movement-anchor ng-scope" ng-style="data.scroll" style="top: 0px;"></div><!-- end ngRepeat: anch in data.anchrs track by $index --><div ng-repeat="anch in data.anchrs track by $index" id="img=1&amp;fullscreen=false" class="movement-anchor ng-scope" ng-style="data.scroll" style="top: 0px;"></div><!-- end ngRepeat: anch in data.anchrs track by $index --><div ng-repeat="anch in data.anchrs track by $index" id="img=2&amp;fullscreen=false" class="movement-anchor ng-scope" ng-style="data.scroll" style="top: 0px;"></div><!-- end ngRepeat: anch in data.anchrs track by $index --><div ng-repeat="anch in data.anchrs track by $index" id="img=3&amp;fullscreen=false" class="movement-anchor ng-scope" ng-style="data.scroll" style="top: 0px;"></div><!-- end ngRepeat: anch in data.anchrs track by $index --><div ng-repeat="anch in data.anchrs track by $index" id="img=4&amp;fullscreen=false" class="movement-anchor ng-scope" ng-style="data.scroll" style="top: 0px;"></div><!-- end ngRepeat: anch in data.anchrs track by $index -->
</div><!-- end ngIf: !pageLayout.empty -->
		<div ng-class="{ 'content-inner': true, empty: pageLayout.empty }" class="content-inner">
			<div class="app-promotion ng-isolate-scope ng-hide" data-ng-show="showed" data-ng-class="{'app-promotion-hiding': hiding}">
	<a class="app-promotion-link" href="https://play.google.com/store/apps/details?id=cz.seznam.sreality">Nainstalovat</a>
	<button class="app-promotion-close" data-ng-click="hide()">Zavřít</button>
	<img class="app-promotion-logo" data-ng-src="/img/sreality-app-logo2.png" width="57" height="57" src="/img/sreality-app-logo2.png">
	<div class="app-promotion-info">
		<div class="app-promotion-name ng-binding">Sreality.cz</div>
		<div class="app-promotion-author ng-binding">Seznam.cz, a.s.</div>
		<div class="app-promotion-rating"><span class="app-promotion-rating-progress" style="width: 80%"></span><span class="app-promotion-rating-stars"></span></div>
		<div class="app-promotion-price">Zadarmo v Google Play</div>
	</div>
</div>
			<!-- ngIf: !pageLayout.empty --><div ng-if="!pageLayout.empty" error-page="" class="ng-scope ng-isolate-scope"><!-- ngIf: errorData.isError -->
</div><!-- end ngIf: !pageLayout.empty -->
			<!-- ngIf: !errorData.isError --><div ng-transclude="" class="transcluded-content ng-scope" ng-if="!errorData.isError">
		<!-- ngView:  --><div ng-view="" class="ng-scope"><div class="property-detail ng-scope">

	<!-- ngIf: resource --><div class="content ng-scope" ng-if="resource" ng-class="{'show-report-error': showErrorReport}">

		<!--SEO stuff -->
		<!-- ngIf: resource._embedded.video_urls.length > 0 -->
		<!-- -->
	
		<div ng-show="showedEntity.detail" itemscope="" itemtype="https://schema.org/Product" class="">
			<div class="navigation-detail">
				<div class="crumb-back ng-isolate-scope" crumb-back="">
	<div class="left">
		<!-- ngIf: url -->
	</div>
</div>
				<div class="iterator ng-isolate-scope" iterator="">
	<div class="left">
		<!-- ngIf: urls.prevItemUrl -->
	</div><div class="right">
		<!-- ngIf: urls.nextItemUrl -->
	</div>
</div>
				<div class="navigation-fixer rows-2"></div>
			</div>

			<div map-print="resource" class="map-print s-map ng-isolate-scope smap"><div style="position: absolute; width: 0px; height: 0px; margin: 0px; padding: 0px; left: 184px; top: 96px;"><div><div id="1-0-0.9999637374856147"><div style="transform: translateZ(0px);"><img alt="" style="position: absolute; opacity: 0; transition: opacity 600ms ease 0s; left: -343.958px; top: -181.702px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/20-574411-354534" srcset="https://mapserver.mapy.cz/base-m/20-574411-354534, https://mapserver.mapy.cz/base-m/retina/20-574411-354534 2x"><img alt="" style="position: absolute; opacity: 0; transition: opacity 600ms ease 0s; left: -343.958px; top: 74.2978px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/20-574411-354535" srcset="https://mapserver.mapy.cz/base-m/20-574411-354535, https://mapserver.mapy.cz/base-m/retina/20-574411-354535 2x"><img alt="" style="position: absolute; opacity: 0; transition: opacity 600ms ease 0s; left: -87.9583px; top: -181.702px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/20-574412-354534" srcset="https://mapserver.mapy.cz/base-m/20-574412-354534, https://mapserver.mapy.cz/base-m/retina/20-574412-354534 2x"><img alt="" style="position: absolute; opacity: 0; transition: opacity 600ms ease 0s; left: -87.9583px; top: 74.2978px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/20-574412-354535" srcset="https://mapserver.mapy.cz/base-m/20-574412-354535, https://mapserver.mapy.cz/base-m/retina/20-574412-354535 2x"><img alt="" style="position: absolute; opacity: 0; transition: opacity 600ms ease 0s; left: 168.042px; top: -181.702px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/20-574413-354534" srcset="https://mapserver.mapy.cz/base-m/20-574413-354534, https://mapserver.mapy.cz/base-m/retina/20-574413-354534 2x"><img alt="" style="position: absolute; opacity: 0; transition: opacity 600ms ease 0s; left: 168.042px; top: 74.2978px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/20-574413-354535" srcset="https://mapserver.mapy.cz/base-m/20-574413-354535, https://mapserver.mapy.cz/base-m/retina/20-574413-354535 2x"></div></div></div><div></div><svg xmlns:xlink="http://www.w3.org/1999/xlink" width="368" height="192" style="position: absolute; left: -184px; top: -96px;"><g><g id="0.8223179191863359-2" style="transform: scale(1);"><polyline fill="none" stroke="white" stroke-linejoin="round" stroke-linecap="round" points="-1313.621726334095 -178.92546467483044, -868.8615855276585 164.6135473549366, -722.7610509097576 281.1602125018835, -543.845396399498 419.6551400721073, -413.875306725502 515.7985070049763, -401.5849379301071 524.5529348105192, -390.3084472119808 532.2285870164633, -377.9561486840248 538.8875713348389, -365.5728843808174 544.4988346993923, -354.2344647347927 550.0790458321571, -342.8650782108307 554.6115359961987, -330.4198822081089 558.1273603141308, -319.01952973008156 561.6121321618557, -307.58820882439613 564.0491836071014, -297.17076072096825 565.4074594378471, -285.70847138762474 566.7967928349972, -275.2600539624691 567.107350319624, -263.7358242571354 566.4012434482574, -253.25643607974052 565.6640827059746, -233.28055822849274 562.0632656812668, -222.739226013422 559.2306657582521, -212.19789278507233 556.398067727685, -202.67042860388756 552.4866917431355, -193.11199107766151 547.5275945067406, -183.5535518527031 542.5684985220432, -173.96413859724998 536.5616809278727, -164.37472328543663 530.5548644065857, -155.83014833927155 524.5169907808304, -146.20975610613823 517.4624529927969, -137.6032310128212 509.3291342407465, -128.99670338630676 501.1958156824112, -120.39017328619957 493.062497317791, -112.79751017689705 483.85039637982845, -104.12902748584747 473.6216302514076, -96.53635901212692 464.4095284938812, -87.83689621090889 453.133037135005, -48.64280739426613 400.81722788512707, 193.96115204691887 82.94849207997322, 265.7715348005295 -11.39248938858509, 483.35583636164665 -296.44913233816624, 640.1369167864323 -505.71358346939087, 668.2458577752113 -713.5619761347771, 1039.6896266043186 -437.20168974995613, 1201.3674747645855 -317.03930962085724, 1484.294129371643 -724.9409321248531" stroke-opacity="0.6" stroke-width="9" stroke-dasharray=""><title></title></polyline><polyline fill="none" stroke="#00f" stroke-linejoin="round" stroke-linecap="round" points="-1313.621726334095 -178.92546467483044, -868.8615855276585 164.6135473549366, -722.7610509097576 281.1602125018835, -543.845396399498 419.6551400721073, -413.875306725502 515.7985070049763, -401.5849379301071 524.5529348105192, -390.3084472119808 532.2285870164633, -377.9561486840248 538.8875713348389, -365.5728843808174 544.4988346993923, -354.2344647347927 550.0790458321571, -342.8650782108307 554.6115359961987, -330.4198822081089 558.1273603141308, -319.01952973008156 561.6121321618557, -307.58820882439613 564.0491836071014, -297.17076072096825 565.4074594378471, -285.70847138762474 566.7967928349972, -275.2600539624691 567.107350319624, -263.7358242571354 566.4012434482574, -253.25643607974052 565.6640827059746, -233.28055822849274 562.0632656812668, -222.739226013422 559.2306657582521, -212.19789278507233 556.398067727685, -202.67042860388756 552.4866917431355, -193.11199107766151 547.5275945067406, -183.5535518527031 542.5684985220432, -173.96413859724998 536.5616809278727, -164.37472328543663 530.5548644065857, -155.83014833927155 524.5169907808304, -146.20975610613823 517.4624529927969, -137.6032310128212 509.3291342407465, -128.99670338630676 501.1958156824112, -120.39017328619957 493.062497317791, -112.79751017689705 483.85039637982845, -104.12902748584747 473.6216302514076, -96.53635901212692 464.4095284938812, -87.83689621090889 453.133037135005, -48.64280739426613 400.81722788512707, 193.96115204691887 82.94849207997322, 265.7715348005295 -11.39248938858509, 483.35583636164665 -296.44913233816624, 640.1369167864323 -505.71358346939087, 668.2458577752113 -713.5619761347771, 1039.6896266043186 -437.20168974995613, 1201.3674747645855 -317.03930962085724, 1484.294129371643 -724.9409321248531" stroke-opacity="0.65" stroke-width="3" stroke-dasharray="9 12"><title></title></polyline></g></g></svg><div></div><div></div></div><div class="hud"><div class="noprint"><div class="copyright print" title=" Seznam.cz, a.s., 2022 |  OpenStreetMap" style="position: absolute; inset: auto auto 3px 5px;">© <a href="https://o.seznam.cz" target="_blank" rel="noopener">Seznam.cz, a.s.</a>, 2022 a <a href="#" data-others="1">další</a></div><a class="print" target="_blank" href="https://mapy.cz/?x=17.208828&amp;y=50.238706&amp;z=20" style="position: absolute; inset: auto 0px 0px auto;"><img src="https://api.mapy.cz/img/api/logo.svg" alt="Zobrazit na Mapy.cz"></a></div></div></div>

			<div class="gallery ng-isolate-scope" ng-class="{ 'old-browsers': oldBrowsers }" gallery="resource">

	<!-- ngIf: sphereShowed -->

	<!-- ngIf: panoramaShowed -->

	<!-- prochazeni fotek v detailu -->
	<!-- ngIf: isDetail() && !isPhantom --><div class="detail-images ng-scope" ng-if="isDetail() &amp;&amp; !isPhantom">
		<!-- jednotlive obrazky -->
		<div class="image-cover" ng-class="{ mobile: isMobile }"><!--
		--><div class="image prev">
				<img ng-src="https://d18-a.sdn.cz/d_18/c_img_QK_JR/VWEY67.jpeg?fl=res,749,562,3|shr,,20|jpg,90" ng-click="showEntity(SHOW_ENTITY.FULLSCREEN)" class="img" src="https://d18-a.sdn.cz/d_18/c_img_QK_JR/VWEY67.jpeg?fl=res,749,562,3|shr,,20|jpg,90">
			</div><!--

			 --><!-- ngIf: images.detail.virtualTour --><!--

			--><!-- ngIf: images.detail.panorama --><!--

			 --><!-- ngIf: images.detail.sphere --><!--

		 --><!-- ngIf: images.detail.image --><div class="image active ng-scope" ng-class="{ loading: images.detail.active.loading }" swipe="" swipe-right="prevPhoto()" swipe-left="nextPhoto()" ng-if="images.detail.image" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><!--
			 --><!-- ngIf: images.detail.active.showVideo --><!--
			 --><img alt="" class="img" my-image="" img-src="https://d18-a.sdn.cz/d_18/c_img_QK_JR/uV2Y65.jpeg?fl=res,749,562,3|shr,,20|jpg,90" img-load="images.detail.active.loading = true" img-done="images.detail.active.loading = false" itemprop="image"><!--
			 --><div class="download-cover" ng-click="showEntity(SHOW_ENTITY.FULLSCREEN)">&nbsp;</div><!--
		 --></div><!-- end ngIf: images.detail.image --><!--

		--><div class="image next">
				<img ng-src="https://d18-a.sdn.cz/d_18/c_img_QP_Ki/MDsY3K.jpeg?fl=res,749,562,3|shr,,20|jpg,90" ng-click="showEntity(SHOW_ENTITY.FULLSCREEN)" class="img" src="https://d18-a.sdn.cz/d_18/c_img_QP_Ki/MDsY3K.jpeg?fl=res,749,562,3|shr,,20|jpg,90">
			</div>

			<!-- navigace -->
			<!-- ngIf: !virtualTourShowed --><button class="detail-btn prev ng-scope" ng-click="prevPhoto($event)" ng-if="!virtualTourShowed">
				<span class="btn-circle-gallery icof icon-arr-left" ng-class="{ hidden: selected.active == 0 &amp;&amp; !conf.infiniteScroll }"></span>
			</button><!-- end ngIf: !virtualTourShowed -->
			<!-- ngIf: !virtualTourShowed --><button class="detail-btn next ng-scope" ng-click="nextPhoto($event)" ng-if="!virtualTourShowed">
				<span class="btn-circle-gallery icof icon-arr-right" ng-class="{ hidden: selected.active == data.images.length - 1 &amp;&amp; !conf.infiniteScroll }"></span>
			</button><!-- end ngIf: !virtualTourShowed -->
		</div>

		<!-- do thumbnails -->
		<!-- ngIf: !panoramaShowed && !sphereShowed && !virtualTourShowed --><button class="btn thumbnails ng-binding ng-scope" ng-if="!panoramaShowed &amp;&amp; !sphereShowed &amp;&amp; !virtualTourShowed" ng-click="showEntity(SHOW_ENTITY.THUMBNAILS)">
			Zobrazit
			5
			fotografií
			v galerii
		</button><!-- end ngIf: !panoramaShowed && !sphereShowed && !virtualTourShowed -->

		<!-- ngIf: panoramaShowed -->

		<!-- ngIf: virtualTourShowed -->		
	</div><!-- end ngIf: isDetail() && !isPhantom -->

	<!-- phantom -->
	<!-- ngIf: isPhantom -->

	<!-- fullscreen mod -->
	<div class="fullscreen-mode ng-hide" ng-show="!isDetail()">
		<div class="background"></div>

		<!-- fullscreen obrazky -->
		<div class="fl-images prev">
			<!-- ngIf: isFullscreen() -->
		</div>

		<div class="fl-images active" ng-class="{ loading: images.fullscreen.active.loading &amp;&amp; !images.fullscreen.panorama &amp;&amp; !images.fullscreen.sphere, 'panorama-fullscreen': images.fullscreen.panorama }" swipe="" swipe-right="prevPhoto()" swipe-left="nextPhoto()" ng-click="fullscreenClick(images.fullscreen)" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><!--
			--><!-- ngIf: isFullscreen() && !isVideo() && images.fullscreen.image -->

				<!-- ngIf: isFullscreen() && images.fullscreen.virtualTour -->
				<!-- ngIf: images.fullscreen.virtualTour -->

			 	<!-- ngIf: images.fullscreen.sphere -->

				<!-- ngIf: images.fullscreen.panorama -->
				<!-- ngIf: images.fullscreen.panorama -->

			<div class="download-cover">&nbsp;</div>
		</div>

		<div class="fl-images next">
			<!-- ngIf: isFullscreen() -->
		</div>

		<!-- video prehravac -->
		<!-- ngIf: isVideo() -->

		<!-- nahledy thumbnails -->
		<div class="thumbnails-outter" ng-class="{ show: isThumbnails(), 'fl-detail': isFullscreen() }" ng-click="showEntity(SHOW_ENTITY.DETAIL)">
			<div class="thumbnails-middle"><!-- fix pro ipad6 -->
				<div class="thumbnails-inner">
					<div class="list" ng-class="{ 'less-than-five': data.images.length < 5 }">
						<!-- ngRepeat: image in data.images track by $index --><div class="thumb-image ng-scope active" ng-repeat="image in data.images track by $index" ng-click="openFullscreenPhoto($event, $index)" ng-class="{ active: selected.active == $index, loading: image.thumbLoad &amp;&amp; image.image}">
							<!-- ngIf: loadThumbnails && image.image -->
							
							<!-- ngIf: loadThumbnails && image.virtualTour -->
							<!-- ngIf: image.virtualTour -->

							<!-- ngIf: image.sphere -->

							<!-- ngIf: image.panorama -->
							<!-- ngIf: image.panorama -->

							<!-- ngIf: $index == videoIndex && data.hasVideo -->
						</div><!-- end ngRepeat: image in data.images track by $index --><div class="thumb-image ng-scope" ng-repeat="image in data.images track by $index" ng-click="openFullscreenPhoto($event, $index)" ng-class="{ active: selected.active == $index, loading: image.thumbLoad &amp;&amp; image.image}">
							<!-- ngIf: loadThumbnails && image.image -->
							
							<!-- ngIf: loadThumbnails && image.virtualTour -->
							<!-- ngIf: image.virtualTour -->

							<!-- ngIf: image.sphere -->

							<!-- ngIf: image.panorama -->
							<!-- ngIf: image.panorama -->

							<!-- ngIf: $index == videoIndex && data.hasVideo -->
						</div><!-- end ngRepeat: image in data.images track by $index --><div class="thumb-image ng-scope" ng-repeat="image in data.images track by $index" ng-click="openFullscreenPhoto($event, $index)" ng-class="{ active: selected.active == $index, loading: image.thumbLoad &amp;&amp; image.image}">
							<!-- ngIf: loadThumbnails && image.image -->
							
							<!-- ngIf: loadThumbnails && image.virtualTour -->
							<!-- ngIf: image.virtualTour -->

							<!-- ngIf: image.sphere -->

							<!-- ngIf: image.panorama -->
							<!-- ngIf: image.panorama -->

							<!-- ngIf: $index == videoIndex && data.hasVideo -->
						</div><!-- end ngRepeat: image in data.images track by $index --><div class="thumb-image ng-scope" ng-repeat="image in data.images track by $index" ng-click="openFullscreenPhoto($event, $index)" ng-class="{ active: selected.active == $index, loading: image.thumbLoad &amp;&amp; image.image}">
							<!-- ngIf: loadThumbnails && image.image -->
							
							<!-- ngIf: loadThumbnails && image.virtualTour -->
							<!-- ngIf: image.virtualTour -->

							<!-- ngIf: image.sphere -->

							<!-- ngIf: image.panorama -->
							<!-- ngIf: image.panorama -->

							<!-- ngIf: $index == videoIndex && data.hasVideo -->
						</div><!-- end ngRepeat: image in data.images track by $index --><div class="thumb-image ng-scope" ng-repeat="image in data.images track by $index" ng-click="openFullscreenPhoto($event, $index)" ng-class="{ active: selected.active == $index, loading: image.thumbLoad &amp;&amp; image.image}">
							<!-- ngIf: loadThumbnails && image.image -->
							
							<!-- ngIf: loadThumbnails && image.virtualTour -->
							<!-- ngIf: image.virtualTour -->

							<!-- ngIf: image.sphere -->

							<!-- ngIf: image.panorama -->
							<!-- ngIf: image.panorama -->

							<!-- ngIf: $index == videoIndex && data.hasVideo -->
						</div><!-- end ngRepeat: image in data.images track by $index -->
					</div>
				</div>
			</div>
		</div>

		<div class="navigation">
			<!-- pouze pro fullscreen a video -->
			<!-- ngIf: !isThumbnails() --><button class="btn-circle-gallery-fs icof icon-list ng-scope" ng-click="showEntity(SHOW_ENTITY.THUMBNAILS)" ng-if="!isThumbnails()"></button><!-- end ngIf: !isThumbnails() -->
			<!-- ngIf: !isThumbnails() --><button class="btn-circle-gallery-fs icof icon-arr-left ng-scope" ng-click="prevPhoto($event)" ng-if="!isThumbnails()"></button><!-- end ngIf: !isThumbnails() -->
			<!-- ngIf: !isThumbnails() --><span class="image-order ng-binding ng-scope" ng-if="!isThumbnails()">1/5</span><!-- end ngIf: !isThumbnails() -->
			<!-- ngIf: !isThumbnails() --><button class="btn-circle-gallery-fs icof icon-arr-right ng-scope" ng-click="nextPhoto($event)" ng-if="!isThumbnails()"></button><!-- end ngIf: !isThumbnails() -->

			<!-- spolecne pro fullscreen, thumbnails a video -->
			<button class="btn-circle-gallery-fs icof icon-cross" ng-click="showEntity(SHOW_ENTITY.DETAIL)"></button>
		</div>
	</div>
</div>
			
			<div class="property-title">
				<h1>
					<span itemprop="name">
						<span class="name ng-binding">Pronájem bytu 1+kk 40&nbsp;m²</span>
						<span class="location"><span class="location-text ng-binding">Zeyerova, Jeseník</span>

							<!-- ngIf: showPanoramaBtn -->
						</span>
					</span>
				</h1>
				<!-- ngIf: contentData.price --><span ng-if="contentData.price" class="price ng-scope" itemprop="offerDetails" itemscope="" itemtype="https://schema.org/Offer">
					<!-- ngIf: contentData.price.raw > 1 --><span ng-if="contentData.price.raw > 1" class="microdata ng-scope">
						<meta itemprop="currency" content="CZK">
						<span itemprop="price" class="ng-binding">13000</span>
					</span><!-- end ngIf: contentData.price.raw > 1 -->
					<span class="norm-price ng-binding">13&nbsp;000&nbsp;Kč za měsíc</span>
					<!-- ngIf: contentData.price.alternative -->

					<!-- ngIf: !!contentData.energyEfficiencyRating --><span class="energy-efficiency-rating energy-efficiency-rating--c" ng-if="!!contentData.energyEfficiencyRating">
						<svg class="energy-efficiency-rating__arrow" viewBox="0 0 24 28">
							<path d="M11.98,28c1.271,0,2.463-0.577,3.233-1.561l7.918-10.067c1.136-1.445,1.13-3.461-0.017-4.899l-7.901-9.932 C14.443,0.568,13.253,0,11.999,0C10.73,0,9.537,0.577,8.765,1.56L0.848,11.628c-1.136,1.445-1.13,3.461,0.015,4.899l7.902,9.932 C9.537,27.432,10.726,28,11.982,28H11.98z"></path>
						</svg>
						<span class="energy-efficiency-rating__type ng-binding">C</span>
						<span class="energy-efficiency-rating__text ng-binding">Úsporná</span>
					</span><!-- end ngIf: !!contentData.energyEfficiencyRating -->
				</span><!-- end ngIf: contentData.price -->
				<!-- ngIf: topped -->
			</div>

			<!--<button data-dot="go-to-mortage" class="c-mortgage-link"
					ng-if="actualLang === 'cs' && detailData.price && detailData.typeId === 1 && showHyponamiru"
					ng-click="scrollIntoMortgageCalculator()">
				<img class="c-mortgage-link__icon" src="/img/hypoteka/calculator.svg" />
				<span class="c-mortgage-link__text">Spočítat hypotéku</span>
			</button>-->

			<div class="description ng-binding" itemprop="description" ng-bind-html="contentData.description | lineFilter"><p>Realitní společnost Gepard Vám nabízí k výhradnímu pronájmu plně vybavený horský apartmán o obytné ploše 31 m2 v prvním patře rekonstruovaného domu v samém srdci města Jeseník</p><p>Součástí apartmánu je samostatné parkovací stání a sklepní prostor o ploše 9 m2 (není započítáno v obytné ploše) a rozsáhlé společné prostory domu včetně zastřešené pergoly a prostoru pro gril. Vlastní předzahrádka 20 m2.</p><p>Apartmán zahrnuje kuchyňský kout, koupelnu se sprchovým koutem a WC, 2x postel, skříň, rozkládací sedací souprava, jídelní stůl a židle, internetové připojení, wifi, SMART TV, trezor, fén, koberce/ dlažbu. </p><p>Nájemní smlouva min. na 1 rok, k ceně nájemného se připočítává cena za spotřebované energie, dle měřené spotřeby (el. energie, teplo, voda, společné prostory, úklid, popelnice)</p><p>Vhodné až pro 4 osoby.</p><p>Součást projektu apartmánového domu Zeyerka.cz</p><p>Jeseník je nejenom vyhledávaným horským rekreačním střediskem, ale také lázeňským městem s Priessnitzovými lázněmi s celou řadou léčebných pramenů. </p><p>Vzhledem k poloze v pohořím Hrubého Jeseníku s celou řadou turistických či cyklistických tras a SKI areálů je využitelnost po celý rok. </p><p>Mezi nejvyhledávanější patří trasy na Praděd (1492 m n.m.), Šerák, Keprník či k pramenům Bílé Opavy.</p><p>Milovníci zimních sportů ocení blízkost lyžařských areálech např. Červenohorské sedlo, Ramzová, Petříkov, Filipovice, Kouty a nepřeberné množství běžkařských tras. </p><p>V nejbližším okolí naleznete přírodní rezervaci Rejvíz s dřevěnými chodníky přes rašeliniště k Mechovému jezírku, rozhlednu Zlatý Chlum, Čertovy kameny či Vodní tvrz. Kouzelná příroda panenských Jeseníků je protkaná přírodními krásami a zajímavostmi mezi nejvyhledávanější patří např. jeskyně Na Pomezí, termální lázně a papírna Velké Losiny, Schrothovy lázně v Lipové, Zlatorudné mlýny ve Zlatých Horách, Rychlebské trail stezky.</p><p>Majitel si vyhrazuje právo vybrat nájemce na základě jím zvolených kritérií. Doporučujeme prohlídku!</p></div>

			<div class="params clear">
				<!-- ngRepeat: group in params --><ul ng-repeat="group in params" class="params1">
					<!-- ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">Celková cena:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope">13&nbsp;000 Kč za měsíc</span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">Poznámka k ceně:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope">+ zálohy na služby a energie 1.990,-Kč, kauce 39.000,-Kč, provize 1/2 nájmu</span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">ID zakázky:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope">ZEY07N</span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">Aktualizace:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope">07.12.2021</span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">Stavba:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope">Cihlová</span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">Stav objektu:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope">Velmi dobrý</span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">Vlastnictví:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope">Osobní</span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">Umístění objektu:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope">Centrum obce</span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">Podlaží:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope">1. podlaží z celkem 3</span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params -->
				</ul><!-- end ngRepeat: group in params --><ul ng-repeat="group in params" class="params2">
					<!-- ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">Užitná plocha:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope">40</span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' --><span ng-if="item.type == 'area'" class="ng-scope">m<sup>2</sup></span><!-- end ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">Plocha podlahová:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope">31</span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' --><span ng-if="item.type == 'area'" class="ng-scope">m<sup>2</sup></span><!-- end ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">Plocha zahrady:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope">20</span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' --><span ng-if="item.type == 'area'" class="ng-scope">m<sup>2</sup></span><!-- end ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">Datum nastěhování:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope">Ihned</span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">Plyn:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope">Plynovod</span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">Odpad:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope">Veřejná kanalizace</span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">Energetická náročnost budovy:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope">Třída C - Úsporná č. 264/2020 Sb. podle vyhlášky</span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">Vybavení:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope"></span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' --><span ng-if="item.type == 'boolean-false'" class="icof icon-cross ng-scope"></span><!-- end ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params -->
				</ul><!-- end ngRepeat: group in params -->
			</div>

			<div class="buttons" data-dot-data="{&quot;jazyk&quot;:&quot;cs&quot;,&quot;id&quot;:&quot;639432796&quot;,&quot;okres&quot;:&quot;jesenik&quot;,&quot;cena&quot;:13000,&quot;stavba&quot;:&quot;cihlova&quot;,&quot;typ-nemovitosti&quot;:&quot;byty&quot;,&quot;typ-transakce&quot;:&quot;pronajem&quot;,&quot;velikost&quot;:&quot;1+kk&quot;}">
				<!-- ngIf: favData --><span class="btn-wrap ng-scope ng-isolate-scope" favourite="favData" ng-if="favData"><span class="favorite-directive">
	<!-- ngIf: showed -->
	<a class="btn icof icon-favourite favorite-button ng-binding ng-isolate-scope ng-pristine ng-valid" link-requires-login="" ng-model="data.model" ng-click="change()" ng-class="{active: data.model}">Přidat do oblíbených
	</a>
</span>
</span><!-- end ngIf: favData --><!--
			 --><span class="btn-wrap ng-isolate-scope" property-share="propShareConf"><span class="property-share-wrap">
	<button data-dot-data="{&quot;text&quot;:&quot;Sdílet inzerát&quot;}" class="btn icof icon-share" ng-click="showContent($event)" ng-class="{ active: show }"><span class="text ng-binding">Sdílet inzerát</span></button>
	<span class="property-share-content-wrap ng-hide" ng-show="show">
		<span class="property-share-content ng-isolate-scope" off-click="showContent()" off-click-if="show">
			<h3 class="title ng-binding">Sdílet inzerát</h3>
			<input type="text" class="input url-input ng-pristine ng-valid" ng-model="input" readonly="" ng-click="click($event)">
			<ul class="items">
				<!-- ngRepeat: i in items --><li class="item ng-scope facebook" ng-class="i.className" ng-repeat="i in items">
					<a href="https://www.facebook.com/sharer.php?u=https%3A%2F%2Fwww.sreality.cz%2Fdetail%2Fpronajem%2Fbyt%2F1%2Bkk%2Fjesenik-jesenik-zeyerova%2F639432796" target="_blank" class="link ng-binding">
						<span class="icon"></span>
						Facebook
					</a>
				</li><!-- end ngRepeat: i in items --><li class="item ng-scope twitter" ng-class="i.className" ng-repeat="i in items">
					<a href="https://twitter.com/share?&amp;url=https%3A%2F%2Fwww.sreality.cz%2Fdetail%2Fpronajem%2Fbyt%2F1%2Bkk%2Fjesenik-jesenik-zeyerova%2F639432796&amp;text=Pron%C3%A1jem%20bytu%201%2Bkk%2040%C2%A0m%C2%B2" target="_blank" class="link ng-binding">
						<span class="icon"></span>
						Twitter
					</a>
				</li><!-- end ngRepeat: i in items -->
			</ul>
		</span>
	</span>
</span>
</span><!--
			 --><span class="btn-wrap">
					<button data-dot-data="{&quot;text&quot;:&quot;Tisknout&quot;}" class="btn icof icon-print property-print ng-binding" ng-click="printPage()">Tisknout</button>
				</span><!--
			 --><span class="btn-wrap note-wrap ng-isolate-scope" note="resource">
	<a link-requires-login="" class="btn icof icon-pen btn-note ng-binding ng-isolate-scope" ng-click="showNote()" ng-show="!show">Přidat poznámku</a>
	<span class="note ng-hide" ng-show="show">
		<textarea class="textarea ng-pristine ng-valid" ng-attr-placeholder="{{ 'lang-note.placeholder' | translate }}" ng-model="model" placeholder="Přidejte si poznámku k inzerátu"></textarea>
		<div class="control">
			<button class="btn ng-binding" ng-click="save()" ng-class="{'icof icon-ok': status == 1, 'icof icon-cross': status == 2}">Uložit</button>
		</div>
		<span class="icof icon-cross remove" ng-click="remove()"></span>
	</span>
</span>
			</div>

			<!-- ngIf: addressFrom --><div class="c-transport ng-scope" ng-if="addressFrom" id="c-transport" address-from="contentData.subTitle">
    <span class="c-transport__title ng-binding">Dojezdová vzdálenost</span>
    <span class="c-tag-new ng-binding">Nové</span>
    
    <!-- ngIf: !userLogged() --><div ng-if="!userLogged()" class="ng-scope">	
        <img class="c-transport__icon" src="/img/dojezdova-vzdalenost.svg">
        <div class="c-transport__text-wrap">
            <span class="c-transport__text ng-binding">Zajímá vás, jak dlouho budete dojíždět z této adresy?</span>
            <button class="c-transport__link-btn ng-binding" type="button" ng-click="login()">Přihlaste se a zkontrolujte svůj dojezdový čas</button>
        </div>
    </div><!-- end ngIf: !userLogged() -->
    
    <!-- ngIf: userLogged() && isFirstLoaded -->
</div><!-- end ngIf: addressFrom -->

			<!-- ngIf: services -->

			<!-- ngIf: pois.length --><div ng-if="pois.length" class="c-pois ng-scope">
				<h2 class="c-pois__header ng-binding">V okolí najdete:</h2>
				<ul class="c-pois__list">
					<!-- ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Cukrárna:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url --><a ng-if="poi.url" class="c-pois__poi-text ng-binding ng-scope" ng-href="https://www.firmy.cz/detail/12955572-zdrava-kavarna-jesenik.html" target="_blank" href="https://www.firmy.cz/detail/12955572-zdrava-kavarna-jesenik.html">Zdravá Kavárna</a><!-- end ngIf: poi.url -->
							<!-- ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (935&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Kino:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url --><a ng-if="poi.url" class="c-pois__poi-text ng-binding ng-scope" ng-href="https://www.firmy.cz/detail/669953-kino-pohoda-jesenik.html" target="_blank" href="https://www.firmy.cz/detail/669953-kino-pohoda-jesenik.html">Kino Pohoda</a><!-- end ngIf: poi.url -->
							<!-- ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (1317&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Hřiště:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url -->
							<!-- ngIf: !poi.url --><span ng-if="!poi.url" class="c-pois__poi-text ng-binding ng-scope">Dětské hřiště Seifertova</span><!-- end ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (454&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Večerka:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url --><a ng-if="poi.url" class="c-pois__poi-text ng-binding ng-scope" ng-href="https://www.firmy.cz/detail/13207997-bala-potraviny-viden-a-s-jesenik.html" target="_blank" href="https://www.firmy.cz/detail/13207997-bala-potraviny-viden-a-s-jesenik.html">BALA potraviny - Viden, a.s.</a><!-- end ngIf: poi.url -->
							<!-- ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (181&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Hospoda:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url --><a ng-if="poi.url" class="c-pois__poi-text ng-binding ng-scope" ng-href="https://www.firmy.cz/detail/13208514-pliziva-kontra-jesenik.html" target="_blank" href="https://www.firmy.cz/detail/13208514-pliziva-kontra-jesenik.html">Plíživá Kontra</a><!-- end ngIf: poi.url -->
							<!-- ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (776&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Divadlo:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url --><a ng-if="poi.url" class="c-pois__poi-text ng-binding ng-scope" ng-href="https://www.firmy.cz/detail/661643-divadlo-petra-bezruce-jesenik-jesenik.html" target="_blank" href="https://www.firmy.cz/detail/661643-divadlo-petra-bezruce-jesenik-jesenik.html">Divadlo Petra Bezruče Jeseník</a><!-- end ngIf: poi.url -->
							<!-- ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (1494&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Veterinář:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url --><a ng-if="poi.url" class="c-pois__poi-text ng-binding ng-scope" ng-href="https://www.firmy.cz/detail/13297063-veterina-ceska-ves-mvdr-lenka-romerova-ceska-ves.html" target="_blank" href="https://www.firmy.cz/detail/13297063-veterina-ceska-ves-mvdr-lenka-romerova-ceska-ves.html">Veterina Česká Ves - MVDr. Lenka Römerová</a><!-- end ngIf: poi.url -->
							<!-- ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (1701&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Restaurace:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url --><a ng-if="poi.url" class="c-pois__poi-text ng-binding ng-scope" ng-href="https://www.firmy.cz/detail/13135049-restaurace-betonak-jesenik.html" target="_blank" href="https://www.firmy.cz/detail/13135049-restaurace-betonak-jesenik.html">Restaurace Betoňák</a><!-- end ngIf: poi.url -->
							<!-- ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (205&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Bankomat:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url --><a ng-if="poi.url" class="c-pois__poi-text ng-binding ng-scope" ng-href="https://www.firmy.cz/detail/12987568-bankomat-ceske-sporitelny-jesenik.html" target="_blank" href="https://www.firmy.cz/detail/12987568-bankomat-ceske-sporitelny-jesenik.html">Bankomat České spořitelny</a><!-- end ngIf: poi.url -->
							<!-- ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (397&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Škola:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url --><a ng-if="poi.url" class="c-pois__poi-text ng-binding ng-scope" ng-href="https://www.firmy.cz/detail/360783-stredni-odborna-skola-gastronomie-a-potravinarstvi-jesenik-jesenik.html" target="_blank" href="https://www.firmy.cz/detail/360783-stredni-odborna-skola-gastronomie-a-potravinarstvi-jesenik-jesenik.html">Střední odborná škola gastronomie a potravinářství, Jeseník</a><!-- end ngIf: poi.url -->
							<!-- ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (99&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Obchod:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url --><a ng-if="poi.url" class="c-pois__poi-text ng-binding ng-scope" ng-href="https://www.firmy.cz/detail/12970609-citymarket-jesenik.html" target="_blank" href="https://www.firmy.cz/detail/12970609-citymarket-jesenik.html">CityMarket</a><!-- end ngIf: poi.url -->
							<!-- ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (389&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Školka:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url --><a ng-if="poi.url" class="c-pois__poi-text ng-binding ng-scope" ng-href="https://www.firmy.cz/detail/2390559-ms-kopretina-jesenik-dittersdorfova-jesenik.html" target="_blank" href="https://www.firmy.cz/detail/2390559-ms-kopretina-jesenik-dittersdorfova-jesenik.html">MŠ Kopretina Jeseník, Dittersdorfova</a><!-- end ngIf: poi.url -->
							<!-- ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (1123&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Bus MHD:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url -->
							<!-- ngIf: !poi.url --><span ng-if="!poi.url" class="c-pois__poi-text ng-binding ng-scope">Jeseník, sídliště</span><!-- end ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (288&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Lékárna:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url --><a ng-if="poi.url" class="c-pois__poi-text ng-binding ng-scope" ng-href="https://www.firmy.cz/detail/13085035-dr-max-lekarna-jesenik.html" target="_blank" href="https://www.firmy.cz/detail/13085035-dr-max-lekarna-jesenik.html">Dr. Max LÉKÁRNA</a><!-- end ngIf: poi.url -->
							<!-- ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (1183&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Pošta:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url --><a ng-if="poi.url" class="c-pois__poi-text ng-binding ng-scope" ng-href="https://www.firmy.cz/detail/433458-posta-jesenik-1-jesenik.html" target="_blank" href="https://www.firmy.cz/detail/433458-posta-jesenik-1-jesenik.html">Pošta Jeseník 1 - Česká pošta, s.p.</a><!-- end ngIf: poi.url -->
							<!-- ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (1280&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Sportoviště:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url --><a ng-if="poi.url" class="c-pois__poi-text ng-binding ng-scope" ng-href="https://www.firmy.cz/detail/1324747-sk-retezarna-ceska-ves.html" target="_blank" href="https://www.firmy.cz/detail/1324747-sk-retezarna-ceska-ves.html">SK Řetězárna - SK Řetězárna</a><!-- end ngIf: poi.url -->
							<!-- ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (1123&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Lékař:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url --><a ng-if="poi.url" class="c-pois__poi-text ng-binding ng-scope" ng-href="https://www.firmy.cz/detail/13039414-unimed-jesenik-ceska-ves.html" target="_blank" href="https://www.firmy.cz/detail/13039414-unimed-jesenik-ceska-ves.html">UNIMED Jeseník, spol. s r.o.</a><!-- end ngIf: poi.url -->
							<!-- ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (658&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Vlak:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url -->
							<!-- ngIf: !poi.url --><span ng-if="!poi.url" class="c-pois__poi-text ng-binding ng-scope">Česká Ves</span><!-- end ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (1667&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois -->
				</ul>
			</div><!-- end ngIf: pois.length -->

			<!-- ngIf: projectData -->

			<div id="answer-form" sticky-contact-button-clicked="stickyContactButtonClicked" answer-form="resource" class="ng-isolate-scope"><div class="answer-form" ng-show="contact">
	<h2 class="contact-title ng-binding">Kontaktovat:</h2>

	<div class="contacts">
		<!-- ngIf: contact --><div class="seller-contact clear ng-isolate-scope" ng-class="{'seller-contact--not-agent': data.notAgent}" seller-contact="contact" ng-if="contact">

	<!-- todo: muze mit RUS uzivatel photo?? -->

	<!-- ngIf: link --><a ng-if="link" class="image-wrap link ng-scope" ng-href="/adresar/gepard-reality-absoluta-real-praha-vrsovice/3120/makleri/134944" ng-class="{'image-wrap--no-photo': !data.photo}" href="/adresar/gepard-reality-absoluta-real-praha-vrsovice/3120/makleri/134944">
		<!-- ngIf: data.photo --><img ng-src="https://d18-a.sdn.cz/d_18/c_img_QN_JV/SQLjx9.jpeg?fl=res,200,300,3|shr,,20|jpg,90" class="photo ng-scope" ng-if="data.photo" alt="" src="https://d18-a.sdn.cz/d_18/c_img_QN_JV/SQLjx9.jpeg?fl=res,200,300,3|shr,,20|jpg,90"><!-- end ngIf: data.photo -->
	</a><!-- end ngIf: link -->

	<!-- ngIf: !link -->

	<!-- ngIf: !isSellerDetail --><strong ng-if="!isSellerDetail" class="seller-name ng-scope">
		<!-- odkaz na detail maklere -->
		<!-- ngIf: link --><a ng-href="/adresar/gepard-reality-absoluta-real-praha-vrsovice/3120/makleri/134944" ng-if="link" class="link name ng-binding ng-scope" href="/adresar/gepard-reality-absoluta-real-praha-vrsovice/3120/makleri/134944">Marek Doležal</a><!-- end ngIf: link -->

		<!-- jmeno je obyc text - nejsme na detailu maklere a nemame link (nemusi se jednat vlastne o maklere) -->
		<!-- ngIf: !link -->
	</strong><!-- end ngIf: !isSellerDetail -->

	<!-- ngIf: isSellerDetail -->

	<div class="contacts">
		<!-- ngIf: (isSellerDetail || data.isPaid) && data.reviewsCount -->
		<!-- ngIf: isSellerDetail -->

		<ul class="contact-list">
			<!-- ngRepeat: phone in phones --><li ng-repeat="phone in phones" class="contact-item phone ng-scope">
				<label class="label">
					<img class="icon" src="/img/icon-phone.svg" alt="">
				</label>

				<!-- ngIf: !phone.isShowed --><button class="value interactive ng-binding ng-scope" ng-if="!phone.isShowed" ng-click="showPhone(phone.id)" data-dot="detail inzeratu/zobrazit telefon">Zobrazit telefon</button><!-- end ngIf: !phone.isShowed -->
				<!-- ngIf: isMobile && phone.isShowed -->
				<!-- ngIf: !isMobile && phone.isShowed -->
			</li><!-- end ngRepeat: phone in phones -->
			<!-- ngIf: data.email --><li ng-if="data.email" class="contact-item email ng-scope">
				<label class="label">
					<img class="icon" src="/img/icon-email.svg" alt="">
				</label>
				<!-- ngIf: !isEmailShowed --><button class="value interactive ng-binding ng-scope" ng-if="!isEmailShowed" ng-click="showEmail()" data-dot="detail inzeratu/zobrazit email">Zobrazit email</button><!-- end ngIf: !isEmailShowed -->
				<!-- ngIf: isEmailShowed -->
			</li><!-- end ngIf: data.email -->
			<!-- ngIf: data.brokerIco -->
		</ul>

		<!-- ngIf: isSellerDetail && data.contactForm.showButton && !data.contactForm.show && data.estateSize -->
	</div>

	<!-- odpovedni formular -->
	<!-- ngIf: isSellerDetail && (data.contactForm.show || (!data.estateSize && data.contactForm.showButton)) -->

	<!-- graf -->
	<!-- ngIf: data.isGraph -->
</div><!-- end ngIf: contact -->

		<!-- ngIf: premise --><div ng-if="premise" class="ng-scope">
			<div class="premise-contact clear">
				<!-- ngIf: premise.hasSeznamNaplno && premise.logo -->

				<!-- ngIf: !(premise.hasSeznamNaplno && premise.logo) --><span class="image-wrap ng-scope" ng-if="!(premise.hasSeznamNaplno &amp;&amp; premise.logo)" aria-hidden="true" tabindex="-1">
					<span class="no-logo"></span>
				</span><!-- end ngIf: !(premise.hasSeznamNaplno && premise.logo) -->

				<ul class="info">
					<li class="line name ng-binding">GEPARD REALITY/Absoluta Real</li>
					<!-- ngIf: premise.address --><li class="line address ng-binding ng-scope" ng-if="premise.address">Vršovické náměstí 67/8, 10100 Praha - Vršovice</li><!-- end ngIf: premise.address -->
					<!-- ngIf: premise.isPaid && premise.reviewsCount --><a>
					</a><!-- ngIf: premise.www && premise.www_visible --><li class="line ng-scope" ng-if="premise.www &amp;&amp; premise.www_visible"><a></a><a href="https://www.gpre.cz/absoluta" target="_blank" data-dot="webovka RK" class="ng-binding">https://www.gpre.cz/absoluta</a></li><!-- end ngIf: premise.www && premise.www_visible -->
					<li class="line more">
						<a ng-click="beforeOpen()" ng-href="/adresar/gepard-reality-absoluta-real-praha-vrsovice/3120" class="ng-binding" href="/adresar/gepard-reality-absoluta-real-praha-vrsovice/3120">Více o společnosti »</a>
					</li>
				</ul>
				<!-- ngIf: premise.url --><a ng-if="premise.url" ng-href="/adresar/gepard-reality-absoluta-real-praha-vrsovice/3120" class="short-info ng-binding ng-scope" href="/adresar/gepard-reality-absoluta-real-praha-vrsovice/3120">GEPARD REALITY/Absoluta Real</a><!-- end ngIf: premise.url -->
			</div>
		</div><!-- end ngIf: premise -->
	</div>

	<!-- uz odpovezeno, bud davno nebo prave ted -->
	<!-- ngIf: sended && !sendingAgain -->

	<!-- odpovedni formular -->
	<!-- ngIf: !sended || sendingAgain --><form ng-if="!sended || sendingAgain" class="form send-form ng-scope ng-pristine ng-valid" name="contactform" ng-submit="submit()" novalidate="">
		<!-- ngIf: form.status -->
		<label>
			<span class="form-label label ng-binding">Váš email</span>
			<div class="input-wrapper">
				<input type="email" class="input ng-pristine ng-valid ng-valid-email" ng-class="{error: form.emailErr}" name="email" ng-model="form.email">
			</div>
		</label>
		<label>
			<span class="form-label label ng-binding">Jméno</span>
			<div class="input-wrapper">
				<input type="text" class="input ng-pristine ng-valid" ng-class="{error: form.nameErr}" name="name" ng-model="form.name">
			</div>
		</label>
		<label>
			<span class="form-label label ng-binding">Telefon</span>
			<div class="input-wrapper">
				<input type="tel" class="input ng-pristine ng-valid" ng-class="{error: form.phoneErr}" name="phone" ng-model="form.phone">
			</div>
		</label>
		<label>
			<span class="form-label label"></span>
			<div class="input-wrapper">
				<textarea ng-class="{error: form.messageErr}" class="textarea ng-pristine ng-valid" name="message" ng-model="form.message">				</textarea>
			</div>
		</label>
		<div>
			<span class="form-label label"></span>
			<div class="input-wrapper ng-binding">
				Zadané údaje zpracováváme dle těchto <a href="https://napoveda.seznam.cz/cz/sreality/souhlas-se-zpracovanim-osobnich-udaju-sreality/" target="_blank" class="ng-binding">podmínek</a>.
			</div>
		</div>
		<div>
			<div class="input-wrapper input-wrapper-center">
				<!-- ngIf: sending -->
				<button type="submit" ng-disabled="sending" ng-class="{'btn-disabled': sending}" class="btn-full ng-binding">Odpovědět</button>
			</div>
		</div>
	</form><!-- end ngIf: !sended || sendingAgain -->
</div>
</div>

			<!-- <div id="localityIndex" class="c-locality-index" ng-if="actualLang === 'cs'" data-nosnippet>				
				<preact data="advertId" component="locality-index"></preact>
			</div> -->

			<!--<div id="hypoteka" class="c-mortgage-calculator"
				 ng-if="actualLang === 'cs' && detailData.price && detailData.typeId === 1 && showHyponamiru" data-nosnippet>
				<h2 class="c-mortgage-calculator__header">Hypoteční kalkulačka</h2>
				<preact data="mortgageData" component="mortgage-calculator"></preact>
			</div>-->

			<div class="c-contact-buttons">
				<preact data="contactData" component="contact-buttons" class="ng-isolate-scope"><div class="sds-surface sds-surface--05 _332AuA3qL4XBj2btXtvXIs" tabindex="-1"><a class="sds-surface sds-surface--clickable sds-surface--03 sds-button sds-helpers-button sds-button--small T1TnDW99vniZJvEPeiSXZ _2qIcoVMHOUWJT8TTAM8qHa _1lpYutJ_422EWdEuUmMhIf" href="tel:+420602103430" rel="noreferrer noopener" role="button" data-dot="sticky-contact-phone"><span class="sds-typography sds-typography--body-small sds-button__text">Zavolat</span></a><button class="sds-surface sds-surface--clickable sds-surface--primary sds-button sds-helpers-button sds-button--small sds-button--primary T1TnDW99vniZJvEPeiSXZ _2qIcoVMHOUWJT8TTAM8qHa _1lpYutJ_422EWdEuUmMhIf" type="button" role="button" data-dot="sticky-contact-reply"><span class="sds-typography sds-typography--body-small sds-button__text">Napsat zprávu</span></button></div></preact>
			</div>

			<!-- ngIf: regions.local || regions.broader --><div class="regions-box ng-scope" ng-if="regions.local || regions.broader">
				<!-- ngIf: regions.local --><p class="regions-links ng-binding ng-scope" ng-if="regions.local">
					Podívejte se také na další reality v kategorii <a ng-href="/hledani/pronajem/byty/jesenik" class="ng-binding" href="/hledani/pronajem/byty/jesenik">Pronájem bytů Jeseník</a>.
				</p><!-- end ngIf: regions.local -->

				<!-- ngIf: regions.broader -->
			</div><!-- end ngIf: regions.local || regions.broader -->
			
			<div class="report-error-btn-wrap">
				<button class="btn report ng-binding" ng-click="showEntity('errorReport')">Nahlásit chybu</button>
			</div>

			<div class="dir-bottom ng-isolate-scope" detail-data="detailData">
	<div class="dir-bottom__content">
		<div class="dir-bottom__label">Reklama</div>

		<div class="dir-bottom__fixed">
			<div id="dir-bottom__wrap" class="dir-bottom__wrap"></div>
			
			<div class="dir-bottom__shadow--top"></div>
			<div class="dir-bottom__shadow--bottom"></div>
		</div>
	</div>

	<div class="dir-bottom__classic">
		<div id="dir-bottom" class="dir-bottom__classic-inner"></div>
	</div>
</div>

			<span class="btn-circle icof icon-up backToTop ng-isolate-scope" ng-click="goTop()" mover-top=""></span>
		</div>

		<!-- ngIf: showedEntity.errorReport -->

		<!-- ngIf: showedEntity.loanCalc -->
	</div><!-- end ngIf: resource -->
</div>
</div>
	</div><!-- end ngIf: !errorData.isError -->
			<preact lang-binding="true" page-binding="true" component="footer" class="ng-isolate-scope"><footer class="_2OgfM2_KYImX04ik8Lkirn"><div class="_3NJE8NRqA5KCr2VwHqJ27e _2T2w9H_NOdtDLYIWERsogd"><button class="_1YEfiKqdGLWGRcAex4sqFW _1YgDqeht_fr9KKfFyp_SvQ"><img src="/img/flag-cs.png" alt="" class="_1HYol4SyXrKoN9ojGTb77o"><span class="TveYpFLjcNtBC6Qqvaw4n">Česky</span><span class="icon icof icon-down-full mGdHyJz0gQqm4qCQo6bWR"></span></button></div><div class="_3R7u-oIynrH_h3EsXVuYO-"><div class="_2nosKgOxexEj-xT_5nH4PP"><div class="btqelYH9tgNY9yJn1Xnn1"><button type="button" class="_2ZZbAPXBrQCM5JHy7gu2f1 _28eKaNHVUNjmjaO96sSQXh"><span class="_28eKaNHVUNjmjaO96sSQXh _2iVzlK9Zg3MpMEOkrQqaoL">Co říkáte na Sreality.cz?</span></button><a href="https://vyzkumnik.seznam.cz/" class="_2ZZbAPXBrQCM5JHy7gu2f1 _28eKaNHVUNjmjaO96sSQXh"><span class="_28eKaNHVUNjmjaO96sSQXh _2iVzlK9Zg3MpMEOkrQqaoL">Výzkumník</span></a><a href="https://napoveda.seznam.cz/cz/sreality/o-sluzbe-sreality.cz" class="_2ZZbAPXBrQCM5JHy7gu2f1 _28eKaNHVUNjmjaO96sSQXh"><span class="_28eKaNHVUNjmjaO96sSQXh _2iVzlK9Zg3MpMEOkrQqaoL">Pro spotřebitele</span></a><a href="https://www.seznam.cz/ochranaudaju" class="_2ZZbAPXBrQCM5JHy7gu2f1 _28eKaNHVUNjmjaO96sSQXh"><span class="_28eKaNHVUNjmjaO96sSQXh _2iVzlK9Zg3MpMEOkrQqaoL">Ochrana údajů</span></a><a href="https://napoveda.seznam.cz/cz/sreality/pravidla-sreality/smluvni-podminky-sluzby-sreality.cz" class="_2ZZbAPXBrQCM5JHy7gu2f1 _28eKaNHVUNjmjaO96sSQXh"><span class="_28eKaNHVUNjmjaO96sSQXh _2iVzlK9Zg3MpMEOkrQqaoL">Smluvní podmínky</span></a><a href="https://www.seznam.cz/reklama/cz/obsahovy-web/sluzba-sreality" class="_2ZZbAPXBrQCM5JHy7gu2f1 _28eKaNHVUNjmjaO96sSQXh"><span class="_28eKaNHVUNjmjaO96sSQXh _2iVzlK9Zg3MpMEOkrQqaoL">Reklama</span></a><a class="_2ZZbAPXBrQCM5JHy7gu2f1 _28eKaNHVUNjmjaO96sSQXh _1mHL-lXlevZ4SCKncZk2gk" href="/realitni-software"><span class="_28eKaNHVUNjmjaO96sSQXh _1mHL-lXlevZ4SCKncZk2gk _2iVzlK9Zg3MpMEOkrQqaoL">Realitní software</span></a><a href="http://sreality.seznamblog.cz/" class="_2ZZbAPXBrQCM5JHy7gu2f1 _28eKaNHVUNjmjaO96sSQXh _1mHL-lXlevZ4SCKncZk2gk"><span class="_28eKaNHVUNjmjaO96sSQXh _1mHL-lXlevZ4SCKncZk2gk _2iVzlK9Zg3MpMEOkrQqaoL">Blog</span></a><a href="https://napoveda.seznam.cz/cz/sreality/" class="_2ZZbAPXBrQCM5JHy7gu2f1 _28eKaNHVUNjmjaO96sSQXh _1mHL-lXlevZ4SCKncZk2gk"><span class="_28eKaNHVUNjmjaO96sSQXh _1mHL-lXlevZ4SCKncZk2gk _2iVzlK9Zg3MpMEOkrQqaoL">Nápověda</span></a><a href="mailto:info@sreality.cz?subject=Dotaz ze sluzby sreality.cz" class="_2ZZbAPXBrQCM5JHy7gu2f1 _28eKaNHVUNjmjaO96sSQXh _1mHL-lXlevZ4SCKncZk2gk"><span class="_28eKaNHVUNjmjaO96sSQXh _1mHL-lXlevZ4SCKncZk2gk _2iVzlK9Zg3MpMEOkrQqaoL">Technická podpora</span></a><a href="https://napoveda.seznam.cz/cz/sreality/kontakty-sreality-cz/" class="_2ZZbAPXBrQCM5JHy7gu2f1 _28eKaNHVUNjmjaO96sSQXh"><span class="_28eKaNHVUNjmjaO96sSQXh _2iVzlK9Zg3MpMEOkrQqaoL">Kontakty</span></a><a href="https://napoveda.seznam.cz/cz/stiznosti-sreality/" class="_2ZZbAPXBrQCM5JHy7gu2f1 _28eKaNHVUNjmjaO96sSQXh"><span class="_28eKaNHVUNjmjaO96sSQXh _2iVzlK9Zg3MpMEOkrQqaoL">Stížnosti</span></a><button type="button" class="_2ZZbAPXBrQCM5JHy7gu2f1 _28eKaNHVUNjmjaO96sSQXh"><span class="_28eKaNHVUNjmjaO96sSQXh _2iVzlK9Zg3MpMEOkrQqaoL">Nastavení personalizace</span></button></div><p class="_2XPH-LYlsL14qYMleJLjFJ _2-aaSan9BAM3Qg3EE_v_6h _2iVzlK9Zg3MpMEOkrQqaoL _1mRLNMhwLQGArIldAHOamF">Sreality.cz pomáhají najít vhodnou nemovitost díky aktuální nabídce realit v ČR i zahraničí. Jakékoliv užití obsahu internetového serveru www.sreality.cz, včetně převzetí, šíření či dalšího zpřístupňování inzerátů a fotografií je bez souhlasu Seznam.cz, a.s., zakázáno.</p><p class="_2XPH-LYlsL14qYMleJLjFJ _2iVzlK9Zg3MpMEOkrQqaoL _1mRLNMhwLQGArIldAHOamF">Copyright © 1996–2022 Seznam.cz, a.s.</p></div></div></footer></preact>
		</div>
	</div>
</div>
<div id="map-layout" ng-show="pageLayout.map.show" class="map-small" ng-style="layoutTop" style="margin-top: 0px;">
	<div map-info="" class="ng-isolate-scope"><!-- ngIf: infoHtml --></div>
	<div id="poi-filter" class="c-poi-filter" style="margin-bottom: 0px;">
    <button ng-class="{
            'c-poi-filter__opener': true,
            'c-poi-filter__opener--open': open
        }" ng-click="toggle()" data-dot-data="{ &quot;category&quot;: &quot;Občanská vybavenost&quot;, &quot;action&quot;: &quot;klik na tlačítko&quot; }" class="c-poi-filter__opener"><svg class="c-poi-filter__icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path fill-rule="evenodd" d="M20 17.382l-4-2V6.618l4 2v8.764zM10 8.618l4-2v8.764l-4 2V8.618zm-6-2l4 2v8.764l-4-2V6.618zm17.447.488l-6-3c-.024-.012-.051-.017-.076-.027a1.019 1.019 0 0 0-.128-.044 1.029 1.029 0 0 0-.111-.02 1.01 1.01 0 0 0-.135-.01c-.041 0-.081.005-.122.01a1.291 1.291 0 0 0-.122.02c-.042.01-.082.028-.122.043-.027.01-.053.015-.078.028L9 6.882 3.447 4.106A.998.998 0 0 0 2 5v11c0 .379.214.725.553.895l6 3c.014.008.031.004.047.01A.986.986 0 0 0 9 20a.986.986 0 0 0 .4-.095c.016-.006.033-.002.047-.01L15 17.118l5.553 2.777a1.005 1.005 0 0 0 .972-.044c.295-.183.475-.504.475-.851V8a1 1 0 0 0-.553-.894z"></path></svg>
    <span class="c-poi-filter__text ng-binding">Občanská vybavenost</span></button>

    <!-- ngIf: open -->
</div>
	<div map="" id="s-map" class="s-map smap"><div style="position: absolute; width: 0px; height: 0px; margin: 0px; padding: 0px; left: 102px; top: 304.5px;"><div><div id="1-0-0.22248027457703"><div style="transform: translateZ(0px);"><img alt="" style="position: absolute; opacity: 1; transition: opacity 600ms ease 0s; left: -698.068px; top: -198.479px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/6-32-21" srcset="https://mapserver.mapy.cz/base-m/6-32-21, https://mapserver.mapy.cz/base-m/retina/6-32-21 2x"><img alt="" style="position: absolute; opacity: 1; transition: opacity 600ms ease 0s; left: -442.068px; top: -198.479px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/6-33-21" srcset="https://mapserver.mapy.cz/base-m/6-33-21, https://mapserver.mapy.cz/base-m/retina/6-33-21 2x"><img alt="" style="position: absolute; opacity: 1; transition: opacity 600ms ease 0s; left: -186.068px; top: -198.479px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/6-34-21" srcset="https://mapserver.mapy.cz/base-m/6-34-21, https://mapserver.mapy.cz/base-m/retina/6-34-21 2x"><img alt="" style="position: absolute; opacity: 1; transition: opacity 600ms ease 0s; left: 69.9321px; top: -198.479px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/6-35-21" srcset="https://mapserver.mapy.cz/base-m/6-35-21, https://mapserver.mapy.cz/base-m/retina/6-35-21 2x"><img alt="" style="position: absolute; opacity: 1; transition: opacity 600ms ease 0s; left: 325.932px; top: -198.479px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/6-36-21" srcset="https://mapserver.mapy.cz/base-m/6-36-21, https://mapserver.mapy.cz/base-m/retina/6-36-21 2x"><img alt="" style="position: absolute; opacity: 1; transition: opacity 600ms ease 0s; left: 581.932px; top: -198.479px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/6-37-21" srcset="https://mapserver.mapy.cz/base-m/6-37-21, https://mapserver.mapy.cz/base-m/retina/6-37-21 2x"></div><div style="transform: translateZ(0px);"><img alt="" style="position: absolute; opacity: 0; transition: opacity 600ms ease 0s; left: -191.331px; top: -352.424px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/16-35900-22157" srcset="https://mapserver.mapy.cz/base-m/16-35900-22157, https://mapserver.mapy.cz/base-m/retina/16-35900-22157 2x"><img alt="" style="position: absolute; opacity: 0; transition: opacity 600ms ease 0s; left: -191.331px; top: -96.4243px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/16-35900-22158" srcset="https://mapserver.mapy.cz/base-m/16-35900-22158, https://mapserver.mapy.cz/base-m/retina/16-35900-22158 2x"><img alt="" style="position: absolute; opacity: 0; transition: opacity 600ms ease 0s; left: -191.331px; top: 159.576px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/16-35900-22159" srcset="https://mapserver.mapy.cz/base-m/16-35900-22159, https://mapserver.mapy.cz/base-m/retina/16-35900-22159 2x"><img alt="" style="position: absolute; opacity: 0; transition: opacity 600ms ease 0s; left: -191.331px; top: 415.576px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/16-35900-22160" srcset="https://mapserver.mapy.cz/base-m/16-35900-22160, https://mapserver.mapy.cz/base-m/retina/16-35900-22160 2x"><img alt="" style="position: absolute; opacity: 0; transition: opacity 600ms ease 0s; left: 64.6691px; top: -352.424px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/16-35901-22157" srcset="https://mapserver.mapy.cz/base-m/16-35901-22157, https://mapserver.mapy.cz/base-m/retina/16-35901-22157 2x"><img alt="" style="position: absolute; opacity: 0; transition: opacity 600ms ease 0s; left: 64.6691px; top: -96.4243px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/16-35901-22158" srcset="https://mapserver.mapy.cz/base-m/16-35901-22158, https://mapserver.mapy.cz/base-m/retina/16-35901-22158 2x"><img alt="" style="position: absolute; opacity: 0; transition: opacity 600ms ease 0s; left: 64.6691px; top: 159.576px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/16-35901-22159" srcset="https://mapserver.mapy.cz/base-m/16-35901-22159, https://mapserver.mapy.cz/base-m/retina/16-35901-22159 2x"><img alt="" style="position: absolute; opacity: 0; transition: opacity 600ms ease 0s; left: 64.6691px; top: 415.576px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/16-35901-22160" srcset="https://mapserver.mapy.cz/base-m/16-35901-22160, https://mapserver.mapy.cz/base-m/retina/16-35901-22160 2x"></div></div><div id="3-0-0.409768187744868"></div><div id="4-0-0.15389202638291777"></div><div id="2-0-0.9058361837653608"></div></div><div><div id="0.8413955084475102-1"></div><div id="0.6478630999828292-1"></div><div id="0.24965255638445027-1"></div></div><svg xmlns:xlink="http://www.w3.org/1999/xlink" width="204" height="609" style="position: absolute; left: -102px; top: -304.5px;"><g><g id="0.9559184936965968-2" style="transform: scale(1);"><polyline fill="none" stroke="white" stroke-linejoin="round" stroke-linecap="round" points="14.565129509195685 298.7492232201621, 42.36263830959797 320.22041147202253, 51.49392172321677 327.5045780437067, 62.676150130108 336.1605110168457, 70.79928073473275 342.16947145015, 73.81818213127553 343.963241931051, 76.72776679694653 345.032823022455, 80.18299838900566 345.3321424778551, 83.4041191060096 344.7069439953193, 86.39306719973683 343.0917437877506, 89.14210157468915 340.74847084470093, 91.17668139189482 338.2528795832768, 93.62631194293499 334.98314150515944, 108.78905940800905 315.1163455173373, 113.27720833010972 309.2200341755524, 126.87622717767954 291.4039939912036, 136.67504470422864 278.32496579550207, 138.43185351602733 265.33444125391543, 161.64708906784654 282.60695915296674, 171.75195457786322 290.1171079110354, 189.43487049080431 264.6232565045357" stroke-opacity="0.6" stroke-width="9" stroke-dasharray=""><title></title></polyline><polyline fill="none" stroke="#00f" stroke-linejoin="round" stroke-linecap="round" points="14.565129509195685 298.7492232201621, 42.36263830959797 320.22041147202253, 51.49392172321677 327.5045780437067, 62.676150130108 336.1605110168457, 70.79928073473275 342.16947145015, 73.81818213127553 343.963241931051, 76.72776679694653 345.032823022455, 80.18299838900566 345.3321424778551, 83.4041191060096 344.7069439953193, 86.39306719973683 343.0917437877506, 89.14210157468915 340.74847084470093, 91.17668139189482 338.2528795832768, 93.62631194293499 334.98314150515944, 108.78905940800905 315.1163455173373, 113.27720833010972 309.2200341755524, 126.87622717767954 291.4039939912036, 136.67504470422864 278.32496579550207, 138.43185351602733 265.33444125391543, 161.64708906784654 282.60695915296674, 171.75195457786322 290.1171079110354, 189.43487049080431 264.6232565045357" stroke-opacity="0.65" stroke-width="3" stroke-dasharray="9 12"><title></title></polyline></g></g></svg><div><div id="0.8413955084475102-3" style="transform: none;"></div><div id="0.6478630999828292-3" style="transform: none;"></div><div id="0.24965255638445027-3" style="transform: none;"></div></div><div><div id="0.8413955084475102-4"></div><div id="0.6478630999828292-4"></div><div id="0.24965255638445027-4"></div></div></div><div class="hud"><div class="noprint"><div class="copyright print" title=" Seznam.cz, a.s., 2022 |  OpenStreetMap" style="position: absolute; inset: auto auto 3px 5px; margin-bottom: 0px;">© <a href="https://o.seznam.cz" target="_blank" rel="noopener">Seznam.cz, a.s.</a>, 2022 a <a href="#" data-others="1">další</a></div><a class="print" target="_blank" href="https://mapy.cz/?x=17.208695&amp;y=50.238856&amp;z=16" style="position: absolute; inset: auto 0px 0px auto;"><img src="https://api.mapy.cz/img/api/logo.svg" alt="Zobrazit na Mapy.cz" style="margin-bottom: 0px;"></a><div class="selection" style="border-width: 2px; visibility: hidden; position: absolute;"></div><div class="zoom" style="position: absolute; inset: 1rem 1rem auto auto; margin-top: 0px;"><div class="button-group"><button class="minus" type="button" aria-label="Oddálit" title="Oddálit">-</button><button class="plus" type="button" aria-label="Přiblížit" title="Přiblížit">+</button></div></div><div class="layer-switch" style="position: absolute; inset: 1rem auto auto 1rem; margin-top: 0px;"><button type="button"><span>Změnit mapu</span></button><div class="window" style="display: none;"><div class="port" style="position: relative; overflow: hidden; width: 195px;"><div style="position: relative; width: 195px; left: 0px;"><div class="item active" style="width: 65px; overflow: hidden;"><div><img src="https://api.mapy.cz/img/api/preview-zakladni.png" alt="Obecná" title="Obecná"><div class="border"></div></div><p>Obecná</p></div><div class="item" style="width: 65px; overflow: hidden;"><div><img src="https://api.mapy.cz/img/api/preview-letecka.png" alt="Letecká" title="Letecká"><div class="border"></div></div><p>Letecká</p></div><div class="item" style="width: 65px; overflow: hidden;"><div><img src="https://api.mapy.cz/img/api/preview-turisticka.png" alt="Turistická" title="Turistická"><div class="border"></div></div><p>Turistická</p></div></div></div><div class="left"><div class="arrow" style="display: none;"></div></div><div class="right"><div class="arrow" style="display: none;"></div></div></div></div></div></div></div>

	<div class="map-opener">
		<!-- ngIf: pageLayout.map.show --><button class="nipple ng-scope" ng-if="pageLayout.map.show" ng-click="toggleMap(1)" ng-class="{bigmap: pageLayout.map.big}" data-dot-data="{&quot;action&quot;:&quot;zvetseni_mapy&quot;}">
			<span class="icof"></span>
			<span class="text ng-binding">Zvětšit mapu</span>
		</button><!-- end ngIf: pageLayout.map.show -->
	</div>
	<div class="map-shade"></div>
</div>
<!-- ngInclude: respData.template --><div class="submap-title submap-detail" ng-class="{bigmap: pageLayout.map.big}" ng-click="toggleMap(1)" ng-include="respData.template"><div class="first-line ng-binding ng-scope">Pronájem bytu 1+kk 40&nbsp;m²</div>
<div class="second-line ng-binding ng-scope">Zeyerova, Jeseník</div></div></div>


<iframe id="gemius_hcconn_1641948120162_87947740" name="lsgetframe" width="0" height="0" scrolling="no" sandbox="allow-scripts allow-same-origin" style="display: none; visibility: hidden;" src="https://ls.hit.gemius.pl/lsget.html"></iframe><div class="adform-adbox
								advert-square
								article-adtip-box
								bazar-box
								bx-leaderboard
								etarget
								hp-advert
								ic0.vendor-list
								illustrated.illV.article.columns.col2
								jobscz
								popisreklama
								promo-in-article
								reklama-3
								reklama-abmix
								reklama-bottom
								reklama-box
								reklama-left
								reklama-lista
								reklama-megaboard
								reklama-right
								reklama-top
								reklamaBottom
								reklamaHorniLista
								reklamaOdkazyVeVetachDole
								reklama_ahead
								reklama_box_standard
								reklama_square
								reklama_title_flat
								reklamni-up-1
								reklamni-up-2
								sklik
								sklik-block
								sklik-box
								sklik_left
								sklik_right
								spored-links
								topreklama
								velke_zlavy
								vreklama
								zlavy-box
								pub_300x250
								pub_300x250m
								pub_728x90
								safeframe
								text-ad
								textAd
								text_ad
								text_ads
								text-ads
								text-ad-links" style="width: 1px !important; height: 1px !important; position: absolute !important; right: -1000px !important; top: -1000px !important;"></div><img src="/ad_ads_advert_advertisement_adform_pub_300x250.png" style="width: 1px !important; height: 1px !important; position: absolute !important; right: -1000px !important; top: -1000px !important;"><iframe id="gemius_hcconn_1641948120272_44321338" name="lssetframe" width="0" height="0" scrolling="no" sandbox="allow-scripts allow-same-origin" style="display: none; visibility: hidden;" src="https://ls.hit.gemius.pl/lsset.html"></iframe><iframe src="https://h.seznam.cz/html/cmp.html?v=2.177.5" frameborder="0" style="display: none;"></iframe></body></html>