<html lang="cs" ng-app="sreality" ng-controller="MainCtrl" class="ng-scope"><head><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide{display:none !important;}ng\:form{display:block;}.ng-animate-block-transitions{transition:0s all!important;-webkit-transition:0s all!important;}.ng-hide-add-active,.ng-hide-remove{display:block!important;}</style>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,minimal-ui">

	<!--- Nastaveni meta pres JS a ne pres Angular, aby byla nastavena default hodnota pro agenty co nezvladaji PhantomJS --->
	<title ng:bind-template="Pronájem bytu 3+1&nbsp;75&nbsp;m², Evaldova, Šumperk • Sreality.cz" class="ng-binding">Pronájem bytu 3+1&nbsp;75&nbsp;m², Evaldova, Šumperk • Sreality.cz</title>
	<meta name="description" content="Byt 3+1 75 m² k pronájmu Evaldova, Šumperk; 9&nbsp;900 Kč za měsíc, panelová stavba, osobní vlastnictví, ve velmi dobrém stavu.">
	<meta property="og:title" content="Pronájem bytu 3+1&nbsp;75&nbsp;m², Evaldova, Šumperk">
	<meta property="og:type" content="website">
	<meta property="og:image" content="https://d18-a.sdn.cz/d_18/c_img_QN_Jl/f3UyaC.jpeg?fl=res,1920,1080,1|wrm,/watermark/sreality.png,10|shr,,20|jpg,90">
	<meta property="og:description" content="Byt 3+1 75 m² k pronájmu Evaldova, Šumperk; 9&nbsp;900 Kč za měsíc, panelová stavba, osobní vlastnictví, ve velmi dobrém stavu.">
	<meta property="og:url" content="https://www.sreality.cz/detail/pronajem/byt/3+1/sumperk-sumperk-evaldova/2098272348">

	<!-- ngIf: metaStatus.value --><meta ng-if="metaStatus.value" name="szn:status" content="200" class="ng-scope"><!-- end ngIf: metaStatus.value -->

	<meta http-equiv="imagetoolbar" content="no">

	<link rel="icon" sizes="16x16 32x32 48x48 64x64" href="/img/icons/favicon.ico">
	<link rel="apple-touch-icon" sizes="57x57" href="/img/icons/apple-touch-icon-57x57.png?3">
	<link rel="apple-touch-icon" sizes="60x60" href="/img/icons/apple-touch-icon-60x60.png?3">
	<link rel="apple-touch-icon" sizes="72x72" href="/img/icons/apple-touch-icon-72x72.png?3">
	<link rel="apple-touch-icon" sizes="76x76" href="/img/icons/apple-touch-icon-76x76.png?3">
	<link rel="apple-touch-icon" sizes="114x114" href="/img/icons/apple-touch-icon-114x114.png?3">
	<link rel="apple-touch-icon" sizes="120x120" href="/img/icons/apple-touch-icon-120x120.png?3">
	<link rel="apple-touch-icon" sizes="144x144" href="/img/icons/apple-touch-icon-144x144.png?3">
	<link rel="apple-touch-icon" sizes="152x152" href="/img/icons/apple-touch-icon-152x152.png?3">
	<link rel="apple-touch-icon" sizes="180x180" href="/img/icons/apple-touch-icon-180x180.png?3">
	<link rel="icon" type="image/png" sizes="192x192" href="/img/icons/android-chrome-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/img/icons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/img/icons/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/img/icons/favicon-16x16.png">
	<link rel="manifest" href="/img/icons/android-chrome-manifest.json">
	<meta name="msapplication-TileColor" content="#2b5797">
	<meta name="msapplication-TileImage" content="/img/icons/ms-icon-144x144.png">
	<meta name="msapplication-config" content="/img/icons/browserconfig.xml">

	<!-- ngIf: rss.url -->
	<!-- ngRepeat: lang in metaSeo.languages -->

	<link rel="stylesheet" href="/css/all.css?f2c3377">

	<!--[if lte IE 8]>
		<script>
			document.createElement('popover');
			document.createElement('mortgage');
			document.createElement('hp-signpost');
			document.createElement('category-switcher');
			document.createElement('feedback');
			document.createElement('bottom');
			document.createElement('graph');
			document.createElement('panorama');
			document.createElement('panorama-prev');
			document.createElement('sphere-viewer');
			document.createElement('sphere-viewer-prev');
			document.createElement('save-filter');
		</script>
    <![endif]-->

	<!-- Statistiky -->
	<script id="gemius_hcconn_1641920988130_75703416" defer="defer" async="async" type="text/javascript" src="https://gacz.hit.gemius.pl/_1641920988130/rexdot.js?l=106&amp;id=ByLlP2uZJXREzOJ3CvKB7sd.XhZYAYdGPQEZEoRpgR7.M7&amp;et=view&amp;hsrc=2&amp;initsonar=1&amp;extra=sreality.cz%2FDetail%2FPronajem_D%2FByty_pronajem_D&amp;eventid=0&amp;fr=1&amp;tz=-60&amp;fv=-&amp;href=https%3A%2F%2Fwww.sreality.cz%2Fdetail%2Fpronajem%2Fbyt%2F3%2B1%2Fsumperk-sumperk-evaldova%2F2098272348&amp;ref=&amp;screen=1280x800r2000&amp;col=24&amp;window=1200x609&amp;ltime=38&amp;lsdata=-SETERR&amp;fpdata=rRCKDxTXmz7Y64jg40MZ7o.tpfF7Nb42iY8vX3l0i1v.P7&amp;vis=1&amp;fpcap="></script><script async="async" defer="defer" src="https://gacz.hit.gemius.pl/xgemius.js"></script><script src="https://h.seznam.cz/js/dot-small.js" type="text/javascript"></script>
	<script type="text/javascript">
		if (window.DOT) {
			var dotCfg = {
				service: 'sreality',
				lazyLoadingEnabled: true
			};
			/*if (window.SrealityNew && window.SrealityNew.abTestHelper) {
				dotCfg.abtest = window.SrealityNew.abTestHelper.getVariant();
			}*/
			DOT.cfg(dotCfg);
		}
	</script>

	<!-- SSP Reklama -->
	<script src="https://ssp.seznam.cz/static/js/ssp.js" type="text/javascript"></script>
	<!-- Sklik retargeting -->
	<script type="text/javascript" src="https://www.seznam.cz/rs/static/rc.js"></script>
	
	<script src="https://1.im.cz/software/promo/promo-sbrowser.js"></script>

	<!-- Seznam player-->
	<script src="//d53-a.sdn.cz/d_53/10/loader.min.js"></script>

	<!-- Seznam geo lokace -->
	<script src="https://geo.seznam.cz/static/js/geo.js"></script>

	<!-- Nastaveni personalizace (Consent Management Platform) -->
	<script src="https://h.imedia.cz/js/cmp2/scmp.js?auto_open=false"></script>

	<!-- Fetch polyfill	-->
	<script nomodule="" src="/js/fetch.umd.js"></script>

	<!-- KONFIGURACE -->
	<script src="/js/conf/config.js?f2c3377"></script>

	<script src="/js/maps.js?1"></script>
	<script src="/js/new-src.js?f2c3377"></script>
	<script src="/js/all.js?f2c3377"></script>

	<noscript>
		<meta http-equiv="refresh" content="0;url=?_escaped_fragment_="/>
	</noscript>
	<!-- ngIf: metaSeo.showMetaFragment --><meta name="fragment" content="!" ng-if="metaSeo.showMetaFragment" class="ng-scope"><!-- end ngIf: metaSeo.showMetaFragment -->

</head>
<!--[if IE 8]>    <body class="ie8"> <![endif]-->
<!--[if IE 9]>    <body class="notie8 ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<body class="notie8 notie9 lang-cs" data-dot-cookie-refresh-disabled="">
<!--<![endif]-->

	<div loading-line="" class="ng-isolate-scope"><div class="loading-line" style="display: block; transform: translate(-100%, 0px); transition: none 0s ease 0s;"></div>
</div>

	<div page-layout="" class="ng-isolate-scope"><preact component="ribbon" lang-binding="true" page-binding="true" class="ng-isolate-scope"></preact>
<preact component="aafisher" class="ng-isolate-scope"></preact>
<div id="page-layout" class="page-layout no-scrollbar smallmap" ng-class="pageLayout.classNames" ng-style="layoutTop" style="margin-top: 0px;">
	<div page-loader="" class="ng-isolate-scope"><span ng-show="status.visible" class="page-loader ng-hide">
	<img class="image" src="/img/page-loader.gif" alt="">
	<span class="text ng-binding">Načítám...</span>
</span></div>
	<div class="content-cover">
		<div id="top-brand"></div>
		<!-- ngIf: !pageLayout.empty --><div class="anchor-wrap ng-isolate-scope" ng-if="!pageLayout.empty" gallery-anchor="">
	<!-- ngRepeat: anch in data.anchrs track by $index --><div ng-repeat="anch in data.anchrs track by $index" id="img=0&amp;fullscreen=false" class="movement-anchor ng-scope" ng-style="data.scroll" style="top: 0px;"></div><!-- end ngRepeat: anch in data.anchrs track by $index --><div ng-repeat="anch in data.anchrs track by $index" id="img=1&amp;fullscreen=false" class="movement-anchor ng-scope" ng-style="data.scroll" style="top: 0px;"></div><!-- end ngRepeat: anch in data.anchrs track by $index --><div ng-repeat="anch in data.anchrs track by $index" id="img=2&amp;fullscreen=false" class="movement-anchor ng-scope" ng-style="data.scroll" style="top: 0px;"></div><!-- end ngRepeat: anch in data.anchrs track by $index --><div ng-repeat="anch in data.anchrs track by $index" id="img=3&amp;fullscreen=false" class="movement-anchor ng-scope" ng-style="data.scroll" style="top: 0px;"></div><!-- end ngRepeat: anch in data.anchrs track by $index --><div ng-repeat="anch in data.anchrs track by $index" id="img=4&amp;fullscreen=false" class="movement-anchor ng-scope" ng-style="data.scroll" style="top: 0px;"></div><!-- end ngRepeat: anch in data.anchrs track by $index --><div ng-repeat="anch in data.anchrs track by $index" id="img=5&amp;fullscreen=false" class="movement-anchor ng-scope" ng-style="data.scroll" style="top: 0px;"></div><!-- end ngRepeat: anch in data.anchrs track by $index --><div ng-repeat="anch in data.anchrs track by $index" id="img=6&amp;fullscreen=false" class="movement-anchor ng-scope" ng-style="data.scroll" style="top: 0px;"></div><!-- end ngRepeat: anch in data.anchrs track by $index --><div ng-repeat="anch in data.anchrs track by $index" id="img=7&amp;fullscreen=false" class="movement-anchor ng-scope" ng-style="data.scroll" style="top: 0px;"></div><!-- end ngRepeat: anch in data.anchrs track by $index --><div ng-repeat="anch in data.anchrs track by $index" id="img=8&amp;fullscreen=false" class="movement-anchor ng-scope" ng-style="data.scroll" style="top: 0px;"></div><!-- end ngRepeat: anch in data.anchrs track by $index --><div ng-repeat="anch in data.anchrs track by $index" id="img=9&amp;fullscreen=false" class="movement-anchor ng-scope" ng-style="data.scroll" style="top: 0px;"></div><!-- end ngRepeat: anch in data.anchrs track by $index -->
</div><!-- end ngIf: !pageLayout.empty -->
		<div ng-class="{ 'content-inner': true, empty: pageLayout.empty }" class="content-inner">
			<div class="app-promotion ng-isolate-scope ng-hide" data-ng-show="showed" data-ng-class="{'app-promotion-hiding': hiding}">
	<a class="app-promotion-link" href="https://play.google.com/store/apps/details?id=cz.seznam.sreality">Nainstalovat</a>
	<button class="app-promotion-close" data-ng-click="hide()">Zavřít</button>
	<img class="app-promotion-logo" data-ng-src="/img/sreality-app-logo2.png" width="57" height="57" src="/img/sreality-app-logo2.png">
	<div class="app-promotion-info">
		<div class="app-promotion-name ng-binding">Sreality.cz</div>
		<div class="app-promotion-author ng-binding">Seznam.cz, a.s.</div>
		<div class="app-promotion-rating"><span class="app-promotion-rating-progress" style="width: 80%"></span><span class="app-promotion-rating-stars"></span></div>
		<div class="app-promotion-price">Zadarmo v Google Play</div>
	</div>
</div>
			<!-- ngIf: !pageLayout.empty --><div ng-if="!pageLayout.empty" error-page="" class="ng-scope ng-isolate-scope"><!-- ngIf: errorData.isError -->
</div><!-- end ngIf: !pageLayout.empty -->
			<!-- ngIf: !errorData.isError --><div ng-transclude="" class="transcluded-content ng-scope" ng-if="!errorData.isError">
		<!-- ngView:  --><div ng-view="" class="ng-scope"><div class="property-detail ng-scope">

	<!-- ngIf: resource --><div class="content ng-scope" ng-if="resource" ng-class="{'show-report-error': showErrorReport}">

		<!--SEO stuff -->
		<!-- ngIf: resource._embedded.video_urls.length > 0 -->
		<!-- -->
	
		<div ng-show="showedEntity.detail" itemscope="" itemtype="https://schema.org/Product" class="">
			<div class="navigation-detail">
				<div class="crumb-back ng-isolate-scope" crumb-back="">
	<div class="left">
		<!-- ngIf: url -->
	</div>
</div>
				<div class="iterator ng-isolate-scope" iterator="">
	<div class="left">
		<!-- ngIf: urls.prevItemUrl -->
	</div><div class="right">
		<!-- ngIf: urls.nextItemUrl -->
	</div>
</div>
				<div class="navigation-fixer rows-2"></div>
			</div>

			<div map-print="resource" class="map-print s-map ng-isolate-scope smap"><div style="position: absolute; width: 0px; height: 0px; margin: 0px; padding: 0px; left: 184px; top: 96px;"><div><div id="1-0-0.9384868950877454"><div style="transform: translateZ(0px);"><img alt="" style="position: absolute; opacity: 0; transition: opacity 600ms ease 0s; left: -222.797px; top: -251.202px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/20-573725-355763" srcset="https://mapserver.mapy.cz/base-m/20-573725-355763, https://mapserver.mapy.cz/base-m/retina/20-573725-355763 2x"><img alt="" style="position: absolute; opacity: 0; transition: opacity 600ms ease 0s; left: -222.797px; top: 4.79831px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/20-573725-355764" srcset="https://mapserver.mapy.cz/base-m/20-573725-355764, https://mapserver.mapy.cz/base-m/retina/20-573725-355764 2x"><img alt="" style="position: absolute; opacity: 0; transition: opacity 600ms ease 0s; left: 33.2026px; top: -251.202px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/20-573726-355763" srcset="https://mapserver.mapy.cz/base-m/20-573726-355763, https://mapserver.mapy.cz/base-m/retina/20-573726-355763 2x"><img alt="" style="position: absolute; opacity: 0; transition: opacity 600ms ease 0s; left: 33.2026px; top: 4.79831px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/20-573726-355764" srcset="https://mapserver.mapy.cz/base-m/20-573726-355764, https://mapserver.mapy.cz/base-m/retina/20-573726-355764 2x"><img alt="" style="position: absolute; opacity: 0; transition: opacity 600ms ease 0s; left: 289.203px; top: -251.202px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/20-573727-355763" srcset="https://mapserver.mapy.cz/base-m/20-573727-355763, https://mapserver.mapy.cz/base-m/retina/20-573727-355763 2x"><img alt="" style="position: absolute; opacity: 0; transition: opacity 600ms ease 0s; left: 289.203px; top: 4.79831px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/20-573727-355764" srcset="https://mapserver.mapy.cz/base-m/20-573727-355764, https://mapserver.mapy.cz/base-m/retina/20-573727-355764 2x"></div></div></div><div></div><svg xmlns:xlink="http://www.w3.org/1999/xlink" width="368" height="192" style="position: absolute; left: -184px; top: -96px;"><g><g id="0.3033286987898538-2" style="transform: scale(1);"><polyline fill="none" stroke="white" stroke-linejoin="round" stroke-linecap="round" points="968.2063444256783 -145.7567868977785, 1025.5938702821732 -350.7050914019346, 1094.4704451560974 -597.0607716888189, 1165.809974372387 -857.9511030465364, 1213.7884965837002 -1021.4397469311953, 1339.837203502655 -1464.413647159934, 1385.6835833787918 -1625.87478248775, 1426.272715330124 -1706.137797638774, 1489.8094324171543 -1828.5478243082762" stroke-opacity="0.6" stroke-width="9" stroke-dasharray=""><title></title></polyline><polyline fill="none" stroke="#00f" stroke-linejoin="round" stroke-linecap="round" points="968.2063444256783 -145.7567868977785, 1025.5938702821732 -350.7050914019346, 1094.4704451560974 -597.0607716888189, 1165.809974372387 -857.9511030465364, 1213.7884965837002 -1021.4397469311953, 1339.837203502655 -1464.413647159934, 1385.6835833787918 -1625.87478248775, 1426.272715330124 -1706.137797638774, 1489.8094324171543 -1828.5478243082762" stroke-opacity="0.65" stroke-width="3" stroke-dasharray="9 12"><title></title></polyline><polyline fill="none" stroke="white" stroke-linejoin="round" stroke-linecap="round" points="968.2063444256783 -145.7567868977785, 538.8913128376007 -348.9862383008003, 525.4921317100525 -353.5118294209242, 513.1046732962132 -356.96788327395916, 500.68979555368423 -359.38189439475536, 488.24749928712845 -360.75386257469654, 476.8169280588627 -361.0562941133976, 464.3197968006134 -360.3441765457392, 452.83439180254936 -358.5625228136778, 441.32157096266747 -355.73882637917995, 429.7813348174095 -351.8730876892805, 419.28024300932884 -347.97985412180424, 408.72432067990303 -342.00253899395466, 399.1801273524761 -334.9556904286146, 390.67507860064507 -327.88134902715683, 382.1152012348175 -318.7229280024767, 375.63361063599586 -309.50952365994453, 369.12460693717003 -299.25408075749874, 323.1778492629528 -212.8774819523096, 198.52076923847198 19.488755211234093, 193.0509729385376 29.771648198366165, 189.6868614256382 39.067482620477676, 185.0369126200676 57.714123263955116, 182.43782553076744 77.45776624977589, 184.02269023656845 96.26932150125504, 186.64668813347816 115.10835833847523, 193.48204311728477 131.97327794134617, 202.39566120505333 148.89316953718662, 213.44236439466476 163.78397235274315, 220.49700155854225 172.31263647973537, 229.62990254163742 180.89627711474895, 238.8176253736019 187.39585745334625, 249.04447880387306 193.92292745411396, 260.3652878701687 198.3934274762869, 271.6860950887203 202.8639296144247, 284.10085928440094 205.27786330878735, 297.6095816195011 205.6352297514677, 736.0136774480343 221.40579022467136, 747.4167055487633 222.7502989023924, 759.9137088060379 222.03824998438358, 772.4107123613358 221.32620380818844, 784.9351387023926 219.5721312314272, 796.4204338490963 217.790562286973, 806.9214436709881 213.89743764698505, 817.4224549233913 210.00431482493877, 827.9508909285069 205.06916423141956, 838.5341756939888 198.04995614290237, 849.1448867917061 189.9887194633484, 859.8104487359524 179.84342400729656, 868.4251733422279 168.6010974496603, 876.0007685124874 157.3312694877386, 883.6312155425549 143.97737921774387, 889.2108239531517 129.52645410597324, 894.8452846109867 112.9914638698101, 968.2063444256783 -145.7567868977785" stroke-opacity="0.6" stroke-width="9" stroke-dasharray=""><title></title></polyline><polyline fill="none" stroke="#00f" stroke-linejoin="round" stroke-linecap="round" points="968.2063444256783 -145.7567868977785, 538.8913128376007 -348.9862383008003, 525.4921317100525 -353.5118294209242, 513.1046732962132 -356.96788327395916, 500.68979555368423 -359.38189439475536, 488.24749928712845 -360.75386257469654, 476.8169280588627 -361.0562941133976, 464.3197968006134 -360.3441765457392, 452.83439180254936 -358.5625228136778, 441.32157096266747 -355.73882637917995, 429.7813348174095 -351.8730876892805, 419.28024300932884 -347.97985412180424, 408.72432067990303 -342.00253899395466, 399.1801273524761 -334.9556904286146, 390.67507860064507 -327.88134902715683, 382.1152012348175 -318.7229280024767, 375.63361063599586 -309.50952365994453, 369.12460693717003 -299.25408075749874, 323.1778492629528 -212.8774819523096, 198.52076923847198 19.488755211234093, 193.0509729385376 29.771648198366165, 189.6868614256382 39.067482620477676, 185.0369126200676 57.714123263955116, 182.43782553076744 77.45776624977589, 184.02269023656845 96.26932150125504, 186.64668813347816 115.10835833847523, 193.48204311728477 131.97327794134617, 202.39566120505333 148.89316953718662, 213.44236439466476 163.78397235274315, 220.49700155854225 172.31263647973537, 229.62990254163742 180.89627711474895, 238.8176253736019 187.39585745334625, 249.04447880387306 193.92292745411396, 260.3652878701687 198.3934274762869, 271.6860950887203 202.8639296144247, 284.10085928440094 205.27786330878735, 297.6095816195011 205.6352297514677, 736.0136774480343 221.40579022467136, 747.4167055487633 222.7502989023924, 759.9137088060379 222.03824998438358, 772.4107123613358 221.32620380818844, 784.9351387023926 219.5721312314272, 796.4204338490963 217.790562286973, 806.9214436709881 213.89743764698505, 817.4224549233913 210.00431482493877, 827.9508909285069 205.06916423141956, 838.5341756939888 198.04995614290237, 849.1448867917061 189.9887194633484, 859.8104487359524 179.84342400729656, 868.4251733422279 168.6010974496603, 876.0007685124874 157.3312694877386, 883.6312155425549 143.97737921774387, 889.2108239531517 129.52645410597324, 894.8452846109867 112.9914638698101, 968.2063444256783 -145.7567868977785" stroke-opacity="0.65" stroke-width="3" stroke-dasharray="9 12"><title></title></polyline></g></g></svg><div></div><div></div></div><div class="hud"><div class="noprint"><div class="copyright print" title=" Seznam.cz, a.s., 2022 |  OpenStreetMap" style="position: absolute; inset: auto auto 3px 5px;">© <a href="https://o.seznam.cz" target="_blank" rel="noopener">Seznam.cz, a.s.</a>, 2022 a <a href="#" data-others="1">další</a></div><a class="print" target="_blank" href="https://mapy.cz/?x=16.973146&amp;y=49.968010&amp;z=20" style="position: absolute; inset: auto 0px 0px auto;"><img src="https://api.mapy.cz/img/api/logo.svg" alt="Zobrazit na Mapy.cz"></a></div></div></div>

			<div class="gallery ng-isolate-scope" ng-class="{ 'old-browsers': oldBrowsers }" gallery="resource">

	<!-- ngIf: sphereShowed -->

	<!-- ngIf: panoramaShowed -->

	<!-- prochazeni fotek v detailu -->
	<!-- ngIf: isDetail() && !isPhantom --><div class="detail-images ng-scope" ng-if="isDetail() &amp;&amp; !isPhantom">
		<!-- jednotlive obrazky -->
		<div class="image-cover" ng-class="{ mobile: isMobile }"><!--
		--><div class="image prev">
				<img ng-src="https://d18-a.sdn.cz/d_18/c_img_QR_Lw/dHHyXZ.jpeg?fl=res,749,562,3|shr,,20|jpg,90" ng-click="showEntity(SHOW_ENTITY.FULLSCREEN)" class="img" src="https://d18-a.sdn.cz/d_18/c_img_QR_Lw/dHHyXZ.jpeg?fl=res,749,562,3|shr,,20|jpg,90">
			</div><!--

			 --><!-- ngIf: images.detail.virtualTour --><!--

			--><!-- ngIf: images.detail.panorama --><!--

			 --><!-- ngIf: images.detail.sphere --><!--

		 --><!-- ngIf: images.detail.image --><div class="image active ng-scope" ng-class="{ loading: images.detail.active.loading }" swipe="" swipe-right="prevPhoto()" swipe-left="nextPhoto()" ng-if="images.detail.image" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><!--
			 --><!-- ngIf: images.detail.active.showVideo --><!--
			 --><img alt="" class="img" my-image="" img-src="https://d18-a.sdn.cz/d_18/c_img_QN_Jl/f3UyaC.jpeg?fl=res,749,562,3|shr,,20|jpg,90" img-load="images.detail.active.loading = true" img-done="images.detail.active.loading = false" itemprop="image"><!--
			 --><div class="download-cover" ng-click="showEntity(SHOW_ENTITY.FULLSCREEN)">&nbsp;</div><!--
		 --></div><!-- end ngIf: images.detail.image --><!--

		--><div class="image next">
				<img ng-src="https://d18-a.sdn.cz/d_18/c_img_QN_Jl/oyKyaD.jpeg?fl=res,749,562,3|shr,,20|jpg,90" ng-click="showEntity(SHOW_ENTITY.FULLSCREEN)" class="img" src="https://d18-a.sdn.cz/d_18/c_img_QN_Jl/oyKyaD.jpeg?fl=res,749,562,3|shr,,20|jpg,90">
			</div>

			<!-- navigace -->
			<!-- ngIf: !virtualTourShowed --><button class="detail-btn prev ng-scope" ng-click="prevPhoto($event)" ng-if="!virtualTourShowed">
				<span class="btn-circle-gallery icof icon-arr-left" ng-class="{ hidden: selected.active == 0 &amp;&amp; !conf.infiniteScroll }"></span>
			</button><!-- end ngIf: !virtualTourShowed -->
			<!-- ngIf: !virtualTourShowed --><button class="detail-btn next ng-scope" ng-click="nextPhoto($event)" ng-if="!virtualTourShowed">
				<span class="btn-circle-gallery icof icon-arr-right" ng-class="{ hidden: selected.active == data.images.length - 1 &amp;&amp; !conf.infiniteScroll }"></span>
			</button><!-- end ngIf: !virtualTourShowed -->
		</div>

		<!-- do thumbnails -->
		<!-- ngIf: !panoramaShowed && !sphereShowed && !virtualTourShowed --><button class="btn thumbnails ng-binding ng-scope" ng-if="!panoramaShowed &amp;&amp; !sphereShowed &amp;&amp; !virtualTourShowed" ng-click="showEntity(SHOW_ENTITY.THUMBNAILS)">
			Zobrazit
			10
			fotografií
			v galerii
		</button><!-- end ngIf: !panoramaShowed && !sphereShowed && !virtualTourShowed -->

		<!-- ngIf: panoramaShowed -->

		<!-- ngIf: virtualTourShowed -->		
	</div><!-- end ngIf: isDetail() && !isPhantom -->

	<!-- phantom -->
	<!-- ngIf: isPhantom -->

	<!-- fullscreen mod -->
	<div class="fullscreen-mode ng-hide" ng-show="!isDetail()">
		<div class="background"></div>

		<!-- fullscreen obrazky -->
		<div class="fl-images prev">
			<!-- ngIf: isFullscreen() -->
		</div>

		<div class="fl-images active" ng-class="{ loading: images.fullscreen.active.loading &amp;&amp; !images.fullscreen.panorama &amp;&amp; !images.fullscreen.sphere, 'panorama-fullscreen': images.fullscreen.panorama }" swipe="" swipe-right="prevPhoto()" swipe-left="nextPhoto()" ng-click="fullscreenClick(images.fullscreen)" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><!--
			--><!-- ngIf: isFullscreen() && !isVideo() && images.fullscreen.image -->

				<!-- ngIf: isFullscreen() && images.fullscreen.virtualTour -->
				<!-- ngIf: images.fullscreen.virtualTour -->

			 	<!-- ngIf: images.fullscreen.sphere -->

				<!-- ngIf: images.fullscreen.panorama -->
				<!-- ngIf: images.fullscreen.panorama -->

			<div class="download-cover">&nbsp;</div>
		</div>

		<div class="fl-images next">
			<!-- ngIf: isFullscreen() -->
		</div>

		<!-- video prehravac -->
		<!-- ngIf: isVideo() -->

		<!-- nahledy thumbnails -->
		<div class="thumbnails-outter" ng-class="{ show: isThumbnails(), 'fl-detail': isFullscreen() }" ng-click="showEntity(SHOW_ENTITY.DETAIL)">
			<div class="thumbnails-middle"><!-- fix pro ipad6 -->
				<div class="thumbnails-inner">
					<div class="list" ng-class="{ 'less-than-five': data.images.length < 5 }">
						<!-- ngRepeat: image in data.images track by $index --><div class="thumb-image ng-scope active" ng-repeat="image in data.images track by $index" ng-click="openFullscreenPhoto($event, $index)" ng-class="{ active: selected.active == $index, loading: image.thumbLoad &amp;&amp; image.image}">
							<!-- ngIf: loadThumbnails && image.image -->
							
							<!-- ngIf: loadThumbnails && image.virtualTour -->
							<!-- ngIf: image.virtualTour -->

							<!-- ngIf: image.sphere -->

							<!-- ngIf: image.panorama -->
							<!-- ngIf: image.panorama -->

							<!-- ngIf: $index == videoIndex && data.hasVideo -->
						</div><!-- end ngRepeat: image in data.images track by $index --><div class="thumb-image ng-scope" ng-repeat="image in data.images track by $index" ng-click="openFullscreenPhoto($event, $index)" ng-class="{ active: selected.active == $index, loading: image.thumbLoad &amp;&amp; image.image}">
							<!-- ngIf: loadThumbnails && image.image -->
							
							<!-- ngIf: loadThumbnails && image.virtualTour -->
							<!-- ngIf: image.virtualTour -->

							<!-- ngIf: image.sphere -->

							<!-- ngIf: image.panorama -->
							<!-- ngIf: image.panorama -->

							<!-- ngIf: $index == videoIndex && data.hasVideo -->
						</div><!-- end ngRepeat: image in data.images track by $index --><div class="thumb-image ng-scope" ng-repeat="image in data.images track by $index" ng-click="openFullscreenPhoto($event, $index)" ng-class="{ active: selected.active == $index, loading: image.thumbLoad &amp;&amp; image.image}">
							<!-- ngIf: loadThumbnails && image.image -->
							
							<!-- ngIf: loadThumbnails && image.virtualTour -->
							<!-- ngIf: image.virtualTour -->

							<!-- ngIf: image.sphere -->

							<!-- ngIf: image.panorama -->
							<!-- ngIf: image.panorama -->

							<!-- ngIf: $index == videoIndex && data.hasVideo -->
						</div><!-- end ngRepeat: image in data.images track by $index --><div class="thumb-image ng-scope" ng-repeat="image in data.images track by $index" ng-click="openFullscreenPhoto($event, $index)" ng-class="{ active: selected.active == $index, loading: image.thumbLoad &amp;&amp; image.image}">
							<!-- ngIf: loadThumbnails && image.image -->
							
							<!-- ngIf: loadThumbnails && image.virtualTour -->
							<!-- ngIf: image.virtualTour -->

							<!-- ngIf: image.sphere -->

							<!-- ngIf: image.panorama -->
							<!-- ngIf: image.panorama -->

							<!-- ngIf: $index == videoIndex && data.hasVideo -->
						</div><!-- end ngRepeat: image in data.images track by $index --><div class="thumb-image ng-scope" ng-repeat="image in data.images track by $index" ng-click="openFullscreenPhoto($event, $index)" ng-class="{ active: selected.active == $index, loading: image.thumbLoad &amp;&amp; image.image}">
							<!-- ngIf: loadThumbnails && image.image -->
							
							<!-- ngIf: loadThumbnails && image.virtualTour -->
							<!-- ngIf: image.virtualTour -->

							<!-- ngIf: image.sphere -->

							<!-- ngIf: image.panorama -->
							<!-- ngIf: image.panorama -->

							<!-- ngIf: $index == videoIndex && data.hasVideo -->
						</div><!-- end ngRepeat: image in data.images track by $index --><div class="thumb-image ng-scope" ng-repeat="image in data.images track by $index" ng-click="openFullscreenPhoto($event, $index)" ng-class="{ active: selected.active == $index, loading: image.thumbLoad &amp;&amp; image.image}">
							<!-- ngIf: loadThumbnails && image.image -->
							
							<!-- ngIf: loadThumbnails && image.virtualTour -->
							<!-- ngIf: image.virtualTour -->

							<!-- ngIf: image.sphere -->

							<!-- ngIf: image.panorama -->
							<!-- ngIf: image.panorama -->

							<!-- ngIf: $index == videoIndex && data.hasVideo -->
						</div><!-- end ngRepeat: image in data.images track by $index --><div class="thumb-image ng-scope" ng-repeat="image in data.images track by $index" ng-click="openFullscreenPhoto($event, $index)" ng-class="{ active: selected.active == $index, loading: image.thumbLoad &amp;&amp; image.image}">
							<!-- ngIf: loadThumbnails && image.image -->
							
							<!-- ngIf: loadThumbnails && image.virtualTour -->
							<!-- ngIf: image.virtualTour -->

							<!-- ngIf: image.sphere -->

							<!-- ngIf: image.panorama -->
							<!-- ngIf: image.panorama -->

							<!-- ngIf: $index == videoIndex && data.hasVideo -->
						</div><!-- end ngRepeat: image in data.images track by $index --><div class="thumb-image ng-scope" ng-repeat="image in data.images track by $index" ng-click="openFullscreenPhoto($event, $index)" ng-class="{ active: selected.active == $index, loading: image.thumbLoad &amp;&amp; image.image}">
							<!-- ngIf: loadThumbnails && image.image -->
							
							<!-- ngIf: loadThumbnails && image.virtualTour -->
							<!-- ngIf: image.virtualTour -->

							<!-- ngIf: image.sphere -->

							<!-- ngIf: image.panorama -->
							<!-- ngIf: image.panorama -->

							<!-- ngIf: $index == videoIndex && data.hasVideo -->
						</div><!-- end ngRepeat: image in data.images track by $index --><div class="thumb-image ng-scope" ng-repeat="image in data.images track by $index" ng-click="openFullscreenPhoto($event, $index)" ng-class="{ active: selected.active == $index, loading: image.thumbLoad &amp;&amp; image.image}">
							<!-- ngIf: loadThumbnails && image.image -->
							
							<!-- ngIf: loadThumbnails && image.virtualTour -->
							<!-- ngIf: image.virtualTour -->

							<!-- ngIf: image.sphere -->

							<!-- ngIf: image.panorama -->
							<!-- ngIf: image.panorama -->

							<!-- ngIf: $index == videoIndex && data.hasVideo -->
						</div><!-- end ngRepeat: image in data.images track by $index --><div class="thumb-image ng-scope" ng-repeat="image in data.images track by $index" ng-click="openFullscreenPhoto($event, $index)" ng-class="{ active: selected.active == $index, loading: image.thumbLoad &amp;&amp; image.image}">
							<!-- ngIf: loadThumbnails && image.image -->
							
							<!-- ngIf: loadThumbnails && image.virtualTour -->
							<!-- ngIf: image.virtualTour -->

							<!-- ngIf: image.sphere -->

							<!-- ngIf: image.panorama -->
							<!-- ngIf: image.panorama -->

							<!-- ngIf: $index == videoIndex && data.hasVideo -->
						</div><!-- end ngRepeat: image in data.images track by $index -->
					</div>
				</div>
			</div>
		</div>

		<div class="navigation">
			<!-- pouze pro fullscreen a video -->
			<!-- ngIf: !isThumbnails() --><button class="btn-circle-gallery-fs icof icon-list ng-scope" ng-click="showEntity(SHOW_ENTITY.THUMBNAILS)" ng-if="!isThumbnails()"></button><!-- end ngIf: !isThumbnails() -->
			<!-- ngIf: !isThumbnails() --><button class="btn-circle-gallery-fs icof icon-arr-left ng-scope" ng-click="prevPhoto($event)" ng-if="!isThumbnails()"></button><!-- end ngIf: !isThumbnails() -->
			<!-- ngIf: !isThumbnails() --><span class="image-order ng-binding ng-scope" ng-if="!isThumbnails()">1/10</span><!-- end ngIf: !isThumbnails() -->
			<!-- ngIf: !isThumbnails() --><button class="btn-circle-gallery-fs icof icon-arr-right ng-scope" ng-click="nextPhoto($event)" ng-if="!isThumbnails()"></button><!-- end ngIf: !isThumbnails() -->

			<!-- spolecne pro fullscreen, thumbnails a video -->
			<button class="btn-circle-gallery-fs icof icon-cross" ng-click="showEntity(SHOW_ENTITY.DETAIL)"></button>
		</div>
	</div>
</div>
			
			<div class="property-title">
				<h1>
					<span itemprop="name">
						<span class="name ng-binding">Pronájem bytu 3+1&nbsp;75&nbsp;m²</span>
						<span class="location"><span class="location-text ng-binding">Evaldova, Šumperk</span>

							<!-- ngIf: showPanoramaBtn -->
						</span>
					</span>
				</h1>
				<!-- ngIf: contentData.price --><span ng-if="contentData.price" class="price ng-scope" itemprop="offerDetails" itemscope="" itemtype="https://schema.org/Offer">
					<!-- ngIf: contentData.price.raw > 1 --><span ng-if="contentData.price.raw > 1" class="microdata ng-scope">
						<meta itemprop="currency" content="CZK">
						<span itemprop="price" class="ng-binding">9900</span>
					</span><!-- end ngIf: contentData.price.raw > 1 -->
					<span class="norm-price ng-binding">9&nbsp;900&nbsp;Kč za měsíc</span>
					<!-- ngIf: contentData.price.alternative -->

					<!-- ngIf: !!contentData.energyEfficiencyRating --><span class="energy-efficiency-rating energy-efficiency-rating--c" ng-if="!!contentData.energyEfficiencyRating">
						<svg class="energy-efficiency-rating__arrow" viewBox="0 0 24 28">
							<path d="M11.98,28c1.271,0,2.463-0.577,3.233-1.561l7.918-10.067c1.136-1.445,1.13-3.461-0.017-4.899l-7.901-9.932 C14.443,0.568,13.253,0,11.999,0C10.73,0,9.537,0.577,8.765,1.56L0.848,11.628c-1.136,1.445-1.13,3.461,0.015,4.899l7.902,9.932 C9.537,27.432,10.726,28,11.982,28H11.98z"></path>
						</svg>
						<span class="energy-efficiency-rating__type ng-binding">C</span>
						<span class="energy-efficiency-rating__text ng-binding">Úsporná</span>
					</span><!-- end ngIf: !!contentData.energyEfficiencyRating -->
				</span><!-- end ngIf: contentData.price -->
				<!-- ngIf: topped -->
			</div>

			<!--<button data-dot="go-to-mortage" class="c-mortgage-link"
					ng-if="actualLang === 'cs' && detailData.price && detailData.typeId === 1 && showHyponamiru"
					ng-click="scrollIntoMortgageCalculator()">
				<img class="c-mortgage-link__icon" src="/img/hypoteka/calculator.svg" />
				<span class="c-mortgage-link__text">Spočítat hypotéku</span>
			</button>-->

			<div class="description ng-binding" itemprop="description" ng-bind-html="contentData.description | lineFilter"><p>Nabízíme k pronájmu panelový byt o dispozici 3+1 nacházející se na ulici Evaldova v Šumperku. Jedná se o nemovitost situovanou v 7. patře panelového domu s výměrou 72,5 m2, která prošla kompletní velmi zdařilou rekonstrukcí. Byly provedeny výměny podlah, nové omítky, nové dveře. Nová kuchyňská linka je vybavena plynovým sporákem. Koupelna, která také prošla celkovou proměnou, je vkusně obložena obklady v přírodním tónu a je vybavena vanou, umyvadlem a WC. V bytě je k dispozici také komora, která může sloužit jako šatna. Sklep nacházející se v suterénu domu je součástí pronájmu nemovitosti, dále dva balkóny a komora na patře. Jedná se o velmi hezké bydlení v žádané lokalitě s dobrou dostupností do centra města a výbornou občanskou vybaveností, které čeká na své nájemníky. Vybírána kauce ve výši dvou měsíčních nájmů a provize RK. Pro více informací kontaktujte makléře nemovitosti. Volný od 10.2.2022. Cena: 9.900 Kč + energie cca 3.500 Kč měsíc/ elektřina a plyn přepisem na nájemníky.</p></div>

			<div class="params clear">
				<!-- ngRepeat: group in params --><ul ng-repeat="group in params" class="params1">
					<!-- ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">Celková cena:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope">9&nbsp;900 Kč za měsíc</span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">ID zakázky:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope">151/20</span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">Aktualizace:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope">Dnes</span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">Stavba:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope">Panelová</span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">Stav objektu:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope">Velmi dobrý</span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">Vlastnictví:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope">Osobní</span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params -->
				</ul><!-- end ngRepeat: group in params --><ul ng-repeat="group in params" class="params2">
					<!-- ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">Podlaží:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope">8. podlaží z celkem 8</span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">Užitná plocha:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope">75</span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' --><span ng-if="item.type == 'area'" class="ng-scope">m<sup>2</sup></span><!-- end ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">Plocha podlahová:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope">72</span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' --><span ng-if="item.type == 'area'" class="ng-scope">m<sup>2</sup></span><!-- end ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">Datum nastěhování:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope">Ihned</span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">Energetická náročnost budovy:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope">Třída C - Úsporná</span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params --><li class="param ng-scope" ng-repeat="item in group.params"><label class="param-label ng-binding">Bezbariérový:</label><strong class="param-value">
						<!-- ngIf: item.type == 'link' -->
						<!-- ngIf: item.type != 'link' --><span ng-if="item.type != 'link'" class="ng-binding ng-scope"></span><!-- end ngIf: item.type != 'link' -->
						<!-- ngIf: item.type == 'area' -->
						<!-- ngIf: item.type == 'boolean-true' -->
						<!-- ngIf: item.type == 'boolean-false' --><span ng-if="item.type == 'boolean-false'" class="icof icon-cross ng-scope"></span><!-- end ngIf: item.type == 'boolean-false' -->
						<!-- ngIf: item.type == 'topped' -->
					</strong></li><!-- end ngRepeat: item in group.params -->
				</ul><!-- end ngRepeat: group in params -->
			</div>

			<div class="buttons" data-dot-data="{&quot;jazyk&quot;:&quot;cs&quot;,&quot;id&quot;:&quot;2098272348&quot;,&quot;okres&quot;:&quot;sumperk&quot;,&quot;cena&quot;:9900,&quot;stavba&quot;:&quot;panelova&quot;,&quot;typ-nemovitosti&quot;:&quot;byty&quot;,&quot;typ-transakce&quot;:&quot;pronajem&quot;,&quot;velikost&quot;:&quot;3+1&quot;}">
				<!-- ngIf: favData --><span class="btn-wrap ng-scope ng-isolate-scope" favourite="favData" ng-if="favData"><span class="favorite-directive">
	<!-- ngIf: showed -->
	<a class="btn icof icon-favourite favorite-button ng-binding ng-isolate-scope ng-pristine ng-valid" link-requires-login="" ng-model="data.model" ng-click="change()" ng-class="{active: data.model}">Přidat do oblíbených
	</a>
</span>
</span><!-- end ngIf: favData --><!--
			 --><span class="btn-wrap ng-isolate-scope" property-share="propShareConf"><span class="property-share-wrap">
	<button data-dot-data="{&quot;text&quot;:&quot;Sdílet inzerát&quot;}" class="btn icof icon-share" ng-click="showContent($event)" ng-class="{ active: show }"><span class="text ng-binding">Sdílet inzerát</span></button>
	<span class="property-share-content-wrap ng-hide" ng-show="show">
		<span class="property-share-content ng-isolate-scope" off-click="showContent()" off-click-if="show">
			<h3 class="title ng-binding">Sdílet inzerát</h3>
			<input type="text" class="input url-input ng-pristine ng-valid" ng-model="input" readonly="" ng-click="click($event)">
			<ul class="items">
				<!-- ngRepeat: i in items --><li class="item ng-scope facebook" ng-class="i.className" ng-repeat="i in items">
					<a href="https://www.facebook.com/sharer.php?u=https%3A%2F%2Fwww.sreality.cz%2Fdetail%2Fpronajem%2Fbyt%2F3%2B1%2Fsumperk-sumperk-evaldova%2F2098272348" target="_blank" class="link ng-binding">
						<span class="icon"></span>
						Facebook
					</a>
				</li><!-- end ngRepeat: i in items --><li class="item ng-scope twitter" ng-class="i.className" ng-repeat="i in items">
					<a href="https://twitter.com/share?&amp;url=https%3A%2F%2Fwww.sreality.cz%2Fdetail%2Fpronajem%2Fbyt%2F3%2B1%2Fsumperk-sumperk-evaldova%2F2098272348&amp;text=Pron%C3%A1jem%20bytu%203%2B1%C2%A075%C2%A0m%C2%B2" target="_blank" class="link ng-binding">
						<span class="icon"></span>
						Twitter
					</a>
				</li><!-- end ngRepeat: i in items -->
			</ul>
		</span>
	</span>
</span>
</span><!--
			 --><span class="btn-wrap">
					<button data-dot-data="{&quot;text&quot;:&quot;Tisknout&quot;}" class="btn icof icon-print property-print ng-binding" ng-click="printPage()">Tisknout</button>
				</span><!--
			 --><span class="btn-wrap note-wrap ng-isolate-scope" note="resource">
	<a link-requires-login="" class="btn icof icon-pen btn-note ng-binding ng-isolate-scope" ng-click="showNote()" ng-show="!show">Přidat poznámku</a>
	<span class="note ng-hide" ng-show="show">
		<textarea class="textarea ng-pristine ng-valid" ng-attr-placeholder="{{ 'lang-note.placeholder' | translate }}" ng-model="model" placeholder="Přidejte si poznámku k inzerátu"></textarea>
		<div class="control">
			<button class="btn ng-binding" ng-click="save()" ng-class="{'icof icon-ok': status == 1, 'icof icon-cross': status == 2}">Uložit</button>
		</div>
		<span class="icof icon-cross remove" ng-click="remove()"></span>
	</span>
</span>
			</div>

			<!-- ngIf: addressFrom --><div class="c-transport ng-scope" ng-if="addressFrom" id="c-transport" address-from="contentData.subTitle">
    <span class="c-transport__title ng-binding">Dojezdová vzdálenost</span>
    <span class="c-tag-new ng-binding">Nové</span>
    
    <!-- ngIf: !userLogged() --><div ng-if="!userLogged()" class="ng-scope">	
        <img class="c-transport__icon" src="/img/dojezdova-vzdalenost.svg">
        <div class="c-transport__text-wrap">
            <span class="c-transport__text ng-binding">Zajímá vás, jak dlouho budete dojíždět z této adresy?</span>
            <button class="c-transport__link-btn ng-binding" type="button" ng-click="login()">Přihlaste se a zkontrolujte svůj dojezdový čas</button>
        </div>
    </div><!-- end ngIf: !userLogged() -->
    
    <!-- ngIf: userLogged() && isFirstLoaded -->
</div><!-- end ngIf: addressFrom -->

			<!-- ngIf: services -->

			<!-- ngIf: pois.length --><div ng-if="pois.length" class="c-pois ng-scope">
				<h2 class="c-pois__header ng-binding">V okolí najdete:</h2>
				<ul class="c-pois__list">
					<!-- ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Přírodní zajímavost:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url --><a ng-if="poi.url" class="c-pois__poi-text ng-binding ng-scope" ng-href="https://mapy.cz/zakladni?x=16.990600604&amp;y=49.9491061883&amp;z=17&amp;source=base&amp;id=1722991" target="_blank" href="https://mapy.cz/zakladni?x=16.990600604&amp;y=49.9491061883&amp;z=17&amp;source=base&amp;id=1722991">Třemešské rybníky</a><!-- end ngIf: poi.url -->
							<!-- ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (2470&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Hřiště:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url --><a ng-if="poi.url" class="c-pois__poi-text ng-binding ng-scope" ng-href="https://mapy.cz/zakladni?x=16.9766073233&amp;y=49.9652416239&amp;z=17&amp;source=base&amp;id=2241252" target="_blank" href="https://mapy.cz/zakladni?x=16.9766073233&amp;y=49.9652416239&amp;z=17&amp;source=base&amp;id=2241252">Parčík Divadelníček</a><!-- end ngIf: poi.url -->
							<!-- ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (423&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Cukrárna:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url --><a ng-if="poi.url" class="c-pois__poi-text ng-binding ng-scope" ng-href="https://www.firmy.cz/detail/13296099-sweet-cake-s-sumperk.html" target="_blank" href="https://www.firmy.cz/detail/13296099-sweet-cake-s-sumperk.html">Sweet Cake's</a><!-- end ngIf: poi.url -->
							<!-- ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (225&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Veterinář:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url --><a ng-if="poi.url" class="c-pois__poi-text ng-binding ng-scope" ng-href="https://www.firmy.cz/detail/2133224-mvdr-katerina-zelikova-korner-sumperk.html" target="_blank" href="https://www.firmy.cz/detail/2133224-mvdr-katerina-zelikova-korner-sumperk.html">MVDr. Kateřina Zeliková - Körner</a><!-- end ngIf: poi.url -->
							<!-- ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (228&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Večerka:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url --><a ng-if="poi.url" class="c-pois__poi-text ng-binding ng-scope" ng-href="https://www.firmy.cz/detail/13320743-potraviny-cba-sumperk.html" target="_blank" href="https://www.firmy.cz/detail/13320743-potraviny-cba-sumperk.html">Potraviny CBA</a><!-- end ngIf: poi.url -->
							<!-- ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (138&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Hospoda:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url --><a ng-if="poi.url" class="c-pois__poi-text ng-binding ng-scope" ng-href="https://www.firmy.cz/detail/13111743-u-svabu-sumperk.html" target="_blank" href="https://www.firmy.cz/detail/13111743-u-svabu-sumperk.html">U Švábů</a><!-- end ngIf: poi.url -->
							<!-- ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (350&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Divadlo:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url --><a ng-if="poi.url" class="c-pois__poi-text ng-binding ng-scope" ng-href="https://www.firmy.cz/detail/272786-divadlo-sumperk-s-r-o-sumperk.html" target="_blank" href="https://www.firmy.cz/detail/272786-divadlo-sumperk-s-r-o-sumperk.html">Divadlo Šumperk, s.r.o.</a><!-- end ngIf: poi.url -->
							<!-- ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (389&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Kino:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url --><a ng-if="poi.url" class="c-pois__poi-text ng-binding ng-scope" ng-href="https://www.firmy.cz/detail/232381-kino-oko-sumperk.html" target="_blank" href="https://www.firmy.cz/detail/232381-kino-oko-sumperk.html">Kino Oko</a><!-- end ngIf: poi.url -->
							<!-- ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (614&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Škola:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url --><a ng-if="poi.url" class="c-pois__poi-text ng-binding ng-scope" ng-href="https://www.firmy.cz/detail/361109-vyssi-odborna-skola-a-stredni-prumyslova-skola-sumperk-sumperk.html" target="_blank" href="https://www.firmy.cz/detail/361109-vyssi-odborna-skola-a-stredni-prumyslova-skola-sumperk-sumperk.html">Vyšší odborná škola a Střední průmyslová škola, Šumperk</a><!-- end ngIf: poi.url -->
							<!-- ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (144&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Bankomat:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url --><a ng-if="poi.url" class="c-pois__poi-text ng-binding ng-scope" ng-href="https://www.firmy.cz/detail/1691728-bankomat-moneta-money-bank-sumperk.html" target="_blank" href="https://www.firmy.cz/detail/1691728-bankomat-moneta-money-bank-sumperk.html">Bankomat MONETA Money Bank</a><!-- end ngIf: poi.url -->
							<!-- ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (307&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Sportoviště:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url --><a ng-if="poi.url" class="c-pois__poi-text ng-binding ng-scope" ng-href="https://www.firmy.cz/detail/13326454-herna-d9vitka-sumperk.html" target="_blank" href="https://www.firmy.cz/detail/13326454-herna-d9vitka-sumperk.html">Herna d9vítka</a><!-- end ngIf: poi.url -->
							<!-- ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (269&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Školka:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url --><a ng-if="poi.url" class="c-pois__poi-text ng-binding ng-scope" ng-href="https://www.firmy.cz/detail/407224-materska-skola-slunicko-sumperk-evaldova-25-sumperk.html" target="_blank" href="https://www.firmy.cz/detail/407224-materska-skola-slunicko-sumperk-evaldova-25-sumperk.html">Mateřská škola Sluníčko Šumperk, Evaldova 25</a><!-- end ngIf: poi.url -->
							<!-- ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (162&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Lékárna:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url --><a ng-if="poi.url" class="c-pois__poi-text ng-binding ng-scope" ng-href="https://www.firmy.cz/detail/13273664-pilulka-lekarna-sumperk.html" target="_blank" href="https://www.firmy.cz/detail/13273664-pilulka-lekarna-sumperk.html">Pilulka Lékárna</a><!-- end ngIf: poi.url -->
							<!-- ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (380&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Pošta:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url --><a ng-if="poi.url" class="c-pois__poi-text ng-binding ng-scope" ng-href="https://www.firmy.cz/detail/431338-posta-sumperk-1-sumperk.html" target="_blank" href="https://www.firmy.cz/detail/431338-posta-sumperk-1-sumperk.html">Pošta Šumperk 1 - Česká pošta, s.p.</a><!-- end ngIf: poi.url -->
							<!-- ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (283&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Obchod:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url --><a ng-if="poi.url" class="c-pois__poi-text ng-binding ng-scope" ng-href="https://www.firmy.cz/detail/1477279-kaufland-sumperk.html" target="_blank" href="https://www.firmy.cz/detail/1477279-kaufland-sumperk.html">Kaufland</a><!-- end ngIf: poi.url -->
							<!-- ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (586&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Lékař:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url --><a ng-if="poi.url" class="c-pois__poi-text ng-binding ng-scope" ng-href="https://www.firmy.cz/detail/12861168-mudr-david-bednar-coopermed-sumperk.html" target="_blank" href="https://www.firmy.cz/detail/12861168-mudr-david-bednar-coopermed-sumperk.html">MUDr. David Bednář - COOPERMED</a><!-- end ngIf: poi.url -->
							<!-- ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (380&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Bus MHD:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url --><a ng-if="poi.url" class="c-pois__poi-text ng-binding ng-scope" ng-href="https://mapy.cz/zakladni?x=16.9753721258703&amp;y=49.9692847764321&amp;z=17&amp;source=pubt&amp;id=15293687" target="_blank" href="https://mapy.cz/zakladni?x=16.9753721258703&amp;y=49.9692847764321&amp;z=17&amp;source=pubt&amp;id=15293687">Šumperk, Husitská Jiráskovy sady</a><!-- end ngIf: poi.url -->
							<!-- ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (54&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Restaurace:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url --><a ng-if="poi.url" class="c-pois__poi-text ng-binding ng-scope" ng-href="https://www.firmy.cz/detail/13097720-restaurace-pod-kastanem-sumperk.html" target="_blank" href="https://www.firmy.cz/detail/13097720-restaurace-pod-kastanem-sumperk.html">Restaurace Pod Kaštanem</a><!-- end ngIf: poi.url -->
							<!-- ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (185&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois --><li ng-repeat="poi in pois" class="c-pois__poi clear ng-scope">
						<label class="c-pois__poi-label ng-binding">Vlak:</label>
						<span class="c-pois__poi-value">
							<!-- ngIf: poi.url --><a ng-if="poi.url" class="c-pois__poi-text ng-binding ng-scope" ng-href="https://mapy.cz/zakladni?x=16.9831069887&amp;y=49.9617970766&amp;z=17&amp;source=pubt&amp;id=15213011" target="_blank" href="https://mapy.cz/zakladni?x=16.9831069887&amp;y=49.9617970766&amp;z=17&amp;source=pubt&amp;id=15213011">Šumperk</a><!-- end ngIf: poi.url -->
							<!-- ngIf: !poi.url -->
							<span class="c-pois__distance ng-binding"> (982&nbsp;m)</span>
						</span>
					</li><!-- end ngRepeat: poi in pois -->
				</ul>
			</div><!-- end ngIf: pois.length -->

			<!-- ngIf: projectData -->

			<div id="answer-form" sticky-contact-button-clicked="stickyContactButtonClicked" answer-form="resource" class="ng-isolate-scope"><div class="answer-form" ng-show="contact">
	<h2 class="contact-title ng-binding">Kontaktovat:</h2>

	<div class="contacts">
		<!-- ngIf: contact --><div class="seller-contact clear ng-isolate-scope" ng-class="{'seller-contact--not-agent': data.notAgent}" seller-contact="contact" ng-if="contact">

	<!-- todo: muze mit RUS uzivatel photo?? -->

	<!-- ngIf: link --><a ng-if="link" class="image-wrap link ng-scope" ng-href="/adresar/musil-reality-olomouc-nove-sady/10906/makleri/85735" ng-class="{'image-wrap--no-photo': !data.photo}" href="/adresar/musil-reality-olomouc-nove-sady/10906/makleri/85735">
		<!-- ngIf: data.photo --><img ng-src="https://d18-a.sdn.cz/d_18/c_img_G_BR/9wFeNT.jpeg?fl=res,200,300,3|shr,,20|jpg,90" class="photo ng-scope" ng-if="data.photo" alt="" src="https://d18-a.sdn.cz/d_18/c_img_G_BR/9wFeNT.jpeg?fl=res,200,300,3|shr,,20|jpg,90"><!-- end ngIf: data.photo -->
	</a><!-- end ngIf: link -->

	<!-- ngIf: !link -->

	<!-- ngIf: !isSellerDetail --><strong ng-if="!isSellerDetail" class="seller-name ng-scope">
		<!-- odkaz na detail maklere -->
		<!-- ngIf: link --><a ng-href="/adresar/musil-reality-olomouc-nove-sady/10906/makleri/85735" ng-if="link" class="link name ng-binding ng-scope" href="/adresar/musil-reality-olomouc-nove-sady/10906/makleri/85735">Iva Dvořáková</a><!-- end ngIf: link -->

		<!-- jmeno je obyc text - nejsme na detailu maklere a nemame link (nemusi se jednat vlastne o maklere) -->
		<!-- ngIf: !link -->
	</strong><!-- end ngIf: !isSellerDetail -->

	<!-- ngIf: isSellerDetail -->

	<div class="contacts">
		<!-- ngIf: (isSellerDetail || data.isPaid) && data.reviewsCount -->
		<!-- ngIf: isSellerDetail -->

		<ul class="contact-list">
			<!-- ngRepeat: phone in phones --><li ng-repeat="phone in phones" class="contact-item phone ng-scope">
				<label class="label">
					<img class="icon" src="/img/icon-phone.svg" alt="">
				</label>

				<!-- ngIf: !phone.isShowed --><button class="value interactive ng-binding ng-scope" ng-if="!phone.isShowed" ng-click="showPhone(phone.id)" data-dot="detail inzeratu/zobrazit telefon">Zobrazit telefon</button><!-- end ngIf: !phone.isShowed -->
				<!-- ngIf: isMobile && phone.isShowed -->
				<!-- ngIf: !isMobile && phone.isShowed -->
			</li><!-- end ngRepeat: phone in phones --><li ng-repeat="phone in phones" class="contact-item phone ng-scope">
				<label class="label">
					<img class="icon" src="/img/icon-phone.svg" alt="">
				</label>

				<!-- ngIf: !phone.isShowed --><button class="value interactive ng-binding ng-scope" ng-if="!phone.isShowed" ng-click="showPhone(phone.id)" data-dot="detail inzeratu/zobrazit telefon">Zobrazit telefon</button><!-- end ngIf: !phone.isShowed -->
				<!-- ngIf: isMobile && phone.isShowed -->
				<!-- ngIf: !isMobile && phone.isShowed -->
			</li><!-- end ngRepeat: phone in phones -->
			<!-- ngIf: data.email --><li ng-if="data.email" class="contact-item email ng-scope">
				<label class="label">
					<img class="icon" src="/img/icon-email.svg" alt="">
				</label>
				<!-- ngIf: !isEmailShowed --><button class="value interactive ng-binding ng-scope" ng-if="!isEmailShowed" ng-click="showEmail()" data-dot="detail inzeratu/zobrazit email">Zobrazit email</button><!-- end ngIf: !isEmailShowed -->
				<!-- ngIf: isEmailShowed -->
			</li><!-- end ngIf: data.email -->
			<!-- ngIf: data.brokerIco -->
		</ul>

		<!-- ngIf: isSellerDetail && data.contactForm.showButton && !data.contactForm.show && data.estateSize -->
	</div>

	<!-- odpovedni formular -->
	<!-- ngIf: isSellerDetail && (data.contactForm.show || (!data.estateSize && data.contactForm.showButton)) -->

	<!-- graf -->
	<!-- ngIf: data.isGraph -->
</div><!-- end ngIf: contact -->

		<!-- ngIf: premise --><div ng-if="premise" class="ng-scope">
			<div class="premise-contact clear">
				<!-- ngIf: premise.hasSeznamNaplno && premise.logo -->

				<!-- ngIf: !(premise.hasSeznamNaplno && premise.logo) --><span class="image-wrap ng-scope" ng-if="!(premise.hasSeznamNaplno &amp;&amp; premise.logo)" aria-hidden="true" tabindex="-1">
					<span class="no-logo"></span>
				</span><!-- end ngIf: !(premise.hasSeznamNaplno && premise.logo) -->

				<ul class="info">
					<li class="line name ng-binding">Musil reality</li>
					<!-- ngIf: premise.address --><li class="line address ng-binding ng-scope" ng-if="premise.address">Rooseveltova 242/27, 77900 Olomouc - Nové Sady</li><!-- end ngIf: premise.address -->
					<!-- ngIf: premise.isPaid && premise.reviewsCount --><a>
					</a><!-- ngIf: premise.www && premise.www_visible --><li class="line ng-scope" ng-if="premise.www &amp;&amp; premise.www_visible"><a></a><a href="http://www.musilreality.cz" target="_blank" data-dot="webovka RK" class="ng-binding">http://www.musilreality.cz</a></li><!-- end ngIf: premise.www && premise.www_visible -->
					<li class="line more">
						<a ng-click="beforeOpen()" ng-href="/adresar/musil-reality-olomouc-nove-sady/10906" class="ng-binding" href="/adresar/musil-reality-olomouc-nove-sady/10906">Více o společnosti »</a>
					</li>
				</ul>
				<!-- ngIf: premise.url --><a ng-if="premise.url" ng-href="/adresar/musil-reality-olomouc-nove-sady/10906" class="short-info ng-binding ng-scope" href="/adresar/musil-reality-olomouc-nove-sady/10906">Musil reality</a><!-- end ngIf: premise.url -->
			</div>
		</div><!-- end ngIf: premise -->
	</div>

	<!-- uz odpovezeno, bud davno nebo prave ted -->
	<!-- ngIf: sended && !sendingAgain -->

	<!-- odpovedni formular -->
	<!-- ngIf: !sended || sendingAgain --><form ng-if="!sended || sendingAgain" class="form send-form ng-scope ng-pristine ng-valid" name="contactform" ng-submit="submit()" novalidate="">
		<!-- ngIf: form.status -->
		<label>
			<span class="form-label label ng-binding">Váš email</span>
			<div class="input-wrapper">
				<input type="email" class="input ng-pristine ng-valid ng-valid-email" ng-class="{error: form.emailErr}" name="email" ng-model="form.email">
			</div>
		</label>
		<label>
			<span class="form-label label ng-binding">Jméno</span>
			<div class="input-wrapper">
				<input type="text" class="input ng-pristine ng-valid" ng-class="{error: form.nameErr}" name="name" ng-model="form.name">
			</div>
		</label>
		<label>
			<span class="form-label label ng-binding">Telefon</span>
			<div class="input-wrapper">
				<input type="tel" class="input ng-pristine ng-valid" ng-class="{error: form.phoneErr}" name="phone" ng-model="form.phone">
			</div>
		</label>
		<label>
			<span class="form-label label"></span>
			<div class="input-wrapper">
				<textarea ng-class="{error: form.messageErr}" class="textarea ng-pristine ng-valid" name="message" ng-model="form.message">				</textarea>
			</div>
		</label>
		<div>
			<span class="form-label label"></span>
			<div class="input-wrapper ng-binding">
				Zadané údaje zpracováváme dle těchto <a href="https://napoveda.seznam.cz/cz/sreality/souhlas-se-zpracovanim-osobnich-udaju-sreality/" target="_blank" class="ng-binding">podmínek</a>.
			</div>
		</div>
		<div>
			<div class="input-wrapper input-wrapper-center">
				<!-- ngIf: sending -->
				<button type="submit" ng-disabled="sending" ng-class="{'btn-disabled': sending}" class="btn-full ng-binding">Odpovědět</button>
			</div>
		</div>
	</form><!-- end ngIf: !sended || sendingAgain -->
</div>
</div>

			<!-- <div id="localityIndex" class="c-locality-index" ng-if="actualLang === 'cs'" data-nosnippet>				
				<preact data="advertId" component="locality-index"></preact>
			</div> -->

			<!--<div id="hypoteka" class="c-mortgage-calculator"
				 ng-if="actualLang === 'cs' && detailData.price && detailData.typeId === 1 && showHyponamiru" data-nosnippet>
				<h2 class="c-mortgage-calculator__header">Hypoteční kalkulačka</h2>
				<preact data="mortgageData" component="mortgage-calculator"></preact>
			</div>-->

			<div class="c-contact-buttons">
				<preact data="contactData" component="contact-buttons" class="ng-isolate-scope"><div class="sds-surface sds-surface--05 _332AuA3qL4XBj2btXtvXIs" tabindex="-1"><a class="sds-surface sds-surface--clickable sds-surface--03 sds-button sds-helpers-button sds-button--small T1TnDW99vniZJvEPeiSXZ _2qIcoVMHOUWJT8TTAM8qHa _1lpYutJ_422EWdEuUmMhIf" href="tel:+420773130525" rel="noreferrer noopener" role="button" data-dot="sticky-contact-phone"><span class="sds-typography sds-typography--body-small sds-button__text">Zavolat</span></a><button class="sds-surface sds-surface--clickable sds-surface--primary sds-button sds-helpers-button sds-button--small sds-button--primary T1TnDW99vniZJvEPeiSXZ _2qIcoVMHOUWJT8TTAM8qHa _1lpYutJ_422EWdEuUmMhIf" type="button" role="button" data-dot="sticky-contact-reply"><span class="sds-typography sds-typography--body-small sds-button__text">Napsat zprávu</span></button></div></preact>
			</div>

			<!-- ngIf: regions.local || regions.broader --><div class="regions-box ng-scope" ng-if="regions.local || regions.broader">
				<!-- ngIf: regions.local --><p class="regions-links ng-binding ng-scope" ng-if="regions.local">
					Podívejte se také na další reality v kategorii <a ng-href="/hledani/pronajem/byty/sumperk" class="ng-binding" href="/hledani/pronajem/byty/sumperk">Pronájem bytů Šumperk</a>.
				</p><!-- end ngIf: regions.local -->

				<!-- ngIf: regions.broader -->
			</div><!-- end ngIf: regions.local || regions.broader -->
			
			<div class="report-error-btn-wrap">
				<button class="btn report ng-binding" ng-click="showEntity('errorReport')">Nahlásit chybu</button>
			</div>

			<div class="dir-bottom ng-isolate-scope" detail-data="detailData">
	<div class="dir-bottom__content">
		<div class="dir-bottom__label">Reklama</div>

		<div class="dir-bottom__fixed">
			<div id="dir-bottom__wrap" class="dir-bottom__wrap"></div>
			
			<div class="dir-bottom__shadow--top"></div>
			<div class="dir-bottom__shadow--bottom"></div>
		</div>
	</div>

	<div class="dir-bottom__classic">
		<div id="dir-bottom" class="dir-bottom__classic-inner"></div>
	</div>
</div>

			<span class="btn-circle icof icon-up backToTop ng-isolate-scope" ng-click="goTop()" mover-top=""></span>
		</div>

		<!-- ngIf: showedEntity.errorReport -->

		<!-- ngIf: showedEntity.loanCalc -->
	</div><!-- end ngIf: resource -->
</div>
</div>
	</div><!-- end ngIf: !errorData.isError -->
			<preact lang-binding="true" page-binding="true" component="footer" class="ng-isolate-scope"><footer class="_2OgfM2_KYImX04ik8Lkirn"><div class="_3NJE8NRqA5KCr2VwHqJ27e _2T2w9H_NOdtDLYIWERsogd"><button class="_1YEfiKqdGLWGRcAex4sqFW _1YgDqeht_fr9KKfFyp_SvQ"><img src="/img/flag-cs.png" alt="" class="_1HYol4SyXrKoN9ojGTb77o"><span class="TveYpFLjcNtBC6Qqvaw4n">Česky</span><span class="icon icof icon-down-full mGdHyJz0gQqm4qCQo6bWR"></span></button></div><div class="_3R7u-oIynrH_h3EsXVuYO-"><div class="_2nosKgOxexEj-xT_5nH4PP"><div class="btqelYH9tgNY9yJn1Xnn1"><button type="button" class="_2ZZbAPXBrQCM5JHy7gu2f1 _28eKaNHVUNjmjaO96sSQXh"><span class="_28eKaNHVUNjmjaO96sSQXh _2iVzlK9Zg3MpMEOkrQqaoL">Co říkáte na Sreality.cz?</span></button><a href="https://vyzkumnik.seznam.cz/" class="_2ZZbAPXBrQCM5JHy7gu2f1 _28eKaNHVUNjmjaO96sSQXh"><span class="_28eKaNHVUNjmjaO96sSQXh _2iVzlK9Zg3MpMEOkrQqaoL">Výzkumník</span></a><a href="https://napoveda.seznam.cz/cz/sreality/o-sluzbe-sreality.cz" class="_2ZZbAPXBrQCM5JHy7gu2f1 _28eKaNHVUNjmjaO96sSQXh"><span class="_28eKaNHVUNjmjaO96sSQXh _2iVzlK9Zg3MpMEOkrQqaoL">Pro spotřebitele</span></a><a href="https://www.seznam.cz/ochranaudaju" class="_2ZZbAPXBrQCM5JHy7gu2f1 _28eKaNHVUNjmjaO96sSQXh"><span class="_28eKaNHVUNjmjaO96sSQXh _2iVzlK9Zg3MpMEOkrQqaoL">Ochrana údajů</span></a><a href="https://napoveda.seznam.cz/cz/sreality/pravidla-sreality/smluvni-podminky-sluzby-sreality.cz" class="_2ZZbAPXBrQCM5JHy7gu2f1 _28eKaNHVUNjmjaO96sSQXh"><span class="_28eKaNHVUNjmjaO96sSQXh _2iVzlK9Zg3MpMEOkrQqaoL">Smluvní podmínky</span></a><a href="https://www.seznam.cz/reklama/cz/obsahovy-web/sluzba-sreality" class="_2ZZbAPXBrQCM5JHy7gu2f1 _28eKaNHVUNjmjaO96sSQXh"><span class="_28eKaNHVUNjmjaO96sSQXh _2iVzlK9Zg3MpMEOkrQqaoL">Reklama</span></a><a class="_2ZZbAPXBrQCM5JHy7gu2f1 _28eKaNHVUNjmjaO96sSQXh _1mHL-lXlevZ4SCKncZk2gk" href="/realitni-software"><span class="_28eKaNHVUNjmjaO96sSQXh _1mHL-lXlevZ4SCKncZk2gk _2iVzlK9Zg3MpMEOkrQqaoL">Realitní software</span></a><a href="http://sreality.seznamblog.cz/" class="_2ZZbAPXBrQCM5JHy7gu2f1 _28eKaNHVUNjmjaO96sSQXh _1mHL-lXlevZ4SCKncZk2gk"><span class="_28eKaNHVUNjmjaO96sSQXh _1mHL-lXlevZ4SCKncZk2gk _2iVzlK9Zg3MpMEOkrQqaoL">Blog</span></a><a href="https://napoveda.seznam.cz/cz/sreality/" class="_2ZZbAPXBrQCM5JHy7gu2f1 _28eKaNHVUNjmjaO96sSQXh _1mHL-lXlevZ4SCKncZk2gk"><span class="_28eKaNHVUNjmjaO96sSQXh _1mHL-lXlevZ4SCKncZk2gk _2iVzlK9Zg3MpMEOkrQqaoL">Nápověda</span></a><a href="mailto:info@sreality.cz?subject=Dotaz ze sluzby sreality.cz" class="_2ZZbAPXBrQCM5JHy7gu2f1 _28eKaNHVUNjmjaO96sSQXh _1mHL-lXlevZ4SCKncZk2gk"><span class="_28eKaNHVUNjmjaO96sSQXh _1mHL-lXlevZ4SCKncZk2gk _2iVzlK9Zg3MpMEOkrQqaoL">Technická podpora</span></a><a href="https://napoveda.seznam.cz/cz/sreality/kontakty-sreality-cz/" class="_2ZZbAPXBrQCM5JHy7gu2f1 _28eKaNHVUNjmjaO96sSQXh"><span class="_28eKaNHVUNjmjaO96sSQXh _2iVzlK9Zg3MpMEOkrQqaoL">Kontakty</span></a><a href="https://napoveda.seznam.cz/cz/stiznosti-sreality/" class="_2ZZbAPXBrQCM5JHy7gu2f1 _28eKaNHVUNjmjaO96sSQXh"><span class="_28eKaNHVUNjmjaO96sSQXh _2iVzlK9Zg3MpMEOkrQqaoL">Stížnosti</span></a><button type="button" class="_2ZZbAPXBrQCM5JHy7gu2f1 _28eKaNHVUNjmjaO96sSQXh"><span class="_28eKaNHVUNjmjaO96sSQXh _2iVzlK9Zg3MpMEOkrQqaoL">Nastavení personalizace</span></button></div><p class="_2XPH-LYlsL14qYMleJLjFJ _2-aaSan9BAM3Qg3EE_v_6h _2iVzlK9Zg3MpMEOkrQqaoL _1mRLNMhwLQGArIldAHOamF">Sreality.cz pomáhají najít vhodnou nemovitost díky aktuální nabídce realit v ČR i zahraničí. Jakékoliv užití obsahu internetového serveru www.sreality.cz, včetně převzetí, šíření či dalšího zpřístupňování inzerátů a fotografií je bez souhlasu Seznam.cz, a.s., zakázáno.</p><p class="_2XPH-LYlsL14qYMleJLjFJ _2iVzlK9Zg3MpMEOkrQqaoL _1mRLNMhwLQGArIldAHOamF">Copyright © 1996–2022 Seznam.cz, a.s.</p></div></div></footer></preact>
		</div>
	</div>
</div>
<div id="map-layout" ng-show="pageLayout.map.show" class="map-small" ng-style="layoutTop" style="margin-top: 0px;">
	<div map-info="" class="ng-isolate-scope"><!-- ngIf: infoHtml --></div>
	<div id="poi-filter" class="c-poi-filter" style="margin-bottom: 0px;">
    <button ng-class="{
            'c-poi-filter__opener': true,
            'c-poi-filter__opener--open': open
        }" ng-click="toggle()" data-dot-data="{ &quot;category&quot;: &quot;Občanská vybavenost&quot;, &quot;action&quot;: &quot;klik na tlačítko&quot; }" class="c-poi-filter__opener"><svg class="c-poi-filter__icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path fill-rule="evenodd" d="M20 17.382l-4-2V6.618l4 2v8.764zM10 8.618l4-2v8.764l-4 2V8.618zm-6-2l4 2v8.764l-4-2V6.618zm17.447.488l-6-3c-.024-.012-.051-.017-.076-.027a1.019 1.019 0 0 0-.128-.044 1.029 1.029 0 0 0-.111-.02 1.01 1.01 0 0 0-.135-.01c-.041 0-.081.005-.122.01a1.291 1.291 0 0 0-.122.02c-.042.01-.082.028-.122.043-.027.01-.053.015-.078.028L9 6.882 3.447 4.106A.998.998 0 0 0 2 5v11c0 .379.214.725.553.895l6 3c.014.008.031.004.047.01A.986.986 0 0 0 9 20a.986.986 0 0 0 .4-.095c.016-.006.033-.002.047-.01L15 17.118l5.553 2.777a1.005 1.005 0 0 0 .972-.044c.295-.183.475-.504.475-.851V8a1 1 0 0 0-.553-.894z"></path></svg>
    <span class="c-poi-filter__text ng-binding">Občanská vybavenost</span></button>

    <!-- ngIf: open -->
</div>
	<div map="" id="s-map" class="s-map smap"><div style="position: absolute; width: 0px; height: 0px; margin: 0px; padding: 0px; left: 102px; top: 304.5px;"><div><div id="1-0-0.5840289762308335"><div style="transform: translateZ(0px);"><img alt="" style="position: absolute; opacity: 1; transition: opacity 600ms ease 0s; left: -698.068px; top: -198.479px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/6-32-21" srcset="https://mapserver.mapy.cz/base-m/6-32-21, https://mapserver.mapy.cz/base-m/retina/6-32-21 2x"><img alt="" style="position: absolute; opacity: 1; transition: opacity 600ms ease 0s; left: -442.068px; top: -198.479px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/6-33-21" srcset="https://mapserver.mapy.cz/base-m/6-33-21, https://mapserver.mapy.cz/base-m/retina/6-33-21 2x"><img alt="" style="position: absolute; opacity: 1; transition: opacity 600ms ease 0s; left: -186.068px; top: -198.479px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/6-34-21" srcset="https://mapserver.mapy.cz/base-m/6-34-21, https://mapserver.mapy.cz/base-m/retina/6-34-21 2x"><img alt="" style="position: absolute; opacity: 1; transition: opacity 600ms ease 0s; left: 69.9321px; top: -198.479px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/6-35-21" srcset="https://mapserver.mapy.cz/base-m/6-35-21, https://mapserver.mapy.cz/base-m/retina/6-35-21 2x"><img alt="" style="position: absolute; opacity: 1; transition: opacity 600ms ease 0s; left: 325.932px; top: -198.479px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/6-36-21" srcset="https://mapserver.mapy.cz/base-m/6-36-21, https://mapserver.mapy.cz/base-m/retina/6-36-21 2x"><img alt="" style="position: absolute; opacity: 1; transition: opacity 600ms ease 0s; left: 581.932px; top: -198.479px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/6-37-21" srcset="https://mapserver.mapy.cz/base-m/6-37-21, https://mapserver.mapy.cz/base-m/retina/6-37-21 2x"></div><div style="transform: translateZ(0px);"><img alt="" style="position: absolute; opacity: 0; transition: opacity 600ms ease 0s; left: -269.365px; top: -527.039px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/17-71715-44468" srcset="https://mapserver.mapy.cz/base-m/17-71715-44468, https://mapserver.mapy.cz/base-m/retina/17-71715-44468 2x"><img alt="" style="position: absolute; opacity: 0; transition: opacity 600ms ease 0s; left: -269.365px; top: -271.039px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/17-71715-44469" srcset="https://mapserver.mapy.cz/base-m/17-71715-44469, https://mapserver.mapy.cz/base-m/retina/17-71715-44469 2x"><img alt="" style="position: absolute; opacity: 0; transition: opacity 600ms ease 0s; left: -269.365px; top: -15.039px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/17-71715-44470" srcset="https://mapserver.mapy.cz/base-m/17-71715-44470, https://mapserver.mapy.cz/base-m/retina/17-71715-44470 2x"><img alt="" style="position: absolute; opacity: 0; transition: opacity 600ms ease 0s; left: -269.365px; top: 240.961px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/17-71715-44471" srcset="https://mapserver.mapy.cz/base-m/17-71715-44471, https://mapserver.mapy.cz/base-m/retina/17-71715-44471 2x"><img alt="" style="position: absolute; opacity: 0; transition: opacity 600ms ease 0s; left: -13.3651px; top: -527.039px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/17-71716-44468" srcset="https://mapserver.mapy.cz/base-m/17-71716-44468, https://mapserver.mapy.cz/base-m/retina/17-71716-44468 2x"><img alt="" style="position: absolute; opacity: 0; transition: opacity 600ms ease 0s; left: -13.3651px; top: -271.039px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/17-71716-44469" srcset="https://mapserver.mapy.cz/base-m/17-71716-44469, https://mapserver.mapy.cz/base-m/retina/17-71716-44469 2x"><img alt="" style="position: absolute; opacity: 0; transition: opacity 600ms ease 0s; left: -13.3651px; top: -15.039px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/17-71716-44470" srcset="https://mapserver.mapy.cz/base-m/17-71716-44470, https://mapserver.mapy.cz/base-m/retina/17-71716-44470 2x"><img alt="" style="position: absolute; opacity: 0; transition: opacity 600ms ease 0s; left: -13.3651px; top: 240.961px; height: 256px; width: 256px;" src="https://mapserver.mapy.cz/base-m/17-71716-44471" srcset="https://mapserver.mapy.cz/base-m/17-71716-44471, https://mapserver.mapy.cz/base-m/retina/17-71716-44471 2x"></div></div><div id="3-0-0.1703809771634459"></div><div id="4-0-0.10465119193616723"></div><div id="2-0-0.814983711560904"></div></div><div><div id="0.06833062837329473-1"></div><div id="0.6021830271712514-1"></div><div id="0.7554503409707574-1"></div></div><svg xmlns:xlink="http://www.w3.org/1999/xlink" width="204" height="609" style="position: absolute; left: -102px; top: -304.5px;"><g><g id="0.6145286662635003-2" style="transform: scale(1);"><polyline fill="none" stroke="white" stroke-linejoin="round" stroke-linecap="round" points="118.51033942773938 387.14156862720847, 125.68378015980124 361.52303056418896, 134.29335201904178 330.7285705283284, 143.21079317107797 298.11727910861373, 149.20810844749212 277.6811986230314, 164.96419681236148 222.30946109443903, 170.69499429687858 202.12681917846203, 175.7686357907951 192.09394228458405, 183.7107254266739 176.79268895089626" stroke-opacity="0.6" stroke-width="9" stroke-dasharray=""><title></title></polyline><polyline fill="none" stroke="#00f" stroke-linejoin="round" stroke-linecap="round" points="118.51033942773938 387.14156862720847, 125.68378015980124 361.52303056418896, 134.29335201904178 330.7285705283284, 143.21079317107797 298.11727910861373, 149.20810844749212 277.6811986230314, 164.96419681236148 222.30946109443903, 170.69499429687858 202.12681917846203, 175.7686357907951 192.09394228458405, 183.7107254266739 176.79268895089626" stroke-opacity="0.65" stroke-width="3" stroke-dasharray="9 12"><title></title></polyline><polyline fill="none" stroke="white" stroke-linejoin="round" stroke-linecap="round" points="118.51033942773938 387.14156862720847, 64.84596047922969 361.73788720183074, 61.622630536556244 360.7401815801859, 58.515483785420656 360.2669341675937, 54.08884534984827 360.54085163772106, 51.20721322670579 361.3770310282707, 47.382062293589115 363.49170568585396, 44.43874770402908 366.6724765319377, 37.8817775323987 378.7514817453921, 22.2996425293386 407.79726139083505, 20.61416045203805 412.5754323974252, 20.487382654100657 417.39483217708766, 21.669801764190197 421.85782673209906, 24.164841923862696 425.8341635335237, 27.33674954622984 428.78564917109907, 30.030207358300686 430.16034542396665, 32.99715378507972 431.0208999030292, 89.48625605553389 433.0368907675147, 94.03588541969657 433.02694246545434, 97.03710060566664 432.5849872753024, 100.97840774059296 430.99481251835823, 103.62765722349286 429.10975692234933, 106.03769304230809 426.4363041706383, 107.93844831734896 423.35833939164877, 109.34020695090294 419.48509997315705, 118.51033942773938 387.14156862720847" stroke-opacity="0.6" stroke-width="9" stroke-dasharray=""><title></title></polyline><polyline fill="none" stroke="#00f" stroke-linejoin="round" stroke-linecap="round" points="118.51033942773938 387.14156862720847, 64.84596047922969 361.73788720183074, 61.622630536556244 360.7401815801859, 58.515483785420656 360.2669341675937, 54.08884534984827 360.54085163772106, 51.20721322670579 361.3770310282707, 47.382062293589115 363.49170568585396, 44.43874770402908 366.6724765319377, 37.8817775323987 378.7514817453921, 22.2996425293386 407.79726139083505, 20.61416045203805 412.5754323974252, 20.487382654100657 417.39483217708766, 21.669801764190197 421.85782673209906, 24.164841923862696 425.8341635335237, 27.33674954622984 428.78564917109907, 30.030207358300686 430.16034542396665, 32.99715378507972 431.0208999030292, 89.48625605553389 433.0368907675147, 94.03588541969657 433.02694246545434, 97.03710060566664 432.5849872753024, 100.97840774059296 430.99481251835823, 103.62765722349286 429.10975692234933, 106.03769304230809 426.4363041706383, 107.93844831734896 423.35833939164877, 109.34020695090294 419.48509997315705, 118.51033942773938 387.14156862720847" stroke-opacity="0.65" stroke-width="3" stroke-dasharray="9 12"><title></title></polyline></g></g></svg><div><div id="0.06833062837329473-3" style="transform: none;"></div><div id="0.6021830271712514-3" style="transform: none;"></div><div id="0.7554503409707574-3" style="transform: none;"></div></div><div><div id="0.06833062837329473-4"></div><div id="0.6021830271712514-4"></div><div id="0.7554503409707574-4"></div></div></div><div class="hud"><div class="noprint"><div class="copyright print" title=" Seznam.cz, a.s., 2022 |  OpenStreetMap" style="position: absolute; inset: auto auto 3px 5px; margin-bottom: 0px;">© <a href="https://o.seznam.cz" target="_blank" rel="noopener">Seznam.cz, a.s.</a>, 2022 a <a href="#" data-others="1">další</a></div><a class="print" target="_blank" href="https://mapy.cz/?x=16.974020&amp;y=49.968785&amp;z=17" style="position: absolute; inset: auto 0px 0px auto;"><img src="https://api.mapy.cz/img/api/logo.svg" alt="Zobrazit na Mapy.cz" style="margin-bottom: 0px;"></a><div class="selection" style="border-width: 2px; visibility: hidden; position: absolute;"></div><div class="zoom" style="position: absolute; inset: 1rem 1rem auto auto; margin-top: 0px;"><div class="button-group"><button class="minus" type="button" aria-label="Oddálit" title="Oddálit">-</button><button class="plus" type="button" aria-label="Přiblížit" title="Přiblížit">+</button></div></div><div class="layer-switch" style="position: absolute; inset: 1rem auto auto 1rem; margin-top: 0px;"><button type="button"><span>Změnit mapu</span></button><div class="window" style="display: none;"><div class="port" style="position: relative; overflow: hidden; width: 195px;"><div style="position: relative; width: 195px; left: 0px;"><div class="item active" style="width: 65px; overflow: hidden;"><div><img src="https://api.mapy.cz/img/api/preview-zakladni.png" alt="Obecná" title="Obecná"><div class="border"></div></div><p>Obecná</p></div><div class="item" style="width: 65px; overflow: hidden;"><div><img src="https://api.mapy.cz/img/api/preview-letecka.png" alt="Letecká" title="Letecká"><div class="border"></div></div><p>Letecká</p></div><div class="item" style="width: 65px; overflow: hidden;"><div><img src="https://api.mapy.cz/img/api/preview-turisticka.png" alt="Turistická" title="Turistická"><div class="border"></div></div><p>Turistická</p></div></div></div><div class="left"><div class="arrow" style="display: none;"></div></div><div class="right"><div class="arrow" style="display: none;"></div></div></div></div></div></div></div>

	<div class="map-opener">
		<!-- ngIf: pageLayout.map.show --><button class="nipple ng-scope" ng-if="pageLayout.map.show" ng-click="toggleMap(1)" ng-class="{bigmap: pageLayout.map.big}" data-dot-data="{&quot;action&quot;:&quot;zvetseni_mapy&quot;}">
			<span class="icof"></span>
			<span class="text ng-binding">Zvětšit mapu</span>
		</button><!-- end ngIf: pageLayout.map.show -->
	</div>
	<div class="map-shade"></div>
</div>
<!-- ngInclude: respData.template --><div class="submap-title submap-detail" ng-class="{bigmap: pageLayout.map.big}" ng-click="toggleMap(1)" ng-include="respData.template"><div class="first-line ng-binding ng-scope">Pronájem bytu 3+1&nbsp;75&nbsp;m²</div>
<div class="second-line ng-binding ng-scope">Evaldova, Šumperk</div></div></div>


<iframe id="gemius_hcconn_1641920987776_84374529" name="lsgetframe" width="0" height="0" scrolling="no" sandbox="allow-scripts allow-same-origin" style="display: none; visibility: hidden;" src="https://ls.hit.gemius.pl/lsget.html"></iframe><div class="adform-adbox
								advert-square
								article-adtip-box
								bazar-box
								bx-leaderboard
								etarget
								hp-advert
								ic0.vendor-list
								illustrated.illV.article.columns.col2
								jobscz
								popisreklama
								promo-in-article
								reklama-3
								reklama-abmix
								reklama-bottom
								reklama-box
								reklama-left
								reklama-lista
								reklama-megaboard
								reklama-right
								reklama-top
								reklamaBottom
								reklamaHorniLista
								reklamaOdkazyVeVetachDole
								reklama_ahead
								reklama_box_standard
								reklama_square
								reklama_title_flat
								reklamni-up-1
								reklamni-up-2
								sklik
								sklik-block
								sklik-box
								sklik_left
								sklik_right
								spored-links
								topreklama
								velke_zlavy
								vreklama
								zlavy-box
								pub_300x250
								pub_300x250m
								pub_728x90
								safeframe
								text-ad
								textAd
								text_ad
								text_ads
								text-ads
								text-ad-links" style="width: 1px !important; height: 1px !important; position: absolute !important; right: -1000px !important; top: -1000px !important;"></div><img src="/ad_ads_advert_advertisement_adform_pub_300x250.png" style="width: 1px !important; height: 1px !important; position: absolute !important; right: -1000px !important; top: -1000px !important;"><iframe id="gemius_hcconn_1641920987884_46945013" name="lssetframe" width="0" height="0" scrolling="no" sandbox="allow-scripts allow-same-origin" style="display: none; visibility: hidden;" src="https://ls.hit.gemius.pl/lsset.html"></iframe><iframe src="https://h.seznam.cz/html/cmp.html?v=2.177.5" frameborder="0" style="display: none;"></iframe></body></html>